<div class="content-header">
  <app-crumb [level1Name]="'商家管理'" [level2Name]="'汽修店列表'" [level3Name]="'供货配置列表'" [level2RelativePath]="'../../'">
  </app-crumb>
  <ul class="header-right">
    <li>
      <button name="sure_btn" class="header-btn" [disabled]="tempCheckedArr.length===0" nz-button nzType="primary"
        (appZDebounceClick)="onBatchSetting()">
        批量设置
      </button>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="search-container">
      <form class="search-form" autocomplete="off">
        <div class="form-group">
          <span>配件名称：</span>
          <input class="form-control" placeholder="请输入配件名称" maxlength="30" name="accessory_name"
            [(ngModel)]="searchParams.accessory_name" appIgnoreSpace />
        </div>
        <div class="form-group">
          <span>供货方式：</span>
          <select class="form-control" [(ngModel)]="searchParams.supply_type" name="search_supply_type">
            <option value=4>全部</option>
            <option value=3>空</option>
            <option *ngFor="let type of supply_type" [value]="type">{{type|supplyType}}</option>
          </select>
        </div>

        <div class="form-group">
          <span>所属项目：</span>
          <select class="form-control" [(ngModel)]="searchParams.project_id" name="project_id">
            <option value="">全部</option>
            <option *ngFor="let project of projectList" [value]="project.project_id">{{project.project_name}}</option>
          </select>
        </div>

        <div class="form-group">
          <span>供应商：</span>
          <select class="form-control" [(ngModel)]="searchParams.supplier_id" name="search_supplier_id"
            (change)="onChangeSearchSupplier($event)" style="width: 200px;">
            <option value="">全部</option>
            <option *ngFor="let supplier of supplierList" [value]="supplier.supplier_id">{{supplier.supplier_name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <span>供应商仓库：</span>
          <select class="form-control" [(ngModel)]="searchParams.warehouse_id" name="search_warehouse_id"
            style="width: 200px;">
            <option value="">全部</option>
            <option *ngFor="let warehouse of searchWarehouseList" [value]="warehouse.warehouse_id">
              {{warehouse.warehouse_name}}
            </option>
          </select>
          <div class="search-btn-group">
            <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="zmy-table">
      <nz-table [nzData]="accessoryList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #basicTable>
        <thead>
          <tr>
            <th>
              <input type="checkbox" class="check-all" (change)="onCheckAll($event)" name="checkbox_all"
                [disabled]="!accessoryList || accessoryList.length===0">
            </th>
            <!-- <th>序号</th> -->
            <th style="width: 18%;">产品信息</th>
            <th>配件所属品牌</th>
            <th>供货方式</th>
            <th>供应商</th>
            <th>供应仓库</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i=index">
            <td>
              <input type="checkbox" class="check-single" (change)="onChangeCheck($event)"
                name="checkbox_{{data.accessory_id}}" [value]="data.accessory_id">
            </td>
            <!-- <td>{{i+(pageIndex-1)*15+1}}</td> -->
            <td>
              <div class="img-item">
                <div class="img-box">
                  <ng-container *ngIf="data.accessory_images">
                    <ng-container *ngFor="let image_url of data.accessory_images.split(',');let i=index">
                      <img *ngIf="i===0" src="{{image_url}}" />
                    </ng-container>
                  </ng-container>
                  <img *ngIf="!data.accessory_images" src="/assets/images/image_space.png" />
                </div>
                <div style="text-align: left;padding: 10px 0;">
                  <span [title]="data.accessory_name ||''"
                    style="word-break: keep-all;">{{data.accessory_name | zMaxLength:15}}</span>
                  <div class="match-info" *ngIf="data.accessory_params">
                    <label *ngIf="data.accessory_params.oil_num">{{data.accessory_params.oil_num}}</label>
                    <label *ngIf="data.accessory_params.oil_type">{{data.accessory_params.oil_type}}</label>
                    <label *ngIf="data.accessory_params.oil_api">{{data.accessory_params.oil_api}}</label>
                    <label *ngIf="data.accessory_params.oil_place"
                      [title]="data.accessory_params.oil_place">{{data.accessory_params.oil_place|zMaxLength:10}}</label>
                    <label *ngIf="data.accessory_params.oil_expire"
                      [title]="data.accessory_params.oil_expire">{{data.accessory_params.oil_expire|zMaxLength:10}}</label>
                    <label>哈哈哈哈哈哈哈哈哈哈...</label>
                  </div>
                </div>
              </div>
            </td>
            <td [title]="data.accessory_brand?.brand_name || ''">
              {{(data.accessory_brand?.brand_name | zMaxLength:6) || '--'}}
            </td>

            <ng-container *ngIf="data.supply_config">
              <td>{{data.supply_config.supply_type|supplyType}}</td>
              <td>{{data.supply_config.supply_type===1 && data.supply_config.supplier?.supplier_name || '--'}}</td>
              <td>{{data.supply_config.supply_type===1 && data.supply_config.warehouse?.warehouse_name || '--'}}</td>
            </ng-container>
            <ng-container *ngIf="!data.supply_config">
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </ng-container>
            <td class="operation">
              <a [title]="'设置'" (click)="onSettingClick(data)">设置</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- 设置模态框 -->
<div class="modal fade " id="configModal" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-common">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">设置供应商</span>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" class="form-horizontal" #configForm="ngForm">

          <div class="row" [ngStyle]="{'margin-bottom':configParams.supply_type===1?'0':'40px'}">
            <label class="control-label">
              <b>*</b>
              <span>供货方式：</span>
            </label>
            <div class="control-input">
              <select class="form-control" [(ngModel)]="configParams.supply_type" name="supply_type"
                (change)="onChangeSupplyType($event)">
                <option value="">空</option>
                <option *ngFor="let type of supply_type" [value]="type">{{type|supplyType}}</option>
              </select>
            </div>
          </div>

          <div class="row" *ngIf="configParams.supply_type===1">
            <label class="control-label">
              <b>*</b>
              <span>供应商：</span>
            </label>
            <div class="control-input">
              <select class="form-control" [(ngModel)]="configParams.supplier_id" name="supplier_id"
                (change)="onChangeSupplier($event)" required>
                <option value="">请选择</option>
                <option *ngFor="let supplier of supplierList" [value]="supplier.supplier_id">{{supplier.supplier_name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row" style="margin-bottom: 40px;" *ngIf="configParams.supply_type===1">
            <label class="control-label">
              <b>*</b>
              <span>供应仓库：</span>
            </label>
            <div class="control-input">
              <select class="form-control" [(ngModel)]="configParams.warehouse_id" name="warehouse_id" required>
                <option value="">请选择</option>
                <option *ngFor="let warehouse of warehouseList" [value]="warehouse.warehouse_id">
                  {{warehouse.warehouse_name}}
                </option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button class="close-btn" type="button" nz-button data-dismiss="modal">取消</button>
            <button class="sure-btn" type="button" nz-button nzType="primary" [disabled]="!configForm.form.valid"
              (appZDebounceClick)="onCheckClick()">确认
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>