<div class="content-header">
    <app-crumb [level1Name]="'商家管理'" [level2Name]="'商家列表'" [level2RelativePath]="'../'"></app-crumb>
</div>
<div class="content-flow">
    <div class="search-container">
        <form class="search-form">
            <div class="form-group">
                <span>状态：</span>
                <select class="form-control" [(ngModel)]="searchParams.status" name="network_status">
                    <option value="">全部</option>
                    <option value="1">营业中</option>
                    <option value="2">停业休息</option>
                </select>
            </div>
            <div class="form-group">
                <span>汽车品牌：</span>
                <select class="form-control" [(ngModel)]="searchParams.vehicle_brand_id" name="car_brands">
                    <option value="">全部</option>
                    <option value="1">关闭</option>
                    <option value="2">异常</option>
                    <option value="3">运行中</option>
                </select>
            </div>
            <div class="form-group">
                <span>商家名称：</span>
                <input class="form-control" placeholder="请输入商家名称" autocomplete="off"
                       name="project_name" [(ngModel)]="searchParams.upkeep_merchant_name"/>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table [nzData]="businessList"
                      [nzShowPagination]="true"
                      [nzNoResult]="noResultText"
                      [nzPageSize]="'15'"
                      (nzPageIndexChange)="onNZPageIndexChange($event)"
                      [(nzPageIndex)]="pageIndex" #basicTable>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>商家名称</th>
                    <th>所属企业</th>
                    <th>类型</th>
                    <th>品牌厂家</th>
                    <th>客服电话</th>
                    <th>营业状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{i+(pageIndex-1)*15+1}}</td>
                    <td [title]="data.upkeep_merchant_name">{{data.upkeep_merchant_name|zMaxLength:20}}</td>
                    <td>{{data.UpkeepCompany?.company_name}}</td>
                    <td>{{data.upkeep_merchant_type===1?'4S品牌店':'--'}}</td>
                    <td>{{data.VehicleFirm?.vehicle_brand?.vehicle_brand_name&&data.VehicleFirm?.vehicle_firm_name?
                        data.VehicleFirm?.vehicle_brand?.vehicle_brand_name+'·'+data.VehicleFirm?.vehicle_firm_name:
                        data.VehicleFirm?.vehicle_brand?.vehicle_brand_name?data.VehicleFirm?.vehicle_brand?.vehicle_brand_name:
                            data.VehicleFirm?.vehicle_firm_name?data.VehicleFirm?.vehicle_firm_name:'--'}}</td>
                    <td>{{data.service_telephone?data.service_telephone:'--'}}</td>
                    <td>
                        <nz-switch [ngModel]="data.merchant_status===1?true:false" nzCheckedChildren="On" nzUnCheckedChildren="Off"
                                   (ngModelChange)="onSwitchChange(data.upkeep_merchant_id,$event)"></nz-switch>
                    </td>
                    <td class="operation">
                        <a [title]="'运营配置'" (click)="onOperationBtnClick(data)">运营配置</a>
                        <a [title]="'编辑材料'" (click)="onEditBtnClick(data)">编辑材料</a>
                       <!-- <a [title]="'删除'" (click)="onEditBtnClick(data)">删除</a>-->
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
