<!--选择配件品牌-->
<div class="modal fade" id="chooseBrandModal" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" #projectPromptDiv>
  <div class="modal-dialog modal-dialog-common" role="document">
    <div class="modal-content modal-content-common">
      <div>
        <div class="content-title">选择配件品牌</div>
        <div class="contet-box">
          <div class="content-list">
            <ul>
              <li *ngFor="let category of brandList" (click)="onCategoryClick(category)"
                [class.active]="category.accessory_brand_id === currentCategory">
                {{category.brand_name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="tip-msg">{{tipMsg}}</p>
      <div class="modal-footer">
        <button class="sure-btn" nz-button nzType="primary" (appZDebounceClick)="onSelectEmit()">
          保存
        </button>
        <button class="close-btn" nz-button data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>