<!-- 选择标签 -->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" #promptDiv>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">添加停车场</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onCloseLabel()">&times;
        </button>
      </div>
      <div>
        <form class="search-form">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="name" placeholder="输入停车场名称搜索" autocomplete="off"
              name="product_name" maxlength="10" appIgnoreSpace />
          </div>
        </form>
        <div class='parking-box'>
          <div *ngFor='let data of checkParkingList;let i=index;'>
            <span>【路外】{{data.name}}</span>
            <label nz-checkbox [(ngModel)]="data.checked"></label>
          </div>
        </div>
        <!-- <div class="table-container label-table">
          <div class="zmy-table">
            <nz-table [nzData]="checkLabelList" nzBordered="true" [nzShowPagination]="false" [nzFrontPagination]='false'
              [nzNoResult]="noResultText" #labelTable>
              <thead>
                <tr>
                  <th>序号</th>
                  <th>标签名称</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of labelTable.data; let i=index">
                  <td>{{i+1}}</td>
                  <td nzAlign="left" style="width: 400px;">
                    <div class='label-recommend'>
                      <div class='recommend'><i *ngIf="data.is_recommended" class="re-content">荐</i></div>
                      {{data.name}}
                    </div>
                  </td>
                  <td class="operation">
                    <label nz-checkbox [(ngModel)]="data.checked"></label>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div> -->
        <div class="modal-footer">
          <button class="close-btn" nz-button (click)="onCloseLabel()">取消</button>
          <button class="sure-btn" nz-button nzType="primary" (click)='onSaveTagsId()'>
            确认保存
          </button>
        </div>
      </div>
    </div>
  </div>
</div>