<div class="content-header">
  <app-crumb [level1Name]="'小程序'" [level2Name]="'展位'" [level3Name]="'展位内容'" [level2RelativePath]="'../'"></app-crumb>
  <ul class="header-right">
    <li>
      <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
        (appZDebounceClick)='onEditClick()'>
        新建
      </button>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="search-container">
      <form class="search-form" autocomplete="off">
        <div class="form-group">
          <span>标题：</span>
          <input class="form-control" placeholder="请输入标题" maxlength="20" name="title"
            [(ngModel)]="searchParams.title" />
        </div>
        <div class="form-group">
          <span>上线时间：</span>
          <nz-date-picker [(ngModel)]="online_start_time" [nzShowToday]=false [nzDisabledDate]="disabledOnlineStartTime"
            name='online_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
          <span class='line'>-</span>
          <nz-date-picker [(ngModel)]="online_end_time" [nzShowToday]=false [nzDisabledDate]="disabledOnlineEndTime"
            name='online_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
          <div class="search-btn-group">
            <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="zmy-table">
      <nz-table #boothContentTable [nzData]="boothContentList" [nzPageSize]="'15'" [(nzPageIndex)]="pageIndex"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [nzNoResult]="noResultText">
        <thead>
          <tr>
            <th>序号</th>
            <th>图片</th>
            <th>标题</th>
            <th>类型</th>
            <th>上线时间</th>
            <th>点击量</th>
            <th>点击人数</th>
            <th>日均点击量</th>
            <th>启停</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event, boothContentTable.data)">
          <tr *ngFor="let boothContent of boothContentTable.data;let index = index" cdkDrag>
            <td>{{index+(pageIndex-1)*15+1}}</td>
            <td>
              <img [src]='boothContent.image' style="width: 270px;" />
            </td>
            <td>{{boothContent.title || '--'}}</td>
            <td>{{boothContent.booth?.booth_type | boothType}}</td>
            <td>{{boothContent.online_date ?(boothContent.online_date* 1000 | date:"y-MM-dd HH:mm"):'--'}}</td>
            <td>{{boothContent.click_num || 0}}</td>
            <td>{{boothContent.click_person_num || 0}}</td>
            <td>{{boothContent.day_average_click_num || 0}}</td>
            <td>
              <nz-switch [ngModel]="boothContent.status===1 ? true : false" nzCheckedChildren="On"
                nzUnCheckedChildren="Off" [nzControl]=true style="height: 10px"
                (click)="onChangeSwitchStatus(boothContent,boothContent.booth_content_id)">
              </nz-switch>
            </td>
            <td class="operation">
              <a class="edit-btn" [title]="'编辑'" (appZDebounceClick)='onEditClick(boothContent)'>编辑</a>
              <a class="view-btn" [title]="'明细'"
                [routerLink]="['../../booth-content-detail',boothContent.booth?.booth_id,boothContent.booth_content_id]">明细</a>
              <a class="del-btn" [title]="'删除'" (click)="onDeleteClick(boothContent)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<app-booth-content-edit #boothContentEdit></app-booth-content-edit>