<div class="content-header">
  <app-crumb [level1Name]="'产品库'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg big-white-btn">
      <a (click)="onImportProduct()">导入</a>
    </li>
    <li class="big-bg">
      <a href="/assets/download/product_info.xlsx" download="product_info.xlsx" style="color: #fff">下载模板</a>
    </li>
    <li class="big-bg" [routerLink]="['../create']">
      <a>新建</a>
    </li>
  </ul>
</div>

<div class="content-flow">
  <div class="search-container">
    <form class="search-form">
      <div class="form-group">
        <span>所属类别：</span>
        <select class="form-control" [(ngModel)]="project_category" (change)="onChangeCategory($event)"
          name="project_category">
          <option value="">全部</option>
          <option *ngFor="let projectCategory of projectCategories" [value]="projectCategory">
            {{projectCategory | projectCategory}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <span>项目名称：</span>
        <select class="form-control" [(ngModel)]="project_id" (change)="onChangeProjectId($event)"
          name="upkeep_item_id">
          <option value="">全部</option>
          <option *ngFor="let project of currentProjectList" [value]="project.upkeep_item_id"
            [title]="project.upkeep_item_name">
            {{project.upkeep_item_name | zMaxLength:15}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <span>项目类型：</span>
        <select class="form-control" style="width: 100px;" [(ngModel)]="project_type" (change)="onChangeType($event)"
          name="project_type">
          <option value="">全部</option>
          <option *ngFor="let projectType of projectTypes" [value]="projectType">{{projectType | projectType}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <span>是否原厂：</span>
        <select class="form-control" style="width: 100px;" [(ngModel)]="is_original" (change)="onChangeOriginal($event)"
          name="is_original">
          <option value="">全部</option>
          <option value="True">是</option>
          <option value="False">否</option>
        </select>
      </div>
      <app-search-vehicle-type-group [display_series]="true" (selectBrandFirmSeries)="onChangeSearchParams($event)">
      </app-search-vehicle-type-group>
      <div class="form-group">
        <span>配件/服务名称：</span>
        <input class="form-control" placeholder="请输入配件/服务名称" autocomplete="off" name="upkeep_accessory_name"
          [(ngModel)]="searchParams.upkeep_accessory_name" maxlength="20" />
      </div>
      <div class="form-group"><button nz-button nzType="primary" (click)="onSearchBtnClick()">查询</button></div>
    </form>
  </div>
  <div class="table-container">
    <div class="zmy-table">
      <nz-table [nzData]="productList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #productTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>名称</th>
            <th>所属类别</th>
            <th>项目名称</th>
            <th>项目类型</th>
            <th>零件编号</th>
            <th>是否原厂</th>
            <th>品牌</th>
            <!-- <th>原价</th> -->
            <!-- <th>销售单价</th> -->
            <!-- <th>销量</th> -->
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productTable.data; let i=index">
            <td>{{i+(pageIndex-1)*15+1}}</td>
            <td [title]="product.upkeep_accessory_name">
              <a
                [routerLink]="['../detail',product.upkeep_accessory_id]">{{product.upkeep_accessory_name | zMaxLength:10}}</a>
            </td>
            <td>{{product.upkeep_item ? (product.upkeep_item.upkeep_item_category | projectCategory) : '--'}}</td>
            <td *ngIf="product.upkeep_item" [title]="product.upkeep_item.upkeep_item_name">
              {{product.upkeep_item.upkeep_item_name | zMaxLength:10}}</td>
            <td *ngIf="!product.upkeep_item">--</td>
            <td>{{product.upkeep_accessory_type | projectType}}</td>
            <td>{{product.serial_number ? product.serial_number : '--'}}</td>
            <td *ngIf="product.upkeep_accessory_type===projectTypes[0]">{{product.is_original ? '是' : '否'}}</td>
            <td *ngIf="product.upkeep_accessory_type===projectTypes[1]">--</td>
            <td *ngIf="product.is_original && product.vehicle_brand && product.vehicle_firm ">
              {{(product.vehicle_brand.vehicle_brand_name + ' > ' + product.vehicle_firm.vehicle_firm_name) | zMaxLength:10}}
            </td>
            <td *ngIf="!product.is_original || !product.vehicle_brand || !product.vehicle_firm">--</td>
            <!-- <td>{{product.original_amount}}</td> -->
            <!-- <td>{{product.sale_amount}}</td> -->
            <!-- <td>{{product.upkeep_accessory_name}}</td> -->
            <td class="operation">
              <a [title]="'查看'" [routerLink]="['../detail',product.upkeep_accessory_id]">查看</a>
              <a [title]="'编辑'" [routerLink]="['../edit',product.upkeep_accessory_id]">编辑</a>
              <!-- <a [title]="'删除'" *ngIf="!product.upkeep_merchants || product.upkeep_merchants.length===0"
                (click)="onDeleteProgect(product)">删除</a> -->
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!--上传-->
<div class="modal fade" id="importProductPromptDiv" data-backdrop="false" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-common" role="document">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">导入数据</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onCancelData()">&times;
        </button>
      </div>
      <form class="form-horizontal import-form">
        <div class="form-group">
          <span>使用Excel编辑批量操作文件模板时，请确认输入的内容为文本格式，保存的内容和输入的内容保持一致</span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="importViewModel.address" name="address"
            placeholder="请选择文件" disabled>
          <div class="select-file">
            <a class="choose-file">
              <span class="download">选择文件</span>
              <input #productFileImportInput type="file"
                (change)="importViewModel.selectedFile($event,productFileImportInput)" title="" />
            </a>
          </div>
        </div>
        <div class="form-group import-tip">
          <span>每次只能上传200条数据</span>
        </div>
        <div class="modal-footer">
          <button class="close-btn" nz-button (click)="onCancelData()">取消</button>
          <button class="sure-btn" nz-button nzType="primary" (click)="onSubmitImportProduct()">上传</button>
        </div>
      </form>
    </div>
  </div>
  <!--进度条-->
  <app-progress-modal #progressModal (closeChange)="onCloseUnsubscribe()"></app-progress-modal>
</div>
