<div class="content-header">
  <app-crumb [level1Name]="'配件库'" [level2Name]=""></app-crumb>
  <ul class="header-right">
    <li class="big-bg" [routerLink]="['../edit','']">
      <a>创建</a>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="search-container">
      <form nz-form class="search-form">
        <div nz-row class="search_row">
          <div>
            <nz-form-item nzFlex>
              <nz-form-label>所属项目</nz-form-label>
              <nz-form-control class="form_control">
                <select class="form-control" name="project_id" [(ngModel)]="searchParams.project_id">
                  <option value="">请选择</option>
                  <option *ngFor='let data of projectList' [value]=data.project_id>{{data.project_name}}
                  </option>
                </select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div>
            <nz-form-item nzFlex>
              <nz-form-label>配件名称</nz-form-label>
              <nz-form-control>
                <input class="form-control" placeholder="请输入配件名称" autocomplete="off"
                  [(ngModel)]="searchParams.accessory_name" name="accessory_name" maxlength='20' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div>
            <nz-form-item nzFlex>
              <nz-form-label>ID</nz-form-label>
              <nz-form-control>
                <input class="form-control" placeholder="请输入ID" autocomplete="off"
                  [(ngModel)]="searchParams.accessory_id" name="accessory_id" maxlength='20' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class='search_btn'>
            <button nz-button nzType="primary" (click)="onSearchBtnClick()">
              查询</button>
          </div>
        </div>
      </form>
    </div>
    <div class="zmy-table">
      <nz-table [nzData]="accessoryNewList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #basicTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>ID</th>
            <th>配件信息</th>
            <th>所属项目</th>
            <th>配件品牌</th>
            <th>原价</th>
            <th>售价</th>
            <th>结算价</th>
            <th>销量</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i=index">
            <td>{{i+(pageIndex-1)*15+1}}</td>
            <td [title]='data.accessory_id'>{{(data.accessory_id|zMaxLength:5)||'--'}}</td>
            <!-- 配件信息 -->
            <td>
              <div class="img-item">
                <div class="img-box">
                  <ng-container *ngIf="data.accessory_imagesList.length!==0">
                    <img [src]="data.accessory_imagesList[0]" />
                  </ng-container>
                  <ng-container *ngIf="data.accessory_imagesList.length === 0">
                    <img src="/assets/images/image_space_3_2.png" />
                  </ng-container>
                </div>
                <div style="display: grid">
                  <a style="word-break: keep-all;text-align: left"
                    [title]="globalService.limitStrLengthTitle(data.accessory_name, 15)">
                    {{data.accessory_name | zMaxLength:15}}
                  </a>
                  <div class="goods-tip">
                    <label *ngIf="data.commodity_type">{{data.commodity_type===1?'实物商品':'虚拟商品'}}</label>
                    <label
                      *ngIf="data.shipping_method">{{data.shipping_method===1?'平台自营':'由'+data.mall_business_name+'供应'}}</label>
                  </div>
                </div>
              </div>
            </td>
            <td>{{data.project?.project_name||'--'}}</td>
            <td>{{data.accessory_brand?.brand_name||'--'}}</td>
            <td>
              <span *ngIf='data.min_origin_price!==data.max_original_price'>
                {{data.min_origin_price|centPriceChange}}-</span>
              {{data.max_original_price|centPriceChange:'元'}}
            </td>
            <td>
              <span *ngIf='data.min_sale_price!==data.max_sale_price'>
                {{data.min_sale_price|centPriceChange}}-</span>
              {{data.max_sale_price|centPriceChange:'元'}}</td>
            <td>
              <span *ngIf='data.min_buy_price!==data.max_buy_price'>
                {{data.min_buy_price|centPriceChange}}-
              </span>
              {{data.max_buy_price|centPriceChange:'元'}}</td>
            <td>{{data.sale_num}}</td>
            <td>
              <nz-switch [ngModel]="data.sale_status===1?true:false"
                (ngModelChange)="onSwitchChange(data.sale_status, $event)" [nzControl]=true nzCheckedChildren="On"
                nzUnCheckedChildren="Off" (click)="onSwitchClick(data.accessory_id,data.sale_status)">
              </nz-switch>
            </td>
            <td class="operation">
              <a [title]="'编辑'" [routerLink]="['../edit',data.accessory_id]">编辑</a>
              <a [title]="'删除'" (click)="onDeleteAccessory(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>