.tab-bar-list .ant-radio-button-wrapper {
    width: 200px;
}

.search-container {
    border: 1px solid #e8e8e8;
    margin: 0 15px;
}

.form-group select {
    width: 150px;
}

.search-btn-group {
    margin-top: -1px !important;
}

:host ::ng-deep .goods-order .ant-table-tbody>tr:nth-child(odd) {
    background: rgba(241, 241, 241, 1);
}

:host ::ng-deep .goods-order .ant-table-tbody>tr:nth-child(even) td {
    border-right: 1px solid rgba(202, 202, 202, 1);
}

:host ::ng-deep .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab,
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    width: 140px;
}

:host ::ng-deep .goods-order .ant-table {
    border: 1px solid rgba(202, 202, 202, 1);
    margin-top: 10px;
}

:host ::ng-deep .goods-order .ant-table-thead>tr>th {
    height: 40px;
    background: rgba(202, 202, 202, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(35, 36, 47, 1);
}

.img-item {
    width: 90px;
}

.information-delivery-title span{
    margin: 0 5px;
}

.img-item img {
    margin: 10px 0;
    width: 90px;
    height: 65px;
}

.fee {
    display: grid;
    text-align: right;
    position: absolute;
    right: 24px;
}

.goods-btn {
    height: 27px;
    background: rgba(62, 113, 247, 1);
    border-radius: 4px;
    text-align: center;
    line-height: 27px;
    padding: 0 10px !important;
    margin-top: 6px;
    font-size: 12px;
}

p{
    margin-bottom: 0;
}

::ng-deep .cdk-drag-preview {
    display: table;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}
