<div class="content-header">
    <app-crumb [level1Name]="'二手车'" [level2Name]="'信息发布'"></app-crumb>
    <ul class="header-right">
        <li>
            <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
                    [routerLink]="['../information-delivery-create']">
                新建
            </button>
        </li>
    </ul>
</div>

<div class="content-flow">
    <div class="search-container" style="padding:0">
        <form class="search-form" autocomplete="off">
            <div class="form-group">
                <span>发布商家：</span>
                <input class="form-control" [(ngModel)]="searchParams.merchant_name" name="merchant_name"
                       placeholder="请输入发布商家"
                       maxlength="20"/>
            </div>
            <div class="form-group">
                <span>发布时间：</span>
                <nz-date-picker [(ngModel)]="review_start_time" [nzShowToday]=false
                                [nzDisabledDate]="disabledReviewStartTime"
                                name='review_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <span class='line'>-</span>
                <nz-date-picker [(ngModel)]="review_end_time" name='review_end_time' [nzShowToday]=false
                                [nzDisabledDate]="disabledReviewEndTime"
                                [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
            </div>
            <div class="form-group">
                <span>创建时间：</span>
                <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
                                name='start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <span class='line'>-</span>
                <nz-date-picker [(ngModel)]="end_time" name='end_time' [nzShowToday]=false
                                [nzDisabledDate]="disabledEndTime"
                                [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
            </div>
            <div class="form-group">
                <span>发布品牌：</span>
                <input class="form-control" [(ngModel)]="searchParams.brand_name" name="brand_name"
                       placeholder="请输入发布品牌"
                       maxlength="20"/>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="onClickRearch()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">

        <div class="zmy-table goods-order">
            <nz-table #informationDeliveryTable [nzData]="tagCarList" [nzFrontPagination]="false"
                      [nzNoResult]="noResultText">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>图片</th>
                    <th>品牌</th>
                    <th>转让价格</th>
                    <th>首次上牌时间</th>
                    <th>车牌颜色</th>
                    <th>行驶里程</th>
                    <th>联系人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="onClickDrop($event, informationDeliveryTable.data)">
                <ng-template ngFor let-informationDelivery let-i=index [ngForOf]="informationDeliveryTable.data">
                    <tr>
                        <td colspan="11" nzAlign="left" class="information-delivery-title">
                            发布商家：{{informationDelivery.merchant ? informationDelivery.merchant.merchant_name : '-'}}
                            <span>|</span>
                            发布时间：{{informationDelivery.review_time ? (informationDelivery.review_time * 1000 | date:"y-MM-dd HH:mm:ss") : '--'}}
                            <span>|</span>
                            创建时间：{{informationDelivery.created_time ? (informationDelivery.created_time * 1000 | date:"y-MM-dd HH:mm:ss") : '--'}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{i + 1}}</td>

                        <td class="img-item">
                            <img [src]="informationDelivery.coverImage">
                        </td>
                        <td class="brand-item"
                            [title]="informationDelivery.car_param.carBrandName">{{informationDelivery.car_param.carBrandName|zMaxLength:10}}</td>
                        <td>{{(informationDelivery.price / 10000)}}万元</td>
                        <td>{{informationDelivery.registration_time ? (informationDelivery.registration_time * 1000 | date:"y-MM") : '--'}}</td>
                        <td>{{informationDelivery.color}}</td>
                        <td>{{informationDelivery.mileage / 10000}}万公里</td>
                        <td>
                            <p>{{informationDelivery.contact}}</p>
                            <p>{{informationDelivery.telephone}}</p>
                        </td>
                        <td class="operation">
                            <a [title]="'置顶'" *ngIf="i!==0"
                               (appZDebounceClick)="onCarSortClick(informationDelivery.car_info_id)">置顶</a>
                            <a [title]="'明细'"
                               [routerLink]="['../../tag-car-detail',label_id,informationDelivery.car_info_id]">明细</a>
                        </td>
                    </tr>
                </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
