<div class="content-header">
    <app-crumb [level1Name]="'二手车'" [level2Name]="'企业管理'"></app-crumb>
</div>

<div class="content-flow">
    <div class="search-container">
        <form class="search-form" autocomplete="off">

            <div class="form-group">
                <span>商户名称：</span>
                <input class="form-control" placeholder="请输入商户名称" [(ngModel)]="searchParams.merchant_name"
                       name="merchant_name"
                       maxlength="20"/>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(false)">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table #TemplateTable [nzData]="nzSearchAssistant.nzData" [nzPageSize]="nzSearchAssistant.pageSize"
                      [(nzPageIndex)]="nzSearchAssistant.currentPage"
                      (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>商户名称</th>
                    <th>类型</th>
                    <th>地址</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of TemplateTable.data; let templateIndex=index">
                    <td>{{(nzSearchAssistant.currentPage - 1) * nzSearchAssistant.pageSize + templateIndex + 1}}</td>
                    <td [title]="data.merchant_name">
                        {{data.merchant_name|zMaxLength:8}}
                    </td>
                    <td>二手车商</td>
                    <td [title]="data.detailAddress">
                        {{data.detailAddress|zMaxLength:8}}
                    </td>
                    <td [title]="data.contacts">
                        {{data.contacts|zMaxLength:8}}
                    </td>
                    <td>{{data.telephone}}</td>
                    <td class="operation">
                        <a [title]="'编辑'" [routerLink]="['../company-edit',data.merchant_id]">编辑</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
