.content-flow {
  margin-left: 25px;
  position: relative;
}

.content-top {
  padding: 20px;
  background: #fff;
  height: 142px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.manual-info {
  height: 50px;
  display: flex;
  /* justify-content: space-around; */
}

.content-top i {
  height: 40px;
  background: url('../../../../../assets//images/manual/icon_vehicle.png') no-repeat;
  margin-bottom: 11px;
}

.category-icon1 {
  display: block;
  height: 40px;
  background: url('../../../../../assets//images/manual/icon_category1.png') no-repeat;
  margin-bottom: 11px;
}

.category-icon2 {
  display: block;
  height: 40px;
  background: url('../../../../../assets//images/manual/icon_category2.png') no-repeat;
  margin-bottom: 11px;
}

.category-icon3 {
  display: block;
  height: 40px;
  background: url('../../../../../assets//images/manual/icon_category3.png') no-repeat;
  margin-bottom: 11px;
}

.manual-info label {
  line-height: 50px;
  min-width: 100px;
  padding: 0 10px;
  margin: 0 5px 0 0;
  font-size: 12px;
  height: 50px;
  text-align: center;
  display: block;
  background: #f7f8fa;
}

.content-middle {
  padding: 20px;
  background: #fff;
  overflow-x: auto;
  height: calc(100% - 200px);
}

.category-item {
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 150px;
}

.table {
  border-left: 1px solid #dee2e6;
}

.table thead th {
  min-width: 100px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  background: #F7F8FA;
  border-right: 1px solid #dee2e6;
}

.table tbody td {
  font-size: 12px;
  text-align: center;
  line-height: 43px;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
}

/* 开关式样 */
.btn-switch {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-switch-on {
  background: url(/assets/images/icon_switch_on.png) no-repeat center !important;
}

.btn-switch-off {
  background: url(/assets/images/icon_switch_off.png) no-repeat center !important;
}

.btn-switch:disabled {
  background: url(/assets/images/icon_switch_off.png) no-repeat center !important;
  cursor: not-allowed;
}

.row-btn {
  padding: 5px 0;
  margin: auto;
  width: 46px;
  height: 25px;
  line-height:12px;
  font-size: 12px;
  font-weight:600;
  color: #888;
  border-radius:13px;
  background: #fff;
  border:1px solid rgba(136, 136, 136, 1);
  cursor: pointer;
}

.btn-recommend-on {
  border: none;
  color: #3E71F7;
  background:rgba(62, 113, 247, 0.33);
}

.row-btn:disabled {
  cursor: default;
} 

.sure-btn {
  margin-right: 31px !important;
}

input {
  width: 266px;
  text-indent: 10px;
}

.spin-loading {
  margin-top: 50px; 
  text-align: center;
}


.content-middle::-webkit-scrollbar {
  width: 1px;
}

.content-middle::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.content-middle:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.content-middle::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

.content-middle::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .01);
}

.content-middle::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}