<!--新增/编辑Banner-->
<div class="modal fade" id="editBannerModal" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" #bannerPromptDiv>
  <div class="modal-dialog modal-dialog-common" role="document">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">{{isCreateBanner ? '新建' : '编辑'}}</span>
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
      </div>
      <form *ngIf="bannerParams" autocomplete="off" class="form-horizontal" #editBannerForm="ngForm">
        <div class="row" *ngIf='bannerParams.banner_type===4'>
          <label class="control-label">
            <b>*</b>
            <span>页面</span>
          </label>
          <div class="control-input">
            <nz-radio-group [(ngModel)]="bannerParams.page_layout" name='page_layout' required>
              <label nz-radio [nzValue]='1'>车辆认证完成页</label>
              <label nz-radio [nzValue]='2'>实名认证完成页</label>
              <!-- <label nz-radio [nzValue]='3'>路外扫码缴费完成页</label> -->
            </nz-radio-group>
          </div>
        </div>
        <div class="row">
          <label class=" control-label">
            <b>*</b>
            <span>图片</span>
          </label>
          <div class="control-input">
            <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2" [imgReg]="imgReg"
              [isCutCoverImg]="false" (selectedImgChange)="onSelectedPicture($event)" file_id="coverImg"
              [imageWidth]="94*aspectRatio" [imageHeight]="94" [imageUrls]="cover_url" #coverImg
              [aspectRatio]="aspectRatio" [minCropBoxWidth]="360" [minCropBoxHeight]="94" [resizable]="true"
              [imageShowWidth]="94*aspectRatio">
            </app-z-photo-select>
          </div>
        </div>
        <div class="row row-message">
          <label class="control-label"></label>
          <div class="control-input err-message">
            <span *ngIf="errPositionItem?.icon?.isError">{{errPositionItem?.icon?.errMes}}</span>
          </div>
        </div>
        <p *ngIf="bannerParams.banner_type===1" class="cover-hint">
          注：尺寸1080*282px，格式PNG/JPG/GIF，大小2M以内</p>
        <p *ngIf="bannerParams.banner_type===2||bannerParams.banner_type===3||bannerParams.banner_type===5"
          class="cover-hint">注：尺寸690*360px，格式PNG/JPG/GIF，大小2M以内</p>
        <p *ngIf="bannerParams.banner_type===4" class="cover-hint">注：尺寸540*146px，格式PNG/JPG/GIF，大小2M以内</p>
        <div class="row">
          <label class="control-label">
            <b>*</b>
            <span>标题</span>
          </label>
          <div class="control-input">
            <input class="form-control" placeholder="请输入1-5字标题" [(ngModel)]="bannerParams.title" name="title"
              maxlength="5" autocomplete="off" required appIgnoreSpace (change)="errPositionItem.title.isError=false">
          </div>
        </div>
        <div class="row row-message">
          <label class="control-label"></label>
          <div class="control-input err-message">
            <span *ngIf="errPositionItem?.title?.isError">{{errPositionItem?.title?.errMes}}</span>
          </div>
        </div>
        <!-- <div *ngIf="bannerParams.banner_type===1" class="row">
          <label class=" control-label">
            <b>*</b>
            <span>落地页</span>
          </label>
          <div class="control-input">
            <select class="form-control" [(ngModel)]="bannerParams.belong_to" name="belong_to"
              (change)="onChangeBelongTo($event)" required>
              <option [value]=2>H5</option>
              <option [value]=1>小程序原生页</option>
              <option [value]=3>视频链接</option>
            </select>
            <input class="form-control" placeholder="请输入跳转URL" [(ngModel)]="bannerParams.jump_link" name="jump_link"
              maxlength="2000" autocomplete="off" required appIgnoreSpace
              (change)="errPositionItem.jump_link.isError=false" style="border-left: none!important;">
          </div>
        </div> -->
        <div class="row">
          <label class=" control-label">
            <b>&nbsp;</b>
            <span>落地页</span>
          </label>
          <div class="control-input">
            <select class="form-control" [(ngModel)]="bannerParams.belong_to" name="belong_to"
              (change)="onChangeBelongTo($event)">
              <option [value]=0>请选择</option>
              <option [value]=2>H5</option>
              <option [value]=1>小程序原生页</option>
              <option [value]=3>视频链接</option>
            </select>
            <input class="form-control" placeholder="请输入跳转URL" [(ngModel)]="bannerParams.jump_link" name="jump_link"
              maxlength="2000" autocomplete="off" appIgnoreSpace (change)="errPositionItem.jump_link.isError=false"
              style="border-left: none!important;">
          </div>
        </div>
        <div class="row row-message">
          <label class="control-label"></label>
          <div class="control-input err-message">
            <span *ngIf="errPositionItem?.jump_link?.isError">{{errPositionItem?.jump_link?.errMes}}</span>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>*</b>
            <span>发布时间</span>
          </label>
          <div class="control-input">
            <a name="online-btn" class="online-btn online-disabled">立即发布</a>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>*</b>
            <span>下线时间</span>
          </label>
          <div class="control-input">
            <a name="select_firm_btn" class="offline-btn" [class.active-btn]="bannerParams.offline_status===1"
              (click)="onChangeOfflineStatus(1)">永不下线</a>
            <a name="select_firm_btn" class="offline-btn" [class.active-btn]="bannerParams.offline_status===2"
              (click)="onChangeOfflineStatus(2)" style="margin-right: 5px">定时下线</a>
            <nz-date-picker *ngIf="bannerParams.offline_status===2" [(ngModel)]="offline_time"
              (ngModelChange)="errPositionItem.offline_time.isError=false" [nzShowToday]=false
              [nzDisabledDate]="disabledTime" name='offline_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
              nzFormat="yyyy-MM-dd HH:mm">
            </nz-date-picker>
          </div>
        </div>
        <div class="row row-message">
          <label class="control-label"></label>
          <div class="control-input err-message">
            <span *ngIf="errPositionItem?.offline_time?.isError">{{errPositionItem?.offline_time?.errMes}}</span>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>&nbsp;&nbsp;</b>
            <span>备注</span>
          </label>
          <div class="control-input">
            <textarea class="form-control" rows="4" placeholder="输入0-100字描述" [(ngModel)]="bannerParams.banner_describe"
              name="banner_describe" maxlength="100">
            </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="close-btn" type="button" nz-button data-dismiss="modal">取消</button>
          <button class="sure-btn" type="button" nz-button nzType="primary"
            [disabled]="!editBannerForm.form.valid || coverImg.imageList.length===0 || !bannerParams.offline_status || bannerParams.offline_status === 2 && !offline_time"
            (appZDebounceClick)="onEditFormSubmit()">{{sureName}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>