.search-container {
    border: none!important;
    padding: 0!important;
}

.search-form .form-group {
    margin-right: 30px;
}

.content-flow {
    margin-left: 0!important;
}

.search-btn-group {
    margin: 2px 0 0 30px;
}

.content-flow {
    height: 550px;
    margin-bottom: 80px;
}
