<div class="content-header">
    <app-crumb [level1Name]="'车位租售'" [level2Name]="'信息发布'"></app-crumb>
    <ul class="header-right">
        <li>
            <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
                    [routerLink]="['../create']">
                新建
            </button>
        </li>
    </ul>
</div>

<div class="content-flow">

    <div class="tab-bar-list" style="padding-top:0">
        <nz-radio-group [nzButtonStyle]="'solid'" [(ngModel)]="activeTabIndex" (ngModelChange)="onTabChange($event)">
            <label *ngFor='let tab of tabList;' nz-radio-button [nzValue]='tab.key'>{{tab.label}}</label>
        </nz-radio-group>
    </div>
    <div class="search-container" style="padding:0">
        <form class="search-form" autocomplete="off">
            <div class="form-group">
                <span>标题：</span>
                <input class="form-control" [(ngModel)]="searchParams.title" name="title"
                       placeholder="请输入标题"
                       maxlength="20"/>
            </div>
            <div class="form-group">
                <span>类型：</span>
                <select class="form-control" [(ngModel)]="searchParams.demand_type" name="demand_type">
                    <option value="">全部</option>
                    <option value="1">出租</option>
                    <option value="2">出售</option>
                    <!--                    <option value="">转让</option>-->
                </select>
            </div>
            <div class="form-group">
                <span>车位类型：</span>
                <select class="form-control" [(ngModel)]="searchParams.place_type" name="place_type">
                    <option value="">全部</option>
                    <option value="1">地上露天车位</option>
                    <option value="3">地上车库</option>
                    <option value="2">地下车库</option>
                </select>
            </div>
            <div class="form-group">
                <span>地址区域：</span>
                <select class="form-control">
                    <option value="">全部</option>
                    <option value="">地上露天车位</option>
                    <option value="">地上车库</option>
                    <option value="">地下车库</option>
                </select>
            </div>
            <div class="form-group">
                <span>联系人手机号：</span>
                <input class="form-control" [(ngModel)]="searchParams.telephone" name="telephone"
                       placeholder="请输入联系人手机号"
                       maxlength="15"/>
            </div>
            <div class="form-group">
                <span>发布时间：</span>
                <nz-date-picker [(ngModel)]="review_start_time" [nzShowToday]=false
                                [nzDisabledDate]="disabledReviewStartTime"
                                name='review_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <span class='line'>-</span>
                <nz-date-picker [(ngModel)]="review_end_time" name='review_end_time' [nzShowToday]=false
                                [nzDisabledDate]="disabledReviewEndTime"
                                [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(false)">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">

        <div class="zmy-table goods-order">
            <nz-table #parkingPlaceTable [nzData]="nzSearchAssistant.nzData"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText"
                      [nzPageSize]="nzSearchAssistant.pageSize"
                      (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                      [(nzPageIndex)]="nzSearchAssistant.currentPage">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>图片</th>
                    <th>标题</th>
                    <th>价格</th>
                    <th>建筑面积</th>
                    <th>车位类型</th>
                    <th>地址</th>
                    <th>状态</th>
                    <th>上线</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="onClickDrop($event, parkingPlaceTable.data)">
                <ng-template ngFor let-parkingPlace let-i=index [ngForOf]="parkingPlaceTable.data">
                    <tr>
                        <td colspan="11" nzAlign="left" class="information-delivery-title">
                            发布者：{{parkingPlace.publisher ? parkingPlace.publisher : '-'}}
                            <span>|</span>
                            手机号：{{parkingPlace.telephone}}
                            <span>|</span>
                            发布时间：{{parkingPlace.review_time ? (parkingPlace.review_time * 1000 | date:"y-MM-dd HH:mm:ss") : '--'}}
                        </td>
                    </tr>
                    <tr cdkDrag>
                        <td>{{(nzSearchAssistant.currentPage - 1) * nzSearchAssistant.pageSize + i + 1}}</td>

                        <td class="img-item">
                            <img [src]="parkingPlace.coverImage">
                        </td>
                        <td class="brand-item"
                            [title]="parkingPlace.title">{{parkingPlace.title|zMaxLength:10}}</td>
                        <td>{{(parkingPlace.rent)}}</td>
                        <td>{{parkingPlace.place_area}}m²</td>
                        <td>{{parkingPlace.place_type}}</td>
                        <td [title]="parkingPlace.addressInfo">{{parkingPlace.addressInfo|zMaxLength:10}}</td>
                        <td>{{carReviewStatus[parkingPlace.review_status]}}</td>
                        <td>
                            <nz-switch [ngModel]="parkingPlace.online_status===OnlineStatus.on"
                                       nzCheckedChildren="On"
                                       [disabled]="parkingPlace.review_status!==ReviewStatus.reviewed"
                                       [nzControl]=true
                                       style="height: 10px"
                                       nzUnCheckedChildren="Off"
                                       (click)="onSwitchChange(parkingPlace)"></nz-switch>
                        </td>
                        <td class="operation">
                            <a [title]="'通过'" *ngIf="parkingPlace.review_status===ReviewStatus.reviewing"
                               (appZDebounceClick)="onClickReviewStatusData(parkingPlace.parking_place_info_id,ReviewStatus.reviewed)">通过</a>
                            <a [title]="'驳回 '"
                               *ngIf="parkingPlace.review_status===ReviewStatus.reviewing"
                               (appZDebounceClick)="onClickRejected(parkingPlace)">驳回 </a>
                            <a [title]="'编辑'"
                               [routerLink]="['../edit',parkingPlace.parking_place_info_id]">编辑</a>
                            <a [title]="'详情'"
                               [routerLink]="['../detail',parkingPlace.parking_place_info_id]">详情</a>
                            <a [title]="'删除'"
                               (appZDebounceClick)="onDeleteParkingPlaceClick(parkingPlace.parking_place_info_id,OperationType.delete)">删除</a>
                        </td>
                    </tr>
                </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<!--新建-->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #rejectedPromptDiv id="rejectedPromptDiv">
    <div class="modal-dialog" role="document" *ngIf="selectedParkingPlace">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">驳回</span>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <form class="form-horizontal" #rejectedForm="ngForm"
                  autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <label class="control-label">
                            <span>驳回理由：</span>
                        </label>
                        <div class="control-input">
                            <textarea class="form-control" [(ngModel)]="rejectReason" name="rejectReason" appIgnoreSpace
                                      style="width: 300px"
                                      rows="5" placeholder="输入驳回理由" maxlength="200">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" nz-button data-dismiss="modal">
                        取消
                    </button>
                    <button type="submit" class="sure-btn" nz-button nzType="primary"
                            (appZDebounceClick)="onClickReviewStatusData(selectedParkingPlace.parking_place_info_id,ReviewStatus.rejected,rejectReason)"
                            [disabled]="!rejectedForm.form.valid">
                        确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
