<!-- 设置积分发放时间 -->
<div class="modal fade" #configModal id="configModal" data-backdrop="false" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-common">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">设置积分发放时间</span>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" class="form-horizontal" #configForm="ngForm">

          <div class="row">
            <label class="control-label">
              <b>*</b>
              <span>业务类型</span>
            </label>
            <div class="control-input">
              <select class="form-control" name="business_type" [(ngModel)]="issue_time.business_type" required>
                <option [value]=1>停车缴费</option>
              </select>
            </div>
          </div>

          <div class="row">
            <label class="control-label">
              <b>*</b>
              <span>发放时间</span>
            </label>
            <div class="control-input" style="font-size: 14px;">
              <span>购买后定时发放，每日&nbsp;</span>
              <app-date-clock [has24]="false" [(hour)]="time.hour" [(minute)]="time.minute">
              </app-date-clock>&nbsp;发放
            </div>
          </div>
          <div class="remark">示例：每日8:00 定时发放，8:00后产生，次日发放</div>

          <div class="modal-footer">
            <button class="close-btn" type="button" nz-button data-dismiss="modal">取消</button>
            <button class="sure-btn" type="button" nz-button nzType="primary" [disabled]="!configForm.form.valid"
              (appZDebounceClick)="onCheckClick()">确认
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>