<div class="content-header">
    <app-crumb [level1Name]="'商家管理'" [level2Name]="'商家运营配置'" [level2RelativePath]="'../'"></app-crumb>
    <ul class="header-right" *ngIf="tabIndex===1">
        <li class="big-bg">
            <a (click)="onAddClick()">新建</a>
        </li>
    </ul>
</div>
<div class="content-flow">
    <div class="tab-bar">
        <li [class.tab-active]="tabIndex===1"
            (click)="onTabClicked(1)">产品管理</li>
        <li [class.tab-active]="tabIndex===2"
            (click)="onTabClicked(2)">运营时段配置</li>
    </div>
    <div *ngIf="tabIndex===1">
        <div class="search-container">
            <form class="search-form">
                <div class="form-group">
                    <span>状态：</span>
                    <select class="form-control" [(ngModel)]="searchParams.status" name="network_status">
                        <option value="">全部</option>
                        <option value="1">营业中</option>
                        <option value="2">停业休息</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>汽车品牌：</span>
                    <select class="form-control" [(ngModel)]="searchParams.car_brands" name="car_brands">
                        <option value="">全部</option>
                        <option value="1">关闭</option>
                        <option value="2">异常</option>
                        <option value="3">运行中</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>商家名称：</span>
                    <input class="form-control" placeholder="请输入商家名称" autocomplete="off"
                           name="project_name" [(ngModel)]="searchParams.gpu_model"/>
                    <div class="search-btn-group">
                        <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-container">
            <div class="zmy-table">
                <nz-table [nzData]="productList"
                          [nzShowPagination]="true"
                          [nzNoResult]="noResultText"
                          [nzPageSize]="'15'"
                          (nzPageIndexChange)="onNZPageIndexChange($event)"
                          [(nzPageIndex)]="pageIndex" #basicTable>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>品牌</th>
                        <th>厂商</th>
                        <th>车系</th>
                        <th>车型名称</th>
                        <th>配件/服务费合计</th>
                        <th>工时费合计</th>
                        <th>销量</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of basicTable.data; let i=index">
                        <td>{{i+(pageIndex-1)*15+1}}</td>
                        <td [title]="data.VehicleBrand.vehicle_brand_name">{{data.VehicleBrand.vehicle_brand_name|zMaxLength:20}}</td>
                        <td>{{data.VehicleType.VehicleFirm.vehicle_firm_name}}</td>
                        <td>{{data.VehicleType.VehicleSeries.vehicle_series_name}}</td>
                        <td>{{data.VehicleType.vehicle_type_name}}</td>
                        <td>{{data.telephone}}</td>
                        <td>{{data.telephone}}</td>
                        <td>{{data.telephone}}</td>
                        <td>{{data.telephone}}</td>
                        <td class="operation">
                            <a [title]="'查看'" (click)="onDetailBtnClick(data)">查看</a>
                            <a [title]="'编辑'" (click)="onEditBtnClick(data, true)">编辑</a>
                            <!--<a [title]="'复制'" (click)="onEditBtnClick(data)">复制</a>-->
                            <a [title]="'删除'" (click)="onDelBtnClick(data)">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <div *ngIf="tabIndex===2">
        <div class="content-flow">
            <div class="content-main">
                <div class="booking-title">每日可预订时段配置</div>
                <div *ngFor="let item of bookingTimes;let i=index;" class="booking-times">
                    <div style="float: left">
                        <app-date-clock [has24]="false" [(hour)]="item.begin_time.hour" [(minute)]="item.begin_time.minute"
                                   [readonly]="!item.isEdit"></app-date-clock>
                        <span class="booking-time-center"> - </span>
                        <app-date-clock [has24]="true" [(hour)]="item.end_time.hour" [(minute)]="item.end_time.minute"
                                        [readonly]="!item.isEdit"></app-date-clock>
                    </div>
                    <label>加价</label>
                    <input class="form-control" type="number" [(ngModel)]="item.operation_time_amount" name="price" (keypress)="inputNumberLimit($event)" [disabled]="!item.isEdit">
                    <span style="float:left">元</span>
                    <div style="float:left;margin-left: 61px">
                        <button class="close-btn" nz-button (click)="onTimeAddBtn()">添加</button>
                        <button *ngIf="i > 0" class="close-btn" nz-button (click)="onTimeDelBtn(i)">移除</button>
                        <button *ngIf="!item.isEdit" class="sure-btn" nz-button nzType="primary" (click)="item.isEdit=true">编辑</button>
                        <button *ngIf="item.isEdit" class="sure-btn" nz-button nzType="primary" (click)="onTimeSaveBtn(item);item.isEdit=false"
                        [disabled]="!item.operation_time_amount">保存</button>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--选择品牌厂商车型控件-->
<app-select-brand-firm-type [selectedBrand]="" [selectedFirm]="" [multi]="true" (selectBrandFirm)="onEditBtnClick($event, false)"></app-select-brand-firm-type>
