.tab-bar {
    padding: 14px 32px 14px 15px;
    height: 62px;
    overflow: hidden;
    display: flex;
}

.tab-bar > li {
    float: left;
    font-size: 14px;
    min-width: 190px;
    height:60px;
    margin: 2px 2px 0 0;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    outline: none;
    box-shadow:2px 0px 2px 0px rgba(137,146,170,0.33);
    border-radius:4px 4px 0px 0px;
    list-style: none;
    background: #fff;
}

.tab-active {
    background: #3E71F7!important;
    color: #fff;
}

.search-container {
    margin-left: 15px;
    width: calc(100% - 30px);
}

.operation a:hover {
    color:rgba(62,113,247,1);
}

.content-main {
    background: #fff !important;
    margin-left: 5px
}

.booking-title {
    padding: 28px 15px 18px;
}

.booking-times {
    margin: 0 0 10px 15px;
    padding-bottom: 40px;
}

.booking-times button {
    width: 80px;
    height: 34px;
    margin-right: 10px;
}

.booking-time-center {
    color: #888888;
    float: left;
    width: 20px;
    text-align: center;
}

.booking-times label {
    width: 90px;
    text-align: right;
    float: left;
    margin: 5px 10px 0;
}

.booking-times span {
  line-height: 34px;
}

.booking-times .form-control {
    width: 140px;
    height: 34px;
    float: left;
    background: #F7F8FA;
}

.search-form .form-group {
    margin-right: 20px;
}

.search-btn-group {
    margin: 0 0 0 30px;
}
