.form-group > div {
    min-width: 550px;
}

.modal-dialog{
    width:600px!important;
    min-height: 600px!important;
    height: 661px!important;
    max-width: 600px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:50px!important;
}

.modal-content {
    top: 50px!important;
}

.row{
    margin-left:0!important;
    margin-right: 0!important;
    /*height: 44px;*/
    align-items: center!important;
    margin-bottom:0!important;
}

.row b{
    margin-right:10px!important;
}

.control-label{
    padding-left: 40px!important;
    margin-bottom:20px!important;
    width:106px!important;
    padding-right: 10px;
    padding-left:0!important;
}

.control-label b{
    float: left;
}

.control-label span{
    float: left;
}

.control-input{
    display: flex!important;
    align-items: center!important;
    width:428px!important;
    margin-bottom: 20px;
}

.control-input label{
    margin-bottom:0!important;
}

.form-control{
    font-size: 14px!important;
    margin-right: 0!important;
    height: 34px!important;
    width:342px!important;
    background:rgba(246,246,246,1);
    border-radius:1px;
}

.form-radio-group{
    padding-top:0!important;
}

.form-horizontal{
    margin-top:16px!important;
}

.modal-footer button{
    font-family:PingFangSC-Medium;
    font-weight:500;
    font-size: 18px;
}

.change-status{
    margin-bottom:25px!important;
}

.form-horizontal .area-supplement{
    margin-top: 25px;
}

.brand-model{
    margin-right:15px;
    font-size:14px;
    font-family:STHeitiSC-Medium;
    font-weight:500;
    color:rgba(136,136,136,1);
}

.cover-hint{
    margin-left: 150px;
    font-size: 14px;
}

.close:hover {
    font-size: 28px;
}

.modal {
    font-size: 13px;
}

.checkbox {
    margin-right: 10px;
}

.control-label span{
    font-size: 14px;
}

.control-input ul {
    margin-bottom: 0;
}

.control-input li {
    float: left;
    width: 200px;
    color: #888888;
}

.row-message{
    height:28px!important;
}

.err-message{
    font-size:14px;
    font-family:STHeitiSC-Medium;
    font-weight:500;
    color:rgba(232,32,56,1);
}
