.content-tip {
    height: 151px;
    background: #fff;
    margin-bottom: 20px;
    padding: 40px 20px 30px 20px;
}

.content-tip span {
    font-size:18px;
    color:rgba(35,36,47,1);
    display: flex;
    margin-bottom: 10px;
}
/*
.content-tip span:last-child {
    color:rgba(62,113,247,1);
}*/

.tip-text {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    background: #F7F8FA;
}

.tip-text span {
    color:rgba(62,113,247,1);
    font-size: 14px;
}
