<div class="content-header">
    <app-crumb [level1Name]="'微信服务号'" [level2Name]="'功能授权'"></app-crumb>
</div>
<div class="content-flow">
    <div class="content-tip">
        <span>产品门票信息</span>
        <div class="tip-text">
            <span>1.可在微信公众平台关闭此功能</span>
        </div>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table #authorizeTable [nzData]="'[]'" [nzShowPagination]="false" nzBordered>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>公众号名称</th>
                    <th>微信号</th>
                    <th>账号主体</th>
                    <th>功能开启状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>沈阳智慧停车</td>
                    <td>gh_52944of5c3f</td>
                    <td>沈阳智慧停车平台建设运营有限公司</td>
                    <td>--</td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
