<div class="content-header">
  <app-crumb [level1Name]="'产品库'" [level2Name]="title"></app-crumb>
  <ul class="header-right">
    <li class="big-bg big-white-btn" [routerLink]="['../../edit',productRecord.upkeep_accessory_id]">
      <a>编辑</a>
    </li>
    <!-- <li class="big-bg">
      <a (click)="onDeleteClick()">删除</a>
    </li> -->
  </ul>
</div>
<div class="content-flow">
  <!-- 查看配件 -->
  <ng-container *ngIf="productRecord.upkeep_accessory_type === projectTypes[0]">
    <div class="content-container">
      <div class="img-item">
        <img src="{{productRecord.image_url?productRecord.image_url:no_img_url}}" />
      </div>
      <div class="table-item">
        <table class="detail-table">
          <tr>
            <td>产品名称：</td>
            <td>{{productRecord.upkeep_accessory_name ? productRecord.upkeep_accessory_name : '--'}}</td>
            <td>所属项目：</td>
            <td>{{project_info}}</td>
            <td>项目类型：</td>
            <td>
              {{productRecord.upkeep_accessory_type | projectType}}
            </td>
          </tr>
          <tr>
            <td>原价：</td>
            <td>{{(productRecord.original_amount | zCompleteNumber)||0}}
              <span *ngIf="productRecord.original_amount||productRecord.original_amount===0"> 元</span>
            </td>
            <td>销售单价：</td>
            <td>{{(productRecord.sale_amount | zCompleteNumber)||0}}
              <span *ngIf="productRecord.sale_amount||productRecord.sale_amount===0"> 元</span>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>是否原厂：</td>
            <td>{{productRecord.is_original ? '是' : '否' }}</td>
            <ng-container *ngIf="productRecord.is_original">
              <td>所属厂商：</td>
              <td>
                {{brand_firm_info}}
              </td>
              <td>此品牌厂商专用：</td>
              <td>
                {{productRecord.is_brand_special ? '是' : '否' }}
              </td>
            </ng-container>
            <ng-container *ngIf="!productRecord.is_original">
              <td>品牌说明：</td>
              <td>
                {{productRecord.brand_instruction ? productRecord.brand_instruction : '--' }}
              </td>
              <td></td>
              <td></td>
            </ng-container>
          </tr>
          <tr>
            <td>规格：</td>
            <td>
              {{productRecord.specification ? productRecord.specification : '--' }}
            </td>
            <td>零件编号：</td>
            <td>
              {{productRecord.serial_number ? productRecord.serial_number : '--' }}
            </td>
            <td>所需数量：</td>
            <td>
              {{productRecord.number >=0 ? productRecord.number : '--' }}
            </td>
          </tr>

          <tr>
            <td>创建时间：</td>
            <td>{{productRecord.created_time ? (productRecord.created_time*1000 | date:"y-MM-dd HH:mm") : '--' }}
            </td>
            <td>ID：</td>
            <td>
              {{productRecord.upkeep_accessory_id ? productRecord.upkeep_accessory_id : '--' }}
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>在售商家：</td>
            <td colspan="5">
              <ng-container
                *ngIf="productRecord.upkeep_merchant_objects && productRecord.upkeep_merchant_objects.length > 0">
                <ng-container *ngFor="let merchant of productRecord.upkeep_merchant_objects;let index = index">
                  <span>{{merchant.upkeep_merchant_name}}</span>
                  <span *ngIf="productRecord.upkeep_merchant_objects.length-1>index">, </span>
                </ng-container>
              </ng-container>
              <ng-container
                *ngIf="!productRecord.upkeep_merchant_objects || productRecord.upkeep_merchant_objects.length===0">--
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ng-container>
  <!-- 查看服务 -->
  <ng-container *ngIf="productRecord.upkeep_accessory_type === projectTypes[1]">
    <div class="content-container">
      <div class="img-item">
        <img src="{{productRecord.image_url?productRecord.image_url:no_img_url}}" />
      </div>
      <div class="table-item">
        <table class="detail-table">
          <tr>
            <td>产品名称：</td>
            <td>{{productRecord.upkeep_accessory_name ? productRecord.upkeep_accessory_name : '--'}}</td>
            <td>所属项目：</td>
            <td>{{project_info}}</td>
            <td>项目类型：</td>
            <td>
              {{productRecord.upkeep_accessory_type | projectType}}
            </td>
          </tr>
          <tr>
            <td>原价：</td>
            <td>{{(productRecord.original_amount | zCompleteNumber)||0}}
              <span *ngIf="productRecord.original_amount||productRecord.original_amount===0"> 元</span>
            </td>
            <td>销售单价：</td>
            <td>{{(productRecord.sale_amount | zCompleteNumber)||0}}
              <span *ngIf="productRecord.sale_amount||productRecord.sale_amount===0"> 元</span>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>创建时间：</td>
            <td>{{productRecord.created_time ? (productRecord.created_time*1000 | date:"y-MM-dd HH:mm") : '--' }}
            </td>
            <td>ID：</td>
            <td>
              {{productRecord.upkeep_accessory_id ? productRecord.upkeep_accessory_id : '--' }}
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>在售商家：</td>
            <td colspan="5">
              <ng-container *ngIf="productRecord.upkeep_merchants && productRecord.upkeep_merchants.length > 0">
                <ng-container *ngFor="let merchant of productRecord.upkeep_merchants;let index = index">
                  <span>{{merchant.upkeep_merchant_name}}</span>
                  <span *ngIf="productRecord.upkeep_merchants.length-1>index">,</span>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!productRecord.upkeep_merchants || productRecord.upkeep_merchants.length===0">--
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ng-container>
</div>
