<div class="content-header">
    <app-crumb [level1Name]="'推送管理'" [level2Name]="'模板消息推送'"></app-crumb>
    <ul class="header-right">
        <li>
            <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
                    [routerLink]="['../template-push-create']">
                新建
            </button>
        </li>
    </ul>
</div>

<div class="content-flow">
    <div class="search-container">
        <form class="search-form" autocomplete="off">

            <div class="form-group">
                <span>模板标题：</span>
                <input class="form-control" [(ngModel)]="searchParams.title" name="title" placeholder="请输入模板标题"
                       maxlength="20"/>
            </div>

            <div class="form-group">
                <span>创建时间：</span>
                <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
                                name='start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <span class='line'>-</span>
                <nz-date-picker [(ngModel)]="end_time" name='end_time' [nzShowToday]=false
                                [nzDisabledDate]="disabledEndTime"
                                [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(false)">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table #TemplatePushTable [nzData]="nzSearchAssistant.nzData" [nzPageSize]="nzSearchAssistant.pageSize"
                      [(nzPageIndex)]="nzSearchAssistant.currentPage"
                      (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>ID</th>
                    <th>模板标题</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>累计成功推送</th>
                    <th>启停</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of TemplatePushTable.data; let templatePushIndex=index">
                    <td>{{(nzSearchAssistant.currentPage-1)*nzSearchAssistant.pageSize+templatePushIndex+1}}</td>
                    <td [title]="data.template_message_id">
                         <span [appTxtCopy]="data.template_message_id">
                            {{data.template_message_id}}
                        </span>
                    </td>
                    <td [title]="data.title">{{data.title}}</td>
                    <td>{{data.created_time*1000| date:"y-MM-dd HH:mm"}}</td>
                    <td>{{data.updated_time*1000| date:"y-MM-dd HH:mm"}}</td>
                    <td>{{data.total_send_number}}</td>
                    <td>
                        <nz-switch [ngModel]="data.status===TemplatePushStatus.open" nzCheckedChildren="On"
                                   [nzControl]=true
                                   [nzDisabled]="isDisabledOpen(data)"
                                   style="height: 10px"
                                   nzUnCheckedChildren="Off"
                                   (click)="onSwitchChange(data)"></nz-switch>
                    </td>
                    <td class="operation">
                        <a [title]="'编辑'" [routerLink]="['../template-push-edit',data.template_message_id]"
                           *ngIf="isEdit(data)">编辑</a>
                        <a [title]="'明细'" [routerLink]="['../template-push-detail',data.template_message_id]">明细</a>
                        <a *ngIf="data.status===TemplatePushStatus.close" [title]="'删除'"
                           (appZDebounceClick)="onDeleteTemplateClick(data.template_message_id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>