<div class="content-header">
    <app-crumb [level1Name]="'推送管理'" [level2Name]="'模板消息推送'"></app-crumb>
    <ul class="header-right">
        <li>
            <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
                    [routerLink]="['../template-push-create']">
                新建
            </button>
        </li>
    </ul>
</div>

<div class="content-flow">
    <div class="search-container">
        <form class="search-form" autocomplete="off">

            <div class="form-group">
                <span>模板标题：</span>
                <input class="form-control" placeholder="请输入模板标题" maxlength="20"/>
            </div>

            <div class="form-group">
                <span>创建时间：</span>
                <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
                                name='start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <div class="search-btn-group">
                    <button nz-button nzType="primary">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table #TemplateTable [nzData]="nzSearchAssistant.nzData" [nzPageSize]="nzSearchAssistant.pageSize"
                      [(nzPageIndex)]="nzSearchAssistant.currentPage"
                      (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>模板标题</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>累计成功推送</th>
                    <th>启停</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of TemplateTable.data; let i=index">
                    <td>{{i + (pageIndex - 1) * 15 + 1}}</td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <nz-switch [ngModel]="false" nzCheckedChildren="On"
                                   style="height: 10px"
                                   nzUnCheckedChildren="Off"
                                   (ngModelChange)="onSwitchChange(data.push_plan_id,$event)"></nz-switch>
                    </td>
                    <td class="operation">
                        <a [title]="'编辑'" [routerLink]="['../template-push-edit',2]">编辑</a>
                        <a [title]="'明细'" [routerLink]="['../template-push-detail',1]">明细</a>
                        <a [title]="'删除'">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>