.modal-dialog {
  max-width: 650px !important;
}

.search {
  display: inline-block;
  width: 100px;
  height: 34px;
}

.form-group span {
  width: 70px;
}

.search-form .form-group {
  margin-right: 20px;
}

::ng-deep .label-table .ant-table-body {
  max-height: 500px;
  overflow: auto;
}

:host ::ng-deep .ant-table {
  border: 1px solid #e2e2e2;
}

:host ::ng-deep .ant-input {
  height: 34px;
}

.modal-footer {
  padding: 15px 90px 40px !important;
}

.label-recommend {
  margin-left: 135px;
}

.recommend {
  display: inline-block;
  text-align: center;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.re-content {
  width: 22px;
  display: inline-block;
  background-color: #3E71F7;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
}

.check-padding {
  padding-left: 27px !important;
}

.span-width {
  width: 60px;
}

.text-line {
  text-decoration: line-through !important;
}