.search-container {
  margin-left: 15px;
  width: calc(100% - 30px);
  padding: 0;
}

.search-btn-group {
  margin-top: -1px !important;
}

.tab-bar-list .ant-radio-button-wrapper {
  width: 120px;
}

.form-group .line {
  margin: 0 8px;
}

::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}