.search-container {
  margin-left: 15px;
  width: calc(100% - 30px);
  padding: 0;
}

.search-btn-group {
  margin-top: -1px !important;
}

.tab-bar-list .ant-radio-button-wrapper {
  width: 130px;
}

.form-group .line {
  margin: 0 8px;
}

::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

/* 首页banner */
.img-spec {
  width: 216px;
  height: 56px;
  margin: auto 20px;
}

.img-spec-1 {
  width: 130px;
  height: 68px;
}

/* 弹窗banner-路外扫码缴费完成页 */
.img-spec-2 {
  width: 216px;
  height: 113px;
}