.search-container {
    margin-left: 15px;
    width: calc(100% - 30px);
}

.operation a:hover {
    color:rgba(62,113,247,1);
}

.search-btn-group {
    margin: 0 0 0 30px;
}

.form-group {
    margin-right: 30px;
}

.form-control {
    width: 120px;
}

.form-horizontal {
    padding: 0 20px;
    margin-top: 15px;
}

.service-space {
    width: 420px;
    /*height: 130px;*/
    margin: 10px 0 10px 20px;
    background: #F7F8FA;
    padding-top: 10px;
}

.service-space label{
    margin-right: 10px;
}

.service-space input{
    height: 32px;
    background: #fff!important;
}

.row {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 34px;
}

.service-input {
    width: 340px;
    display: inline-flex;
}

.service-input label {
    z-index: 1500;
    margin-left: -28px;
    line-height: 34px;
}

.service-input span {
 line-height: 34px;
}
