<div class="content-header">
    <app-crumb [level1Name]="'商家管理'" [level2Name]="'汽修店列表'"></app-crumb>
</div>
<div class="content-flow">
    <div class="search-container">
        <form class="search-form">
            <div class="form-group">
                <span>状态：</span>
                <select class="form-control" [(ngModel)]="searchParams.vehicle_brand_id"
                        name="vehicle_brand_id">
                    <option value="">全部</option>
                    <option value="">营业中</option>
                    <option value="">停业休息</option>
                </select>
            </div>
            <div class="form-group">
                <span>汽修店名称：</span>
                <input class="form-control" placeholder="请输入汽修店名称" autocomplete="off" maxlength="4" oninput="value=value.replace(/[^\d]/g,'')"
                       name="vehicle_year_model" [(ngModel)]="searchParams.vehicle_year_model"/>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table [nzData]="brokerageList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
                      (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #basicTable>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>汽修店名称</th>
                    <th>所属企业</th>
                    <th>类型</th>
                    <th>客服电话</th>
                    <th>营业时间</th>
                    <th>营业状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{i+(pageIndex-1)*15+1}}</td>
                    <td [title]="data.broker_company_name">{{data.broker_company_name|zMaxLength:40}}</td>
                    <td>{{data.account}}</td>
                    <td>{{data.telephone}}</td>
                    <td [title]="data.address">{{data.address|zMaxLength:20}}</td>
                    <td>
                        {{data.ic_company_name?(data.ic_company_name|zMaxLength:4):'--'}}
                    </td>
                    <td>
                        <nz-switch [ngModel]="!data.discontinue_use" nzCheckedChildren="On" style="height: 10px"
                                   nzUnCheckedChildren="Off" (ngModelChange)="onSwitchChange(data.broker_company_id,$event)"></nz-switch>
                    </td>
                    <td class="operation">
                        <a [title]="'编辑'" [routerLink]="'../edit'">编辑资料</a>
                        <a [title]="'供货配置'" [routerLink]="'../supply-config-list'">供货配置</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
