<div class="content-header">
    <app-crumb [level1Name]="'车位租售'" [level2Name]="'信息发布'" [level2RelativePath]="'../'" [level3Name]="'查看信息'">
    </app-crumb>
</div>
<div style='text-align: center;margin: 150px 0;' *ngIf="loading">
    <nz-spin nzSimple></nz-spin>
</div>

<div class="content-flow" [hidden]="loading">
    <div class='content-container'>
        <div class="detail-content">
            <div class="detail-left">
                <app-z-preview-video-photo [isControls]="true" [videoAndPhotoUrls]="videoAndImgList">
                </app-z-preview-video-photo>
                <img src="/assets/images/icon_reviewing.png"
                     *ngIf="parkingPlaceDetail.review_status===ReviewStatus.reviewing">
                <img src="/assets/images/icon_reviewed.png"
                     *ngIf="parkingPlaceDetail.review_status===ReviewStatus.reviewed">
                <img src="/assets/images/icon_rejected.png"
                     *ngIf="parkingPlaceDetail.review_status===ReviewStatus.rejected">
            </div>
            <div class="detail-right">
                <h5>{{parkingPlaceDetail.title}}</h5>
                <p class="detail-right-browse">
                    <span>{{parkingPlaceDetail.demand_type === 1 ? '出租' : '出售'}}</span>
                    <span>更新与{{parkingPlaceDetail.updated_time * 1000| date:"y/MM/dd"}}</span>
                    <span>{{parkingPlaceDetail.click_count}}人已浏览</span>
                </p>
                <ul class="sell-item">
                    <li>
                        <span>{{parkingPlaceDetail.demand_type === 1 ? '租金' : '售价'}}</span>
                        <span *ngIf="parkingPlaceDetail.rent">{{parkingPlaceDetail.rentShow}}{{parkingPlaceDetail.rent_type|rentType}}</span>
                        <span *ngIf="!parkingPlaceDetail.rent">面议</span>
                    </li>
                    <li>
                        <span>建筑面积</span>
                        <span>{{parkingPlaceDetail.place_area}}㎡</span>
                    </li>
                    <li>
                        <span>车位类型</span>
                        <span>{{parkingPlaceDetail.place_type|parkingPlaceType}}</span>
                    </li>
                    <li>
                        <span>起租期</span>
                        <span>{{parkingPlaceDetail.start_month}}月起租</span>
                    </li>
                </ul>
                <p>地址：{{parkingPlaceDetail.addressInfo}}</p>
                <p>{{parkingPlaceDetail.contact}} {{parkingPlaceDetail.telephone}}</p>
                <p>
                    ID：{{parkingPlaceDetail.parking_place_info_id}}&nbsp;&nbsp;&nbsp;&nbsp;
                    创建时间：{{parkingPlaceDetail.created_time * 1000| date:"y/MM/dd HH:mm"}}
                </p>
            </div>
        </div>
        <div class="detail-remark">
            <h4>描述</h4>
            <p>{{parkingPlaceDetail.place_details}}</p>
        </div>
    </div>
</div>
