.commodity-header {
    display: flex;
}

.commodity-content {
    flex: 1;
    margin-left: 30px;
    color: #23242F;
}

.commodity-name, .description-name {
    font-size: 18px;
    letter-spacing: 0.21px;
    font-weight: 700;
    display: inline-flex;
}

.commodity-name div {
    width: 80px;
    height: 20px;
    background: #3E71F7;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 2px 0 0 10px;
    border-radius: 4px;
}

.commodity-subtitle {
    font-size: 15px;
    letter-spacing: 0.18px;
    margin-top: 15px;
}

.commodity-table {
    margin: 20px auto;
}

.commodity-table th {
    font-weight: 500;
    background: #F7F8FA;
}

.commodity-table .ant-table {
    border: 1px solid #C3C3C3;
}

:host ::ng-deep .commodity-table .ant-table-bordered .ant-table-thead > tr > th, :host ::ng-deep .commodity-table .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 2px solid #E2E2E2;
}

:host ::ng-deep .commodity-table .ant-table-bordered .ant-table-thead > tr > th:last-child, :host ::ng-deep .commodity-table .ant-table-bordered .ant-table-tbody > tr > td:last-child {
    border-right: none;
}

:host ::ng-deep .commodity-table .ant-table-thead > tr > th {
    border-bottom: 2px solid #E2E2E2;
}

.commodity-info {
    font-size: 13px;
    margin-bottom: 15px;
}

.commodity-info:last-child {
    margin-bottom: 0;
}

.commodity-footer, .description-name {
    margin-bottom: 22px;
}

.commodity-footer {
    margin-top: 70px;
}

.artcontent {
    width: 99%;
    word-break: break-all;
}
