<div class="content-header">
    <app-crumb [level1Name]="'产品管理'" [level2Name]="'查看产品'" [level1RelativePath]="'../../list'"></app-crumb>
</div>

<div class="content-flow">
    <div class='content-container'>
        <div class="commodity-header">
            <div class="commodity-preview">
                <app-z-preview-video-photo [isControls]="true"
                                           [videoAndPhotoUrls]="videoAndImgList"></app-z-preview-video-photo>
            </div>
            <div class="commodity-content">
                <div class='commodity-name'>
                    {{commodityInfo.commodity_name}}
                    <div *ngIf="commodityInfo.sales_status===2">已下架</div>
                    <div *ngIf="commodityInfo.commodity_type">{{commodityInfo.commodity_type===1?'实物商品':'虚拟商品'}}</div>
                </div>
                <div class="commodity-subtitle" *ngIf="commodityInfo.subtitle">{{commodityInfo.subtitle}}</div>
                <div class="commodity-table">
                    <nz-table [nzData]="commodityInfo.specifications" [nzShowPagination]="false"
                              [nzNoResult]="noResultInfoText" nzBordered #specificationTable>
                        <thead>
                        <tr>
                            <th>规格名称</th>
                            <th>原价</th>
                            <th>售价</th>
                            <th>库存</th>
                            <th>已售</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let specificationData of specificationTable.data; let i=index">
                            <td>{{specificationData.specification_name}}</td>
                            <td>{{specificationData.unit_original_price?specificationData.unit_original_price+'元':'--'}}</td>
                            <td>{{specificationData.unit_sell_price?specificationData.unit_sell_price+'元':'--'}}</td>
                            <td>{{specificationData.stock}}</td>
                            <td>{{specificationData.sold_amount}}</td>
                        </tr>
                        </tbody>
                    </nz-table>
                </div>
                <div class="commodity-info">
                    上架时间：
                    {{(commodityInfo.sales_status === 1 && commodityInfo.shelf_time) ? (commodityInfo.shelf_time * 1000 | date: 'yyyy.MM.dd HH:mm') : '--'}}
                </div>
                <div class="commodity-info">
                    下架时间：
                    {{(commodityInfo.sales_status === 2 && commodityInfo.removal_time) ? (commodityInfo.removal_time * 1000 | date: 'yyyy.MM.dd HH:mm') : '--'}}
                </div>
                <div class="commodity-info">
                    产品ID：{{commodityInfo.commodity_id}}
                </div>
            </div>
        </div>
        <div class="commodity-footer">
            <div class='description-name'>产品描述</div>
            <form nz-form class="description-container">
                <div class="description-content">
                    <nz-form-item nzFlex>
                        <nz-form-control>
                            <div class='temp-content' *ngIf='commodityInfo.commodity_description'>
                                <div class="artcontent"
                                     [innerHTML]="commodityInfo.commodity_description | htmlPipe"></div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </form>
        </div>
    </div>
</div>
