<div class="content-header">
  <app-crumb [level1Name]="'产品管理'" [level2Name]="'查看产品'" [level1RelativePath]="'../../../list'"></app-crumb>
</div>

<div class="content-flow">
  <div class='content-container'>
    <div class="commodity-header">
      <div class="commodity-preview">
        <app-z-preview-video-photo [isControls]="true" [videoAndPhotoUrls]="videoAndImgList">
        </app-z-preview-video-photo>
      </div>
      <div class="commodity-content">
        <div class='commodity-name'>
          {{commodityInfo.commodity_name}}
          <!--<div *ngIf="commodityInfo.sales_status===2">已下架</div>-->
          <div *ngIf="commodityInfo.commodity_type">{{commodityInfo.commodity_type===1?'实物商品':'虚拟商品'}}</div>
          <div *ngIf="commodityInfo.shipping_method">
            {{commodityInfo.shipping_method=='1'?'平台自营':'由'+commodityInfo.mall_business_name+'供应'}}</div>
          <div *ngIf="stock===0">已售罄</div>
        </div>
        <div class="commodity-subtitle" *ngIf="commodityInfo.subtitle">{{commodityInfo.subtitle}}</div>
        <div class="commodity-table">
          <nz-table [nzData]="commodityInfo.specifications" [nzShowPagination]="false" [nzFrontPagination]='false'
            [nzNoResult]="noResultInfoText" nzBordered #specificationTable>
            <thead>
              <tr>
                <th>规格名称</th>
                <th style="width: 300px;">规格ID</th>
                <th>原价</th>
                <th>售价</th>
                <th>库存</th>
                <th>已售</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let specificationData of specificationTable.data; let i=index">
                <td>{{specificationData.specification_name}}</td>
                <td>{{specificationData.specification_id}}</td>
                <td>{{specificationData.unit_original_price?specificationData.unit_original_price+'元':'--'}}</td>
                <td>{{specificationData.unit_sell_price?specificationData.unit_sell_price+'元':'--'}}</td>
                <td>{{specificationData.stock}}</td>
                <td>{{specificationData.sold_amount}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="commodity-info">
          <span>所属分类：</span>
          {{commodityInfo.sort_name||'--'}}
          <span>产品ID：</span>
          {{commodityInfo.commodity_id}}
        </div>
        <div class="commodity-info">
          <span>创建时间：</span>
          {{commodityInfo.created_time ? (commodityInfo.created_time * 1000 | date: 'yyyy.MM.dd HH:mm') : '--'}}
          <span>上架时间：</span>
          {{(commodityInfo.sales_status === 1 && commodityInfo.shelf_time) ? (commodityInfo.shelf_time * 1000 | date: 'yyyy.MM.dd HH:mm') : '--'}}
          <span>下架时间：</span>
          {{(commodityInfo.sales_status === 2 && commodityInfo.removal_time) ? (commodityInfo.removal_time * 1000 | date: 'yyyy.MM.dd HH:mm') : '--'}}
        </div>
      </div>
    </div>
    <div class="commodity-footer">
      <div class="tab-bar-list" style="margin-bottom:20px">
        <nz-radio-group [nzButtonStyle]="'solid'" [(ngModel)]="radioType">
          <label nz-radio-button [nzValue]=1>产品描述</label>
          <label nz-radio-button [nzValue]=2>兑换记录</label>
        </nz-radio-group>
      </div>
      <form nz-form class="description-container" *ngIf='radioType===1'>
        <div class="description-content">
          <nz-form-item nzFlex>
            <nz-form-control>
              <div class='temp-content' *ngIf='commodityInfo.commodity_description'>
                <div class="artcontent" [innerHTML]="commodityInfo.commodity_description | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
      <div class="commodity-table" *ngIf='radioType===2'>
        <nz-table [nzData]="exchangeRecordList" [nzShowPagination]="false" [nzFrontPagination]='false'
          [nzNoResult]="noResultInfoText" nzBordered #exchangeRecordTable>
          <thead>
            <tr>
              <th>兑换码</th>
              <th>创建时间</th>
              <th>持有人</th>
              <th>规格ID</th>
              <th>使用状态</th>
              <th>有效期</th>
              <th>使用时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of exchangeRecordTable.data; let i=index">
              <td>{{record.exchange_code}}</td>
              <td>
                {{record.created_time?(record.created_time * 1000 | date: 'yyyy-MM-dd HH:mm'):'--'}}
              </td>
              <td>{{record.htcode}}</td>
              <td>{{record.specification_id}}</td>
              <td>{{record.exchange_status}}</td>
              <td>
                {{record.start_time?(record.start_time * 1000 | date: 'yyyy-MM-dd HH:mm'):'--'}}
                至{{record.end_time?(record.end_time * 1000 | date: 'yyyy-MM-dd HH:mm'):'--'}}
              </td>
              <td>{{record.exchange_time?(record.exchange_time * 1000 | date: 'yyyy-MM-dd HH:mm'):'--'}}</td>
              <td class="operation">
                <a [title]="'查看'" [routerLink]="['../list/detail', record.order_id]">查看订单</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>