<div class="content-header">
  <app-crumb [level1Name]="'分类管理'" [level2Name]="'分类列表'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg" (click)='onEditLabel("","",0)'>
      <a>新建</a>
    </li>
  </ul>
</div>
<nz-back-top [nzTarget]='flow'></nz-back-top>
<div class="content-flow" #flow>
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarGutter]=0 [(nzSelectedIndex)]='selectedTabIndex'>
    <nz-tab *ngFor="let tab of tabs;" [nzTitle]="tab.value" (nzSelect)='onTabChange(tab.key)'>
      <div class="zmy-table">
        <nz-table [nzData]="labelList" [nzShowPagination]="false" [nzFrontPagination]='false'
          [nzNoResult]="noResultText" #labelTable *ngIf='tab.key===0'>
          <thead>
            <tr>
              <th>序号</th>
              <th>ID</th>
              <th>标签名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of labelTable.data;let i =index">
              <td>{{i+1}}</td>
              <td>{{data.tag_id}}</td>
              <td>{{data.name}}</td>
              <td class="operation">
                <a [title]="'编辑'" (click)='onEditLabel(data.tag_id,data.name,0)'>编辑</a>
                <a *ngIf='!data.is_recommended' [title]="'推荐'" (click)='onRecommendeLabel(data.tag_id,true)'>推荐</a>
                <a [title]="'删除'" (click)='onDelLabel(data.tag_id)'>删除</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <nz-table [nzData]="labelList" [nzShowPagination]="false" [nzFrontPagination]='false'
          [nzNoResult]="noResultText" #labelCheckedTable *ngIf='tab.key===1'>
          <thead>
            <tr>
              <th>序号</th>
              <th>ID</th>
              <th>标签名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="onDropLabelList($event,labelCheckedTable.data)">
            <tr *ngFor="let data of labelCheckedTable.data;let i =index" cdkDrag>
              <td>{{i+1}}</td>
              <td>{{data.tag_id}}</td>
              <td>{{data.name}}</td>
              <td class="operation">
                <a [title]="'编辑'" (click)='onEditLabel(data.tag_id,data.name,1)'>编辑</a>
                <a [title]="'取消推荐'" (click)='onRecommendeLabel(data.tag_id,false)'>取消推荐</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
<app-label-edit #labelEdit></app-label-edit>