<div class="content-header">
  <app-crumb [level1Name]="'用户车型数据'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg">
      <a (click)='onExportRecords()'>数据导出</a>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="search-container">
      <form class="search-form">
        <div class="form-group">
          <span>品牌：</span>
          <select class="form-control" [(ngModel)]="searchParams.car_brand_id" (change)="onChangeBrand($event)"
            name="car_brand_id">
            <option value="">全部</option>
            <option *ngFor="let carBrand of carBrandList" [value]="carBrand.car_brand_id"
              [title]="carBrand.car_brand_name">
              {{carBrand.car_brand_name | zMaxLength:15}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <span>厂商：</span>
          <select class="form-control" [(ngModel)]="searchParams.car_factory_id" (change)="onChangeFactory($event)"
            name="car_factory_id">
            <option value="">全部</option>
            <option *ngFor="let carFactory of carFactoryList" [value]="carFactory.car_factory_id"
              [title]="carFactory.car_factory_name">
              {{carFactory.car_factory_name | zMaxLength:15}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <span>车系：</span>
          <select class="form-control" [(ngModel)]="searchParams.car_series_id" name="car_series_id"
            (change)="onChangeSeries($event)">
            <option value="">全部</option>
            <option *ngFor="let carSeries of carSeriesList" [value]="carSeries.car_series_id"
              [title]="carSeries.car_series_name">
              {{carSeries.car_series_name | zMaxLength:15}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <span>排量：</span>
          <select class="form-control" [(ngModel)]="searchParams.car_displacement" name="car_displacement">
            <option value="">全部</option>
            <option *ngFor="let carParam of carParamList" [value]="carParam" [title]="carParam">
              {{carParam | zMaxLength:15}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <span>生产年份：</span>
          <input class="form-control" placeholder="请输入年款" autocomplete="off" maxlength="4"
            oninput="value=value.replace(/[^\d]/g,'')" name="car_year_num" [(ngModel)]="searchParams.car_year_num" />
          <div class="search-btn-group">
            <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="zmy-table">
      <nz-table #vehicleTable [nzData]="nzSearchAssistant.nzData" [nzShowPagination]="true"
        [nzNoResult]="nzSearchAssistant.nzNoResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)" [(nzPageIndex)]="nzSearchAssistant.currentPage">
        <thead>
          <tr>
            <th>序号</th>
            <th>用户ID</th>
            <th>用户手机号</th>
            <th>添加/访问时间</th>
            <th>品牌</th>
            <th>品牌类型</th>
            <th>车系</th>
            <th>发动机排量</th>
            <th>生产年份</th>
            <th>推荐用量</th>
            <th>推荐等级</th>
            <th>推荐年度</th>
            <th>三个类型首推ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of vehicleTable.data; let index = index">
            <td>{{(nzSearchAssistant.currentPage-1)*nzSearchAssistant.pageSize+index+1}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>