<div class="content-header">
    <app-crumb [level1Name]="'服务管理'" [level1RelativePath]="'../'" [level2Name]="'服务费配置'"></app-crumb>
</div>
<div class="content-flow">
    <div class='des_card'>
        <form nz-form class="content-layout" #rescueFeesForm="ngForm">
            <div class="card_content">
                <div class="card-content-title">
                    <p><span>救援费名称</span> {{serviceFeeData.service_fee_name}}</p>
                    <ul class="header-right" *ngIf="rescueFeeList.length<5">
                        <li class="big-bg" (click)="onClickCreateFee()">
                            <a>新建</a>
                        </li>
                    </ul>
                </div>
                <div class="rescue-fee-content" *ngFor="let rescueFee of rescueFeeList;let index=index"
                     [class.borderBottom]="rescueFeeList.length-1!=index">
                    <nz-form-item nzFlex>
                        <nz-form-label nzRequired [nzNoColon]='true'>尾款原价</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzAddOnAfter]="'元'">
                                <input class="price-input" nz-input autocomplete="off"
                                       [(ngModel)]="balance_initial_price"
                                       name="balance_initial_price" required maxlength='8' appFloatNumber
                                       [appMaxNumber]='99999.99'/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nzFlex>
                        <nz-form-label nzRequired [nzNoColon]='true'>尾款现价</nz-form-label>
                        <nz-form-control>
                            <div>
                                <nz-input-group [nzAddOnAfter]="'元'">
                                    <input class="price-input" nz-input autocomplete="off"
                                           [(ngModel)]="balance_current_price"
                                           name="balance_current_price" required maxlength='8' appFloatNumber
                                           [appMaxNumber]='99999.99'/>
                                </nz-input-group>
                            </div>
                            <div *ngIf="balanceCurrentPriceErrors" class="text-danger">
                                <span class="input-error">
                                    {{balanceCurrentPriceErrors}}
                                </span>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nzFlex>
                        <nz-form-label nzRequired [nzNoColon]='true'>预付原价</nz-form-label>
                        <nz-form-control>
                            <div>
                                <nz-input-group [nzAddOnAfter]="'元'">
                                    <input class="price-input" nz-input autocomplete="off"
                                           [(ngModel)]="prepay_initial_price"
                                           name="prepay_initial_price" required maxlength='8' appFloatNumber
                                           [appMaxNumber]='99999.99'/>
                                </nz-input-group>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nzFlex>
                        <nz-form-label nzRequired [nzNoColon]='true'>预付现价</nz-form-label>
                        <nz-form-control>
                            <div>
                                <nz-input-group [nzAddOnAfter]="'元'">
                                    <input class="price-input" nz-input autocomplete="off"
                                           [(ngModel)]="prepay_current_price"
                                           name="prepay_current_price" required maxlength='8' appFloatNumber
                                           [appMaxNumber]='99999.99'/>
                                </nz-input-group>
                            </div>
                            <div *ngIf="prepayCurrentPriceErrors" class="text-danger">
                                <span class="input-error">{{prepayCurrentPriceErrors}}</span>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nzFlex>
                        <nz-form-label nzRequired [nzNoColon]='true'>时间段</nz-form-label>
                        <nz-form-control>
                            <app-time-slot [startReadonly]="index===0" [timeSlots]="rescueFee"
                                           [endReadonly]="index===rescueFeeList.length-1"></app-time-slot>
                            <img src="./assets/images/delete_hover.png" (click)="onClickDelete(1,index)"
                                 [ngStyle]="{visibility:rescueFeeList.length>1?'visible':'hidden'}">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="telephone-content">
                    <span>负责人手机号</span>
                    <ul>
                        <li *ngFor="let telephone of telephoneList;let index=index">
                            <input class="form-control">
                            <img src="/assets/images/tag_del.png" (click)="onClickDelete(2,index)">
                        </li>
                        <li class="select-tag" (click)="onClickTelephone()" *ngIf="telephoneList.length<5">
                            <span>添加</span>
                            <img src="./assets/images/icon_add_small.png">
                        </li>
                    </ul>
                </div>
                <div style="margin-top: 40px;margin-bottom: 40px">
                    <button class="sure-btn" nz-button nzType="primary" [disabled]="loading&&!rescueFeesForm.form.valid"
                            (appZDebounceClick)='onSaveFormSubmit()'>保存
                    </button>
                    <button class="close-btn" nz-button (click)="onCancelBtn()">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>