<div class="content-header">
    <app-crumb [level1Name]="'积分管理'" [level2Name]="'积分兑换商城'"></app-crumb>
    <ul class="header-right">
        <li class="big-bg" (click)="onClickCreateProduct()">
            <a>新建</a>
        </li>
    </ul>
</div>
<div class="content-flow">
    <div class="search-container">
        <form class="search-form" autocomplete="off">
            <div class="form-group">
                <span>销售状态：</span>
                <select class="form-control" style="width: 120px;" name="status" [(ngModel)]="searchParams.status">
                    <option value="">全部</option>
                    <option [value]=1>销售中</option>
                    <option [value]=2>已下架</option>
                </select>
            </div>
            <div class="form-group">
                <span>商品名称：</span>
                <input class="form-control" [(ngModel)]="searchParams.commodity_name" name="commodity_name"
                       placeholder="请输入商品名称" maxlength="20" appIgnoreSpace/>
            </div>
            <div class="form-group">
                <span>创建时间：</span>
                <nz-date-picker [(ngModel)]="start_time" name='start_time' [nzShowToday]=false
                                [nzDisabledDate]="disabledStartTime" [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm">
                </nz-date-picker>
                <span class='line'>-</span>
                <nz-date-picker [(ngModel)]="end_time" name='end_time' [nzShowToday]=false
                                [nzDisabledDate]="disabledEndTime"
                                [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(true)">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table #commodityTable [nzData]="nzSearchAssistant.nzData"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText"
                      [nzPageSize]="'15'" (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                      [(nzPageIndex)]="nzSearchAssistant.currentPage">
                <thead>
                <tr>
                    <th>序号</th>
                    <th style="width: 18%">商品ID</th>
                    <th style="width: 18%">商品信息</th>
                    <th>兑换积分</th>
                    <th>价格</th>
                    <th>浏览量</th>
                    <th>兑换量</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>销售状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let commodity of commodityTable.data; let commodityIndex = index">
                    <td>{{(nzSearchAssistant.currentPage - 1) * nzSearchAssistant.pageSize + commodityIndex + 1}}</td>
                    <td [title]="commodity.commodity_id">
                        <span [appTxtCopy]="commodity.commodity_id">
                            {{commodity.commodity_id}}
                        </span>
                    </td>
                    <td>
                        <div class="img-item">
                            <div class="img-box">
                                <ng-container *ngIf="commodity.commodity_images.length > 0">
                                    <img [src]="commodity.commodity_images[0]"/>
                                </ng-container>
                                <ng-container *ngIf="commodity.commodity_images === 0">
                                    <img src="/assets/images/icon_no_img.png"/>
                                </ng-container>
                            </div>
                            <div style="display: grid">
                                <a style="word-break: keep-all;text-align: left;white-space: nowrap;"
                                   [title]="globalService.limitStrLengthTitle(commodity.commodity_name, 15)"
                                   [routerLink]="['../detail', commodity.commodity_id, commodity.commodity_type]">
                                    {{commodity.commodity_name | zMaxLength:15}}
                                </a>
                                <div class="goods-tip">
                                    <label *ngIf="commodity.commodity_type">{{commodity.commodity_type|commodityType}}</label>
                                    <!-- <label
                                      *ngIf="commodity.shipping_method">{{commodity.shipping_method===1?'平台自营':'由'+commodity.mall_business_name+'供应'}}</label> -->
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{commodity.exchangeIntegral || 0}}</td>
                    <td>{{(commodity.sellPrice|centPriceChange:'元') || 0}}</td>
                    <td>
                        <div>访客：{{commodity.total_click_person || 0}}人</div>
                        <div>浏览：{{commodity.total_click_num || 0}}次</div>
                    </td>
                    <td>{{commodity.exchange_amount || 0}}</td>
                    <td>{{commodity.created_time ? (commodity.created_time * 1000 | date: 'yyyy-MM-dd HH:mm') : '--'}}</td>
                    <td>
                        {{commodity.updated_time ? (commodity.updated_time * 1000 | date: 'yyyy-MM-dd HH:mm') : '--'}}
                    </td>
                    <td>
                        <nz-switch [ngModel]="commodity.status===1 ? true : false" nzCheckedChildren="On"
                                   nzUnCheckedChildren="Off" [nzControl]=true style="height: 10px"
                                   (click)="onChangeSwitchStatus(commodity)">
                        </nz-switch>
                    </td>
                    <td class="operation">
                        <a title="置顶"
                           *ngIf="commodity.status===1&&((nzSearchAssistant.currentPage===1&&commodityIndex!==0) || nzSearchAssistant.currentPage>1)"
                           (click)="onTopCommodityClick(commodity.commodity_id)">置顶</a>
                        <a title="编辑"
                           [routerLink]="['../edit', commodity.commodity_id, 2]">编辑</a>
                        <a title="浏览量" [routerLink]="['../statistic-detail', commodity.commodity_id]">浏览量</a>
                        <a title="删除" *ngIf="commodity.status===2"
                           (click)="onDeleteCommodityClick(commodity.commodity_id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>


<!--新建-->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" id="productCreatePromptDiv">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">新建积分商品</span>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <form class="form-horizontal"
                  autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <label class="control-label">
                            <span>业务类型</span>
                        </label>
                        <div class="control-input">
                            <input class="form-control" placeholder="商城" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <span>商品</span>
                        </label>
                        <div class="control-input">
                            <input class="form-control" placeholder="搜索商品"
                                   [(ngModel)]="commoditySearchParams.commodity_name" name="commodity_name"
                                   (keyup)="searchText$.next()"
                                   maxlength="20" appIgnoreSpace>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                        </label>
                        <div class="control-input commodity-content">
                            <ng-container *ngIf="commodityList.length">
                                <label nz-checkbox *ngFor="let item of commodityList" [title]="item.commodity_name"
                                       [ngModel]="item.isChecked" [name]="item.commodity_id"
                                       (ngModelChange)="onClickChecked($event,item)">
                                    {{item.commodity_name|zMaxLength:10}}
                                </label>
                            </ng-container>
                            <ng-container *ngIf="commodityList.length===0">
                                <nz-spin nzSimple style="padding:20px 30px"
                                         *ngIf="!commoditySearchParams.commodity_name"></nz-spin>
                                <p *ngIf="commoditySearchParams.commodity_name" style="margin: 0; color: #888">暂无数据</p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <span>商品规格</span>
                        </label>
                        <div class="control-input">
                            <select class="form-control" [(ngModel)]="selectedSpecificationId"
                                    name="selectedSpecificationId">
                                <option value="">请选择</option>
                                <option [value]="specification.specification_id"
                                        *ngFor="let specification of selectedCommodity.specifications">{{specification.specification_name}}
                                </option>
                            </select>
                            <b class="specification-tip">注：根据选择的商品进行规格选择</b>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" nz-button data-dismiss="modal">
                        取消
                    </button>
                    <button type="submit" class="sure-btn" nz-button nzType="primary"
                            [disabled]="!selectedCommodity.commodity_id||!selectedSpecificationId"
                            (appZDebounceClick)="onCreateProduct()">
                        保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
