.submenu .menu-item {
  padding-left: 60px !important;
  display: flex;
  align-items: center;
}

.menu-item:hover,
.menu-item:active {
  color: #fff !important;
}

.icon-menu,
.icon-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  vertical-align: -2px;
}

.menu-container>li:nth-of-type(1) .icon-menu {
  background: url('/assets/images/icon_menu_parking.png') no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.menu-img {
  margin-left: -11px;
  margin-right: 20px;
}

.menu-container>li:nth-of-type(2) .icon-menu {
  background: url('/assets/images/menu_comment.png') no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

/* 悬浮或激活时使用高亮背景覆盖原默认图 */
.ant-menu:not(.ant-menu-horizontal) .selected:nth-of-type(1) .icon-menu {
  -webkit-background-size: contain;
  background-size: contain;
}

.ant-menu:not(.ant-menu-horizontal) .selected:nth-of-type(2) .icon-menu {
  -webkit-background-size: contain;
  background-size: contain;
}

.icon-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.icon-arrow.menu-open {
  background: url(../../../../assets/images/icon_menu_open@2x.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.icon-arrow.menu-close {
  background: url(../../../../assets/images/icon_menu_close@2x.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.subMenuItem {
  display: inline-block;
  width: 100px;
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.menu-container,
.ant-menu,
.ant-menu-root,
.ant-menu-light,
.ant-menu-inline {
  width: 100%;
  border-right: 0 !important;
}

.submenu div {
  width: 4px;
  height: 48px;
  background: #4A7FFE;
  float: left;
  margin-left: -50px;
}
