<div class="content-header">
  <app-crumb [level1Name]="'小程序'" [level2Name]="'展位'" [level3Name]="'展位设置'" [level2RelativePath]="'../'"></app-crumb>
  <ul class="header-right">
    <li>
      <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
        (appZDebounceClick)='onEditClick()'>
        新建展位
      </button>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="zmy-table">
      <nz-table #boothConfigTable [nzData]="boothConfigList" [nzPageSize]="'15'" [(nzPageIndex)]="pageIndex"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [nzNoResult]="noResultText">
        <thead>
          <tr>
            <th>序号</th>
            <th>展位名称</th>
            <th>关键字</th>
            <th>类型</th>
            <th>尺寸</th>
            <th>支持格式</th>
            <th>启停</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booth of boothConfigTable.data;let index = index">
            <td>{{index+(pageIndex-1)*15+1}}</td>
            <td>{{booth.booth_name || '--'}}</td>
            <td>{{booth.booth_key || '--'}}</td>
            <td>{{booth.booth_type | boothType}}</td>
            <td>
              <span>W:{{booth.width||0}}px</span>
              <span>、H:{{booth.height||0}}px</span></td>
            <td>
              <span *ngFor="let format of booth.formats;last as isLast">
                <span>{{format}}</span>
                <span *ngIf="!isLast">、</span>
              </span>
              <span *ngIf="!booth.formats || booth.formats.length===0">--</span>
            </td>
            <td>
              <nz-switch [ngModel]="booth.status===1" nzCheckedChildren="On" nzUnCheckedChildren="Off"
                         [nzControl]=true style="height: 10px" (click)="onChangeSwitchStatus(booth.status,booth.booth_id)">
              </nz-switch>
            </td>
            <td class="operation">
              <a class="edit-btn" [title]="'编辑'" (appZDebounceClick)='onEditClick(booth)'>编辑</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<app-booth-config-edit #boothConfigEdit></app-booth-config-edit>