.form-group .form-control {
    display: inline-block;
}

.table-container {
    background-color: #fff;
    margin: 0;
}

.modal-dialog-common,
.modal-content-common {
    max-width: 1000px !important;
    width: 1000px !important;
}

.modal-footer button {
    margin: auto 20px;
}
