<div class="preview-container" [ngStyle]="{width: previewContainerWidth + 'px'}"
     *ngIf="isShowPreviewComponent && (previewVideoAndPhotoList.length > 0)">
    <div class="preview-content" [ngStyle]="{width: previewWidth + 'px', height: previewHeight + 'px'}">
        <div [class.hide]="isHidePreviewVideo">
            <video [src]="currentPreviewVideo.sourceUrl" [controls]="isControls" [autoplay]="isAutoPlay"></video>
            <div class="icon-control"></div>
        </div>
        <img [class.hide]="!isHidePreviewVideo" [src]="currentPreviewPhoto.sourceUrl">
    </div>
    <ul class="thumb-nail-container">
        <li [ngStyle]="{width: thumbNailWidth + 'px', height: thumbNailHeight + 'px'}"
            *ngFor="let previewVideoAndPhoto of previewVideoAndPhotoList; let previewIndex = index"
            (mouseenter)="onMouseEnterPreview(previewVideoAndPhoto)">
            <ng-container *ngIf="previewVideoAndPhoto.isVideo">
                <video [src]="previewVideoAndPhoto.sourceUrl"></video>
                <div class="icon-control"></div>
            </ng-container>
            <ng-container *ngIf="!previewVideoAndPhoto.isVideo">
                <img [src]="previewVideoAndPhoto.sourceUrl">
            </ng-container>
        </li>
    </ul>
</div>