<div class="preview-container" [ngStyle]="{width: previewContainerWidth + 'px'}"
     *ngIf="isShowPreviewComponent && (previewVideoAndPhotoList.length > 0)">
    <div class="preview-content" [ngStyle]="{width: previewWidth + 'px', height: previewHeight + 'px'}">
        <ng-container *ngIf="currentPreviewVideoAndPhoto.isVideo">
            <video [src]="currentPreviewVideoAndPhoto.sourceUrl" [controls]="isControls"
                   [autoplay]="isAutoPlay"></video>
            <div class="icon-control"></div>
        </ng-container>
        <ng-container *ngIf="!currentPreviewVideoAndPhoto.isVideo">
            <img [src]="currentPreviewVideoAndPhoto.sourceUrl">
        </ng-container>
    </div>
    <ul class="thumb-nail-container">
        <li [ngStyle]="{width: thumbNailWidth + 'px', height: thumbNailHeight + 'px'}"
            *ngFor="let previewVideoAndPhoto of previewVideoAndPhotoList; let previewIndex = index"
            (mouseenter)="onMouseEnterPreview(previewIndex)">
            <ng-container *ngIf="previewVideoAndPhoto.isVideo">
                <video [src]="previewVideoAndPhoto.sourceUrl"></video>
                <div class="icon-control"></div>
            </ng-container>
            <ng-container *ngIf="!previewVideoAndPhoto.isVideo">
                <img [src]="previewVideoAndPhoto.sourceUrl">
            </ng-container>
        </li>
    </ul>
</div>