.search-container {
    width: calc(100% - 30px);
    margin-left: 15px;
    padding: 0;
}

.img-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.img-box {
    width: 90px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.img-box img {
    width: 90px;
}

.line {
    margin: 0 8px;
}
