<div class="content-header">
    <app-crumb [level1Name]="'产品管理'" [level2Name]="'查看产品'" [level1RelativePath]="'../../list'"></app-crumb>
</div>

<div class="content-flow">
    <div class="commodity-header">
        <div class="commodity-preview">
            <app-z-preview-video-photo [isControls]="true"
                                       [videoAndPhotoUrls]="videoAndImgList"></app-z-preview-video-photo>
        </div>
        <div class="commodity-content">
            <div class='commodity_name wh_100'>{{commodityInfo.commodity_name}}</div>
            <div class="commodity_subtitle">{{commodityInfo.subtitle}}</div>
            <div>
                <nz-table [nzData]="commodityInfo.specifications" [nzShowPagination]="false"
                          [nzNoResult]="noResultInfoText" nzBordered #specificationTable>
                    <thead>
                    <tr>
                        <th>规格名称</th>
                        <th>原价</th>
                        <th>售价</th>
                        <th>库存</th>
                        <th>已售</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let specificationData of specificationTable.data; let i=index">
                        <td>{{specificationData.specification_name}}</td>
                        <td>{{specificationData.unit_original_price}}</td>
                        <td>{{specificationData.unit_sell_price}}</td>
                        <td>{{specificationData.stock}}</td>
                        <td>{{specificationData.sold_amount}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <div class="commodity-footer">
        <div class='commodity_name wh_100'>产品描述</div>
        <form nz-form class="description-container">
            <div class="description-content">
                <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'></nz-form-label>
                    <nz-form-control>
                        <div class='temp-content' *ngIf='commodityInfo.commodity_description'>
                            <div class="artcontent" [innerHTML]="commodityInfo.commodity_description | htmlPipe"></div>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </div>
</div>