<div class="content-header">
  <app-crumb [level1Name]="'产品管理'" [level1RelativePath]="'../../'" [level2Name]="'查看产品'"></app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" *ngIf="!loading && isShowContent">
  <div class='des_card'>
    <div class='card-title wh_100'>产品信息</div>
    <div>
      <nz-table #productInfoTable [nzData]="productInfoList" [nzShowPagination]="false" [nzNoResult]="noResultInfoText"
        nzBordered>
        <thead>
          <tr>
            <th>产品主图</th>
            <th>产品名称</th>
            <th>地址</th>
            <th>状态</th>
            <th>产品ID</th>
            <th>销量</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productInfoTable.data; let i=index">
            <td>
              <img *ngIf='!data.product_image' src="/assets/images/pro_default.png">
              <img *ngIf='data.product_image' class='pro-img' [src]="data.product_image">
            </td>
            <td>{{data.product_name}}</td>
            <td>{{data.address}}</td>
            <td>{{data.status| thirdSaleStatus}}</td>
            <td>{{data.product_id}}</td>
            <td>{{data.sale_num||'--'}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- 产品运营信息 -->
  <div class='des_card'>
    <div class='card-title wh_140'>产品运营信息</div>
    <div>
      <form nz-form class="content-layout" #registerForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品名称</nz-form-label>
            <nz-form-control>{{productData.product_name}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>副标题</nz-form-label>
            <nz-form-control class="ml_-10">
              <div class='subtitle'>{{productData.product_subtitle||'--'}}</div>
            </nz-form-control>
          </nz-form-item>
          <!-- 分类标签 -->
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>分类标签</nz-form-label>
            <nz-form-control class="ml_10">
              <ul class="tags" *ngIf='checkLabelNamesList.length!==0'>
                <li>
                  <div class="tag" *ngFor="let data of checkLabelNamesList; let i=index">{{data.name}}</div>
                </li>
              </ul>
              <div *ngIf='checkLabelNamesList.length===0' style="margin-left: -10px;">--</div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
  <!-- 产品门票信息 -->
  <div class='des_card'>
    <div>
      <span class='card-title wh_140'>产品门票信息</span><a class='import-btn' (click)='onUpdateData(1)'>更新数据</a>
    </div>
    <div>
      <nz-table class="ticket-table" #thirdProductTicketTable [nzData]="productTicketList" [nzShowPagination]="false"
        [nzNoResult]="noResultTicketText" [nzFrontPagination]='false' nzBordered>
        <thead>
          <tr>
            <th>门票名称</th>
            <th>购票须知</th>
            <th>门票描述</th>
            <th>实时价格与库存</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thirdProductTicketTable.data; let i=index">
            <td class="name_td">
              <div style="margin-top: 20px;">
                <div class='top-img'>
                  <img *ngIf='data.is_top===1' src="/assets/images/top_icon.png">
                </div>
                <span class='ticket-name' [title]='data.ticket_name'>{{data.ticket_name}}</span>
              </div>
            </td>
            <td nzAlign="left" class='ticket-info'>
              <ul class='m_20'>
                <li class='des-item'>
                  <span class='des-title'>预定时间</span>
                  <span class='info' *ngIf='!data.isShowInsutructions'>{{(data.preset_time|zMaxLength:43)||'--'}}</span>
                  <span class='info' *ngIf='data.isShowInsutructions'>{{data.preset_time||'--'}}</span>
                </li>
                <li class='des-item'
                  *ngIf='!data.preset_time||(data.preset_time&&data.preset_time.length<43)||data.isShowInsutructions'>
                  <span class='des-title'>费用包含</span>
                  <span class='info' *ngIf='!data.isShowInsutructions'>{{(data.fee_contain|zMaxLength:28)||'--'}}</span>
                  <span class='info' *ngIf='data.isShowInsutructions'>{{data.fee_contain||'--'}}</span>
                </li>
                <li class='text' *ngIf='!data.isShowInsutructions'>
                  <span (click)='onShowInsutructions(i)'>展开</span>
                </li>
                <li class='des-item' *ngIf='data.isShowInsutructions'>
                  <span class='des-title'>使用须知</span>
                  <span class='info'>{{data.use_notice||'--'}}</span>
                </li>
                <li class='des-item' *ngIf='data.isShowInsutructions'>
                  <span class='des-title'>退改须知</span>
                  <span class='info'>{{data.rc_notice||'--'}}</span>
                </li>
                <li class='text' *ngIf='data.isShowInsutructions'>
                  <span (click)='onHideInsutructions(i)'>收起</span>
                </li>
              </ul>
            </td>
            <td nzAlign="left" class="des_td">
              <ul class='m_20'>
                <li class='des-item'>
                  <span class='des-title'>产品说明</span>
                  <span class='des-content' *ngIf='!data.isShowDescriptions'>{{(data.notes|zMaxLength:45)||'--'}}</span>
                  <span class='des-content' *ngIf='data.isShowDescriptions'>{{data.notes||'--'}}</span>
                </li>
                <li class='des-item' *ngIf='!data.notes||(data.notes&&data.notes.length<45)||data.isShowDescriptions'>
                  <span class='des-title'>有效期</span>
                  <span class='des-content'>{{data.delay_type|delayType}}</span>
                </li>
                <li class='text' *ngIf='!data.isShowDescriptions'>
                  <span (click)='onShowDescriptions(i)'>展开</span>
                </li>
                <li class='des-item' *ngIf='data.isShowDescriptions'>
                  <span class='des-title'>可验证时间</span>
                  <span class='des-content'>{{data.validate_time_limit|validateTimeLimit}}</span>
                </li>
                <li class='des-item' *ngIf='data.isShowDescriptions'>
                  <span class='des-title'>退票规则</span>
                  <span class='des-content'>{{data.refund_rule|refundRule}}</span>
                </li>
                <li class='des-item' *ngIf='data.isShowDescriptions'>
                  <span class='des-title'>取票信息</span>
                  <span class='des-content'>{{data.getaddr||'--'}}</span>
                </li>
                <li class='text' *ngIf='data.isShowDescriptions'>
                  <span (click)='onHideDescriptions(i)'>收起</span>
                </li>
              </ul>
            </td>
            <td nzAlign="left">
              <ul class='m_20 price_ml'>
                <li class='price-item'>
                  <span class='price-title'>库存</span>
                  <span
                    class='price-content'>{{(data.price_calendar&&data.price_calendar.remain|maxNumberDealPipe:999)||'--'}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>市场价</span>
                  <span class='price-content'><span *ngIf='data.market_price'>¥</span>
                    {{data.market_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>建议售价</span>
                  <span class='price-content'><span
                      *ngIf='data.price_calendar&&data.price_calendar.retail_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.retail_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>结算价</span>
                  <span class='price-content'><span *ngIf='data.price_calendar&&data.price_calendar.buy_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.buy_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>平台售价</span>
                  <span class='price-content'><span
                      *ngIf='data.price_calendar&&data.price_calendar.platform_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.platform_price|centPriceChange}}</span>
                </li>
              </ul>
            </td>
            <td>
              <div class='opera m_20'>
                <div>
                  <a (click)='onOpenPriceCalendar(data.ticket_id)'><img src="/assets/images/date.png">价格日历</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <!-- 票务详情 -->
  <div class='des_card'>
    <div><span class='card-title wh_140'>票务详情</span></div>
    <div style="margin-bottom: 20px;">
      <form nz-form class="content-layout" #registerForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品图片</nz-form-label>
            <nz-form-control>
              <img *ngIf='imgUrls.length===0' src="/assets/images/pro_default.png">
              <app-z-photo-select *ngIf='imgUrls.length!==0' [hasAddPicture]="false" [hasDeletePicture]="false"
                [maxLength]="6" [imageWidth]='120' [imageHeight]='90' [imageUrls]="imgUrls" #parkingImg>
              </app-z-photo-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>营业时间</nz-form-label>
            <nz-form-control class="ml_-10">
              {{productData.run_time|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>联系电话</nz-form-label>
            <nz-form-control class="ml_-10">
              {{productData.telephone|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>地址</nz-form-label>
            <nz-form-control class="ml_-10">
              {{productData.address|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>交通指南</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='productData.traffic_guide'>
                <div class="artcontent" [innerHTML]="productData.traffic_guide | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>预订须知</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='productData.notice'>
                <div class="artcontent" [innerHTML]="productData.notice | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>景区介绍</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='productData.product_introduce'>
                <div class="artcontent" [innerHTML]="productData.product_introduce | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
</div>
<app-calendar-detail #priceCalendarDetail></app-calendar-detail>