<div class="content-header">
  <app-crumb [level1Name]="'产品管理'" [level1RelativePath]="'../../../'" [level2Name]="'查看产品'"></app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" *ngIf="!loading">
  <div class='des_card'>
    <div class='card-title'>产品信息</div>
    <div>
      <nz-table #productInfoTable [nzData]="productInfoList" [nzShowPagination]="false" [nzNoResult]="noResultInfoText"
        nzBordered>
        <thead>
          <tr>
            <th>产品主图</th>
            <th>产品名称</th>
            <th>地址</th>
            <th>状态</th>
            <th>产品ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productInfoTable.data; let i=index">
            <td>
              <img *ngIf='!data.product_image' src="/assets/images/pro_default.png">
              <img *ngIf='data.product_image' class='pro-img' [src]="data.product_image">
            </td>
            <td>{{data.product_name}}</td>
            <td>{{data.address}}</td>
            <td>{{data.status| thirdSaleStatus}}</td>
            <td>{{data.product_id}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <!-- 产品运营信息 -->
    <div class='card-title mt_50'>产品运营信息</div>
    <div>
      <form nz-form class="content-layout" #registerForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品名称</nz-form-label>
            <nz-form-control>{{productData.product_name}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>副标题</nz-form-label>
            <nz-form-control class="ml_-10">
              <div class='subtitle'>{{productData.product_subtitle||'--'}}</div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>

    <!-- 产品门票信息 -->
    <div class='card-title mt_50'>产品门票信息</div>
    <div>
      <nz-table #thirdProductTicketTable [nzData]="productTicketList" [nzShowPagination]="false"
        [nzNoResult]="noResultTicketText" [nzFrontPagination]='false' nzBordered>
        <thead>
          <tr>
            <th>门票名称</th>
            <th>购票须知</th>
            <th>市场价</th>
            <th>建议零售价</th>
            <th>结算价</th>
            <th>售价</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thirdProductTicketTable.data; let i=index">
            <td>
              <div class='top-img'>
                <img *ngIf='data.is_top===1' src="/assets/images/top_icon.png">
              </div>
              <span [title]='data.ticket_name'>{{data.ticket_name|zMaxLength:15}}</span>
            </td>
            <td class='insutructions'>
              <div class='text' *ngIf='!data.isShowInsutructions'>
                <p>{{(data.notes)|zMaxLength:18}}</p>
                <span (click)='onShowInsutructions(i)'>展开</span>
              </div>
              <div class='text' *ngIf='data.isShowInsutructions'>
                <p>{{data.notes}}</p>
                <span (click)='onHideInsutructions(i)'>收起</span>
              </div>
            </td>
            <td><span *ngIf='data.market_price||data.market_price===0'>¥</span> {{data.market_price|centPriceChange}}
            </td>
            <td><span *ngIf='data.price_calendar&&data.price_calendar.retail_price'>¥</span>
              {{data.price_calendar&&data.price_calendar.retail_price|centPriceChange}}</td>
            <td><span *ngIf='data.price_calendar&&data.price_calendar.buy_price'>¥</span>
              {{data.price_calendar&&data.price_calendar.buy_price|centPriceChange}}</td>
            <td><span *ngIf='data.price_calendar&&data.price_calendar.retail_price'>¥</span>
              {{data.price_calendar&&data.price_calendar.retail_price|centPriceChange}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <!-- 票务详情 -->
    <div class='mt_50'><span class='card-title'>票务详情</span></div>
    <div style="margin-bottom: 20px;">
      <form nz-form class="content-layout" #registerForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品图片</nz-form-label>
            <nz-form-control>
              <img *ngIf='imgUrls.length===0' src="/assets/images/pro_default.png">
              <app-z-photo-select *ngIf='imgUrls.length!==0' [hasAddPicture]="false" [hasDeletePicture]="false"
                [maxLength]="6" [imageUrls]="imgUrls" #parkingImg>
              </app-z-photo-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>营业时间</nz-form-label>
            <nz-form-control class="ml_-10">
              {{productData.run_time}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>联系电话</nz-form-label>
            <nz-form-control class="ml_-10">
              {{productData.telephone}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>地址</nz-form-label>
            <nz-form-control class="ml_-10">
              {{productData.address}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>交通指南</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='productData.traffic_guide'>
                <div class="artcontent" [innerHTML]="productData.traffic_guide | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>预订须知</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='productData.notice'>
                <div class="artcontent" [innerHTML]="productData.notice | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>景区介绍</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='productData.product_introduce'>
                <div class="artcontent" [innerHTML]="productData.product_introduce | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
</div>