<div class="content-header">
    <app-crumb [level1Name]="'车型原厂参数'" [level2Name]="'详情'" [level1RelativePath]="'../'"></app-crumb>
</div>
<div class="content-flow">
    <div class="content-main">
        <div class="vehicle-title">
            <img src="/assets/images/manual/icon_vehicle.png">
            <div class="vehicle-space" *ngIf="carInfo && carInfo.car_param_id">
                <div>
                    <span>{{carInfo.car_brand_name}}</span>
                </div>
                <div>
                    <span>{{carInfo.car_factory_name}}</span>
                </div>
                <div>
                    <span>{{carInfo.car_series_name}}</span>
                </div>
                <div>
                    <span>{{carInfo.car_displacement}}</span>
                </div>
                <div>
                    <span>{{carInfo.car_year_num}}</span>
                </div>
            </div>
        </div>
        <div class="param-list">
            <div style="display: flex">
                <ul nz-menu nzMode="horizontal">
                    <li nz-menu-item nzMatchRouter>
                        <span style="outline: none" [routerLink]="['../edit']">原厂配件参考用量</span>
                    </li>
                </ul>
                <div style="width:100%;background: #f7f8fa;border-bottom: 1px solid rgba(136,136,136,.5)"></div>
            </div>
            <div class="zmy-table">
                <nz-table [nzData]="paramList" [nzShowPagination]="false" [nzNoResult]="noResultText" [nzPageSize]="'15'"
                          [(nzPageIndex)]="pageIndex" #basicTable nzBordered>
                    <thead>
                    <tr>
                        <th>项目ID</th>
                        <th>项目</th>
                        <th>机油标号</th>
                        <th>机油类别</th>
                        <th>参考用量</th>
                        <th>单位</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of basicTable.data; let i=index">
                        <td>{{data.project_id}}</td>
                        <td [title]="data.project_name">{{data.project_name|zMaxLength:10}}</td>
                        <td>{{data.part_param?.jy_ShuXin}}</td>
                        <td>{{data.part_param?.jy_ShuXing2}}</td>
                        <td>{{data.reference_amount?data.reference_amount:'--'}}</td>
                        <td>{{data.unit?data.unit:'--'}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
