.content-main {
    margin-left: 15px;
}

.vehicle-title {
    height: 140px;
    background: #fff;
}

.vehicle-title img {
    margin: 15px;
}

.vehicle-space {
    width:78%;
    height:50px;
    background:#F7F8FA;
    border-radius:4px;
    margin: 0 0 0 15px;
    line-height: 50px;
    display: flex;
}

.vehicle-space div {
    width: 20%;
    text-align: center;
    border-right: 2px solid #FFFFFF;
}

.vehicle-space div:last-child {
    border-right: none;
}

.param-list{
    margin-top: 20px;
    background-color: #fff!important;
}

.param-list ul{
    width: 200px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 0;
    background-color: #fff!important;
    border: 1px solid rgba(136,136,136,.5);
    border-bottom: none;
    text-align: center;
}

.zmy-table {
    margin: 20px 0;
    padding: 0 15px 30px 15px;
}

::ng-deep .ant-table {
    border: 1px solid rgba(136,136,136,.5);
}

.form-control {
    width: 120px;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
    height: 28px;
}
