<div class="content-header">
    <app-crumb [level1Name]="'车型原厂参数'" [level2Name]="'编辑'" [level1RelativePath]="'../'"></app-crumb>
</div>
<div class="content-flow">
    <div class="content-main">
        <div class="vehicle-title">
            <img src="/assets/images/manual/icon_vehicle.png">
            <div class="vehicle-space">
                <div>
                    <span>宝马</span>
                </div>
                <div>
                    <span>Audi Sport</span>
                </div>
                <div>
                    <span>奥迪A3</span>
                </div>
                <div>
                    <span>2.0L</span>
                </div>
                <div>
                    <span>2018</span>
                </div>
            </div>
        </div>
        <div class="param-list">
            <div style="display: flex">
                <ul nz-menu nzMode="horizontal">
                    <li nz-menu-item nzMatchRouter>
                        <span style="outline: none" [routerLink]="['../edit']">原厂配件参考用量</span>
                    </li>
                </ul>
                <div style="width:100%;background: #f7f8fa;border-bottom: 1px solid rgba(136,136,136,.5)"></div>
            </div>
            <div class="zmy-table">
                <nz-table [nzData]="paramList" [nzShowPagination]="false" [nzNoResult]="noResultText" [nzPageSize]="'15'"
                          [(nzPageIndex)]="pageIndex" #basicTable nzBordered>
                    <thead>
                    <tr>
                        <th>项目ID</th>
                        <th>项目</th>
                        <th>机油标号</th>
                        <th>机油类别</th>
                        <th>参考用量</th>
                        <th>单位</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of basicTable.data; let i=index" class="editable-row">
                        <td>{{i+(pageIndex-1)*15+1}}</td>
                        <td [title]="data.broker_company_name">{{data.broker_company_name|zMaxLength:40}}</td>
                        <td>{{data.account}}</td>
                        <td>{{data.telephone}}</td>
                        <td  style="width: 18%">
                            <div class="editable-cell" *ngIf="editId !== data.id; else editTpl">
                                <div class="editable-cell-value-wrap" (click)="startEdit(data.id, $event)">
                                    {{ data.name }}
                                </div>
                            </div>
                            <ng-template #editTpl>
                                <input type="text" nz-input [(ngModel)]="data.name"/>
                            </ng-template>
                        </td>
                        <td>
                            {{data.ic_company_name?(data.ic_company_name|zMaxLength:4):'--'}}
                        </td>
                        <td class="operation">
                            <button nz-button nzType="primary" [title]="'保存'" [routerLink]="'../edit'">保存</button>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
