<textarea name="descriptionEditor" id="descriptionEditor" rows="10" cols="150"></textarea>

<!--上传-->
<div class="modal fade" data-backdrop="true" id="descriptionUploadModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard='false'>
  <div class="modal-dialog modal-dialog-common">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">图像上传</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeUpload()">&times;
        </button>
      </div>
      <div class="modal-body modal-body-upload">
        <div class="select-file-upload-container">
          <div class="select-file-upload-contain">
            <div class="form-group">
              <input type="text" class="form-control file-input" [(ngModel)]="importViewModel.address" name="address"
                placeholder="请选择文件" disabled>
              <div class="select-file">
                <a class="choose-file">
                  <span class="choose-btn">选择文件</span>
                  <input #productFileImportInput1 type="file" name="files1" id="file-upload"
                    (change)="importViewModel.selectedFile($event,productFileImportInput1)" accept="image/*" />
                </a>
              </div>
            </div>
            <div class="upload-hint" *ngIf='this.importViewModel.hasErrorTip'>{{this.importViewModel.errorTip}}</div>
          </div>
          <img id="transform" src="" />
        </div>
      </div>
      <div class="modal-footer">
        <button class="close-btn" type="button" nz-button data-dismiss="modal" aria-hidden="true"
          (click)="cancleUpload()">取消</button>
        <button class="sure-btn" type="button" nz-button nzType="primary"
          [ngClass]="{'btn-disabled':this.importViewModel.hasErrorTip || !this.importViewModel.file}"
          (click)="confirmUpload()"
          [disabled]="this.importViewModel.hasErrorTip || !this.importViewModel.file">上传</button>
      </div>
    </div>
  </div>
</div>
