#tagCreatePromptDiv .form-control{
    width: 300px;
}
#tagCreatePromptDiv .control-label{
    width: 100px;
}
::ng-deep .cdk-drag-preview {
    display: table;
    border: 1px solid red;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}
