<div class="modal" data-backdrop="false" data-keyboard="true" #progressModal id="progressModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{message}}</h4>
        <button *ngIf="!hideCloseButton" type="button" class="close" aria-hidden="true" (click)="onClose()">&times;</button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%;">
            </div>
          </div>
        </div>
      </form>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>
</div>
