[nz-radio] {
  display: block;
  height: 34px;
  line-height: 34px;
}

input {
  width: 100px;
  margin-left: 10px;
  text-indent: 10px;

  &:focus {
    border: 1px solid #3e71f7;
  }
}

.row label {
  text-align: left;
}

.err-message {
  font-size: 12px !important;
  height: 20px;
  margin-left: 150px;
  margin-top: -18px;
}