<div class="content-header">
  <app-crumb [level1Name]="'服务配置'">
  </app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
  <div class="content-container">
    <form autocomplete="off" class="form-horizontal" #serviceConfigForm="ngForm">

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>服务状态</span>
        </label>
        <div class="control-input">
          <nz-switch name="is_use" [(ngModel)]="configParams.is_use" [disabled]="!isEdit" nzCheckedChildren="On"
            nzUnCheckedChildren="Off"></nz-switch>
        </div>
      </div>

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>价格信息</span>
        </label>
        <div class="price-container">
          <div class="item-group">
            <div class="price-title">原价</div>
            <div class="control-input small-group">
              <input name="total_amount" class="form-control" (focus)="configErrMsg=''" [disabled]="!isEdit"
                [(ngModel)]="configParams.total_amount" maxlength="8" appIgnoreSpace appFloatNumber required />
              <label class="one-word-lable">元</label>
            </div>
          </div>

          <div class="item-group">
            <div class="price-title">结算价</div>
            <div class="control-input small-group">
              <input name="sale_amount" class="form-control" (focus)="configErrMsg=''" [disabled]="!isEdit"
                [(ngModel)]="configParams.sale_amount" maxlength="8" appIgnoreSpace appFloatNumber required />
              <label class="one-word-lable">元</label>
            </div>
          </div>

          <div class="item-group">
            <div class="price-title">售价</div>
            <div class="control-input small-group">
              <input name="real_amount" class="form-control" (focus)="configErrMsg=''" [disabled]="!isEdit"
                [(ngModel)]="configParams.real_amount" maxlength="8" appIgnoreSpace appFloatNumber required />
              <label class="one-word-lable">元</label>
            </div>
          </div>

          <div class="item-group">
            <div class="price-title">邮费</div>
            <div class="control-input small-group">
              <input name="logistics_fee" class="form-control" (focus)="configErrMsg=''" [disabled]="!isEdit"
                [(ngModel)]="configParams.logistics_fee" maxlength="8" appIgnoreSpace appFloatNumber required />
              <label class="one-word-lable">元</label>
            </div>
          </div>

          <div class="item-group">
            <div class="price-title" style="height: 12px;"></div>
            <div class="sale-group">已售：{{configParams.sold >=0 ? configParams.sold : '--'}}</div>
          </div>

        </div>
      </div>

      <div class="row">
        <label class="control-label">
          <b>&nbsp;</b>
          <span>图文详情</span>
        </label>
        <app-z-text-ckeditor ckEditorId='serviceConfigEditor' #serviceConfigEditor></app-z-text-ckeditor>
      </div>

      <div class="row row-message" style="margin: 3px 0 15px 0;">
        <label class="control-label"></label>
        <div class="control-input err-message">
          <span>{{configErrMsg}}</span>
        </div>
      </div>
      <div class="row">
        <button name="sure_btn" type="button" class="sure-btn" nz-button nzType="primary" *ngIf="!isEdit"
          (click)="onEditClick()">
          编辑
        </button>
        <button name="sure_btn" type="button" class="sure-btn" nz-button nzType="primary" *ngIf="isEdit"
          [disabled]="!serviceConfigForm.form.valid || !isAlreadyFill()" (appZDebounceClick)="onEditFormSubmit()">
          保存
        </button>
        <button name="close_btn" type="button" class="close-btn" nz-button *ngIf="isEdit"
          (click)="onCancelClick()">取消</button>
      </div>
    </form>
  </div>
</div>