<div class="content-header">
  <app-crumb [level1Name]="'保养订单'"></app-crumb>
</div>
<div class="content-flow">
  <div class="tab-bar-list">
    <nz-radio-group [nzButtonStyle]="'solid'" [(ngModel)]="tab_index" (ngModelChange)="onTabChange($event)">
      <label nz-radio-button *ngFor="let tab of tabs" [nzValue]="tab.key">{{tab.value}}</label>
    </nz-radio-group>
  </div>
  <!-- 到店保养订单 -->
  <div class="table-container" *ngIf="tab_index===1">
    <div class="search-container">
      <form class="search-form" autocomplete="off">
        <div class="form-group">
          <span>订单状态：</span>
          <select name="user_order_status" class="form-control" style="width: 130px;"
            [(ngModel)]="searchParams.user_status">
            <option value="">全部</option>
            <option *ngFor="let status of arrivalOrderStatus" [value]="status">{{status|arrivalOrderStatus}}</option>
          </select>
        </div>

        <div class="form-group">
          <span>手机号：</span>
          <input name="buyer_tel" class="form-control" placeholder="请输入手机号" [(ngModel)]="searchParams.buyer_tel"
            maxlength="11" appIntNumber>
        </div>
        <div class="form-group">
          <span>购买人：</span>
          <input name="buyer_name" class="form-control" [(ngModel)]="searchParams.buyer_name" placeholder="请输入购买人"
            maxlength="20" appIgnoreSpace />
        </div>
        <div class="form-group">
          <span>所属汽修店：</span>
          <input name="arrival_repair_shop_name" class="form-control" placeholder="请输入所属汽修店名称" maxlength="32"
            [(ngModel)]="searchParams.repair_shop_name" appIgnoreSpace />
        </div>
        <div class="form-group">
          <span>订单编号：</span>
          <input name="arrival_order_id" class="form-control" placeholder="请输入订单编号" maxlength="32"
            [(ngModel)]="searchParams.arrival_order_id" oninput="value=value.replace(/[^a-zA-Z0-9]/ig,'')"
            appIgnoreSpace />
        </div>
        <div class="form-group">
          <span>下单时间：</span>
          <nz-date-picker [(ngModel)]="order_start_time" [nzShowToday]=false [nzDisabledDate]="disabledOrderStartTime"
            name='arrival_order_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm">
          </nz-date-picker>
          <span class='line'>-</span>
          <nz-date-picker [(ngModel)]="order_end_time" [nzShowToday]=false [nzDisabledDate]="disabledOrderEndTime"
            name='arrival_order_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm">
          </nz-date-picker>
        </div>
        <div class="form-group">
          <span>支付时间：</span>
          <nz-date-picker [(ngModel)]="pay_start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartPayTime"
            name='arrival_pay_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm">
          </nz-date-picker>
          <span class='line'>-</span>
          <nz-date-picker [(ngModel)]="pay_end_time" [nzShowToday]=false [nzDisabledDate]="disabledEndPayTime"
            name='arrival_pay_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm">
          </nz-date-picker>
          <div class="search-btn-group">
            <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="zmy-table arrival-table">
      <nz-table [nzData]="arrivalOrderList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #arrivalOrderTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>订单编号</th>
            <th>购买人</th>
            <th>汽修店</th>
            <th style="width: 25%;padding: 0 !important;">
              <div class="row-group" style="line-height: 40px;">
                <div>配件</div>
                <div>规格</div>
                <div>数量</div>
                <div>单价</div>
              </div>
            </th>
            <th>合计实收</th>
            <th>下单&支付时间</th>
            <th>订单状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of arrivalOrderTable.data; let i=index">
            <td>{{i+(pageIndex-1)*15+1}}</td>

            <td [title]="order.arrival_order_id?order.arrival_order_id:''">
              <span *ngIf="order.arrival_order_id" [appTxtCopy]="order.arrival_order_id">
                {{order.arrival_order_id|zMaxLength:10}}
              </span>
              <span *ngIf="!order.arrival_order_id">--</span>
            </td>

            <td>
              <div class="column-box">
                <ng-container *ngIf="order.buyer_name || order.buyer_tel">
                  <span [title]="order.buyer_name || ''">{{order.buyer_name | zMaxLength:6}}</span>
                  <span>{{order.buyer_tel || ''}}</span>
                </ng-container>
                <ng-container *ngIf="!order.buyer_name && !order.buyer_tel">
                  <span>--</span>
                </ng-container>
              </div>
            </td>

            <td [title]="order.repair_shop_name || ''">
              {{(order.repair_shop_name|zMaxLength:6) || '--'}}</td>

            <td style="padding: 0 !important;">
              <ng-container *ngFor="let accessory of order.accessory_info">
                <div class="column-box repeat-box">
                  <div class="row-group" style="min-height: 90px;">
                    <div>
                      <div class="img-item">
                        <div class="img-box">
                          <ng-container *ngIf="accessory.image">
                            <ng-container *ngFor="let image_url of accessory.image.split(',');let i=index">
                              <img *ngIf="i===0" src="{{image_url}}" />
                            </ng-container>
                          </ng-container>
                          <img *ngIf="!accessory.image" src="/assets/images/image_space.png" />
                        </div>
                        <div style="text-align: left;padding: 10px 0;">
                          <span [title]="accessory.accessory_name ||''"
                            style="word-break: keep-all;">{{accessory.accessory_name | zMaxLength:6}}</span>
                          <div class="match-info" *ngIf="accessory.accessory_params" style="min-width: 150px;">
                            <label
                              *ngIf="accessory.accessory_params.oil_num">{{accessory.accessory_params.oil_num}}</label>
                            <label
                              *ngIf="accessory.accessory_params.oil_type">{{accessory.accessory_params.oil_type  | oilType}}</label>
                            <label
                              *ngIf="accessory.accessory_params.oil_api">{{accessory.accessory_params.oil_api}}</label>
                            <label *ngIf="accessory.accessory_params.oil_place"
                              [title]="accessory.accessory_params.oil_place">{{accessory.accessory_params.oil_place|zMaxLength:10}}</label>
                            <label *ngIf="accessory.accessory_params.oil_expire"
                              [title]="accessory.accessory_params.oil_expire">{{accessory.accessory_params.oil_expire|zMaxLength:10}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <span>{{accessory.content?(accessory.content.includes('L')?accessory.content:accessory.content+'L') : '--'}}</span>
                    </div>
                    <div><span>{{accessory.number || 0}}</span></div>
                    <div><span>{{accessory.sale_fee | centPriceChange:'¥ ':'left' }}</span></div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngFor="let service of order.service_info">
                <div class="column-box repeat-box">
                  <div class="row-group">
                    <div>
                      <div class="img-item">
                        <div class="img-box">
                          <img style="width: 40px;height: 40px;" src="/assets/images/space_service.jpg" />
                        </div>
                        <div style="text-align: left;padding: 10px 0;">
                          <span [title]="service.service_fee_name ||''"
                            style="word-break: keep-all;">{{service.service_fee_name | zMaxLength:6}}</span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <span>--</span>
                    </div>
                    <div><span>{{service.number || 0}}</span></div>
                    <div><span>{{service.sale_amount  | centPriceChange:'¥ ':'left' }}</span></div>
                  </div>
                </div>
              </ng-container>
              <div
                *ngIf="(!order.accessory_info || order.accessory_info.length===0)&&(!order.service_info || order.service_info.length===0)"
                class="row-group">
                <div>--</div>
                <div>--</div>
                <div>--</div>
                <div>--</div>
              </div>
            </td>

            <td>{{order.sale_total_fee | centPriceChange:'¥ ':'left'}}</td>

            <td>
              <div class="column-box">
                <span *ngIf="order.created_time">
                  {{order.created_time ?('下单：'+(order.created_time* 1000 | date:"y-MM-dd HH:mm:ss")):''}}
                </span>
                <span *ngIf="order.pay_time">
                  {{order.pay_time ?('支付：'+(order.pay_time* 1000 | date:"y-MM-dd HH:mm:ss")):''}}
                </span>
                <span *ngIf="!order.created_time && !order.pay_time">--</span>
              </div>
            </td>

            <td>
              <div class="column-box">
                <span>{{order.user_status | arrivalOrderStatus}}</span>
                <span *ngIf="order.is_checked && order.user_status===3 && !order.check_images" style="color:#E82038">
                  (待车主验货)</span>
              </div>
            </td>

            <td class="operation">
              <div>
                <a [title]="'查看'" [routerLink]="['../arrival-order-detail', order.arrival_order_id]">查看</a>
                <a [title]="'服务完成'"
                  *ngIf="order.user_status===3 && (order.is_checked && order.check_images || !order.is_checked)"
                  (click)="onFinishClick(order.arrival_order_id)">服务完成</a>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div class="table-container" *ngIf="tab_index===2">
    <div class="search-container">
      <form class="search-form" autocomplete="off">
        <div class="form-group">
          <span>订单状态：</span>
          <select name="status" class="form-control" style="width: 130px;" [(ngModel)]="searchParams.order_status">
            <option value="">全部</option>
            <option value="1">待支付</option>
            <option value="2">已取消</option>
            <option value="3">已完成</option>
            <option value="4">待服务</option>
            <option value="5">已关闭</option>
          </select>
        </div>

        <div class="form-group">
          <span>手机号：</span>
          <input name="contact_tel" class="form-control" placeholder="请输入手机号" [(ngModel)]="searchParams.contact_tel"
            maxlength="11" appIntNumber>
        </div>
        <div class="form-group">
          <span>购买人：</span>
          <input name="contact_name" class="form-control" [(ngModel)]="searchParams.contact_name" placeholder="请输入购买人"
            maxlength="20" appIgnoreSpace />
        </div>
        <div class="form-group">
          <span>汽修店：</span>
          <input name="repair_shop_name" class="form-control" placeholder="请输入汽修店名称" maxlength="32"
            [(ngModel)]="searchParams.repair_shop_name" appIgnoreSpace />
        </div>
        <div class="form-group">
          <span>订单编号：</span>
          <input name="door_order_id" class="form-control" placeholder="请输入订单编号" maxlength="32"
            [(ngModel)]="searchParams.order_id" oninput="value=value.replace(/[^a-zA-Z0-9]/ig,'')" appIgnoreSpace />
        </div>
        <div class="form-group">
          <span>下单时间：</span>
          <nz-date-picker [(ngModel)]="order_start_time" [nzShowToday]=false [nzDisabledDate]="disabledOrderStartTime"
            name='order_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
          <span class='line'>-</span>
          <nz-date-picker [(ngModel)]="order_end_time" [nzShowToday]=false [nzDisabledDate]="disabledOrderEndTime"
            name='order_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
        </div>
        <div class="form-group">
          <span>支付时间：</span>
          <nz-date-picker [(ngModel)]="pay_start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartPayTime"
            name='pay_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
          <span class='line'>-</span>
          <nz-date-picker [(ngModel)]="pay_end_time" [nzShowToday]=false [nzDisabledDate]="disabledEndPayTime"
            name='pay_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
          <div class="search-btn-group">
            <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="zmy-table">
      <nz-table [nzData]="orderList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #rescueOrderTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>订单编号</th>
            <th style="width: 15%">配件</th>
            <th>购买人</th>
            <th style="width: 8%">车型</th>
            <th>汽修店</th>
            <th>配送地址</th>
            <th>数量</th>
            <th>预付实收</th>
            <th>下单&支付时间</th>
            <th>订单状态</th>
            <th>售后/退款</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of rescueOrderTable.data; let i=index">
            <td>{{i+(pageIndex-1)*15+1}}</td>

            <td [title]="order.door_order_id?order.door_order_id:''">
              <span *ngIf="order.door_order_id" [appTxtCopy]="order.door_order_id">
                {{order.door_order_id|zMaxLength:10}}
              </span>
              <span *ngIf="!order.door_order_id">--</span>
            </td>

            <td>
              <ng-container *ngIf="order.accessory_info && order.accessory_info.length>0">
                <div class="column-box" *ngFor="let accessory of order.accessory_info">
                  <div class="img-item">
                    <div class="img-box">
                      <ng-container *ngIf="accessory.accessory_images">
                        <ng-container *ngFor="let image_url of accessory.accessory_images.split(',');let i=index">
                          <img *ngIf="i===0" src="{{image_url}}" />
                        </ng-container>
                      </ng-container>
                      <img *ngIf="!accessory.accessory_images" src="/assets/images/image_space.png" />
                    </div>
                    <div style="text-align: left;padding: 10px 0;">
                      <span [title]="accessory.accessory_name ||''"
                        style="word-break: keep-all;">{{accessory.accessory_name | zMaxLength:6}}</span>
                      <div class="match-info" *ngIf="order.is_matched">
                        <img src="/assets/images/icon_match.png">
                        <!-- <label>已匹配</label> -->
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <span *ngIf="!order.accessory_info || order.accessory_info.length===0">--</span>
            </td>

            <td>
              <div class="column-box">
                <ng-container *ngIf="order.contact_name || order.contact_tel">
                  <span [title]="order.contact_name || ''">{{order.contact_name | zMaxLength:6}}</span>
                  <span>{{order.contact_tel || ''}}</span>
                </ng-container>
                <ng-container *ngIf="!order.contact_name && !order.contact_tel">
                  <span>--</span>
                </ng-container>
              </div>
            </td>
            <td>{{order.car_model || '--'}}</td>
            <td [title]="order.repair_shop_name || ''">{{(order.repair_shop_name|zMaxLength:6) || '--'}}</td>
            <td [title]="(order.region||'')+(order.address||'')">
              {{(((order.region||'')+(order.address||''))|zMaxLength:6) || '--'}}</td>

            <td>{{order.buy_num  || 0}}</td>

            <td>{{order.real_prepaid_fee | centPriceChange:'元'}}</td>

            <td>
              <div class="column-box">
                <span *ngIf="order.created_time">
                  {{order.created_time ?('下单：'+(order.created_time* 1000 | date:"y-MM-dd HH:mm:ss")):''}}
                </span>
                <span *ngIf="order.pay_time">
                  {{order.pay_time ?('支付：'+(order.pay_time* 1000 | date:"y-MM-dd HH:mm:ss")):''}}
                </span>
                <span *ngIf="!order.created_time && !order.pay_time">--</span>
              </div>
            </td>

            <td>{{order.order_status | doorOrderStatus}}</td>

            <td>
              <div class="column-box" *ngIf="order.refund_fee_status>0">
                <span>{{order.refund_fee_status | doorRefundStatus}}</span>
                <span *ngIf="order.refund_status">
                  {{'('+(order.refund_status | doorRefundOrderStatus)+')'}}</span>
              </div>
              <span *ngIf="!order.refund_fee_status">--</span>
            </td>

            <td class="operation">
              <div>
                <a [title]="'查看'" [routerLink]="['../bettery-detail', order.door_order_id]">查看</a>
                <a *ngIf="order.order_status===1" [title]="'人工匹配'" (click)="onMatchClick(order)">人工匹配</a>
                <a *ngIf="(order.order_status===3 || order.order_status===4) && order.refund_status !==1 && order.refund_status !==2"
                  [title]="'退款'" (click)="onRefundClick(order)">退款</a>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- 人工匹配模态框 -->
<div class="modal fade " id="matchModal" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-common">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">匹配蓄电池</span>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" class="form-horizontal" #matchForm="ngForm">

          <div class="row">
            <label class="control-label">
              <b>*</b>
              <span>蓄电池：</span>
            </label>
            <div class="control-input">
              <select class="form-control" [(ngModel)]="matchParams.accessory_id" name="accessory_id"
                (change)="onChangeAccessory($event)" required>
                <option value="">请选择</option>
                <option *ngFor="let accessory of accessoryList" [value]="accessory.accessory_id">
                  {{accessory.accessory_name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <label class="control-label">
              <b>*</b>
              <span>规格：</span>
            </label>
            <div class="control-input">
              <select class="form-control" [(ngModel)]="matchParams.specification_id" name="specification_id"
                (change)="onChangeSpecification($event)" required>
                <option value="">请选择</option>
                <option *ngFor="let specification of specificationList" [title]="specification.battery_model || ''"
                  [value]="specification.specification_id">
                  {{specification.battery_model|zMaxLength:20}}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <label class="control-label">
              <b>*</b>
              <span>汽修店：</span>
            </label>
            <div class="control-input">
              <select class="form-control" [(ngModel)]="matchParams.repair_shop_id" name="repair_shop_id"
                (change)="onChangeRepairShop($event)" required>
                <option value="">请选择</option>
                <option *ngFor="let repairShop of repairShopList" [value]="repairShop.repair_shop_id">
                  {{repairShop.repair_shop_name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row" style="margin-bottom: 20px;">
            <label class="control-label">
              <b>&nbsp;&nbsp;</b>
              <span>商品原价：</span>
            </label>
            <div class="control-input">
              <label>{{matchParams.original_fee | centPriceChange:'元'}}</label>
            </div>
          </div>

          <div class="modal-footer">
            <button class="close-btn" type="button" nz-button data-dismiss="modal">取消</button>
            <button class="sure-btn" type="button" nz-button nzType="primary" [disabled]="!matchForm.form.valid"
              (appZDebounceClick)="onCheckMatch()">确认
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- 退款模态框 -->
<div class="modal fade " id="refundModal" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-common">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">退款</span>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" class="form-horizontal" #refundForm="ngForm">

          <div class="row" style="margin-bottom: 40px;">
            <label class="control-label">
              <b>*</b>
              <span>退款金额：</span>
            </label>
            <div class="control-input">
              <input name="refund_fee" placeholder="输入退款金额" [(ngModel)]="refundParams.refund_fee" maxlength="8"
                class="form-control" required appFloatNumber>
            </div>
          </div>

          <div class="modal-footer">
            <button class="close-btn" type="button" nz-button data-dismiss="modal">取消</button>
            <button class="sure-btn" type="button" nz-button nzType="primary" [disabled]="!refundForm.form.valid"
              (appZDebounceClick)="onRefundCheckClick()">确认
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>