<div class="content-header">
  <app-crumb [level1Name]="'商家管理'" [level2Name]="'汽修店列表'" [level3Name]="'编辑'" [level2RelativePath]="'../../list'">
  </app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
  <div class="tab-bar-list">
    <nz-radio-group [nzButtonStyle]="'solid'" [(ngModel)]="tab_index" (ngModelChange)="onTabChange($event)">
      <label nz-radio-button [nzValue]=0>基本信息</label>
      <ng-container *ngFor="let tab of tabs">
        <label nz-radio-button [nzValue]="tab.key" *ngIf="service_initial_value.includes(tab.key)">{{tab.value}}
        </label>
      </ng-container>
    </nz-radio-group>
  </div>
  <div class="content-main">
    <form class="form-horizontal base-form" #editForm="ngForm" autocomplete="off" *ngIf="tab_index===0">
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>所属企业</span>
        </label>
        <div class="control-input">
          <input class="form-control" [(ngModel)]="company_name" name="company_name" disabled>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>店铺名称</span>
        </label>
        <div class="control-input">
          <input class="form-control" [(ngModel)]="currentGarage.repair_shop_name" name="repair_shop_name" disabled>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>服务类型</span>
        </label>
        <div class="control-input">
          <label *ngFor="let service of serviceList;let i=index" name="service_{{i}}" nz-checkbox
            [(ngModel)]="service.isChecked" (ngModelChange)="onChangeService(service)">{{service.name}}</label>
        </div>
      </div>
      <div class="row" style="height: 110px">
        <label class=" control-label">
          <b>*</b>
          <span>商家图片</span>
        </label>
        <ul style="display: flex">
          <li *ngFor="let item of currentGarage.images;let i=index;" style="margin-right: 15px">
            <img [src]="item" style="width: 100px;height: 100px">
          </li>
        </ul>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>联系人</span>
        </label>
        <div class="control-input">
          <input class="form-control" [(ngModel)]="currentGarage.contacts" name="contact" disabled>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>联系电话</span>
        </label>
        <div class="control-input">
          <input class="form-control" [(ngModel)]="currentGarage.telephone" name="telephone" disabled>
        </div>
      </div>
      <div class="row">
        <label class=" control-label">
          <b>*</b>
          <span>门店地址</span>
        </label>
        <div class="control-input" style="width: 540px!important;">
          <app-pro-city-dist-select [isEdit]="false" [regionsObj]="regionsObj" #projectInfoPro>
          </app-pro-city-dist-select>
          <input class="form-control" style="margin-left: 10px" placeholder="详细地址" [(ngModel)]="currentGarage.address"
            [title]="currentGarage.address" name="address" disabled>
        </div>
      </div>
      <div class="row">
        <label class=" control-label">
          <b>*</b>
          <span>地图坐标</span>
        </label>
        <div class="control-input">
          <input class="form-control" [(ngModel)]="currentGarage.lon + '、' + currentGarage.lat" name="lon" disabled>
          <button class="common-btn" nz-button (click)="openMapModal()">查看</button>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>上门保养服务时间</span>
        </label>
        <div class="control-input">
          <app-date-clock [has24]="false" [(hour)]="door_start_time.hour" [(minute)]="door_start_time.minute">
          </app-date-clock>
          <span class="line"> 至 </span>
          <app-date-clock [has24]="true" [(hour)]="door_end_time.hour" [(minute)]="door_end_time.minute">
          </app-date-clock>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>&nbsp;&nbsp;</b>
          <span>客服电话</span>
        </label>
        <div class="control-input ">
          <input class="form-control" name="service_telephone" maxlength="11" appIntNumber
            [(ngModel)]="editParams.service_telephone" placeholder="请输入搭电换胎通知手机号">
        </div>
        <div class="control-input tel-input">
          <input class="form-control" name="battery_telephone" maxlength="11" appIntNumber
            [(ngModel)]="editParams.battery_telephone" placeholder="请输入换电瓶通知手机号">
        </div>
      </div>
      <div style="margin-top: 40px;margin-bottom: 40px">
        <button class="sure-btn" type="button" nz-button nzType="primary"
          [disabled]="!editForm.form.valid || ifDisabled()" (appZDebounceClick)="onEditFormSubmit()">保存
        </button>
        <button class="close-btn" nz-button (click)="onClose()">取消</button>
      </div>
    </form>

    <form class="form-horizontal" autocomplete="off" #washForm="ngForm" *ngIf="tab_index===3">
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>门店等级</span>
        </label>
        <div class="control-input" style="width: 208px!important;">
          <select class="form-control" [(ngModel)]="washInfo.rank" name="rank" required>
            <option [value]="1">A</option>
            <option [value]="2">B</option>
            <option [value]="3">C</option>
          </select>
        </div>
        <p class="tip">A级为最高级别，门店等级讲影响门店排序 【门店排3km范围内权籍高优先，3km范围外距离排序，不包含C级店】</p>
      </div>
      <div class="row">
        <label class="control-label">
          <b>&nbsp;&nbsp;</b>
          <span>标签</span>
        </label>
        <div class="control-input">
          <ul>
            <li *ngFor="let tag of tagList; let i=index">
              <div>{{tag}}</div>
              <span class="tag-span" (click)="tagList.splice(i, 1)">
                <img src="/assets/images/tag_delete.png">
              </span>
            </li>
            <li *ngIf="tagList.length < 5">
              <input class="tag-input" placeholder="请输入1-10字标签" [(ngModel)]="tag" name="bind-tag" maxlength="10"
                appIgnoreSpace>
              <span class="tag-span" [class.disabled]="!tag" [title]="!tag?'标签内容不能为空':''" (click)="onAddTagClick()">
                <img src="/assets/images/tag_add.png">
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>营业时间</span>
        </label>
        <div class="control-input">
          <app-date-clock [has24]="false" [(hour)]="wash_start_time.hour" [(minute)]="wash_start_time.minute">
          </app-date-clock>
          <span class="line"> 至 </span>
          <app-date-clock [has24]="true" [(hour)]="wash_end_time.hour" [(minute)]="wash_end_time.minute">
          </app-date-clock>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>客服电话</span>
        </label>
        <div class="control-input">
          <input class="form-control" [(ngModel)]="washInfo.wash_car_telephone" placeholder="请输入客服电话"
            name="wash_car_telephone" maxlength="12" onInput="value=value.replace(/[^0-9-]/g,'')" appIgnoreSpace
            required>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>&nbsp;&nbsp;</b>
          <span>店铺简介</span>
        </label>
        <div style="display: inline-block;">
          <app-z-text-ckeditor ckEditorId='shairShopEditor' #shairShopEditor></app-z-text-ckeditor>
        </div>
      </div>

      <div style="margin-top: 40px;margin-bottom: 40px">
        <button class="sure-btn" type="button" nz-button nzType="primary" [disabled]="!washForm.form.valid"
          (appZDebounceClick)="onWashFormSubmit()">保存
        </button>
        <button class="close-btn" nz-button (click)="onClose()">取消</button>
      </div>
    </form>

    <form class="form-horizontal maintain-form" autocomplete="off" #maintainForm="ngForm" *ngIf="tab_index===1">
      <div class="row">
        <label class="control-label">
          <b>&nbsp;&nbsp;</b>
          <span>标签</span>
        </label>
        <div class="control-input">
          <ul>
            <li *ngFor="let tag of tagList; let i=index">
              <div>{{tag}}</div>
              <span class="tag-span" (click)="tagList.splice(i, 1)">
                <img src="/assets/images/tag_delete.png">
              </span>
            </li>
            <li *ngIf="tagList.length < 5">
              <input class="tag-input" placeholder="请输入1-10字标签" [(ngModel)]="tag" name="bind-tag" maxlength="10"
                appIgnoreSpace>
              <span class="tag-span" [class.disabled]="!tag" [title]="!tag?'标签内容不能为空':''" (click)="onAddTagClick()">
                <img src="/assets/images/tag_add.png">
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>营业时间</span>
        </label>
        <div class="control-input">
          <app-date-clock [has24]="false" [(hour)]="maintain_start_time.hour" [(minute)]="maintain_start_time.minute">
          </app-date-clock>
          <span class="line"> 至 </span>
          <app-date-clock [has24]="true" [(hour)]="maintain_end_time.hour" [(minute)]="maintain_end_time.minute">
          </app-date-clock>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>客服电话</span>
        </label>
        <div class="control-input">
          <input class="form-control" [(ngModel)]="maintainInfo.maintain_telephone" placeholder="请输入客服电话"
            name="telephone" maxlength="12" onInput="value=value.replace(/[^0-9-]/g,'')" appIgnoreSpace required>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>&nbsp;&nbsp;</b>
          <span>店铺简介</span>
        </label>
        <div style="display: inline-block;">
          <app-z-text-ckeditor ckEditorId='maintainInfoEditor' #maintainInfoEditor></app-z-text-ckeditor>
        </div>
      </div>

      <div style="margin-top: 40px;margin-bottom: 40px">
        <button class="sure-btn" type="button" nz-button nzType="primary" [disabled]="!maintainForm.form.valid"
          (appZDebounceClick)="onMaintainFormSubmit()">保存
        </button>
        <button class="close-btn" nz-button (click)="onClose()">取消</button>
      </div>
    </form>
  </div>
</div>

<!-- 地图组件 -->
<app-z-map-select-point [mapObj]="mapItem"></app-z-map-select-point>
