.modal-dialog {
  max-width: 650px !important;
}

.search {
  display: inline-block;
  width: 100px;
  height: 34px;
}

.form-group span {
  width: 70px;
}

.search-form .form-group {
  margin-right: 20px;
}

::ng-deep .label-table .ant-table-body {
  max-height: 500px;
  overflow: auto;
}

::ng-deep .ant-table {
  border: 1px solid #e2e2e2;
}

.modal-footer {
  padding: 15px 90px 40px !important;
}

.modal-footer button {
  width: 120px;
}