<div class="content-header">
  <div class="header-left">
    <i></i>
    <a [routerLink]="['../']">产品配置</a>
    <span> >><span class='second-crumb'>服务配置</span></span>
  </div>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
  <div class='des_card'>
    <form nz-form class="content-layout" #serviceConfigForm="ngForm">
      <div class="card_content">
        <nz-form-item nzFlex>
          <nz-form-label [nzNoColon]='true'>
            <span style="padding-left:10px">标签</span></nz-form-label>
          <nz-form-control>
            <div class="control-input" style="display: contents!important;">
              <ul>
                <li *ngFor="let tag of checkLabelNamesList; let i=index">
                  <div>{{tag}}</div>
                  <span class="tag-span" (click)="checkLabelNamesList.splice(i, 1)">
                    <img src="/assets/images/tag_delete.png">
                  </span>
                </li>
                <li *ngIf="checkLabelNamesList.length < 5">
                  <input class="tag-input" placeholder="请输入1-10字标签" [(ngModel)]="tag" name="tag" maxlength="10">
                  <span class="tag-span" [class.disabled]="!tag" (click)="onAddTagClick()">
                    <img src="/assets/images/tag_add.png">
                  </span>
                </li>
              </ul>
            </div>
            <div *ngIf="tagNameErrors" class="text-danger" style="margin-left: -10px;">
              <span class="input-error">{{tagNameErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>费用</nz-form-label>
          <nz-form-control>
            <div class="params-box">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>原价/日</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzSuffix]="originPriceUnit">
                        <input class="price-input" [(ngModel)]="configParams.origin_price" nz-input autocomplete="off"
                          name="origin_price" appFloatNumber [appMaxNumber]='99999.99' required />
                      </nz-input-group>
                      <ng-template #originPriceUnit>元</ng-template>
                      <div *ngIf="originPriceErrors" class="text-danger">
                        <span class="input-error">{{originPriceErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>售价/日</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzSuffix]="salePriceUnit">
                        <input class="price-input" [(ngModel)]="configParams.sale_price" nz-input autocomplete="off"
                          name="sale_price" appFloatNumber [appMaxNumber]='99999.99' required />
                      </nz-input-group>
                      <ng-template #salePriceUnit>元</ng-template>
                    </nz-form-control>
                    <div *ngIf="salePriceErrors" class="text-danger">
                      <span class="input-error">{{salePriceErrors}}</span>
                    </div>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>预付费</nz-form-label>
                    <nz-form-control>
                      <nz-input-group style="margin-left: -30px;" [nzSuffix]="prePriceUnit">
                        <input class="price-input" [(ngModel)]="configParams.pre_price" nz-input autocomplete="off"
                          name="pre_price" appFloatNumber [appMaxNumber]='99999.99' required />
                      </nz-input-group>
                      <ng-template #prePriceUnit>元</ng-template>
                      <div *ngIf="prePriceErrors" class="text-danger">
                        <span class="input-error">{{prePriceErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>下单立减</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzSuffix]="minusPriceUnit">
                        <input class="price-input" [(ngModel)]="configParams.minus_price" nz-input autocomplete="off"
                          name="minus_price" appFloatNumber [appMaxNumber]='99999.99' required />
                      </nz-input-group>
                      <ng-template #minusPriceUnit>元</ng-template>
                      <div *ngIf="minusPriceErrors" class="text-danger">
                        <span class="input-error">{{minusPriceErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>最低预付</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzSuffix]="minDaysUnit">
                        <input class="price-input" [(ngModel)]="configParams.min_days" nz-input autocomplete="off"
                          name="min_days" required />
                      </nz-input-group>
                      <ng-template #minDaysUnit>日</ng-template>
                      <div *ngIf="minDaysErrors" class="text-danger">
                        <span class="input-error">{{minDaysErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>联系电话</nz-form-label>
          <nz-form-control>
            <div class="params-box">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>常用</nz-form-label>
                    <nz-form-control>
                      <input class="params" [(ngModel)]="configParams.main_tel" nz-input autocomplete="off"
                        name="main-title" required maxlength='20' />
                      <div *ngIf="mainTelErrors" class="text-danger">
                        <span class="input-error">{{mainTelErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>备用</nz-form-label>
                    <nz-form-control>
                      <input class="params" [(ngModel)]="configParams.standby_tel" nz-input autocomplete="off"
                        name="main-title" required maxlength='20' />
                      <div *ngIf="standbyTelErrors" class="text-danger">
                        <span class="input-error">{{standbyTelErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex style="margin-bottom: 10px;">
          <nz-form-label nzRequired [nzNoColon]='true'>预约说明</nz-form-label>
          <nz-form-control>
            <app-z-text-ckeditor ckEditorId='orderInstructionEditor' #orderInstructionEditor></app-z-text-ckeditor>
            <div *ngIf="instructionErrors" class="text-danger">
              <span class="input-error">{{instructionErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex style="margin-bottom: 10px;">
          <nz-form-label nzRequired [nzNoColon]='true'>购买须知</nz-form-label>
          <nz-form-control>
            <app-z-text-ckeditor ckEditorId='purchaseInstructionEditor' #purchaseInstructionEditor>
            </app-z-text-ckeditor>
            <div *ngIf="noticeErrors" class="text-danger">
              <span class="input-error">{{noticeErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <div nz-row style="margin:20px 80px 0;">
          <button class="sure-btn" nz-button nzType="primary" [disabled]='!serviceConfigForm.valid'
            (appZDebounceClick)="onSaveFormSubmit()">保存</button>
          <button class="close-btn" nz-button nzType="default">取消</button>
        </div>
      </div>
    </form>
  </div>
</div>