.operation a:hover {
    color:rgba(62,113,247,1);
}

::ng-deep .cdk-drag-preview {
    display: table;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}

.list-tag {
    margin-top: 20px;
}

.list-tag li:nth-of-type(2n) .col-tag {
    background:rgba(62,113,247,0.22);
    border-radius:4px;
    color: #4A7FFE;
    font-size: 12px;
    padding: 5px 8px;
    margin: 5px 10px 0 0;
    float: left;
}

.list-tag li:nth-of-type(2n+1) .col-tag {
    background:rgba(232,32,56,0.22);
    border-radius:4px;
    color: #E82038;
    font-size: 12px;
    padding: 5px 8px;
    margin: 5px 10px 0 0;
    float: left;
}
