<div class="content-header">
  <app-crumb [level1Name]="'订单管理'" [level2Name]="'产品订单'" [level2RelativePath]="'../../'" [level3Name]="'订单详情'">
  </app-crumb>
</div>
<div class="content-flow">
  <div class="content-container">
    <div class="table-item order-table">
      <table class="detail-table">
        <caption>订单信息</caption>
        <tr>
          <td>产品名称：</td>
          <td>{{orderDetail.product?orderDetail.product.product_name:'--'}}</td>
          <td>订单状态：</td>
          <td>{{orderDetail.status | orderStatus}}</td>
          <td>使用状态：</td>
          <td>{{orderDetail.use_status | orderUseStatus}}</td>
        </tr>
        <tr>
          <td>应收：</td>
          <td>
            {{(orderDetail.total_price||orderDetail.total_price===0) ? ('￥ ' + (orderDetail.total_price | centPriceChange)) : '--'}}
          </td>
          <td>平台立减：</td>
          <td>
            {{(orderDetail.discount_price||orderDetail.discount_price===0) ? ('￥ ' + (orderDetail.discount_price | centPriceChange)) : '--'}}
          </td>
          <td>优惠券：</td>
          <td>
            {{(orderDetail.coupon_used_amount||orderDetail.coupon_used_amount===0) ? ('￥ ' + (orderDetail.coupon_used_amount | centPriceChange)) : '--'}}
          </td>
        </tr>
        <tr>
          <td>实收：</td>
          <td>
            {{(orderDetail.real_price||orderDetail.real_price===0) ? ('￥ ' + (orderDetail.real_price | centPriceChange)) : '--'}}
          </td>
          <td>结算总价：</td>
          <td>
            {{(orderDetail.buy_price||orderDetail.buy_price===0) ? ('￥ ' + ((orderDetail.buy_num*orderDetail.buy_price) | centPriceChange)) : '--'}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>用户支付方式：</td>
          <td>
            {{orderDetail.pay_type && (orderDetail.status === 2 || orderDetail.status === 4)?payType[orderDetail.pay_type]:'--'}}
          </td>
          <td>订单号：</td>
          <td>{{orderDetail.order_id}}</td>
          <td>供应商订单号：</td>
          <td>{{orderDetail.third_order_id ? orderDetail.third_order_id : '--'}}</td>
        </tr>
        <tr>
          <td>OTA支付方式:</td>
          <td>{{orderDetail.ota_pay_type | payType}}</td>
          <td>下单时间：</td>
          <td>{{orderDetail.created_time?(orderDetail.created_time* 1000 | date:"y-MM-dd HH:mm"):'--'}}</td>
          <td>支付时间：</td>
          <td>
            {{orderDetail.pay_time && (orderDetail.status === 2 || orderDetail.status === 4)?(orderDetail.pay_time* 1000 | date:"y-MM-dd HH:mm"):'--'}}
          </td>
        </tr>
      </table>
    </div>

    <div class="table-item">
      <table class="detail-table">
        <caption>票务信息</caption>
        <thead>
          <tr>
            <th>产品名称</th>
            <th>预定份数</th>
            <th>有效期</th>
            <th>门市价/张</th>
            <th>建议售价/张</th>
            <th>结算价/张</th>
            <th>平台售价/张</th>

            <th>供应商</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ticketInfo.ticket_name}}</td>
            <td>{{orderDetail.buy_num || 0}} 张</td>
            <td>
              {{orderDetail.order_begin_time}}
              <span *ngIf="orderDetail.order_begin_time && orderDetail.order_end_time">-</span>
              {{orderDetail.order_end_time}}
              <span *ngIf="!orderDetail.order_begin_time && !orderDetail.order_end_time">--</span>
            </td>
            <td>
              {{(orderDetail.market_price||orderDetail.market_price===0) ? ((orderDetail.market_price | centPriceChange)+' 元') : '--'}}
            </td>
            <td>
              {{(orderDetail.retail_price||orderDetail.retail_price===0) ? ((orderDetail.retail_price | centPriceChange)+' 元') : '--'}}
            </td>
            <td>
              {{(orderDetail.buy_price||orderDetail.buy_price===0) ? ((orderDetail.buy_price | centPriceChange)+' 元') : '--'}}
            </td>
            <td>
              {{(orderDetail.platform_price||orderDetail.platform_price===0) ? ((orderDetail.platform_price | centPriceChange)+' 元') : '--'}}
            </td>

            <td>甜程网</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-item" *ngIf="visitorList && visitorList.length>0">
      <table class="detail-table">
        <caption>游客信息</caption>
        <thead>
          <tr>
            <th>姓名</th>
            <th>身份证号</th>
            <th>手机号</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let visitor_info of visitorList">
            <td>{{visitor_info.name?visitor_info.name:'--'}}</td>
            <td>{{visitor_info.certificate_id?visitor_info.certificate_id:'--'}}</td>
            <td>{{visitor_info.telephone?visitor_info.telephone:'--'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
