<div class="content-header">
  <app-crumb [level1Name]="'订单管理'" [level2Name]="'订单详情'"></app-crumb>
</div>
<div class="content-flow">
  <div class="content-container">
    <div class="title">订单信息</div>
    <div class="line"></div>
    <div class="content-main">
      <div class="order-content">
        <div class="content-item">
          <label>产品名称：</label>
          <label>清河半岛温泉门票</label>
        </div>
        <div class="content-item">
          <label>订单状态：</label>
          <label>已支付</label>
        </div>
        <div class="content-item">
          <label>订单号：</label>
          <label>231323213321</label>
        </div>
        <div class="content-item">
          <label>应收：</label>
          <label>300元</label>
        </div>
        <div class="content-item">
          <label>实收：</label>
          <label>150元</label>
        </div>
        <div class="content-item">
          <label>支付方式：</label>
          <label>微信</label>
        </div>
        <div class="content-item">
          <label>购买渠道：</label>
          <label>美行停车App</label>
        </div>
        <div class="content-item">
          <label>下单时间：</label>
          <label>2019-08-06 10：20</label>
        </div>
        <div class="content-item">
          <label>支付时间：</label>
          <label>2019-08-06 10：20</label>
        </div>
        <div class="content-item">
          <label>平台交易单号：</label>
          <label>asda7sd09a0as4da68465</label>
        </div>
        <div class="content-item">
          <label>第三方交易单号：</label>
          <label>3463646544</label>
        </div>
      </div>
      <div class="table-item">
        <table class="detail-table">
          <tr style="text-align: left;background-color: #ddd;">
            <td colspan="4">票务信息</td>
          </tr>
          <tr>
            <td>产品名称</td>
            <td>预定份数</td>
            <td>有效期</td>
            <td>使用状态</td>
          </tr>
          <tr>
            <td>全天票</td>
            <td>1张</td>
            <td>2019-09-24至2019-06-24</td>
            <td>已撤改</td>
          </tr>
        </table>
        <table class="detail-table">
          <tr style="text-align: left;background-color: #ddd;">
            <td colspan="3">游客信息</td>
          </tr>
          <tr>
            <td>姓名</td>
            <td>身份证号</td>
            <td>手机号</td>
          </tr>
          <tr>
            <td>张三</td>
            <td>415*********552</td>
            <td>13020202020</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
