<div class="content-header">
    <app-crumb [level1Name]="'产品管理'" [level2Name]="'新建产品'" [level1RelativePath]="'../list'"></app-crumb>
</div>

<div class="content-flow">
    <div class='content-container'>
        <form class="form-horizontal" #commodityForm="ngForm" autocomplete="off">
            <div class="card_content">
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品名称</span>
                    </label>
                    <div class="control-input special-control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.commodity_name"
                               name="commodity_name" (focus)="onClearErrMsg()" placeholder="输入1-20个字标题" minlength="1"
                               maxlength="20" appIgnoreSpace required>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="commodityNameErrMsgItem?.isError">{{commodityNameErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label special-control-label">
                        <span>副标题</span>
                    </label>
                    <div class="control-input special-control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.subtitle" name="subtitle"
                               (focus)="onClearErrMsg()" placeholder="输入0-80个字副标题" maxlength="80" appIgnoreSpace>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="subtitleErrMsgItem?.isError">{{subtitleErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品图片</span>
                    </label>
                    <div>
                        <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
                                            [maxLength]="6" [isCutCoverImg]="true" [imageWidth]="100"
                                            [imageHeight]="100" [imageUrls]="commodityInfo.commodity_images"
                                            [minCropBoxWidth]="800" [minCropBoxHeight]="800"
                                            (selectedImgChange)="onSelectedPicture($event)" file_id="goodsImg"
                                            #goodsImg></app-z-photo-select>
                        <p class="cover-hint">注：尺寸800 × 800px，格式PNG或JPG，大小2M以内，最多上传6张</p>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="imgErrMsgItem?.isError">{{imgErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label special-control-label">
                        <span>视频介绍</span>
                    </label>
                    <div>
                        <app-z-video-select [hasAddVideo]="true" [hasDeleteVideo]="true" [videoWidth]="100"
                                            [videoHeight]="100" [videoUrls]="commodityInfo.commodity_videos"
                                            (selectedVideoChange)="onSelectedVideo($event)" file_id="goodsVideo"
                                            #goodsVideo></app-z-video-select>
                        <p class="cover-hint">注：限MP4格式，大小20M以内</p>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="videoErrMsgItem?.isError">{{videoErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品规格</span>
                    </label>
                    <div class="control-input table-container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>规格名称</th>
                                <th>原价</th>
                                <th>售价</th>
                                <th>库存</th>
                                <th></th>
                                <th style="width: 15%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let formatCommoditySpecification of FormatCommoditySpecificationList; let specificationIndex=index;">
                                <td>
                                    <div class="td-content">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.specification_name"
                                               [name]="'specification_name_' + specificationIndex"
                                               (focus)="onClearErrMsg()" placeholder="输入1-10字规格名称" minlength="1"
                                               maxlength="10" appIgnoreSpace required>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content special-td-content">
                                        <input type="number" class="form-control"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.unit_original_price"
                                               [name]="'unit_original_price_' + specificationIndex"
                                               (focus)="onClearErrMsg()" min="0.01" max="999999.99" appIgnoreSpace
                                               required>
                                        <label class="one-word-lable">元</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content special-td-content">
                                        <input type="number" class="form-control"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.unit_sell_price"
                                               [name]="'unit_sell_price_' + specificationIndex"
                                               (focus)="onClearErrMsg()" min="0.01" max="999999.99" appIgnoreSpace
                                               required>
                                        <label class="one-word-lable">元</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content stock-content">
                                        <input type="number" class="form-control"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.stock"
                                               [name]="'stock_' + specificationIndex" (focus)="onClearErrMsg()"
                                               min="0" max="10000" appIgnoreSpace required>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content sold-amount-container">
                                        <span>已售：{{formatCommoditySpecification.specification_params.sold_amount}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content operation-container">
                                        <a [title]="'移除'" *ngIf="FormatCommoditySpecificationList.length > 1"
                                           (click)="onDeleteCommoditySpecification(specificationIndex)">
                                            移除
                                        </a>
                                        <a [title]="'添加'"
                                           *ngIf="(FormatCommoditySpecificationList.length < 5) && (specificationIndex === FormatCommoditySpecificationList.length - 1)"
                                           [class.disabled]="!CheckLastCommoditySpecificationValid"
                                           (click)="onAddCommoditySpecification(specificationIndex)">
                                            添加
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="specificationErrMsgItem?.isError">{{specificationErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品描述</span>
                    </label>
                    <div class="control-input special-control-input">
                        <app-goods-editor #goodsEditor></app-goods-editor>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="editorErrMsgItem?.isError">{{editorErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button name="sure_btn" type="button" class="sure-btn" nz-button nzType="primary"
                            (appZDebounceClick)="onAddOrEditCommoditySubmit()" [disabled]="!commodityForm.form.valid">
                        保存
                    </button>
                    <button name="close_btn" type="button" class="close-btn" nz-button (click)="onCancelClick()">
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>