.commodity-content {
    min-width: 1300px;
    height: 381px;
    padding: 30px;
    background: #fff;
}

.content-container .control-input, .table-container .row-message {
    width: 900px;
}

.control-row {
    align-items: flex-start !important;
}

.special-control-input {
    flex-direction: column;
    margin-bottom: 0;
}

.row-message {
    height: 20px !important;
    line-height: 20px !important;
    font-size: 1rem !important;
}

.special-row-message {
    margin-top: -6px;
}

.special-control-input .row-message {
    margin-top: 0;
}

.row-message .control-input {
    margin-bottom: 0;
}

.special-control-label {
    padding-left: 16px !important;
}

.special-row-message .control-input {
    color: rgba(232, 32, 56, 1);
}

.table-container {
    flex-direction: column;
    margin: 0 0 20px 0;
    border: 1px solid #D1D1D1;
    background: #F7F8FA;
    border-radius: 1px;
    overflow: hidden;
}

.table-container .row-message {
    padding: 0 0.75rem;
}

.table {
    margin: 0 20px;
}

.table th, .table td {
    border: none;
}

.table th {
    color: #23242F;
    font-size: 12px;
    letter-spacing: 0.37px;
    text-align: center;
}

.table tbody tr {
    border-top: 2px solid #DBDCDE;
}

.table tbody tr:first-child {
    border-top: none;
}

.table td .td-content {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.14px;
}

.table td .td-content input {
    width: 140px;
    height: 30px;
    color: #23242F;
    padding: 0 5px;
}

.table td .special-td-content input {
    padding-right: 40px;
}

.table td .td-content .one-word-lable {
    height: 30px;
    color: #888888;
    text-align: left;
    border-left: none;
}

.table td .stock-content input {
    width: 80px;
}

.table td .sold-amount-container {
    color: #888888;
}

.operation-container {
    justify-content: space-evenly;
    color: #3E71F7;
}

.operation-container a.remove-a {
    color: #E82038;
}

.operation-container a.disabled {
    color: #888888;
    cursor: not-allowed;
}

.cover-hint {
    color: #23242F;
    font-size: 13px;
    letter-spacing: 0.15px;
    margin-bottom: 10px;
}