<div class="content-header">
    <app-crumb [level1Name]="'产品管理'" [level2Name]="'新建产品'" [level1RelativePath]="'../list'"></app-crumb>
</div>

<div class="content-flow">
    <div class='commodity-content'>
        <form nz-form class="content-layout" #ticketDetailForm="ngForm">
            <div class="card_content">
                <nz-form-item nzFlex>
                    <nz-form-label class="ml_10" [nzNoColon]='true'>副标题</nz-form-label>
                    <nz-form-control class="ml_-10">
                        <input class="subheading" [(ngModel)]="productData.product_subtitle" placeholder=" 输入0-80字副标题" nz-input
                               autocomplete="off" name="subheading" maxlength='80' />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>产品图片</nz-form-label>
                    <nz-form-control>
                        <app-z-photo-select #productImg [hasAddPicture]="true" [hasDeletePicture]="true"
                                            [limitImgSize]="2"
                                            [isCutCoverImg]="true" [aspectRatio]='4/3' [maxLength]="6"
                                            (selectedImgChange)="onSelectedPicture($event)" file_id="productImg"
                                            [imageWidth]='120'
                                            [imageHeight]='90' [imageUrls]="imgUrls" [imageAddHeight]="90"
                                            [minCropBoxWidth]="400"
                                            [minCropBoxHeight]="400">
                        </app-z-photo-select>
                        <div *ngIf="errPositionItem?.icon?.isError" class="text-danger" style='margin-top: -14px;'>
                            <span class="input-error input_time_valid">{{ errPositionItem?.icon?.errMes}}</span>
                        </div>
                        <div>注：图片比例为4:3，格式PNG或JPG或JPEG，大小2M以内，图片名称只支持中文或数字，最多上传6张</div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nzFlex>
                    <nz-form-label class="ml_10" [nzNoColon]='true'>营业时间</nz-form-label>
                    <nz-form-control class="ml_-10">
                        <input class="detail-input" [ngModel]="productData.run_time|nullDataFilter" nz-input
                               autocomplete="off"
                               name="run_time" required maxlength='20' disabled/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nzFlex>
                    <nz-form-label class="ml_10" [nzNoColon]='true'>联系电话</nz-form-label>
                    <nz-form-control class="ml_-10">
                        <input class="detail-input" [ngModel]="productData.telephone|nullDataFilter" nz-input
                               autocomplete="off"
                               name="telephone" required maxlength='12' disabled/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nzFlex>
                    <nz-form-label class="ml_10" [nzNoColon]='true'>地址</nz-form-label>
                    <nz-form-control class="ml_-10">
                        <input class="detail-input" [ngModel]="productData.address|nullDataFilter" nz-input
                               autocomplete="off"
                               name="address" maxlength='100' disabled/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nzFlex style="margin-bottom: 10px;">
                    <nz-form-label nzRequired [nzNoColon]='true'>交通指南</nz-form-label>
                    <nz-form-control>
                        <app-goods-editor #goodsEditor></app-goods-editor>
                        <div *ngIf="trafficGuideErrors" class="text-danger">
                            <span class="input-error">{{trafficGuideErrors}}</span>
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nzFlex style="margin-bottom: 10px;">
                    <nz-form-label nzRequired [nzNoColon]='true'>预订须知</nz-form-label>
                    <nz-form-control>
                        <app-product-editor2 #editor2></app-product-editor2>
                        <div *ngIf="noticeErrors" class="text-danger">
                            <span class="input-error">{{noticeErrors}}</span>
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>景区介绍</nz-form-label>
                    <nz-form-control>
                        <app-product-editor3 #editor3></app-product-editor3>
                        <div *ngIf="productIntroduceErrors" class="text-danger">
                            <span class="input-error">{{productIntroduceErrors}}</span>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </form>
    </div>
</div>