.btn-del {
    float: right;
    margin: -10px 20px 0 0;
    width: 18px;
    height: 18px;
    background: url("/assets/images/icon_clear.png") center no-repeat;
}

.btn-del-manufacturer {
    width: 18px;
    height: 18px;
    margin: 1px;
    display: inline-table;
    background: url("/assets/images/icon_clear_gray.png") center no-repeat;
}

.btn-del-info {
    float: right;
    margin: 10px 10px 0 0;
    width: 18px;
    height: 18px;
    background: url("/assets/images/icon_clear_blue.png") center no-repeat;
}

.big-bg {
    margin-right: 10px;
}

.brand-list {
    float: left;
    margin: 8px 0 0 10px;
    height: 100%;
    overflow: auto;
}

.brand-list li {
    background: #fff;
    list-style:none;
    width: 178px;
    height: 60px;
    margin-bottom: 28px;
    margin-top: 2px;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    box-shadow:0px 0px 4px 0px rgba(0,0,0,0.2);
    border-radius:4px;
}

.brand-list img:last-child {
    margin: -2px 0 0 10px;
}

.brand-img {
    width: 58px;
    height: 55px;
}

.vehicle-list {
    background: #fff;
    margin: 10px 20px 0 13%;
    /*width: 85%;*/
    height: 100%;
    padding: 20px 0 30px 30px;
    box-shadow:0px 0px 4px 0px rgba(0,0,0,0.2);
    border-radius:4px;
    overflow-y: auto;
}

.width {
    width: 208px !important;
    box-shadow:-5px 0px 4px 0px rgba(0,0,0,0.2) !important;
    font-size: 18px;
    font-weight:500;
}

.vehicle-list li {
    list-style: square inside url('/assets/images/crumb.png');
}

.vehicle-list ul {
    list-style: square inside url('/assets/images/crumb.png');
    margin-left: 30px;
}

.vehicle-list label {
    margin-top: 4px;
}

.vehicle-list img {
    margin-left: 10px;
}

.vehicle-info {
    width:705px;
    height:79px;
    background:rgba(247,248,250,1);
    border-radius:4px;
    margin-top: -15px;
    text-align: left;
}

.vehicle-info span {
    float: left;
    height: 25px;
    width:705px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
}

::ng-deep .ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle {
    height: 0 !important;
}
