<div class="main-layout">
  <!--header-->
  <div class="main-header-layout">
    <div class="logo">
      <div [routerLink]="'/main'"></div>
    </div>
    <ul class="main-herder-title">
      <li [class.herder-active]="menu===1" (click)="onMainMenuClick(1)">运营</li>
      <!--      <li [class.herder-active]="menu===2" (click)="onMainMenuClick(2)">油卡</li>-->
      <li [class.herder-active]="menu===3" (click)="onMainMenuClick(3)">保险</li>
      <li [class.herder-active]="menu===4" (click)="onMainMenuClick(4)">保养</li>
      <li [class.herder-active]="menu===5" (click)="onMainMenuClick(5)">票务</li>
    </ul>
    <div class="user">
      <!--<div class="user_photo"></div>
      <div class="user_name">{{authService.user?.username}}</div>-->
      <div class="notice-btn" (click)="onNoticeCenterClick()">
        <!-- <nz-badge [nzCount]="notice_Count"> -->
        <i class="main-header-notice"></i>
        <!-- </nz-badge> -->
      </div>
      <div class="logout-btn" (click)="onLoginoutClick()">
        <i class="main-header-logout"></i>退出
      </div>
    </div>
  </div>
  <div class="main-left-layout" [class.main-left-layout-none]="!authService.isShowExpandMenu">
    <app-expanded-menu></app-expanded-menu>
  </div>
  <div class="main-right-layout" [class.main-right-layout-all]="!authService.isShowExpandMenu">
    <div class="content-router-outlet" #routerDiv>
      <router-outlet></router-outlet>
      <router-outlet name="popup"></router-outlet>
    </div>
    <!--无权限403-->
    <app-http403-tip (displayStateChanged)="displayStateChanged()"></app-http403-tip>

    <!--服务器500-->
    <app-http500-tip (displayStateChanged)="displayStateChanged()"></app-http500-tip>

    <!-- 模态框 -->
    <app-z-prompt-box></app-z-prompt-box>
    <app-z-confirmation-box></app-z-confirmation-box>
  </div>
</div>
