<div class="content-header">
    <app-crumb [level1Name]="'推送管理'" [level2Name]="'模板消息推送'" [level2RelativePath]="'../'" [level3Name]="'明细'">
    </app-crumb>
</div>
<div class="content-flow">
    <!-- 查看明细 -->
    <div class="content-container">
        <div class="table-item banner-table">
            <table class="detail-table">
                <tr>
                    <td>模板标题：</td>
                    <td>{{templatePushDetail.title}}</td>
                    <td>用户范围：</td>
                    <td (click)="onClickViewUser()"
                        [class.selected]="templatePushDetail.user_category===UserCategory.appoint">
                        {{templatePushDetail.user_category===UserCategory.all?'全部(沈阳)':'指定用户'}}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>详细内容：</td>
                    <td colspan="5">
                        <div class="template-content-detail">
                            <h3>{{templatePushDetail.title}}</h3>
                            <p *ngIf="templatePushDetail.content.first">{{templatePushDetail.content.first}}</p>
                            <ng-container *ngFor="let content of templatePushDetail.content.keywords">
                                <p *ngIf="content.value">
                                    {{content.key}}：{{content.value}}
                                </p>
                            </ng-container>

                            <p *ngIf="templatePushDetail.content.remark">{{templatePushDetail.content.remark}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>落地页：</td>
                    <td colspan="5">
                        {{templatePushDetail.landing_page}}
                    </td>
                </tr>
                <tr>
                    <td>推送时间：</td>
                    <td colspan="5">
                        <ng-container *ngIf="templatePushDetail.send_type===SendType.pushNow">立即推送</ng-container>
                        <ng-container *ngIf="templatePushDetail.send_type===SendType.timingPush">
                            {{templatePushDetail.set_time*1000| date:"y-MM-dd HH:mm"}}
                        </ng-container>
                        <ng-container *ngIf="templatePushDetail.send_type===SendType.periodicPush">
                            <ng-container *ngIf="templatePushDetail.date_unlimited===DateUnlimited.limited">
                                {{templatePushDetail.start_date*1000| date:"y-MM-dd"}} ~
                                {{templatePushDetail.end_date*1000| date:"y-MM-dd"}}
                                <ng-container *ngFor="let checkOption of checkOptions">
                                    <ng-container *ngIf="checkOption.checked">{{checkOption.label}}</ng-container>
                                </ng-container>
                                {{time.hour}}:{{time.minute}}
                            </ng-container>
                        </ng-container>
                    </td>
                </tr>
                <tr>
                    <td>创建时间：</td>
                    <td>{{templatePushDetail.created_time*1000| date:"y-MM-dd HH:mm"}}</td>
                    <td>下线时间：</td>
                    <td>{{templatePushDetail.off_time?(templatePushDetail.off_time*1000| date:"y-MM-dd HH:mm"):'-'}}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>累计成功推送：</td>
                    <td>{{templatePushDetail.total_send_number}}</td>
                    <td>备注：</td>
                    <td>
                        <div class="template-push-remark">
                            <p [innerHTML]="templatePushDetail.remark" *ngIf="templatePushDetail.remark"></p>
                            <p *ngIf="!templatePushDetail.remark">-</p>
                            <button nz-button nzType="primary" (click)="onUpdateRemarkClick()">编辑</button>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="table-item click-table">
            <table class="detail-table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>发送人数</th>
                    <th>成功数</th>
                    <th>失败数</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sendRecord of sendRecordList">
                    <td>{{sendRecord.send_time| date:"y-MM-dd"}}</td>
                    <td>{{sendRecord.total_number}}</td>
                    <td>{{sendRecord.success_number}}</td>
                    <td>{{sendRecord.fail_number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 查看指定用户信息 -->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" id="uuCodePromptDiv">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">指定用户信息</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="control-label">
                        <span>指定用户：</span>
                    </label>
                    <div class="control-input">
                        <textarea class='form-control' [value]="templatePushDetail.uu_codes" readonly
                                  rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 修改备注信息 -->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #remarkPromptDiv>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">备注信息</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
            </div>
            <form class="form-horizontal" #editRemarkForm="ngForm">
                <div class="modal-body">
                    <div class="row">
                        <label class="control-label">
                            <span>备注：</span>
                        </label>
                        <div class="control-input">
                        <textarea class='form-control' [(ngModel)]="remark" name="remark"
                                  placeholder="200字以内..." rows="3"
                                  maxlength="200"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="close-btn" nz-button data-dismiss="modal">取消</button>
                    <button type="submit" class="sure-btn" nz-button nzType="primary"
                            [disabled]="!editRemarkForm.form.valid"
                            (appZDebounceClick)="onEditRemarkFormSubmit()">
                        确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
