<div class="content-header">
  <app-crumb [level1Name]="'产品管理'" [level1RelativePath]="'../'" [level2Name]="'门票列表'"></app-crumb>
</div>

<div class="content-flow">
  <div class="search-container">
    <form class="search-form">
      <div class="form-group">
        <input class="form-control" [(ngModel)]="product_name" placeholder="请输入关键字" autocomplete="off"
          name="third_product_name" maxlength="20" appIgnoreSpace (keyup)="searchText$.next()" />
      </div>
    </form>
  </div>
  <div class="table-container">
    <div class="zmy-table">
      <nz-table [nzData]="thirdProductList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #thirdProductTable>
        <thead>
          <tr>
            <th>ID</th>
            <th>缩略图</th>
            <th style="width: 200px;">产品名称</th>
            <th style="min-width: 150px;">所在地区</th>
            <th>状态</th>
            <th>建议零售价</th>
            <th>结算价</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of thirdProductTable.data; let i=index">
            <td>{{product.third_product_id}}</td>
            <td>
              <img *ngIf='!product.third_product_image' src="/assets/images/pro_default.png">
              <img *ngIf='product.third_product_image' style="width: 90px;" [src]="product.third_product_image">
            </td>
            <td>{{product.third_product_name}}</td>
            <td>{{product.province}}{{product.city}}<span *ngIf="product.district">{{product.district}}</span></td>
            <td>{{product.sale_status | thirdSaleStatus}}</td>
            <td>
              {{product.retail_price ? ('￥ ' + (product.retail_price|centPriceChange)) : '--'}}
            </td>
            <td>
              {{product.buy_price ? ('￥ ' + (product.buy_price|centPriceChange)) : '--'}}
            </td>
            <td class="operation">
              <a [title]="'详情'" [routerLink]="['../third-detail',product.third_product_id,product.add_status,1]">详情</a>
              <a [title]="'选用'" *ngIf="product.add_status===2" (click)="onChooseClick(product)">选用</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>