.content-flow {
    background: #fff !important;
    font-size: 14px;
}

.information-delivery-container > div:not(.break-line) {
    margin-left: 30px;
}

.break-line div {
    width: 95%;
    margin: 10px 0 15px 0 !important;
    height: 1px;
    border: 1px solid rgba(136, 136, 136, .5);
}

.content-container form .row {
    align-items: flex-start;
}

.content-container form .row .control-label {
    min-width: 120px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: inherit;
    margin-right: 10px;
}

select.form-control, .input-group {
    width: 200px;
}

.read-only-info {
    margin-bottom: 0;
}

.read-only-info > span {
    color: #3E71F7;
    margin-left: 10px;
    cursor: pointer;
}

.rich-input {
    margin-bottom: 0;
}

.err-message {
    font-size: 14px !important;
    height: 20px;
    margin-left: 125px;
    margin-top: -18px;
}

.sort-three {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sort-three > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
}

.sort-three > div:first-child {
    margin-right: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}

.tag-list {
    display: flex;
}

.tag-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-list > li:not(:last-child) {
    min-width: 104px;
    height: 34px;
    background: rgba(62, 113, 247, 1);
    border-radius: 1px;
    font-size: 14px;
    color: #fff;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    word-break: break-all;
    flex-direction: column;
}

.tag-list > li:not(:last-child) > img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.tag-list > li:last-child {
    min-width: 67px;
    height: 34px;
    background: rgba(62, 113, 247, 0.33);
    border-radius: 1px;
    padding: 0 10px;
    box-sizing: border-box;
    word-break: break-all;
    color: #3E71F7;
    margin-right: 10px;
    cursor: pointer;
}

.tag-list > li:last-child > img {
    width: 12px;
    height: 12px;
    color: #3E71F7;
    font-size: 14px;
    margin-left: 5px;
}


li + li {
    margin-left: 20px;
}

.content-container .control-input {
    width: 450px;
}

:host ::ng-deep .ant-checkbox-group-item {
    width: 140px;
    text-align: left;
}

:host ::ng-deep .content-container .form-control, :host ::ng-deep .ant-input {
    background: #fff !important;
}

:host ::ng-deep .content-container .form-control[readonly] {
    background: #e9ecef !important;
}
