<div class="content-header">
    <app-crumb [level1Name]="'二手车'" [level2Name]="'信息发布'" [level2RelativePath]="'../'" [level3Name]="levelName">
    </app-crumb>
</div>
<!--<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>-->
<!--    <nz-spin nzSimple></nz-spin>-->
<!--</div>-->
<!--[hidden]="loading"-->
<div class="content-flow">
    <div class="content-container">
        <div class="content-flow">
            <form autocomplete="off" class="form-horizontal" #editInformationDeliveryModal="ngForm">
                <div class="information-delivery-container">
                    <div class="break-line">
                        <span>详细信息</span>
                        <div></div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <span>发布城市</span>
                        </label>
                        <div class="control-input">
                            <p class="read-only-info">沈阳</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label" style="margin-top: -3px">
                            <b>*</b>
                            <span>图片</span>
                        </label>
                        <div>
                            <p class="read-only-info">首图建议使用左前45°车辆图片，展示效果更好<span
                                    (click)="onClickImageExample()">图片示例</span></p>
                            <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
                                                [maxLength]="6"
                                                [imgReg]="imgReg" [isCutCoverImg]="true" [imageWidth]="100"
                                                [imageHeight]="100"
                                                [imageUrls]="[]" [imageShowWidth]="100" [resizable]="true"
                                                (selectedImgChange)="onSelectedPicture($event,'commodity_images')"
                                                file_id="commodityImg" #commodityImg>
                            </app-z-photo-select>
                        </div>
                    </div>
                    <div class="err-message" style="margin-top: -10px;margin-bottom: 10px;margin-left: 160px;">
                        <span>{{errMessageGroup?.errJson?.commodity_images.errMes }}</span>
                    </div>
                    <div class="row">
                        <label class=" control-label">
                            <span>标签</span>
                        </label>
                        <div class="control-input">
                            <ul class="tag-list">
                                <li>
                                    <span>34535345345</span>
                                    <img src="/assets/images/tag_del.png">
                                </li>
                                <li (click)="onClickTag()">
                                    <span>选择标签</span>
                                    <img src="/assets/images/icon_add_small.png">
                                </li>
                            </ul>
                            <p class="read-only-info">最多可选择3标签</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class=" control-label">
                            <b>*</b>
                            <span>车辆识别代号（VIN码）</span>
                        </label>
                        <div class="control-input" style="flex-direction: column">
                            <input class="form-control">
                            <p class="read-only-info" style="margin-top: 10px">17位，数字和因为字母组合，不包含QIO。填写VIN码发布后不允许修改</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class=" control-label">
                            <b>*</b>
                            <span>品牌</span>
                        </label>
                        <div class="control-input">
                            <nz-input-group [nzAddOnAfter]="saveUrlBtnBrand">
                                <input class="form-control" placeholder="请选择品牌车系" nz-input readonly/>
                                <ng-template #saveUrlBtnBrand><a style="padding: 10px;" (click)="onClickBrand()">选择</a>
                                </ng-template>
                            </nz-input-group>
                        </div>
                    </div>
                    <div class="row sort-three">
                        <div>
                            <label class="control-label">
                                <b>*</b>
                                车辆颜色
                            </label>
                            <div class="control-input">
                                <select class="form-control">
                                    <option value="">请选择车辆颜色</option>
                                    <option *ngFor="let carColor of carColorList"
                                            [value]="carColor.value">{{carColor}}</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                <b>*</b>
                                首次上牌时间
                            </label>
                            <div class="control-input">
                                <nz-date-picker [(ngModel)]="registration_time" [nzShowToday]=false
                                                [nzDisabledDate]="disabledRegistrationTime"
                                                name='registration_time'
                                                nzFormat="yyyy-MM"></nz-date-picker>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                <b>*</b>
                                行驶里程
                            </label>
                            <div class="control-input">
                                <nz-input-group class="input-group" [nzAddOnAfter]="saveUrlBtn">
                                    <input class="form-control" nz-input/>
                                    <ng-template #saveUrlBtn><a style="padding: 10px;">万公里</a>
                                    </ng-template>
                                </nz-input-group>
                            </div>
                        </div>
                    </div>
                    <div class="row sort-three">
                        <div>
                            <label class="control-label">
                                <b>*</b>
                                转让价格
                            </label>
                            <div class="control-input">
                                <nz-input-group class="input-group" [nzAddOnAfter]="saveUrlBtn1">
                                    <input class="form-control" nz-input/>
                                    <ng-template #saveUrlBtn1><a style="padding: 10px;">万元</a>
                                    </ng-template>
                                </nz-input-group>
                            </div>
                        </div>
                        <div>
                            <label class="control-label" style="width: 110px">
                            </label>
                            <div class="control-input">
                                <label nz-checkbox>
                                    包含过户费用
                                </label>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                <b>*</b>
                                车辆类型
                            </label>
                            <div class="control-input">
                                <select class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <b>*</b>
                            <span>车况描述</span>
                        </label>
                        <div class="control-input rich-input">
                            <app-z-text-ckeditor ckEditorId="informationDeliveryEditor"></app-z-text-ckeditor>
                        </div>
                    </div>
                </div>
                <div class="information-delivery-container">
                    <div class="break-line">
                        <span>联系方式</span>
                        <div></div>
                    </div>
                    <div class="row">
                        <label class=" control-label">
                            <b>*</b>
                            <span>信息发布商户</span>
                        </label>
                        <div class="control-input">
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row sort-three">
                        <div>
                            <label class="control-label">
                                <b>*</b>
                                联系电话
                            </label>
                            <div class="control-input">
                                <select class="form-control">
                                    <option value="">请选择车辆颜色</option>
                                    <option *ngFor="let carColor of carColorList"
                                            [value]="carColor.value">{{carColor}}</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                <b>*</b>
                                联系人
                            </label>
                            <div class="control-input">
                                <input class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <b>*</b>
                            <span>看车地址</span>
                        </label>
                        <div class="control-input" style="width: 740px!important;">
                            <app-pro-city-dist-select [isEdit]="true" [regionsObj]="regionsObj"
                                                      #projectInfoPro></app-pro-city-dist-select>
                            <input class="form-control" style="margin-left: 10px" placeholder="详细地址">
                            <button style="margin-left: 10px" type="button" nz-button nzType="primary"
                                    (click)="onClickReach()">搜索
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                        </label>
                        <div class="control-input">
                            <input readonly class="form-control" placeholder="经度">
                            <input readonly class="form-control" placeholder="纬度" style="margin-left: 10px">
                        </div>
                    </div>
                    <div class="row">
                        <app-z-map-select-point-v2 [mapObj]="mapObj"></app-z-map-select-point-v2>
                    </div>
                </div>
                <div class="information-delivery-container">
                    <div class="break-line">
                        <span>更多信息</span>
                        <div></div>
                    </div>
                    <div class="row sort-three">
                        <div>
                            <label class="control-label">
                                <span>过户次数</span>
                            </label>
                            <div class="control-input">
                                <select class="form-control">
                                    <option value="0"></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                    <option value="6"></option>
                                    <option value="7"></option>
                                    <option value="8"></option>
                                    <option value="9"></option>
                                    <option value="10"></option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                <span>车辆是否抵押</span>
                            </label>
                            <div class="control-input">
                                <nz-radio-group>
                                    <label nz-radio [nzValue]="1">有</label>
                                    <label nz-radio [nzValue]="2">无</label>
                                </nz-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row sort-three">
                        <div>
                            <label class="control-label">
                                年检到期
                            </label>
                            <div class="control-input">
                                <nz-date-picker [(ngModel)]="registration_time" [nzShowToday]=false
                                                [nzDisabledDate]="disabledRegistrationTime"
                                                name='registration_time'
                                                nzFormat="yyyy-MM"></nz-date-picker>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                交强险到期
                            </label>
                            <div class="control-input">
                                <nz-date-picker [(ngModel)]="registration_time" [nzShowToday]=false
                                                [nzDisabledDate]="disabledRegistrationTime"
                                                name='registration_time'
                                                nzFormat="yyyy-MM"></nz-date-picker>
                            </div>
                        </div>
                        <div>
                            <label class="control-label">
                                商业险到期
                            </label>
                            <div class="control-input">
                                <nz-date-picker [(ngModel)]="registration_time" [nzShowToday]=false
                                                [nzDisabledDate]="disabledRegistrationTime"
                                                name='registration_time'
                                                nzFormat="yyyy-MM"></nz-date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: flex-start">
                        <label class="control-label">
                            车辆家装配置
                        </label>
                        <div class="control-input" style="width: 585px">
                            <nz-checkbox-group [(ngModel)]="checkOptions" name="checkOptions"></nz-checkbox-group>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="sure-btn" type="submit" nz-button nzType="primary"
                            [disabled]="!editInformationDeliveryModal.form.valid"
                            (appZDebounceClick)="onEditFormSubmit()">保存
                    </button>
                    <button class="close-btn" type="button" nz-button (click)="goToListPage()">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>


<app-select-brand></app-select-brand>

<app-image-example></app-image-example>

<app-select-tag></app-select-tag>
