:host ::ng-deep .table-container {
    background: transparent;
}

.form-group {
    padding-left: 15px;
}

.form-group input {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
    background: #315ac5;
}
