.control-input {
    width: 300px;
}

.control-label {
    width: 120px;
}
.control-input p:not(.red-tip) {
    margin-bottom: 0;
    color: #686868;
    margin-top: 5px;
}

.control-input .form-control {
    height: 34px !important;
    font-size: 14px !important;
    margin-right: 0 !important;
    background: rgba(246, 246, 246, 1);
    border-radius: 1px;
    width: 250px;
    display: inline-block;
}

.red-tip{
    color: #E3223D;
    font-size:12px;
    font-weight:400;
}

.keyword-list {
    margin-bottom: 14px;
}

.keyword-list img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.control-input > div:last-child {
    margin-bottom: 0;
}

.add-keyword {
    width: 108px;
    height: 32px;
    border: 1px solid rgba(231, 231, 231, 1);
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    box-sizing: border-box;
    color: rgba(62, 113, 247, 1);
    margin-top: 20px;
    border-radius: 0;
}

#templateDetailPromptDiv,#templateDetailPromptDiv h3{
    font-size:14px;
    font-weight:500;
    color: #23242F;
    word-break: break-all;
}

#templateDetailPromptDiv .modal-dialog{
    width: 400px;
}

#templateDetailPromptDiv p,#templateDetailPromptDiv h3{
    margin-bottom: 0;
    line-height: 25px;
}
#templateDetailPromptDiv h4{
    font-size:16px;
    color: #23242F;
    font-weight:bold;
    margin-bottom: 13px;
}
.content-example-container{
    width: 80%;
    margin: 0 auto 20px;
}
.content-example{
    border: 1px solid #EAEAEA;
    padding-top: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.content-example>p,.content-example>h3{
    margin: 0 9px;
}

.content-example-btn{
    border-top:1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 55px;
    box-sizing: border-box;
    margin-top: 10px;
}

.template-detail-bottom{
    width: 80%;
    margin: auto;
}