<div class="content-header">
    <app-crumb [level1Name]="'推送管理'" [level2Name]="'模板管理'"></app-crumb>
    <ul class="header-right">
        <li>
            <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
                    (click)="onClickCreateTemplate()">
                新建
            </button>
        </li>
    </ul>
</div>

<div class="content-flow">
    <div class="search-container">
        <form class="search-form" autocomplete="off">

            <div class="form-group">
                <span>模板标题：</span>
                <input class="form-control" placeholder="请输入模板标题" [(ngModel)]="searchParams.title" name="title"
                       maxlength="20"/>
            </div>

            <div class="form-group">
                <span>创建时间：</span>
                <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
                                name='online_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="onClickRearch()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table #TemplateTable [nzData]="templateList" [nzShowPagination]="false"
                      [nzNoResult]="noResultText">
                <thead>
                <tr>
                    <th>模板ID</th>
                    <th>模板标题</th>
                    <th>微信模板ID</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of TemplateTable.data; let templateIndex=index">
                    <!--<td>{{(nzSearchAssistant.currentPage-1)*nzSearchAssistant.pageSize+templateIndex+1}}</td>-->
                    <td [title]="data.wx_template_id">
                        <span [appTxtCopy]="data.wx_template_id">
                            {{data.wx_template_id}}
                        </span>
                    </td>
                    <td [title]="data.title">{{data.title| zMaxLength:15}}</td>
                    <td [title]="data.weixin_template_id">
                        <span [appTxtCopy]="data.weixin_template_id">
                            {{data.weixin_template_id}}
                        </span>
                    </td>
                    <td>{{data.created_time*1000| date:"y-MM-dd HH:mm"}}</td>
                    <td class="operation">
                        <a [title]="'详情'" (appZDebounceClick)="onClickDetail(data)">详情</a>
                        <a [title]="'删除'"
                           (appZDebounceClick)="onDeleteTemplateClick(data.wx_template_id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>


<!--新建-->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #templateCreatePromptDiv id="templateCreatePromptDiv">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">新建</span>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <form class="form-horizontal" #templateCreateForm="ngForm"
                  autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <label class="control-label">
                            <b>*</b>
                            <span>微信模板ID：</span>
                        </label>
                        <div class="control-input">
                            <input class="form-control" [(ngModel)]="templateCreate.weixin_template_id"
                                   name="weixin_template_id"
                                   placeholder="微信官方模板ID" appIgnoreSpace minlength="1" maxlength="200" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="close-btn" nz-button data-dismiss="modal">
                        取消
                    </button>
                    <button type="submit" class="sure-btn" nz-button nzType="primary"
                            (appZDebounceClick)="onCreateTemplateData()"
                            [disabled]="!templateCreateForm.form.valid">
                        保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--详情-->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #templateDetailPromptDiv id="templateDetailPromptDiv">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">详情</span>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body" *ngIf="templateDetail.wx_template_id">
                <div class="content-example-container">
                    <h4>内容示例</h4>
                    <div class="content-example">
                        <h3>{{templateDetail.title}}：</h3>
                        <p>*************************************</p>
                        <p *ngFor="let template of templateDetail.keywords">{{template.key}}：********************</p>
                        <p>*************************************</p>
                        <div class="content-example-btn">
                            <span>详情</span>
                            <img src="../../../../../../assets/images/icon_arrow.png">
                        </div>
                    </div>
                    <p class="red-tip">
                        注：* 处为可填写内容
                    </p>
                </div>
                <div class="template-detail-bottom">
                    <p>模板ID： {{templateDetail.wx_template_id}}</p>
                    <p>微信模板ID: {{templateDetail.weixin_template_id}}</p>
                </div>
            </div>
        </div>
    </div>
</div>