.content-flow {
  margin-left: 25px;
  font-size: 14px;
}

.check-group {
  margin-left: 5px;
}

.check-group label{
  width: 150px;
  margin-left: 5px;
  margin-bottom: 0;
  text-align: left;
}

.row-message .err-message {
  margin-top: -15px !important;
}
