<div class="content-header">
  <app-crumb [level1Name]="'积分管理'" [level2Name]="'积分订单管理'" [level2RelativePath]="'../../../list'" [level3Name]="'订单详情'">
  </app-crumb>
</div>
<div class="content-flow" *ngIf="orderDetail.integral_order_id">
  <div class='des_card'>
    <nz-card nzTitle="" class="top-card">
      <div nz-card-grid class="leftTop-card">

        <div class="delivery-status">
          {{orderStepStatus | commodityDeliveryStatus}}
          <!-- 优惠券商品 -->
          <span *ngIf="orderStepStatus===4"><span class="line"></span>
            <span *ngIf="orderDetail.delivery_status!==1&&orderDetail.delivery_status!==4"> 发货成功</span>
            <span *ngIf="orderDetail.delivery_status===4"> 发货失败</span>
          </span>

        </div>
        <div style="margin: 20px 0 10px;">
          <div class="card-text">
            <label>订单编号：</label>
            <span [appTxtCopy]='orderDetail.integral_order_id'>{{orderDetail.integral_order_id || '--'}}</span>
          </div>
          <div class="card-text">
            <label>下单时间：</label>
            <span>{{orderDetail.created_time ?(orderDetail.created_time* 1000 | date:"y-MM-dd HH:mm:ss"):'--'}}</span>
          </div>
          <div class="card-text">
            <label>下单渠道：</label>
            <!-- 第一版只有美行停车小程序 -->
            <span>美行停车小程序</span>
          </div>
        </div>
      </div>
      <div nz-card-grid class="rightTop-card">
        <div style="width: 67%;float: left; ">
          <div *ngIf="type==='3'">
            <div class="card-title">
              自动发货
            </div>
            <div class="card-content">
              此订单商品为优惠券商品，无需配送！
            </div>
            <div *ngIf="orderDetail.delivery_status===4" class="card-content" style="color: red;">
              发货失败，请人工处理。
            </div>
          </div>
        </div>
      </div>
      <div style="width: 100%;float: left;">
        <div class="leftBootm-card">
          <span class="remark_info">
            <label style="min-width: 110px;">备注（平台）：</label>
            <span>{{orderDetail.remark || '--'}}</span>
          </span>
          <button class='goods-btn' nz-button nzType="primary"
            (click)="onUpdateRemarkClick('备注（平台）')">编辑</button>
        </div>
        <div class="rightBootm-card">
          <span class="remark_info">
            <label style="min-width: 110px;">用户备注：</label>
            <span>{{orderDetail.buyer_remark|| '--'}}</span>
          </span>
        </div>
      </div>
    </nz-card>
    <nz-card nzTitle="" class="bottom-card">
      <div nz-card-grid>
        <div class="card-title">
          兑换信息
        </div>
        <div style="margin: 20px 0 10px;">
          <div class="card-text">
            <label>兑换积分：</label>
            <span>{{orderDetail.cost_integral || 0}}</span>
          </div>
          <div class="card-text">
            <label>兑换时间：</label>
            <span>{{orderDetail.pay_time?(orderDetail.pay_time * 1000 | date:'y-MM-dd HH:mm:ss'):'--'}}</span>
          </div>
        </div>
      </div>
      <div nz-card-grid>
        <div class="card-title">
          收货人信息
        </div>
        <div style="margin: 20px 0 10px;">
          <div class="card-font">
            <label style="float: left;">联系人：</label>
            <span class="con-person">{{orderDetail.name||'--'}}</span>
            <a *ngIf="orderDetail.name||orderDetail.telephone" [appTxtCopy]='orderInfo'><img
                src="/assets/images/copy.png" /></a>
            <div style="clear: both;"></div>
          </div>
          <div class="card-text">
            <label>联系电话：</label>
            <span>{{orderDetail.telephone||'--'}}</span>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="table-item" style="margin-bottom: 30px;">
    <table class="detail-table">
      <caption>商品明细</caption>
      <thead>
        <tr>
          <th>商品名称</th>
          <th>类型</th>
          <th>数量</th>
          <th>兑换积分</th>
          <th>总积分</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commodity of commodityInfo;let i=index">
          <ng-container>
            <td>
              <div class="img-item">
                <img *ngIf="!commodity.commodity_images||commodity.commodity_images.length===0"
                  src="/assets/images/icon_no_img.png" />
                <img *ngIf="commodity.commodity_images&&commodity.commodity_images.length>0"
                  src={{commodity.commodity_images[0]}} />
                <div style="display: grid;text-align: left;">
                  <a
                    [routerLink]="['/main/operation/integral-management/integral-mall/detail', commodity.commodity_id,commodity.commodity_type]">
                    {{commodity.commodity_name||'--'}}</a>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container *ngIf="!commodityInfo||commodityInfo.length===0">
            <td>
              <img src="/assets/images/icon_no_img.png" />
            </td>
          </ng-container>
          <td>{{(commodity.commodity_type|integralCommodityType)||'--'}}</td>
          <td>{{commodity.amount||0}}</td>
          <td>
            {{commodity.integral_amount || 0}}
          </td>
          <td>
            {{orderDetail.cost_integral || 0}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-order-remark #orderRemark></app-order-remark>