<div class="content-header">
    <app-crumb [level1Name]="'运营配置'" [level2Name]="'幸运抽奖'" [level3Name]="'抽奖记录'" [level2RelativePath]="'../'"></app-crumb>
</div>
<div class="content-flow">
    <div class="tab-bar-list">
        <nz-radio-group [nzButtonStyle]="'solid'" [(ngModel)]="tabIndex">
            <label nz-radio-button [nzValue]=1 (click)="onTabChange(1)">抽奖记录</label>
            <label nz-radio-button [nzValue]=2 (click)="onTabChange(2)">访问量</label>
        </nz-radio-group>
    </div>
    <div *ngIf="tabIndex===1">
        <div class="statistics-space">
            <div style="width: 30%">
                <span>{{activityData.lottery_activity_name}}</span>
                <span>{{(activityData.start_time * 1000 | date:"y-MM-dd HH:mm") + '-' +
                    (activityData.end_time * 1000 | date:"y-MM-dd HH:mm")}}</span>
            </div>
            <div class="statistics-space-prize">
                <div>
                    <label></label>
                    <span>累计参与抽奖次数</span>
                    <span>{{activityData.lottery_num||0}}</span>
                </div>
                <div>
                    <label></label>
                    <span>累计参与抽奖人数</span>
                    <span>{{activityData.lottery_people_num||0}}</span>
                </div>
            </div>
            <div class="statistics-space-prize tip-color">
                <div>
                    <label></label>
                    <span>累计中奖次数</span>
                    <span>{{activityData.win_num||0}}</span>
                </div>
                <div>
                    <label></label>
                    <span>累计中奖人数</span>
                    <span>{{activityData.win_people_num||0}}</span>
                </div>
            </div>
        </div>
        <div class="search-container">
            <form class="search-form" autocomplete="off">
                <div class="form-group">
                    <span>中奖状态：</span>
                    <select name="is_prize" class="form-control" [(ngModel)]="searchParams.is_prize">
                        <option value=''>全部</option>
                        <option value=1>中奖</option>
                        <option value=0>未中奖</option>
                    </select>
                </div>
                <div class="form-group">
                    <span>微信昵称：</span>
                    <input class="form-control" placeholder="请输入微信昵称" maxlength="20" name="wx_nickname" [(ngModel)]="searchParams.wx_nickname" />
                </div>
                <div class="form-group">
                    <span>ID：</span>
                    <input name="htcode" class="form-control" placeholder="请输入ID" maxlength="32"
                           [(ngModel)]="searchParams.htcode" oninput="value=value.replace(/[^a-zA-Z0-9]/ig,'')" appIgnoreSpace />
                </div>
                <div class="form-group">
                    <span>手机号：</span>
                    <input name="phone_num" class="form-control" placeholder="请输入手机号" maxlength="11"
                           [(ngModel)]="searchParams.phone_num" oninput="value=value.replace(/[^a-zA-Z0-9]/ig,'')" appIgnoreSpace />
                    <div class="search-btn-group">
                        <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-container">
            <div class="zmy-table">
                <nz-table #drawTable [nzData]="drawList" [nzPageSize]="'15'" [(nzPageIndex)]="pageIndex"
                          (nzPageIndexChange)="onNZPageIndexChange($event)" [nzNoResult]="noResultText">
                    <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>微信昵称</th>
                        <th>手机号</th>
                        <th>中奖信息</th>
                        <th>领取状态</th>
                        <th>抽奖时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of drawTable.data; let i=index">
                        <td [title]="data.htcode">{{data.htcode|zMaxLength:16}}</td>

                        <td [title]="data.wx_nickname">{{data.wx_nickname|zMaxLength: 10}}</td>

                        <td>{{data.phone_num?data.phone_num:'--'}}</td>

                        <td>{{data.prize_info?.prize_name?data.prize_info?.prize_name:'--'}}</td>

                        <td>{{data.exchange_status===1?'未兑换':data.exchange_status===2?'已兑换':'--'}}</td>

                        <td>{{data.created_time ?(data.created_time * 1000 | date:"y-MM-dd HH:mm:ss"):'--'}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <div *ngIf="tabIndex===2">
        <div class="statistics-space">
            <div style="width: 30%">
                <span>{{activityData.lottery_activity_name}}</span>
                <span>{{(activityData.start_time * 1000 | date:"y-MM-dd HH:mm") + '-' +
                (activityData.end_time * 1000 | date:"y-MM-dd HH:mm")}}</span>
            </div>
            <div class="statistics-space-prize">
                <div>
                    <label></label>
                    <span>累计访问量</span>
                    <span>{{activityData.click_num||0}}</span>
                </div>
                <div>
                    <label></label>
                    <span>累计访问人数</span>
                    <span>{{activityData.click_person||0}}</span>
                </div>
            </div>
        </div>
        <div class="search-container">
            <form class="search-form" autocomplete="off">
                <div class="form-group">
                    <span>日期：</span>
                    <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
                                    [nzShowTime]="false" name='online_start_time' nzFormat="yyyy-MM-dd"></nz-date-picker>
                    <span class='line'>-</span>
                    <nz-date-picker [(ngModel)]="end_time" [nzShowToday]=false [nzDisabledDate]="disabledEndTime"
                                    [nzShowTime]="false" name='online_start_time' nzFormat="yyyy-MM-dd"></nz-date-picker>
                    <div class="search-btn-group">
                        <button nz-button nzType="primary" (click)="onClickSearchBtnClick()">查询
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-container">
            <div class="zmy-table">
                <nz-table #clickTable [nzData]="clicksList" [nzPageSize]="'15'" [(nzPageIndex)]="pageIndex"
                          (nzPageIndexChange)="onClickNZPageIndexChange($event)" [nzNoResult]="noResultText">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>访问量</th>
                        <th>访问人数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of clickTable.data; let i=index">
                        <td>{{data.date?(data.date * 1000 | date:"y-MM-dd HH:mm"):'--'}}</td>

                        <td>{{data.click_num||0}}</td>

                        <td>{{data.click_person||0}}</td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
