.form-control:focus {
  box-shadow: none !important;
}

.form-control:not(.five-number):focus {
  border-color: #3E71F7 !important;
}

.control-input label {
  margin-bottom: 0 !important;
}

.five-number {
  width: 100px !important;
}

.inline-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.inline-item .one-word-lable {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  border: 1px solid #d9d9d9;
  color: #888;
  background: #fafafa;
  text-align: center;
  border-radius: 1px;
}

.err-message {
  font-size: 12px !important;
  height: 20px;
  margin-left: 128px;
  margin-top: -18px;
}