<div class="content-header">
    <app-crumb [level1Name]="'活动管理'" [level2Name]="'分销活动'"></app-crumb>
    <ul class="header-right">
        <li>
            <button name="sure_btn" type="button" class="header-btn" nz-button nzType="primary"
                    [routerLink]="['../activity-create']">
                新建
            </button>
        </li>
    </ul>
</div>

<div class="content-flow">
    <div class="search-container">
        <form class="search-form" autocomplete="off">

            <div class="form-group">
                <span>名称：</span>
                <input class="form-control" placeholder="请输入名称" [(ngModel)]="searchParams.title" appIgnoreSpace
                       name="title"
                       maxlength="20"/>
            </div>
            <div class="form-group">
                <span>ID：</span>
                <input class="form-control" placeholder="请输入ID" [(ngModel)]="searchParams.activity_id" appIgnoreSpace
                       name="activity_id"
                       maxlength="50"/>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(false)">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table #DistributionActivityTable [nzData]="nzSearchAssistant.nzData"
                      [nzPageSize]="nzSearchAssistant.pageSize"
                      [(nzPageIndex)]="nzSearchAssistant.currentPage"
                      (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>ID</th>
                    <th>活动名称</th>
                    <th>活动时间</th>
                    <th>浏览量</th>
                    <th>浏览人数</th>
                    <th>下单数</th>
                    <th>上线状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of DistributionActivityTable.data; let templateIndex=index">
                    <td>{{(nzSearchAssistant.currentPage - 1) * nzSearchAssistant.pageSize + templateIndex + 1}}</td>
                    <td [title]="data.activity_id">
                         <span [appTxtCopy]="data.activity_id">
                            {{data.activity_id}}
                        </span>
                    </td>
                    <td [title]="data.title">
                        {{data.title|zMaxLength:8}}
                    </td>
                    <td>
                        <ng-container *ngIf="data.start_time&&data.end_time">
                            <div>{{data.start_time * 1000| date:"y-MM-dd HH:mm"}}</div>
                            <div>{{data.end_time * 1000| date:"y-MM-dd HH:mm"}}</div>
                        </ng-container>
                        <ng-container *ngIf="!data.start_time||!data.end_time">
                            --
                        </ng-container>
                    </td>
                    <td>
                        {{data.total_page_view}}
                    </td>
                    <td>
                        {{data.total_user_view}}
                    </td>
                    <td>{{data.total_order_number}}</td>
                    <td>
                        <nz-switch [ngModel]="data.online_status===OnlineStatus.on"
                                   nzCheckedChildren="On"
                                   [nzControl]=true
                                   style="height: 10px"
                                   nzUnCheckedChildren="Off"
                                   (click)="onSwitchChange(data)"></nz-switch>
                    </td>
                    <td class="operation">
                        <a [title]="'商家'"
                           [routerLink]="['../activity-detail',data.activity_id,ActivityType.business]">商家</a>
                        <a [title]="'编辑'" [routerLink]="['../activity-edit',data.activity_id]">编辑</a>
                        <a [title]="'删除'" (appZDebounceClick)="onClickDelete(data.activity_id)">删除</a>
                        <a [title]="'详情'"
                           [routerLink]="['../activity-detail',data.activity_id,ActivityType.detail]">详情</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
