.modal {
  z-index: 800 !important;
}

.modal-dialog {
  max-width: 800px !important;
}

.modal-footer {
  padding: 15px 90px 30px !important;
}

.form-control {
  height: 32px;
  width: 320px;
  padding: 2px 0;
  border-radius: 1px;
  background: #f8f9fb;
}

.content-layout {
  padding: 20px 40px;
}

::ng-deep .content-layout .ant-form-item {
  margin-bottom: 12px;
}

.price-input {
  height: 34px;
  width: 320px;
}

.price-control {
  margin-bottom: 10px;
}

.price-control img {
  cursor: pointer;
}

:host ::ng-deep .ant-calendar-picker {
  width: 150px !important;
}

:host ::ng-deep .ant-input {
  width: 150px;
  height: 34px;
}

.defult-prompt {
  margin-left: 93px;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(136, 136, 136, 1);
}

.line {
  width: 4px;
  height: 2px;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin: 0 10px;
}

.plat-input {
  margin: 0 10px;
}

.add-btn {
  width: 60px;
  margin: 0 5px;
}

.del-btn {
  width: 60px;
}

.unit {
  position: absolute;
  left: 460px;
}

.select-control {
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}