<div class="content-header">
    <app-crumb [level1Name]="'产品管理'" [level2Name]="levelTwoName" [level1RelativePath]="listRelativePath"></app-crumb>
</div>

<div class="content-flow">
    <div class='content-container'>
        <form class="form-horizontal" #commodityForm="ngForm" autocomplete="off">
            <div class="card_content">
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>商品类型</span>
                    </label>
                    <div class="control-input">
                        <a name="commodity_type" class="commodity-type-btn" [class.active-btn]="commodityInfo.commodity_type===1"
                           (click)="onChangeCommodityType(1)">实物商品</a>
                        <a name="commodity_type" class="commodity-type-btn" [class.active-btn]="commodityInfo.commodity_type===2"
                           (click)="onChangeCommodityType(2)" style="margin-right: 5px">虚拟商品</a>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品名称</span>
                    </label>
                    <div class="control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.commodity_name"
                               name="commodity_name" placeholder="输入1-20个字标题" minlength="1" maxlength="20"
                               appIgnoreSpace required>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label special-control-label">
                        <span>副标题</span>
                    </label>
                    <div class="control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.subtitle" name="subtitle"
                               placeholder="输入0-80个字副标题" maxlength="80" appIgnoreSpace>

                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品图片</span>
                    </label>
                    <div>
                        <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
                                            [maxLength]="6" [isCutCoverImg]="true" [imageWidth]="100"
                                            [imageHeight]="100" [imageUrls]="commodityInfo.commodity_images"
                                            [minCropBoxWidth]="400" [minCropBoxHeight]="400"
                                            (selectedImgChange)="onSelectedPicture($event)" file_id="goodsImg"
                                            #goodsImg></app-z-photo-select>
                        <p class="cover-hint">注：尺寸800 × 800px，格式PNG或JPG，大小2M以内，最多上传6张</p>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="imgErrMsgItem?.isError">{{imgErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label special-control-label">
                        <span>视频介绍</span>
                    </label>
                    <div>
                        <app-z-video-select [hasAddVideo]="true" [hasDeleteVideo]="true" [videoWidth]="100"
                                            [videoHeight]="100" [videoUrls]="commodityInfo.commodity_videos"
                                            (selectedVideoChange)="onSelectedVideo($event)" file_id="goodsVideo"
                                            #goodsVideo></app-z-video-select>
                        <p class="cover-hint">注：限MP4格式，大小20M以内</p>
                        <div class="row row-message special-row-message">
                            <div class="control-input">
                                <span *ngIf="videoErrMsgItem?.isError">{{videoErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品规格</span>
                    </label>
                    <div class="control-input table-container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>规格名称</th>
                                <th>原价</th>
                                <th>售价</th>
                                <th>库存</th>
                                <th></th>
                                <th style="width: 15%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let formatCommoditySpecification of FormatCommoditySpecificationList; let specificationIndex=index;">
                                <td>
                                    <div class="td-content">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.specification_name"
                                               [name]="'specification_name_' + formatCommoditySpecification.idCount"
                                               (input)="initErrMsg()" placeholder="输入1-10字规格名称" minlength="1"
                                               maxlength="10" appIgnoreSpace>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content special-td-content">
                                        <input type="text" class="form-control"
                                               [id]="'unit_original_price_' + formatCommoditySpecification.idCount"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.unit_original_price"
                                               [name]="'unit_original_price_' + formatCommoditySpecification.idCount"
                                               (blur)="reverseSpecificationParams(specificationIndex, $event, 1)"
                                               (input)="initErrMsg()" maxlength="9" appIgnoreSpace>
                                        <label class="one-word-lable">元</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content special-td-content">
                                        <input type="text" class="form-control"
                                               [id]="'unit_sell_price_' + formatCommoditySpecification.idCount"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.unit_sell_price"
                                               [name]="'unit_sell_price_' + formatCommoditySpecification.idCount"
                                               (blur)="reverseSpecificationParams(specificationIndex, $event, 2)"
                                               (input)="initErrMsg()" maxlength="9" appIgnoreSpace>
                                        <label class="one-word-lable">元</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content stock-content">
                                        <input type="text" class="form-control"
                                               [id]="'stock_' + formatCommoditySpecification.idCount"
                                               [(ngModel)]="formatCommoditySpecification.specification_params.stock"
                                               [name]="'stock_' + formatCommoditySpecification.idCount"
                                               (blur)="reverseSpecificationParams(specificationIndex, $event, 3)"
                                               (input)="initErrMsg()" maxlength="5" appIgnoreSpace>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content sold-amount-container">
                                        <span>已售：{{formatCommoditySpecification.specification_params.sold_amount}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content operation-container">
                                        <a class="remove-a" [title]="'移除'"
                                           *ngIf="FormatCommoditySpecificationList.length > 1"
                                           (click)="onDeleteCommoditySpecification(specificationIndex)">
                                            移除
                                        </a>
                                        <a [title]="'添加'"
                                           *ngIf="(FormatCommoditySpecificationList.length < 5) && (specificationIndex === FormatCommoditySpecificationList.length - 1)"
                                           [class.disabled]="!CheckCommoditySpecificationValid"
                                           (click)="onAddCommoditySpecification()">
                                            添加
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row row-message">
                            <div class="control-input">
                                <span *ngIf="specificationErrMsgItem?.isError">{{specificationErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>每人限购</span>
                    </label>
                    <div class="control-input" style="width: 350px">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.buy_max_num"
                               name="buy_max_num" placeholder="不输则为不限制购买数量" maxlength="2"
                               oninput="if(value>59){value=59}else{value=value.replace(/[^0-9]/ig,'')}" appIgnoreSpace required>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品描述</span>
                    </label>
                    <div class="control-input description-input">
                        <app-z-text-ckeditor ckEditorId="goodsEditor"></app-z-text-ckeditor>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label"></label>
                    <div class="control-input special-control-input" style="margin-bottom: 10px;">
                        <div class="row row-message">
                            <div class="control-input">
                                <span *ngIf="editorErrMsgItem?.isError">{{editorErrMsgItem?.errMes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button name="sure_btn" type="button" class="sure-btn" nz-button nzType="primary"
                            (appZDebounceClick)="onAddOrEditCommoditySubmit()"
                            [disabled]="!commodityForm.form.valid || !CheckImgValid || !CheckCommoditySpecificationValid || !CheckEditorValid">
                        保存
                    </button>
                    <button name="close_btn" type="button" class="close-btn" nz-button (click)="onCancelClick()">
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
