<div class="content-header">
    <app-crumb [level1Name]="'商家列表'" [level2Name]="'编辑'" [level1RelativePath]="'../../list'"></app-crumb>
</div>
<div class="content-flow">
    <div class="content-main">
        <form (keydown)="onKeydownEvent($event)" class="form-horizontal" #editForm="ngForm">
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>所属企业</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="company_name" name="company_name" disabled>
                </div>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>店铺名称</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.mall_business_name" name="mall_business_name" disabled>
                </div>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>类型</span>
                </label>
                <div class="control-input">
                    <select class="form-control" [(ngModel)]="currentBusiness.business_type" name="business_type" disabled>
                        <option value="">全部</option>
                        <option value="1">商城供应商</option>
                    </select>
                </div>
            </div>
            <div class="row" style="height: 110px">
                <label class=" control-label">
                    <b>*</b>
                    <span>商家图片</span>
                </label>
                <ul style="display: flex">
                    <li *ngFor="let item of currentBusiness.images;let i=index;" style="margin-right: 15px">
                        <img [src]="item" style="width: 100px;height: 100px">
                    </li>
                </ul>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>联系人</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.contacts" name="contacts" disabled>
                </div>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>联系电话</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.telephone" name="telephone" disabled>
                </div>
            </div>
            <div class="row">
                <label class=" control-label">
                    <b>*</b>
                    <span>门店地址</span>
                </label>
                <div class="control-input" style="width: 540px!important;">
                    <app-pro-city-dist-select [isEdit]="false" #projectInfoPro></app-pro-city-dist-select>
                    <input class="form-control" style="margin-left: 10px" placeholder="详细地址" [(ngModel)]="currentBusiness.address"
                           [title]="currentBusiness.address" name="address" disabled>
                </div>
            </div>
            <div class="row">
                <label class=" control-label">
                    <b>*</b>
                    <span>地图坐标</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.lon + '、' + currentBusiness.lat" name="lon" disabled>
                    <button class="common-btn" nz-button (click)="openMapModal()">查看</button>
                </div>
            </div>
            <div class="row">
                <label class=" control-label">
                    <b>&nbsp;</b>
                    <span>&nbsp;</span>
                </label>
                <label nz-checkbox [(ngModel)]="postage_status" name="postage_status" required>发货需要录入物流邮费</label>
            </div>
            <div style="margin-top: 40px;margin-bottom: 40px">
                <button class="sure-btn" nz-button nzType="primary"
                        (appZDebounceClick)="onEditFormSubmit()">保存
                </button>
                <button class="close-btn" nz-button (click)="onClose()">取消</button>
            </div>
        </form>
    </div>
</div>

<!-- 地图组件 -->
<app-z-map-select-point [mapObj]="mapItem"></app-z-map-select-point>
