.content-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 10px;
  /* display: flex; */
  background: #fff;
  /* align-items: center; */
  font-size: 13px;
}

.table-item {
  width: 100%;
  min-width: 800px;
}

.click-table {
  margin-top: 60px;
}

.banner-table table tr>td {
  text-align: left;
}

.table-item table {
  border: 1px solid #d4d4d4;
  text-align: center;
  word-break: break-all;
  width: 100%;
  margin: 0;
}

.table-item table tr {
  height: 50px;
}

.table-item table tr>td,
.table-item table>thead tr>th,
.table-item table>tbody tr>td {
  height: 50px;
  box-sizing:border-box;
  padding: 4px 8px;
  color: #23242f;
  font-size: 12px;
  vertical-align: middle;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  cursor: default;
  padding-left: 30px;
}

.table-item table>thead tr>th {
  background-color: #f7f8fa;
}

.banner-table table tr:first-child>td:nth-child(even),
.banner-table table tr>td:nth-child(odd) {
  min-width: 118px;
  background: #F7F8FA;
}

.banner-table table tr:first-child>td:nth-child(odd) {
  background: #fff;
}

.detail-table {
  width: 100%;
}

.detail-table caption {
  caption-side: top;
  font-size: 18px;
  color: #23242F;
  font-weight: 500;
  text-indent: 10px;
}

.td-img {
  padding: 0 !important;
  width: 300px;
  background: #fff !important;
  text-align: center !important;
}