<div class="content-header">
  <app-crumb [level1Name]="'配件库'" [level1RelativePath]="'../'" [level2Name]="accessory_id?'编辑配件':'创建配件'"></app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
  <div class='des_card'>
    <form nz-form class="content-layout" #workFeesForm="ngForm" autocomplete="off">
      <div class="card_content">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>所属项目</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzAddOnAfter]="chooseBtn">
              <input class="pro-input" nz-input [(ngModel)]="accessoryParams.project_name" name="project" required
                readonly />
              <ng-template #chooseBtn><a style="padding: 10px;" (click)='onOpenProjectModal()'>选择</a></ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id'>
          <nz-form-label nzRequired [nzNoColon]='true'>产品名称</nz-form-label>
          <nz-form-control>
            <input class="pro-name" [(ngModel)]="accessoryParams.accessory_name" placeholder="输入1-30个字标题" nz-input
              name="accessory-name" required maxlength='30' appIgnoreSpace />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex [hidden]='!accessoryParams.project_id'>
          <nz-form-label nzRequired [nzNoColon]='true'>图片</nz-form-label>
          <nz-form-control>
            <app-z-photo-select #accessoryImg file_id="accessoryImg" [hasAddPicture]="true" [hasDeletePicture]="true"
              [limitImgSize]="2" [isCutCoverImg]="true" [aspectRatio]='1/1' [maxLength]="6"
              (selectedImgChange)="onSelectedPicture($event)" [imageWidth]='100' [imageHeight]='100'
              [imageUrls]="accessory_image_url" [imageAddHeight]="100" [minCropBoxWidth]="400" [minCropBoxHeight]="400">
            </app-z-photo-select>
            <div *ngIf="errPositionItem?.icon?.isError" class="text-danger" style='margin-top: -14px;'>
              <span class="input-error input_time_valid">{{ errPositionItem?.icon?.errMes}}</span>
            </div>
            <div>注：尺寸800 × 800px，格式PNG或JPG，大小2M以内，最多上传6张</div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id'>
          <nz-form-label nzRequired [nzNoColon]='true'>所属品牌</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzAddOnAfter]="chooseBtn">
              <input class="pro-input" nz-input [(ngModel)]="accessoryParams.accessory_brand_name" autocomplete="off"
                name="brand_name" required readonly />
              <ng-template #chooseBtn><a style="padding: 10px;" (click)='onOpenBrandModal()'>选择</a></ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <!-- 机油参数 -->
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id&&accessoryParams.project_name==="机油"'>
          <nz-form-label [nzNoColon]='true'>参数</nz-form-label>
          <nz-form-control>
            <div class="params-box">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>机油标号</nz-form-label>
                    <nz-form-control>
                      <select class="form-control" name="oil_num" [(ngModel)]="accessoryParams.accessory_params.oil_num"
                        required>
                        <option value="">请选择</option>
                        <option *ngFor='let data of oil_num' [value]=data>{{data}}</option>
                      </select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>机油类别</nz-form-label>
                    <nz-form-control>
                      <select class="form-control" name="oil_type"
                        [(ngModel)]="accessoryParams.accessory_params.oil_type" required>
                        <option value="">请选择</option>
                        <option *ngFor='let data of oil_type' [value]=data>{{data}}</option>
                      </select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>API等级</nz-form-label>
                    <nz-form-control class="ml_10">
                      <select class="form-control" name="oil_api"
                        [(ngModel)]="accessoryParams.accessory_params.oil_api">
                        <option value="">请选择</option>
                        <option *ngFor='let data of oil_api' [value]=data>{{data}}</option>
                      </select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>商品产地</nz-form-label>
                    <nz-form-control>
                      <input class="params" [(ngModel)]="accessoryParams.accessory_params.oil_place"
                        placeholder="输入0-50字" nz-input autocomplete="off" name="oil_place" maxlength='50' />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>保质期</nz-form-label>
                    <nz-form-control>
                      <input class="params" placeholder="输入0-20字"
                        [(ngModel)]="accessoryParams.accessory_params.oil_expire" nz-input autocomplete="off"
                        name="oil_expire" maxlength='20' />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <!-- 机滤价格 -->
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id&&accessoryParams.project_name==="机油滤清器"'>
          <nz-form-label nzRequired [nzNoColon]='true'>价格</nz-form-label>
          <nz-form-control>
            <div class="table-form">
              <nz-table [nzData]="spaceList" [nzFrontPagination]='false' #priceInfoTable>
                <thead>
                  <tr>
                    <th>原价</th>
                    <th>结算价</th>
                    <th>售价</th>
                    <th>库存</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="price_info.original_fee" nz-input autocomplete="off"
                          name="info_original_fee" required maxlength='8' appFloatNumber [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="price_info.settlement_fee" nz-input autocomplete="off"
                          name="settlement_fee" required maxlength='8' appFloatNumber [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="price_info.sale_fee" nz-input autocomplete="off"
                          name="info_sale_fee" required maxlength='8' appFloatNumber [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <input class="price-input" [(ngModel)]="price_info.store" nz-input autocomplete="off"
                        name="info_store" required maxlength='5' appIntNumber="true" />
                    </td>
                    <td>
                      <span class='volume'>已售：{{accessoryData.sale_num||0}}</span>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <div class="text-danger">
              <span class="input-error">{{specificationErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <!-- 蓄电池参数 -->
        <!-- <nz-form-item nzFlex *ngIf='accessoryParams.project_id&&accessoryParams.project_name==="蓄电池"'>
          <nz-form-label [nzNoColon]='true'>参数</nz-form-label>
          <nz-form-control>
            <div class="params-box">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>额定电压</nz-form-label>
                    <nz-form-control>
                      <input class="params" nz-input autocomplete="off" name="main-title" required maxlength='20' />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>保质期</nz-form-label>
                    <nz-form-control>
                      <input class="params" nz-input autocomplete="off" name="main-title" required maxlength='20' />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item> -->
        <!-- 机油规格 -->
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id&&accessoryParams.project_name=="机油"'>
          <nz-form-label nzRequired [nzNoColon]='true'>规格</nz-form-label>
          <nz-form-control>
            <div class="table-form">
              <nz-table [nzData]="spaceList" [nzShowPagination]="false" [nzFrontPagination]='false'
                [nzNoResult]="noResultText" #basicTable [nzScroll]="{ y: '400px' }">
                <thead>
                  <tr>
                    <th style="width: 70px;">图片</th>
                    <th style="width: 100px;">净含量</th>
                    <th style="width: 120px;">原价</th>
                    <th style="width: 120px;">结算价</th>
                    <th style="width: 120px;">售价</th>
                    <th style="width: 100px;">库存</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of specificationsList; let i=index">
                    <td>
                      <div style="margin-left: 22px;">
                        <app-z-photo-select #specificationsImg [hasAddPicture]="true" [hasDeletePicture]="true"
                          [limitImgSize]="2" [isCutCoverImg]="true" [isChangeAddPic]='true' [aspectRatio]='1/1'
                          [maxLength]="1" file_id="specificationsImg-{{data.time}}-{{i}}" [imageUrls]="data.imageList"
                          [imageWidth]='30' [imageHeight]='30' [imageAddHeight]="30"
                          (selectedImgChange)="onSelectSpecificationsPic($event,i)" [imageDelWidth]='12'
                          [imageDelHeight]='12' [minCropBoxWidth]="100" [minCropBoxHeight]="100">
                        </app-z-photo-select>
                        <div *ngIf="errSpecificationsItem?.icon?.isError&&specifications_image_num===i"
                          class="text-danger img-danger">
                          <span class="input-error input_time_valid">{{ errSpecificationsItem?.icon?.errMes}}</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="'L'">
                        <input class="price-input" [(ngModel)]="data.content" nz-input autocomplete="off"
                          name="content-{{data.time}}-{{i}}" required maxlength='8' appFloatNumber
                          [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="data.original_fee" nz-input autocomplete="off"
                          name="original-fee-{{data.time}}-{{i}}" required maxlength='8' appFloatNumber
                          [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="data.settlement_fee" nz-input autocomplete="off"
                          name="settlement-fee-{{data.time}}-{{i}}" required maxlength='8' appFloatNumber
                          [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="data.sale_fee" nz-input autocomplete="off"
                          name="sale-fee-{{data.time}}-{{i}}" required maxlength='8' appFloatNumber
                          [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <input class="price-input" [(ngModel)]="data.store" nz-input autocomplete="off"
                        name="store-{{data.time}}-{{i}}" placeholder="0-99999" required maxlength='5'
                        appIntNumber="true" />
                    </td>
                    <td style="width: 100px;">
                      <span class='volume'>已售：{{data.sale_num||0}}</span>
                    </td>
                    <td class="operation">
                      <a [title]="'移除'" class="del-btn" *ngIf="specificationsList.length>1"
                        (click)="onDelSpecifications(data,i)">移除</a>
                      <a [title]="'添加'" class="add-btn"
                        *ngIf="specificationsList.length<50 && i===specificationsList.length-1"
                        (click)="onAddSpecifications()">添加</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <div class="text-danger">
              <span class="input-error">{{specificationErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <!-- 蓄电池规格 -->
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id&&accessoryParams.project_name==="蓄电池"'>
          <nz-form-label nzRequired [nzNoColon]='true'>规格</nz-form-label>
          <nz-form-control>
            <div class="table-form">
              <nz-table [nzData]="specificationsList" [nzShowPagination]="false" [nzFrontPagination]='false'
                [nzNoResult]="noResultText" #basicTable [nzScroll]="{ y: '400px' }">
                <thead>
                  <tr>
                    <th style="width: 50px">图片</th>
                    <th style="width: 80px;">型号</th>
                    <!-- <th style="width: 80px;">容量</th> -->
                    <th style="width: 95px;">尾款原价</th>
                    <th style="width: 110px;">尾款现价</th>
                    <th style="width: 60px;">库存</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of specificationsList; let i=index">
                    <td>
                      <div style="margin-left: 22px;">
                        <app-z-photo-select #specificationsImg [hasAddPicture]="true" [hasDeletePicture]="true"
                          [limitImgSize]="2" [isCutCoverImg]="true" [isChangeAddPic]='true' [aspectRatio]='1/1'
                          [maxLength]="1" file_id="specificationsImg-{{data.time}}-{{i}}" [imageUrls]="data.imageList"
                          [imageWidth]='30' [imageHeight]='30' [imageAddHeight]="30"
                          (selectedImgChange)="onSelectSpecificationsPic($event,i)" [imageDelWidth]='12'
                          [imageDelHeight]='12' [minCropBoxWidth]="100" [minCropBoxHeight]="100">
                        </app-z-photo-select>
                        <div *ngIf="errSpecificationsItem?.icon?.isError&&specifications_image_num===i"
                          class="text-danger img-danger">
                          <span class="input-error input_time_valid">{{ errSpecificationsItem?.icon?.errMes}}</span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <nz-input-group>
                        <input class="price-input" [(ngModel)]="data.battery_model" nz-input autocomplete="off"
                          name="accessory-model-{{data.time}}-{{i}}" maxlength='50' required />
                      </nz-input-group>
                    </td>
                    <!-- 容量 -->
                    <!-- <td style="width: 125px;">
                      <nz-input-group [nzSuffix]="'AH'">
                        <input class="price-input" [(ngModel)]="data.content" nz-input autocomplete="off"
                          name="original-fee-{{data.time}}-{{i}}" required maxlength='8' />
                      </nz-input-group>
                    </td> -->
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="data.original_balance_fee" nz-input autocomplete="off"
                          name="original-fee-{{data.time}}-{{i}}" required maxlength='8' appFloatNumber
                          [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="'元'">
                        <input class="price-input" [(ngModel)]="data.sale_balance_fee" nz-input autocomplete="off"
                          name="sale-fee-{{data.time}}-{{i}}" required maxlength='8' appFloatNumber
                          [appMaxNumber]='99999.99' />
                      </nz-input-group>
                    </td>
                    <td>
                      <input class="price-input" [(ngModel)]="data.store" nz-input autocomplete="off"
                        name="store-{{data.time}}-{{i}}" required maxlength='5' placeholder="0-99999"
                        appIntNumber="true" />
                    </td>
                    <td style="width: 150px;">
                      <span class='volume'>已售：{{data.sale_num||0}}</span>
                    </td>
                    <td class="operation">
                      <a [title]="'移除'" class="del-btn" *ngIf="specificationsList.length>1"
                        (click)="onDelSpecifications(data,i)">移除</a>
                      <a [title]="'添加'" class="add-btn"
                        *ngIf="specificationsList.length<50 && i===specificationsList.length-1"
                        (click)="onAddSpecifications()">添加</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <div class="text-danger">
              <span class="input-error">{{specificationErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id&&accessoryParams.project_name==="蓄电池"'>
          <nz-form-label nzRequired [nzNoColon]='true'>预付价格</nz-form-label>
          <nz-form-control>
            <div class="params-box">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>预付原价</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzSuffix]="originPriceUnit">
                        <input class="price-input" [(ngModel)]="real_prepaid_fee" nz-input autocomplete="off"
                          name="real_prepaid_fee" maxlength='8' appFloatNumber [appMaxNumber]='99999.99' required />
                      </nz-input-group>
                      <ng-template #originPriceUnit>元</ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>预付现价</nz-form-label>
                    <nz-form-control>
                      <div>
                        <nz-input-group [nzSuffix]="salePriceUnit">
                          <input class="price-input" [(ngModel)]="right_prepaid_fee" nz-input autocomplete="off"
                            name="right_prepaid_fee" maxlength='8' appFloatNumber [appMaxNumber]='99999.99' required />
                        </nz-input-group>
                        <ng-template #salePriceUnit>元</ng-template>
                      </div>
                      <div class="text-danger">
                        <span class="input-error">{{prepaidSalePriceErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex *ngIf='accessoryParams.project_id&&accessoryParams.project_name==="蓄电池"'>
          <nz-form-label nzRequired [nzNoColon]='true'>运营手机号</nz-form-label>
          <nz-form-control>
            <input class="pro-name" [(ngModel)]="accessoryParams.operation_telephone" placeholder="请输入手机号" nz-input
              autocomplete=" off" name="operation_telephone" required maxlength='11' />
            <div class="text-danger">
              <span class="input-error">{{operationTelErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex [hidden]='!accessoryParams.project_id'>
          <nz-form-label [nzNoColon]='true'>图文详情</nz-form-label>
          <nz-form-control>
            <app-z-text-ckeditor ckEditorId='accessoryEditor' [replaceWidth]="1000" #accessoryEditor>
            </app-z-text-ckeditor>
            <div class="text-danger">
              <span class="input-error">{{accessoryDetailErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <div style="margin-top: 40px;margin-bottom: 40px">
          <button class="sure-btn" nz-button nzType="primary" (click)='onSaveFormSubmit()'
            [disabled]="!workFeesForm.form.valid||isSaveBtnDisabled">保存</button>
          <button class="close-btn" nz-button (click)="onCancelBtn()">取消</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- 选择保养项目 -->
<app-choose-project #chooseProject [selectedProjectid]="accessoryParams.project_id"
  (selectedProject)="onSelectedProject($event)"></app-choose-project>
<!-- 选择品牌 -->
<app-choose-brand #chooseBrand [selectedBrandId]="accessoryParams.accessory_brand_id"
  (selectedBrand)="onSelectedBrand($event)">
</app-choose-brand>