.des_card {
  height: auto;
  padding: 20px 50px;
  background: #fff;
  margin-bottom: 10px;
}

:host ::ng-deep .ant-form-item {
  margin-bottom: 12px;
}

:host ::ng-deep .ant-form-item-label {
  min-width: 90px;
}

.sure-btn {
  margin: 0 31px 0 88px;
}

.fee-name {
  width: 310px;
}

.pro-input {
  width: 379px;
}

.pro-input:disabled,
.pro-input:read-only {
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.pro-name {
  width: 453px;

}

.params {
  width: 150px;
}

.price-input {
  width: 100%;
}

.choose {
  position: absolute;
  left: 380px;
  top: -7px;
  display: inline-block;
  width: 72px;
  border-left: 1px solid #EEEFF5;
  height: 29px;
  text-align: center;
  background: #fff;
  line-height: 29px;
}

.unit {
  position: absolute;
  left: 105px;
  top: -7px;
  display: inline-block;
  width: 34px;
  border-left: 1px solid rgba(136, 136, 136, 0.3);
  height: 30px;
  text-align: center;
  background: #fbfbfb;
  line-height: 30px;
}

.params-box {
  width: 1000px;
  padding-top: 12px;
  background: rgba(247, 248, 250, 1);
  border: 1px solid #e0dfdf;
}

.table-form {
  width: 1000px;
  border: 1px solid #e0dfdf;
}

:host ::ng-deep .table-form .ant-table {
  border: none;
  padding: 0 0 10px 20px;
  background: rgba(247, 248, 250, 1);
}

:host ::ng-deep .ant-table-fixed-header>.ant-table-content>.ant-table-scroll>.ant-table-body {
  background-color: rgba(247, 248, 250, 1);
  padding-right: 20px;
  overflow-y: auto !important;
  max-height: 400px;
}

:host ::ng-deep .table-form .ant-table-thead>tr>th {
  width: 80px;
  background: rgba(247, 248, 250, 1);
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(35, 36, 47, 1);
  border-bottom: none;
}

:host ::ng-deep .table-form .ant-table-tbody>tr>td {
  background: rgba(247, 248, 250, 1);
  border-bottom: 1px solid rgba(136, 136, 136, 1);

}

:host ::ng-deep .table-form .ant-table-tbody>tr:last-child>td {
  border-bottom: none;
}

.volume {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(136, 136, 136, 1);
}

.del-btn {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(232, 32, 56, 1) !important;
}

.operation .add-btn {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(62, 113, 247, 1) !important;
}

.img-danger {
  position: absolute;
  margin-top: -8px;
  left: 21px;
}

.img-danger .input-error {
  font-size: 12px;
}

:host ::ng-deep .ant-table-tbody>tr {
  height: 68px;
}

select {
  font-size: 14px;
}

input:not(:disabled),
input:not(:read-only) {
  background-color: #fff !important;
}