<div class="content-header">
  <app-crumb [level1Name]="'配件库'" [level1RelativePath]="'../'" [level2Name]="'编辑配件'"></app-crumb>
</div>
<div class="content-flow">
  <div class='des_card'>
    <form nz-form class="content-layout" #workFeesForm="ngForm">
      <div class="card_content">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>所属项目</nz-form-label>
          <nz-form-control>
            <input class="pro-input" nz-input [(ngModel)]="accessoryParams.project_name" autocomplete="off"
              name="project" disabled />
            <a class="choose" (click)='onOpenProjectModal()'>选择</a>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>产品名称</nz-form-label>
          <nz-form-control>
            <input class="pro-name" [(ngModel)]="accessoryParams.accessory_name" placeholder="输入1-30个字标题" nz-input
              autocomplete="off" name="accessory-name" required maxlength='30' />
            <div *ngIf="accessoryNameErrors" class="text-danger">
              <span class="input-error">{{accessoryNameErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>产品图片</nz-form-label>
          <nz-form-control>
            <app-z-photo-select #accessoryImg [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
              [isCutCoverImg]="true" [aspectRatio]='1/1' [maxLength]="6" file_id="accessoryImg" [imageWidth]='100'
              [imageHeight]='100' [imageAddHeight]="100" [minCropBoxWidth]="400" [minCropBoxHeight]="400">
            </app-z-photo-select>
            <div *ngIf="errPositionItem?.icon?.isError" class="text-danger" style='margin-top: -14px;'>
              <span class="input-error input_time_valid">{{ errPositionItem?.icon?.errMes}}</span>
            </div>
            <div>注：尺寸800 × 800px，格式PNG或JPG，大小2M以内，最多上传6张</div>
          </nz-form-control>
        </nz-form-item>
        <!-- 机油 -->
        <nz-form-item nzFlex *ngIf='false'>
          <nz-form-label nzRequired [nzNoColon]='true'>参数</nz-form-label>
          <nz-form-control>
            <div class="params-box">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>机油标号</nz-form-label>
                    <nz-form-control>
                      <input class="params" nz-input autocomplete="off" name="main-title" required maxlength='20' />
                      <!-- <div *ngIf="productNameErrors" class="text-danger">
                        <span class="input-error">{{productNameErrors}}</span>
                      </div> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>机油类别</nz-form-label>
                    <nz-form-control>
                      <input class="params" nz-input autocomplete="off" name="main-title" required maxlength='20' />
                      <!-- <div *ngIf="productNameErrors" class="text-danger">
                        <span class="input-error">{{productNameErrors}}</span>
                      </div> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label nzRequired [nzNoColon]='true'>API等级</nz-form-label>
                    <nz-form-control class="ml_10">
                      <input class="params" nz-input autocomplete="off" name="main-title" required maxlength='20' />
                      <!-- <div *ngIf="productNameErrors" class="text-danger">
                        <span class="input-error">{{productNameErrors}}</span>
                      </div> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>商品产地</nz-form-label>
                    <nz-form-control>
                      <input class="params" placeholder="输入0-50字" nz-input autocomplete="off" name="main-title" required
                        maxlength='50' />
                      <!-- <div *ngIf="productNameErrors" class="text-danger">
                        <span class="input-error">{{productNameErrors}}</span>
                      </div> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>保质期</nz-form-label>
                    <nz-form-control>
                      <input class="params" placeholder="输入0-50字" nz-input autocomplete="off" name="main-title" required
                        maxlength='50' />
                      <!-- <div *ngIf="productNameErrors" class="text-danger">
                        <span class="input-error">{{productNameErrors}}</span>
                      </div> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>规格</nz-form-label>
          <nz-form-control>
            <div class="table-form">
              <nz-table [nzData]="specificationsList" [nzShowPagination]="false" [nzFrontPagination]='false'
                [nzNoResult]="noResultText" #basicTable>
                <thead>
                  <tr>
                    <th>图片</th>
                    <th>型号</th>
                    <th>尾款原价</th>
                    <th>尾款现价</th>
                    <th>库存</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of specificationsList; let i=index">
                    <td>
                      <div style="margin-left: 22px;">
                        <app-z-photo-select #specificationsImg [hasAddPicture]="true" [hasDeletePicture]="true"
                          [limitImgSize]="1" [isCutCoverImg]="true" [aspectRatio]='1/1' [maxLength]="1"
                          file_id="specificationsImg" [imageWidth]='30' [isChangeAddPic]="true" [imageHeight]='30'
                          [imageAddHeight]="30" [imageDelWidth]='12' [imageDelHeight]='12' [minCropBoxWidth]="100"
                          [minCropBoxHeight]="100">
                        </app-z-photo-select>
                      </div>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="unit">
                        <input class="price-input" [(ngModel)]="data.accessory_model" nz-input autocomplete="off"
                          name="accessory-model-{{data.time}}" required maxlength='20' />
                      </nz-input-group>
                      <ng-template #unit>L</ng-template>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="priceUnit1">
                        <input class="price-input" [(ngModel)]="data.original_fee" nz-input autocomplete="off"
                          name="original-fee-{{data.time}}" required maxlength='20' />
                      </nz-input-group>
                      <ng-template #priceUnit1>元</ng-template>
                    </td>
                    <td>
                      <nz-input-group [nzSuffix]="priceUnit2">
                        <input class="price-input" [(ngModel)]="data.sale_fee" nz-input autocomplete="off"
                          name="sale-fee-{{data.time}}" required maxlength='20' />
                      </nz-input-group>
                      <ng-template #priceUnit2>元</ng-template>
                    </td>
                    <td>
                      <input class="price-input" [(ngModel)]="data.store" nz-input autocomplete="off"
                        name="store-{{data.time}}" required maxlength='20' />
                    </td>
                    <td>
                      <span class='volume'>已售：150</span>
                    </td>
                    <td class="operation">
                      <a [title]="'移除'" class="del-btn" *ngIf="specificationsList.length>1"
                        (click)="onDelSpecifications(data,i)">移除</a>
                      <a [title]="'添加'" class="add-btn"
                        *ngIf="specificationsList.length<50&&i===specificationsList.length-1"
                        (click)="onAddSpecifications()">添加</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>预付价格</nz-form-label>
          <nz-form-control>
            <div class="params-box">
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>预付原价</nz-form-label>
                    <nz-form-control>
                      <nz-input-group [nzSuffix]="originPriceUnit">
                        <input class="price-input" [(ngModel)]="right_prepaid_fee" nz-input autocomplete="off"
                          name="right_prepaid_fee" maxlength='8' appFloatNumber [appMaxNumber]='99999.99' required />
                      </nz-input-group>
                      <ng-template #originPriceUnit>元</ng-template>
                      <div class="text-danger">
                        <span class="input-error">{{prepaidOriginPriceErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item nzFlex>
                    <nz-form-label [nzNoColon]='true'>预付现价</nz-form-label>
                    <nz-form-control>
                      <div>
                        <nz-input-group [nzSuffix]="salePriceUnit">
                          <input class="price-input" [(ngModel)]="real_prepaid_fee" nz-input autocomplete="off"
                            name="real_prepaid_fee" maxlength='8' appFloatNumber [appMaxNumber]='99999.99' required />
                        </nz-input-group>
                        <ng-template #salePriceUnit>元</ng-template>
                      </div>
                      <div class="text-danger">
                        <span class="input-error">{{prepaidSalePriceErrors}}</span>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired [nzNoColon]='true'>图文详情</nz-form-label>
          <nz-form-control>
            <app-z-text-ckeditor ckEditorId='accessoryEditor' #accessoryEditor></app-z-text-ckeditor>
            <div class="text-danger">
              <span class="input-error">{{accessoryDetailErrors}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <div style="margin-top: 40px;margin-bottom: 40px">
          <button class="sure-btn" nz-button nzType="primary" (appZDebounceClick)='onSaveFormSubmit()'
            [disabled]="!workFeesForm.form.valid">保存</button>
          <button class="close-btn" nz-button>取消</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- 选择保养项目 -->
<app-choose-project #chooseProject [selectedProjectid]="accessoryParams.project_id"
  (selectedProject)="onSelectedProject($event)"></app-choose-project>