<div class="content-header">
  <app-crumb [level1Name]="'服务配置'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg" (click)='onAddCarParking()'>
      <a>添加停车场</a>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="zmy-table">
      <nz-table [nzData]="orderList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #ticketOrderTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>图片</th>
            <th>停车场</th>
            <th>标签</th>
            <th>联系电话</th>
            <th>泊车售价/天</th>
            <th>最低起订</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of ticketOrderTable.data; let i=index">
            <td>{{i+(pageIndex-1)*15+1}}</td>

            <td [title]="order.order_id?order.order_id:''">
              <span *ngIf="order.order_id" [appTxtCopy]="order.order_id">
                {{order.order_id|zMaxLength:10}}
              </span>
              <span *ngIf="!order.order_id">--</span>
            </td>

            <td>
              <div class="column-box">
                <span *ngIf="order.car_type" class="car-type">{{order.car_type === 1 ? '小型车':'其他'}}</span>
                <span>{{order.car_id}}</span>
              </div>
            </td>
            <td>
              <div class="column-box">
                <span>{{order.name | zMaxLength:6}}</span>
                <span>{{order.phone}}</span>
              </div>
            </td>
            <td [title]="order.address?order.address:''">{{order.address?(order.address | zMaxLength:8):'--'}}</td>
            <td>
              {{order.real_amount  | centPriceChange:'¥ ':'left'}}
            </td>
            <td>
              {{order.real_amount  | centPriceChange:'¥ ':'left'}}
            </td>
            <td class="operation">
              <a [title]="'服务配置'" [routerLink]="['../order-detail', order.order_id]">服务配置</a>
              <a [title]="'查看详情'" (click)='onViewServiceConfigDetail()'>查看详情</a>
              <a [title]="'删除'">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<app-add-car-parking #addCarParking></app-add-car-parking>
<app-detail #serviceConfigDetail></app-detail>