<div class="content-header">
    <app-crumb [level1Name]="'活动管理'" [level2Name]="'分销活动'" [level2RelativePath]="'../'" [level3Name]="levelName">
    </app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
    <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
    <div class="content-container">
        <div class="content-flow">
            <form autocomplete="off" class="form-horizontal" #editInformationDeliveryModal="ngForm">
                <div class="activity-container">
                    <div class="break-line">
                        <span>跳转选择</span>
                        <div></div>
                    </div>
                    <div class="row">
                        <label class=" control-label">
                            <b>&nbsp;&nbsp;</b>
                            <span>落地页</span>
                        </label>
                        <div class="control-input">
                            <select class="form-control" [(ngModel)]="distributionActivity.jump_type" name="jump_type"
                                    required>
                                <option value=''>请选择</option>
                                <option [value]="1">小程序原生页</option>
                                <option [value]="2">H5链接</option>
                            </select>
                            <input class="form-control" [(ngModel)]="distributionActivity.jump_content"
                                   name="jump_content"
                                   placeholder="跳转链接内容" appIgnoreSpace
                                   maxlength="2000" required>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <b>*</b>
                            <span>业务</span>
                        </label>
                        <div class="control-input">
                            <p class="read-only-info">检车业务</p>
                        </div>
                    </div>
                </div>
                <div class="activity-container">
                    <div class="break-line">
                        <span>基本设置</span>
                        <div></div>
                    </div>
                    <div class="row">
                        <label class=" control-label">
                            <b>*</b>
                            <span>活动标题名称</span>
                        </label>
                        <div class="control-input">
                            <input class="form-control" [(ngModel)]="distributionActivity.title"
                                   name="title" appIgnoreSpace required placeholder="输入1-100字" maxlength="100">
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <span>活动时间</span>
                        </label>
                        <div class="control-input">
                            <nz-date-picker [(ngModel)]="distributionActivity.start_time" [nzShowToday]=false
                                            [nzDisabledDate]="disabledStartDate"
                                            name='start_time'
                                            [nzShowTime]="{'nzFormat':'HH:mm'}"
                                            nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                            <span class='line'>-</span>
                            <nz-date-picker [(ngModel)]="distributionActivity.end_time" [nzShowToday]=false
                                            [nzDisabledDate]="disabledEndDate"
                                            name='end_time'
                                            [nzShowTime]="{'nzFormat':'HH:mm'}"
                                            nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <b>*</b>
                            <span>上线时间</span>
                        </label>
                        <div class="control-input" style="width: 450px">
                            <nz-radio-group [(ngModel)]="distributionActivity.online_type" name="online_type" required
                                            (ngModelChange)="distributionActivity.fixed_time = ''">
                                <label nz-radio [nzValue]="OnlineTimeType.now">立即上线</label>
                                <label nz-radio [nzValue]="OnlineTimeType.timing">定时上线</label>
                            </nz-radio-group>
                            <nz-date-picker *ngIf="distributionActivity.online_type===OnlineTimeType.timing"
                                            [(ngModel)]="distributionActivity.fixed_time"
                                            style="margin-left: 25px"
                                            [nzShowToday]=false
                                            [nzDisabledDate]="disabledOnlineTimeDate"
                                            name='fixed_time' required
                                            [nzShowTime]="{'nzFormat':'HH:mm'}"
                                            nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="sure-btn" type="submit" nz-button nzType="primary"
                            [disabled]="!editInformationDeliveryModal.form.valid"
                            (appZDebounceClick)="onEditFormSubmit()">发布
                    </button>
                    <button class="close-btn" type="button" nz-button (click)="goToListPage()">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
