@import "variable";

.close:hover {
  font-size: 28px;
}

.modal-dialog-common {
  width: 600px !important;
  min-height: 600px !important;
  height: 661px !important;
  max-width: 600px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px !important;
}

.modal-dialog-common .form-horizontal {
  margin-top: 16px;
}

.modal-content-common {
  top: 50px;
}

.modal-content-common form .row {
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  margin-bottom: 0;
}

.modal-content-common form .row b {
  margin-right: 10px;
}

.modal-content-common form .row .control-label {
  padding-left: 40px;
  margin-bottom: 20px;
  width: 106px;
  padding-right: 10px;
  padding-left: 0;
  line-height: 34px;
}

.modal-content-common form .row .control-label b {
  float: left;
}

.modal-content-common form .row .control-label span {
  font-size: 14px;
  float: left;
}

.modal-content-common .control-input {
  display: flex;
  align-items: center;
  width: 428px;
  margin-bottom: 20px;
}

.modal-content-common .control-input label {
  margin-bottom: 0;
}

.modal-content-common .form-control {
  font-size: 14px;
  margin-right: 0;
  width: 428px;
  background: #fff;
  border-radius: 1px;
}

.modal-content-common input,
.modal-content-common select {
  height: 34px;
}

.modal-content-common select {
  padding: 0px 8px;
}

.modal-content-common form .row-message {
  height: 28px;
}

.modal-content-common form .err-message {
  font-size: 14px;
  font-family: STHeitiSC-Medium;
  font-weight: 500;
  color: rgba(232, 32, 56, 1);
}

.modal-dialog-common .modal-footer button {
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 18px;
}

.import-form {
  padding: 10px 15px 15px 25px;
}

.import-form .form-group {
  display: flex !important;
  align-items: center;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
}

.import-form .select-file {
  text-align: center;
  height: 34px;
  line-height: 34px;
  position: relative;
}

.import-form .choose-file input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  width: 105px;
  font-size: 0;
  height: 34px;
}

.import-form .import-tip {
  font-size: 14px;
  font-family: STHeitiSC-Light;
  font-weight: 300;
  // color: rgba(254, 206, 84, 1);
}

.import-form .modal-content {
  width: 600px !important;
  height: 343px !important;
}

.import-form .download {
  width: 105px;
  height: 34px;
  line-height: 34px;
  background: #3E71F7;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
  font-family: STHeitiSC-Light;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.leter-list .ant-anchor-wrapper {
  margin-left: 0;
  padding-left: 0;
  overflow: auto;
  background-color: #d8d8d8;
}

.leter-list .ant-anchor-link {
  padding: 0;
  padding: 5px 0;
}

.leter-list .ant-anchor {
  padding-left: 0;
}

.leter-list .ant-anchor-ink::before {
  background: #d8d8d8;
}