<div class="content-header">
    <app-crumb [level1Name]="'商家管理'" [level2Name]="'商家列表'" [level3Name]="'编辑'" [level2RelativePath]="'../list'"></app-crumb>
</div>
<div class="content-flow">
    <div class="content-main">
        <form (keydown)="onKeydownEvent($event)" class="form-horizontal" #editForm="ngForm">
            <div class="row">
                <label class="control-label">
                    <b>&nbsp;</b>
                    <span>所属企业</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="company_name" name="company_name" disabled>
                </div>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>&nbsp;</b>
                    <span>店铺名称</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.upkeep_merchant_name" name="upkeep_merchant_name" disabled>
                </div>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>&nbsp;</b>
                    <span>类型</span>
                </label>
                <div class="control-input">
                    <select class="form-control" [(ngModel)]="currentBusiness.merchant_status" name="merchant_status" disabled>
                        <option value="">全部</option>
                        <option value="1">营业中</option>
                        <option value="2">停业休息</option>
                    </select>
                </div>
            </div>
            <div class="row" style="height: 110px">
                <label class=" control-label">
                    <b>&nbsp;</b>
                    <span>商家图片</span>
                </label>
                <ul style="display: flex">
                    <li *ngFor="let item of currentBusiness.image_url;let i=index;" style="margin-right: 15px">
                        <img [src]="item" style="width: 100px;height: 100px">
                    </li>
                </ul>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>&nbsp;</b>
                    <span>联系人</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.contact" name="contact" disabled>
                </div>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>&nbsp;</b>
                    <span>联系电话</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.telephone" name="telephone" disabled>
                </div>
            </div>
            <div class="row">
                <label class=" control-label">
                    <b>&nbsp;</b>
                    <span>门店地址</span>
                </label>
                <div class="control-input" style="width: 540px!important;">
                    <app-pro-city-dist-select [isEdit]="false" #projectInfoPro></app-pro-city-dist-select>
                    <input class="form-control" style="margin-left: 10px" placeholder="详细地址" [(ngModel)]="currentBusiness.address" name="address" disabled>
                </div>
            </div>
            <div class="row">
                <label class=" control-label">
                    <b>&nbsp;</b>
                    <span>地图坐标</span>
                </label>
                <div class="control-input">
                    <input class="form-control" [(ngModel)]="currentBusiness.lon + '、' + currentBusiness.lat" name="lon" disabled>
                    <button class="common-btn" nz-button (click)="openMapModal()">查看</button>
                </div>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>汽车品牌</span>
                </label>
                <div class="control-input">
                    <button class="common-btn" style="border-left: 1px solid #d9d9d9" nz-button
                            (click)="openChooseBrandModal()">{{currentBusiness.VehicleFirm && currentBusiness.VehicleFirm.length===0?'选择':'重新选择'}}</button>
                </div>
            </div>
            <div class="brand-list" *ngIf="currentBusiness.VehicleFirm && currentBusiness.VehicleFirm.length>0">
                <nz-table [nzData]="currentBusiness.VehicleFirm"
                          [nzShowPagination]="false"
                          [nzPageSize]="currentBusiness.VehicleFirm.length"
                          #basicTable>
                    <thead>
                    <tr>
                        <th>品牌</th>
                        <th>厂家</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of basicTable.data; let i=index">
                        <td>{{data.vehicle_brand?.vehicle_brand_name}}</td>
                        <td>{{data.vehicle_firm_name}}</td>
                        <td class="operation">
                            <a [title]="'移除'" (click)="onDelBrandClick(data)">移除</a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>可提前预定</span>
                </label>
                <div class="control-input">
                    <input class="form-control" (change)="errPositionItem.booking.isError=false" required
                           type="number" [(ngModel)]="currentBusiness.booking" name="booking" (keypress)="inputNumberLimit($event)">
                    <button nz-button class="common-btn" style="width: 34px; padding: 0">天</button>
                </div>
                <span class="msg-tip" *ngIf="errPositionItem.booking?.isError">{{errPositionItem?.booking?.errMes}}</span>
            </div>
            <div class="row">
                <label class="control-label">
                    <b>*</b>
                    <span>客服电话</span>
                </label>
                <div class="control-input" *ngFor="let item of service_telephones;let i=index" [class.tel-input]="i!==0">
                    <input class="form-control" name="service_telephone{{i}}" required maxlength="12"
                           (change)="onInputServiceTelephone($event, i)" [ngModel]="item" placeholder="请输入座机或手机号">
                    <button class="common-btn" nz-button (click)="onAddTelClick()" *ngIf="is_add_tel">添加</button>
                    <button class="common-btn" nz-button (click)="onDelTelClick(i)" *ngIf="!is_add_tel">移除</button>
                </div>
                <span class="msg-span">注：最多可添加2个</span>
            </div>
            <div style="margin-left: 120px;height: 15px;">
                <span class="msg-tip" *ngIf="errPositionItem.service_telephone?.isError">{{errPositionItem?.service_telephone?.errMes}}</span>
            </div>
            <div style="margin-top: 40px">
                <button class="sure-btn" nz-button nzType="primary" [disabled]="!editForm.form.valid || currentBusiness.VehicleFirm?.length===0"
                        (appZDebounceClick)="onEditFormSubmit()">保存
                </button>
                <button class="close-btn" nz-button (click)="onClose()">取消</button>
            </div>
        </form>
    </div>
</div>

<!-- 地图组件 -->
<app-z-map-select-point [mapObj]="mapItem"></app-z-map-select-point>
<!--选择品牌厂商控件-->
<app-select-brand-firm [selectedBrand]="brand_ids.join(',')" [selectedFirm]="firm_ids.join(',')" [isDisabled]="false" [multi]="true" (selectBrandFirm)="selectBrandFirm($event)"></app-select-brand-firm>
