<div class="content-header">
  <app-crumb [level1Name]="'核销管理'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg">
      <a (click)='onExportRecords()'>导出Excel</a>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="search-container">
      <form class="search-form" autocomplete="off">
        <div class="form-group">
          <span>状态：</span>
          <select name="status" class="form-control" style="width: 130px;" [(ngModel)]="searchParams.status">
            <option value="">全部</option>
            <option value=3>已失效</option>
            <option value=1>已核销</option>
          </select>
        </div>

        <div class="form-group">
          <span>车型：</span>
          <select name="car_type" class="form-control" style="width: 130px;" [(ngModel)]="searchParams.car_type">
            <option value="">全部</option>
            <option *ngFor="let item of carTypes" [value]="item">{{item | washCarType}}</option>
          </select>
        </div>

        <div class="form-group">
          <span>核销码：</span>
          <input name="contact_name" class="form-control" [(ngModel)]="searchParams.expense_verify_code"
            placeholder="请输入核销码" maxlength="20" appIgnoreSpace />
        </div>

        <div class="form-group">
          <span>门店：</span>
          <input name="repair_shop_name" class="form-control" placeholder="请输入门店名称" maxlength="32"
            [(ngModel)]="searchParams.repair_shop_name" appIgnoreSpace />
        </div>

        <div class="form-group">
          <span>券码类型：</span>
          <select name="service_type" class="form-control" style="width: 180px;"
            [(ngModel)]="searchParams.service_type">
            <option value="">全部</option>
            <option *ngFor="let item of couponTypes" [value]="item">{{item | washCarCouponType}}</option>
          </select>
        </div>
        <div class="form-group">
          <span>核销时间：</span>
          <nz-date-picker [(ngModel)]="expense_start_time" [nzShowToday]="false" [nzDisabledDate]="disabledStartTime"
            name="bind_start_time" [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
          <span class="partition">-</span>
          <nz-date-picker [(ngModel)]="expense_end_time" [nzShowToday]="false" [nzDisabledDate]="disabledEndTime"
            name="bind_end_time" [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
          <div class="search-btn-group">
            <button nz-button nzType="primary" (click)="onSearchBtnClick()">
              查询
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="zmy-table">
      <nz-table [nzData]="expenseVerifyRecords" [nzShowPagination]="true" [nzNoResult]="noResultText"
        [nzPageSize]="'15'" (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex"
        #expenseVerifyTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>核销码</th>
            <th>券码类型</th>
            <th>车型</th>
            <th>有效期</th>
            <th>核销时间</th>
            <th>核销人</th>
            <th>所属门店</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of expenseVerifyTable.data; let i = index">
            <td>{{ i + (pageIndex - 1) * 15 + 1 }}</td>

            <td>
              <span *ngIf="record.expense_verify_code" [appTxtCopy]="record.expense_verify_code">
                {{ record.expense_verify_code }}
              </span>
              <span *ngIf="!record.expense_verify_code">--</span>
            </td>

            <td>{{(record.service_type | washCarCouponType) || '--'}}</td>
            <td>{{(record.car_type|washCarType) || '--'}}</td>
            <td>
              <ng-container *ngIf="record.valid_date_start">
                {{record.valid_date_start* 1000 | date:"y-MM-dd"}}
                <span *ngIf="record.valid_date_end"> -
                  {{record.valid_date_end* 1000 | date:"y-MM-dd"}}</span>
                <span *ngIf="!record.valid_date_end">起有效</span>
              </ng-container>
              <span *ngIf="!record.valid_date_start">--</span>
            </td>

            <td>
              {{
                record.verify_time
                  ? (record.verify_time * 1000 | date: 'y-MM-dd HH:mm:ss')
                  : '--'
              }}
            </td>

            <td>{{ record.verify_person || '--' }}</td>

            <td>{{ record.repair_shop_name || '--' }}</td>
            <td>{{ record.status | expenseStatus }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>