<div class="content-header">
    <app-crumb [level1Name]="'活动管理'" [level2Name]="'幸运抽奖'"></app-crumb>
    <ul class="header-right">
        <li class="big-bg" [routerLink]="['../add']">
            <a>添加</a>
        </li>
    </ul>
</div>

<div class="content-flow">
    <div class="search-container">
        <form class="search-form" autocomplete="off">
            <div class="form-group">
                <span>名称：</span>
                <input name="promotion_name" class="form-control" placeholder="请输入名称" maxlength="20"
                       [(ngModel)]="searchParams.lottery_activity_name" appIgnoreSpace />
            </div>
            <div class="form-group">
                <span>ID：</span>
                <input name="promotion_id" class="form-control" placeholder="请输入ID" maxlength="32"
                       [(ngModel)]="searchParams.lottery_activity_id" oninput="value=value.replace(/[^a-zA-Z0-9]/ig,'')" appIgnoreSpace />
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table [nzData]="activityList" [nzNoResult]="noResultText" [nzPageSize]="'15'" [(nzPageIndex)]="pageIndex"
                      (nzPageIndexChange)="onNZPageIndexChange($event)" #activityTable>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>图片</th>
                    <th>ID</th>
                    <th>活动名称</th>
                    <th>有效期</th>
                    <th nzWidth="15%">奖品</th>
                    <th>抽奖次数</th>
                    <th>抽奖人数</th>
                    <th>中奖次数</th>
                    <th>中奖人数</th>
                    <th>启停</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of activityTable.data; let i=index">
                    <td>{{i+(pageIndex-1)*15+1}}</td>
                    <td>
                        <img *ngIf='!data.cover_image' style="width: 75px;" src="/assets/images/space_config.png">
                        <img *ngIf='data.cover_image' style="width: 75px;" [src]="data.cover_image">
                    </td>
                    <td [title]="data.lottery_activity_id?data.lottery_activity_id:''">
                        <span [appTxtCopy]="data.lottery_activity_id">
                            {{data.lottery_activity_id?(data.lottery_activity_id|zMaxLength:15):'--'}}
                        </span>
                    </td>
                    <td [title]="data.lottery_activity_name?data.lottery_activity_name:''">
                        {{data.lottery_activity_name?(data.lottery_activity_name|zMaxLength:10):'--'}}</td>

                    <td>
                        <div class="td-time">
                        <span *ngIf="data.start_time">
                            {{data.start_time ?('起：'+(data.start_time* 1000 | date:"y-MM-dd HH:mm")):''}}
                        </span>
                        <span *ngIf="data.end_time">
                            {{data.end_time ?('止：'+(data.end_time* 1000 | date:"y-MM-dd HH:mm")):''}}
                        </span>
                        <span *ngIf="!data.start_time && !data.end_time">--</span>
                        </div>
                    </td>

                    <td>
                        <span *ngFor="let item of data.prizes">{{item.prize_name+'；'}}</span>
                    </td>

                    <td>{{data.lottery_num||0}}</td>

                    <td>{{data.lottery_people_num||0}}</td>

                    <td>{{data.win_num||0}}</td>

                    <td>{{data.win_people_num||0}}</td>

                    <td>
                        <nz-switch [ngModel]="data.status===1?true:false" nzCheckedChildren="On" style="height: 10px"
                                   nzUnCheckedChildren="Off" (ngModelChange)="onSwitchChange(data.lottery_activity_id,$event)"></nz-switch>
                    </td>
                    <td class="operation">
                        <a [title]="'数据'" (click)="onDataClick(data.lottery_activity_id)">数据</a>
                        <a [title]="'编辑'" (click)="onEditClick(data.lottery_activity_id)">编辑</a>
                        <a [title]="'删除'" (click)="onDeleteClick(data.lottery_activity_id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
