.btn-del {
    float: right;
    margin: -10px 20px 0 0;
    width: 18px;
    height: 18px;
    background: url("/assets/images/icon_clear.png") center no-repeat;
}

.btn-del-manufacturer {
    width: 18px;
    height: 18px;
    margin: 1px;
    display: inline-table;
    background: url("/assets/images/icon_clear_gray.png") center no-repeat;
}

.btn-del-info {
    float: right;
    margin: 10px 10px 0 0;
    width: 18px;
    height: 18px;
    background: url("/assets/images/icon_clear_blue.png") center no-repeat;
}

.big-bg {
    margin-right: 10px;
}

.modal-footer {
    margin-top: 10px;
}

.modal-dialog{
    width:600px!important;
    min-height: 600px!important;
    height: 661px!important;
    max-width: 600px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:50px!important;
}

.modal-content {
    top: 50px!important;
}

.form-horizontal {
    line-height: 35px;
    width: 100%;
    padding: 10px 15px 15px 25px;
    background-color: #fff;
    height: 75px;
    margin-top: 0;
}

.form-group {
    display: flex !important;
    align-items: center;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}

.search-form input.form-control {
       width: 460px !important;
   }

.select-file {
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.choose-file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 105px;
    font-size: 0;
    heihgt: 34px;
}

.import-tip {
    font-size: 14px;
    font-family: STHeitiSC-Light;
    font-weight: 300;
    color: rgba(254, 206, 84, 1);
}

.modal-content {
    width: 600px !important;
    height: 343px !important;
}

.download {
    width: 105px;
    height: 34px;
    line-height: 34px;
    background: #3E71F7;
    border-radius: 4px;
    font-size: 14px;
    font-family: STHeitiSC-Light;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.brand-list {
    float: left;
    margin: 10px 0 0 10px;
    height: 100%;
    overflow: auto;
}

.brand-list li {
    background: #fff;
    list-style:none;
    width: 178px;
    height: 60px;
    margin-bottom: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    box-shadow:0px 0px 4px 0px rgba(0,0,0,0.2);
    border-radius:4px;
}

.brand-list img:last-child {
    margin: -2px 0 0 10px;
}

.brand-img {
    width: 58px;
    height: 58px;
}

.vehicle-list {
    background: #fff;
    margin-left: 13%;
    margin-top: 10px;
    width: 85%;
    height: 100%;
    padding: 20px 0 30px 30px;
    box-shadow:0px 0px 4px 0px rgba(0,0,0,0.2);
    border-radius:4px;
    overflow-y: auto;
}

.width {
    width: 208px !important;
    box-shadow:-5px 0px 4px 0px rgba(0,0,0,0.2) !important;
    font-size: 18px;
    font-weight:500;
}

.vehicle-list li {
    list-style: square inside url('/assets/images/crumb.png');
}

.vehicle-list ul {
    list-style: square inside url('/assets/images/crumb.png');
    margin-left: 30px;
}

.vehicle-list label {
    margin-top: 4px;
}

.vehicle-list img {
    margin-left: 10px;
}

.vehicle-info {
    width:705px;
    height:79px;
    background:rgba(247,248,250,1);
    border-radius:4px;
    margin-top: -15px;
    text-align: left;
}

.vehicle-info span {
    float: left;
    height: 25px;
    width:705px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
}

::ng-deep .ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle {
    height: 0 !important;
}
