.list-btn {
    float: right;
    margin-right: 55px;
}

.content-flow {
    background: #fff!important;
    padding: 15px;
}

.big-bg {
    margin-right: 10px;
}

.big-bg a {
    color: #fff !important;
}

.modal-footer {
    margin-top: 10px;
}

.modal-dialog{
    width:600px!important;
    min-height: 600px!important;
    height: 661px!important;
    max-width: 600px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:50px!important;
}

.modal-content {
    top: 50px!important;
}

.form-horizontal {
    line-height: 35px;
    width: 100%;
    padding: 10px 15px 15px 25px;
    background-color: #fff;
    height: 75px;
    margin-top: 0;
}

.form-group {
    display: flex !important;
    align-items: center;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}

.search-form input.form-control {
       width: 460px !important;
   }

.select-file {
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.choose-file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 105px;
    font-size: 0;
    heihgt: 34px;
}

.import-tip {
    font-size: 14px;
    font-family: STHeitiSC-Light;
    font-weight: 300;
    color: rgba(254, 206, 84, 1);
}

.modal-content {
    width: 600px !important;
    height: 343px !important;
}

.download {
    width: 105px;
    height: 34px;
    line-height: 34px;
    background: #3E71F7;
    border-radius: 4px;
    font-size: 14px;
    font-family: STHeitiSC-Light;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
