<div class="content-header">
    <app-crumb [level1Name]="'保险公司管理'" [level2Name]=""></app-crumb>
    <ul class="header-right">
        <li class="big-bg">
            <a (click)="onImportClick()">导入</a>
        </li>
        <li class="big-bg">
            <a href="/assets/download/spot_info.xlsx" download="spot_info.xlsx">下载模板</a>
        </li>
    </ul>
</div>
<div class="content-flow">
    <nz-tree [nzData]="nodes" nzAsyncData nzShowIcon (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)"
             [nzTreeTemplate]="nzTreeTemplate">
    </nz-tree>
    <ng-template #nzTreeTemplate let-node>
      <span>
        <span *ngIf="!node.isLeaf" >
          <span>{{ node.title }}</span>
          <span class="list-btn" (click)="onDeleteVehicleClick()">{{node?.origin?.btn}}</span>
        </span>
        <span *ngIf="node.isLeaf" >
          <span>{{ node.title }}</span>
          <span class="list-btn">{{node?.origin?.btn}}</span>
        </span>
      </span>
    </ng-template>
</div>

<!--上传-->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" id="importBerthPromptDiv">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">导入数据</span>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true" (click)="onCancelData()">&times;
                </button>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <span>使用Excel编辑批量操作文件模板时，请确认输入的内容为文本格式，保存的内容和输入的内容保持一致</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="importViewModel.address" name="address" placeholder="请选择文件"
                           disabled>
                    <div class="select-file">
                        <a class="choose-file">
                            <span class="download">选择文件</span>
                            <input #berthFileImportInput type="file"
                                   (change)="importViewModel.selectedFile($event,berthFileImportInput)" title=""/>
                        </a>
                    </div>
                </div>
                <div class="form-group import-tip">
                    <span>每次只能上传1000条数据</span>
                </div>
                <div class="modal-footer">
                    <button class="close-btn" nz-button (click)="onCancelData()">取消</button>
                    <button class="sure-btn" nz-button nzType="primary" (click)="onSubmitImportBerth()">上传</button>
                </div>
            </form>
        </div>
    </div>
    <!--进度条-->
    <app-progress-modal #progressModal (closeChange)="onCloseUnsubscribe()"></app-progress-modal>
</div>
