<div class="content-header">
    <app-crumb [level1Name]="'美行停车'" [level2Name]="'App首页图标配置'"></app-crumb>
    <ul class="header-right">
        <li class="big-bg">
            <a (click)="onShowModal(true , null)">新增项目</a>
        </li>
    </ul>
</div>
<div class="content-flow">
    <div class="tab-bar">
        <ul>
            <li style="border:1px solid rgba(53,57,92,1);border-right: 0px" [class.active]="searchParams.status==1" (click)="onCheckStatusClicked(1)">美行停车IOS</li>
            <li style="border:1px solid rgba(53,57,92,1);" [class.active]="searchParams.status==2" (click)="onCheckStatusClicked(2)">美行停车Android</li>
        </ul>
    </div>
    <div class="table-container">
        <div class="zmy-table">
            <nz-table [nzData]="projectList"
                      [nzShowPagination]="true"
                      [nzNoResult]="noResultText"
                      [nzPageSize]="'15'"
                      (nzPageIndexChange)="onNZPageIndexChange($event)"
                      [(nzPageIndex)]="pageIndex"
                      #basicTable>
                <thead>
                <tr>
                    <th>显示顺序</th>
                    <th>图片</th>
                    <th>标题</th>
                    <th>操作系统</th>
                    <th>对应版本号</th>
                    <th>落地页</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td [title]="data.project_name">{{data.project_name|zMaxLength:40}}</td>
                    <td>{{data.province}}{{data.city}}{{data.district}}</td>
                    <td *ngIf="data.leader|| data.mobile">
                        <span *ngIf="data.leader != ''">{{data.leader}}</span>
                        <span *ngIf="data.mobile != ''">({{data.mobile}})</span>
                    </td>
                    <td *ngIf="(data.leader === '' && data.mobile === '')">--</td>
                    <td>{{data.status}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.status}}</td>
                    <td >{{data.created_time*1000 | date:"y-MM-dd HH:mm:ss"}}</td>
                    <td class="operation">
                        <a class="export-list" [title]="'隐藏'" (click)="onHideBtnClick(data)"></a>
                        <a class="export-project-files" [title]="'开启'" (click)="onHideBtnClick(data)"></a>
                        <a class="edit"  [title]="'修改'" (click)="onShowModal(false , data.project_id)"></a>
                        <a class="delete" [title]="'删除'" (click)="onDeleteBtnClick(data)"></a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<app-first-page-icon-edit></app-first-page-icon-edit>

