.tab-bar {
    padding: 14px 32px 14px 10px;
    height: 60px;
    overflow: hidden;
    display: flex;
}

.tab-bar > ul {
    width: auto;
    height: 32px;
    overflow: hidden;
    border-radius:4px;
}

.tab-bar > ul > li {
    float: left;
    height: 32px;
    width: 150px;
    text-align: center;
    line-height: 32px;
    border-right: none;
    cursor: pointer;
//background: #35395C;
    outline: none;
}

.tab-bar > ul > li:first-child {
    border-radius: 3px 0 0 3px;
}

.tab-bar > ul > li:last-child {
    border-right: 1px solid #c9c9c9;
    border-radius: 0 3px 3px 0;
}

.tab-bar > ul > li:only-child {
    border-radius: 3px;
}

.tab-bar > ul > li.active {
    color: #fff;
    background: #35395C;
}
