.search-container {
  margin-left: 15px;
  width: calc(100% - 30px);
  padding: 0;
}

.search-form .form-group {
  margin-right: 20px !important;
}

.form-group select {
  width: 150px;
}

.form-group .line {
  margin: 0 8px;
}

.search-btn-group {
  margin-top: -1px !important;
}

.img-box {
  width: 90px;
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.img-box img {
  width: 90px;
}

.recommend {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #08D5B1;
  color: #fff;
  right: 0px;
  bottom: 0;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
}

.operation a {
  margin: auto 5px;
}

.img-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
