<div class="content-header">
  <app-crumb [level1Name]="'产品管理'" [level2Name]="'产品列表'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg" [routerLink]="['../third-product']">
      <a>新建</a>
    </li>
  </ul>
</div>

<div class="content-flow">
  <div class="search-container">
    <form class="search-form">
      <div class="form-group">
        <span>销售状态：</span>
        <select class="form-control" style="width: 100px;" name="status" [(ngModel)]="sale_status"
          (change)="onChangeSearchStatus($event)">
          <option value="">全部</option>
          <option *ngFor="let status of saleStatus" [value]="status">
            {{status | saleStatus}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <span>产品名称：</span>
        <input class="form-control" [(ngModel)]="searchParams.product_name" placeholder="请输入产品名称" autocomplete="off"
          name="product_name" maxlength="20" appIgnoreSpace />
      </div>
      <div class="form-group">
        <span>上架时间：</span>
        <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
          name='start_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
        <span class='line'>-</span>
        <nz-date-picker [(ngModel)]="end_time" [nzShowToday]=false [nzDisabledDate]="disabledEndTime" name='end_time'
          [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
        <div class="search-btn-group">
          <button nz-button nzType="primary" (click)="onSearchBtnClick()">查询
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="table-container">
    <div class="zmy-table">
      <nz-table [nzData]="productList" [nzShowPagination]="true" [nzNoResult]="noResultText" [nzPageSize]="'15'"
        (nzPageIndexChange)="onNZPageIndexChange($event)" [(nzPageIndex)]="pageIndex" #ticketProductTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>产品名称</th>
            <th>所属商家</th>
            <th>市场价</th>
            <th>平台售价</th>
            <th>结算价</th>
            <th>上架时间</th>
            <th>销售状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of ticketProductTable.data; let i=index">
            <td>{{i+(pageIndex-1)*15+1}}</td>
            <td>
              <div class="img-item">
                <div class="img-box">
                  <ng-container *ngIf="product.image_urls">
                    <ng-container *ngFor="let image_url of product.image_urls.split(',');let i=index">
                      <img *ngIf="i===0" src="{{image_url}}" />
                    </ng-container>
                  </ng-container>
                  <img *ngIf="!product.image_urls" src="/assets/images/image_space_3_2.png" />
                  <i *ngIf="product.is_top===1" class="recommend">荐</i>
                </div>
                <a [title]="product.product_name?product.product_name:''" style="word-break: keep-all;"
                  [routerLink]="['../detail', product.product_id]">{{product.product_name | zMaxLength:15}}</a>
              </div>
            </td>
            <td>甜程网</td>
            <ng-container *ngIf="product.third_product">
              <td>
                {{(product.third_product.market_price||product.third_product.market_price===0) ? ('￥ ' + (product.third_product.market_price|centPriceChange) + ' 起') : '--'}}
              </td>
              <td>
                {{(product.third_product.platform_price||product.third_product.platform_price===0) ? ('￥ ' + (product.third_product.platform_price|centPriceChange) + ' 起') : '--'}}
              </td>
              <td>
                {{(product.third_product.buy_price||product.third_product.buy_price===0) ? ('￥ ' + (product.third_product.buy_price|centPriceChange) + ' 起') : '--'}}
              </td>
            </ng-container>
            <ng-container *ngIf="!product.third_product">
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </ng-container>
            <td>
              {{product.shelve_time && product.status ===saleStatus[0] ?(product.shelve_time* 1000 | date:"y-MM-dd HH:mm"):'--'}}
            </td>
            <td>{{product.status | saleStatus}}</td>
            <td class="operation">
              <a [title]="'查看'" [routerLink]="['../detail', product.product_id]">查看</a>
              <a [title]="'编辑'" (click)='onEditProduct(product.status,product.product_id)'>编辑</a>
              <a [title]="'下架'" *ngIf="product.status===saleStatus[0]" (click)="onChangeSaleStatus(product)">下架</a>
              <a [title]="'上架'" *ngIf="product.status===saleStatus[1]" (click)="onChangeSaleStatus(product)">上架</a>
              <a [title]="'删除'" *ngIf="product.status===saleStatus[1]" (click)="onDeleteProduct(product)">删除</a>
              <ng-container *ngIf="product.status===saleStatus[0]">
                <a [title]="'设为推荐'" *ngIf="product.is_top===2" (click)="onChangeTopStatus(product)">设为推荐</a>
                <a [title]="'取消推荐'" *ngIf="product.is_top===1" (click)="onChangeTopStatus(product)">取消推荐</a>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>