.search-container {
  margin-left: 15px;
  width: calc(100% - 30px);
}

.search-form .form-group {
  margin-right: 20px !important;
}

.form-group select {
  width: 150px;
}

.form-group .line {
  margin: 0 8px;
}

.search-btn-group {
  margin-top: -1px !important;
}
