<div class="content-header">
    <app-crumb [level1Name]="'活动管理'" [level2Name]="'分销活动'" [level3Name]="'活动详情'"
               [level2RelativePath]="'../../../activity-list'"></app-crumb>
</div>
<div class="tab-bar-list">
    <nz-radio-group [nzButtonStyle]="'solid'" [(ngModel)]="tab_index">
        <label nz-radio-button [nzValue]=ActivityType.detail
               (click)="onTabChange(ActivityType.detail,true)">详细信息</label>
        <label nz-radio-button [nzValue]=ActivityType.business
               (click)="onTabChange(ActivityType.business,true)">商家</label>
    </nz-radio-group>
</div>
<div class="content-flow" *ngIf="tab_index===ActivityType.detail">
    <!-- 查看明细 -->
    <div class="content-container detail-container">
        <table class="detail-table" *ngIf="distributionActivityDetail.activity_id">
            <tr>
                <td>活动名称：</td>
                <td>{{distributionActivityDetail.title}}</td>
                <td>ID：</td>
                <td>{{distributionActivityDetail.activity_id}}</td>
            </tr>
            <tr>
                <td>跳转链接：</td>
                <td>{{distributionActivityDetail.jump_content}}</td>
                <td>统计业务：</td>
                <td>检车服务</td>
            </tr>
            <tr>
                <td>活动时间：</td>
                <td>
                    <ng-container *ngIf="distributionActivityDetail.start_time&&distributionActivityDetail.end_time">
                        {{distributionActivityDetail.start_time * 1000| date:"y-MM-dd HH:mm"}}
                        至 {{distributionActivityDetail.end_time * 1000| date:"y-MM-dd HH:mm"}}
                    </ng-container>
                    <ng-container *ngIf="!distributionActivityDetail.start_time||!distributionActivityDetail.end_time">
                        --
                    </ng-container>
                </td>
                <td>上线时间：</td>
                <td>{{distributionActivityDetail.online_type === OnlineTimeType.now ? '立即上线' : (distributionActivityDetail.fixed_time * 1000| date:"y-MM-dd HH:mm")}}</td>
            </tr>
            <tr>
                <td>下单数：</td>
                <td>{{distributionActivityDetail.total_order_number}}</td>
                <td>累计浏览量：</td>
                <td>{{distributionActivityDetail.total_page_view}}</td>
            </tr>
            <tr>
                <td>累计浏览人数：</td>
                <td colspan="3">{{distributionActivityDetail.total_user_view}}</td>
            </tr>
        </table>

        <div class="search-container">
            <form class="search-form" autocomplete="off">
                <div class="form-group">
                    <span>日期：</span>
                    <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
                                    name='start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                    nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                    <span class='line'>-</span>
                    <nz-date-picker [(ngModel)]="end_time" name='end_time' [nzShowToday]=false
                                    [nzDisabledDate]="disabledEndTime"
                                    [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                    <div class="search-btn-group">
                        <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(false)">查询
                        </button>
                    </div>
                </div>
            </form>
            <ul class="header-right">
                <li class="big-bg">
                    <a>浏览数据导出</a>
                </li>
                <li class="big-bg">
                    <a>下单数据导出</a>
                </li>
            </ul>
        </div>
        <div class="table-container">
            <div class="zmy-table">
                <nz-table #detailListTable [nzData]="nzSearchAssistant.nzData"
                          [nzPageSize]="nzSearchAssistant.pageSize"
                          [(nzPageIndex)]="nzSearchAssistant.currentPage"
                          (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                          [nzNoResult]="nzSearchAssistant.nzNoResultText">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>时间</th>
                        <th>浏览量</th>
                        <th>浏览人数</th>
                        <th>下单数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of detailListTable.data; let index=index">
                        <td>{{(nzSearchAssistant.currentPage - 1) * nzSearchAssistant.pageSize + index + 1}}</td>
                        <td>{{data.ymd * 1000| date:"y-MM-dd"}}</td>
                        <td>{{data.page_view}}</td>
                        <td>{{data.user_view}}</td>
                        <td>{{data.order_number}}</td>
                        <td class="operation">
                            <a [title]="'明细'" (appZDebounceClick)="onClickDetailList()">明细</a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>
<div class="content-flow" *ngIf="tab_index===ActivityType.business">
    <!-- 查看明细 -->
    <div class="content-container business-container">
        <div class="search-container">
            <form class="search-form" autocomplete="off">
                <div class="form-group">
                    <span>名称：</span>
                    <input class="form-control" placeholder="请输入名称" [(ngModel)]="searchParamsBusiness.merchant_name"
                           appIgnoreSpace
                           name="merchant_name"
                           maxlength="20"/>
                </div>
                <div class="form-group">
                    <span>ID：</span>
                    <input class="form-control" placeholder="请输入ID" [(ngModel)]="searchParamsBusiness.merchant_id"
                           appIgnoreSpace
                           name="merchant_name"
                           maxlength="50"/>
                    <div class="search-btn-group">
                        <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(false)">查询
                        </button>
                    </div>
                </div>
            </form>
            <ul class="header-right">
                <li class="big-bg" (click)="onClickDownLoadCode()">
                    <a>下载二维码链接</a>
                </li>
                <li class="big-bg" (click)="onClickSelectionBusiness()">
                    <a>选用</a>
                </li>
            </ul>
        </div>
        <div class="table-container">
            <div class="zmy-table">
                <nz-table #businessListTable [nzData]="nzSearchAssistant.nzData"
                          [nzPageSize]="nzSearchAssistant.pageSize"
                          [(nzPageIndex)]="nzSearchAssistant.currentPage"
                          (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                          [nzNoResult]="nzSearchAssistant.nzNoResultText">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>商家ID（唯一识别码）</th>
                        <th>商家名称</th>
                        <th>二维码链接</th>
                        <th>浏览量</th>
                        <th>浏览人数</th>
                        <th>下单数</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of businessListTable.data; let index=index">
                        <td>{{(nzSearchAssistant.currentPage - 1) * nzSearchAssistant.pageSize + index + 1}}</td>
                        <td [title]="data.merchant_id">
                         <span [appTxtCopy]="data.merchant_id">
                            {{data.merchant_id}}
                        </span>
                        </td>
                        <td [title]="data.merchant_name">{{data.merchant_name|zMaxLength:20}}</td>
                        <td [title]="data.code_link">
                         <span [appTxtCopy]="data.code_link">
                            {{data.code_link|zMaxLength:20}}
                        </span>
                        </td>
                        <td>{{data.page_view}}</td>
                        <td>{{data.user_view}}</td>
                        <td>{{data.order_number}}</td>
                        <td>{{data.created_time * 1000| date:"y-MM-dd HH:mm"}}</td>
                        <td class="operation">
                            <a [title]="'删除'" (appZDebounceClick)="onClickDeleteMerchant(data.merchant_id)">删除</a>
                            <a [title]="'明细'" (appZDebounceClick)="onClickDetailList(data.merchant_id)">明细</a>
                            <a [title]="'导出'">导出</a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>

<!--详细信息明细-->
<app-detail-list #detailListComponent></app-detail-list>

<!--商家明细-->
<app-business-list #businessListComponent></app-business-list>

<!--选择商家-->
<app-select-business #selectBusinessComponent
                     (selectBusiness)="nzSearchAssistant.submitSearch(true)"></app-select-business>
