.modal {
    z-index: 1000;
}

.form-horizontal {
    height: 650px;
    overflow-y: auto;
}

.row-message {
    margin-top: -6px !important;
    /*height: 14px !important;*/
}

.row-message .err-message {
    margin-top: -12px !important;
}

.cover-hint {
    margin-left: 131px;
}

.form-control {
    background: #f8f9fb ;
}

.control-input {
    margin-bottom: 0;
}

.control-label {
    margin-bottom: 0!important;
    height: 45px!important;
    line-height: 45px;
}

select {
    width: 130px !important;
    background: #fff !important;
}

.online-btn,
.offline-btn {
    font-size: 13px;
    min-width: 120px;
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #888 !important;
    border: 0;
    background: #F7F8FA;
    outline: none;
    border-right: 1px solid rgba(136, 136, 136, 0.3);
}

.online-btn {
    border-radius: 2px;
}

.online-disabled {
    cursor: default;
}

.offline-btn:first-child {
    border-radius: 2px 0 0 2px;
}

.offline-btn:last-child {
    border-right: none!important;
    border-radius: 0 2px 2px 0;
}

.offline-btn:hover {
    color: #fff !important;
    background: #315AC5;
}

.active-btn {
    color: #fff !important;
    background: #3E71F7;
}

.push-rate {
    display: inline-flex;
    width: 450px;
    line-height: 34px;
    margin-left: 128px;
    margin-top: 10px;
}

.push-rate label {
    height: 34px;
    width: 40px;
    text-align: center;
    line-height: 34px;
    border: 0.5px solid rgba(136,136,136,.5);
    background: #f8f9fb;
    border-left: none;
    margin-right: 5px;
}

.push-rate label:last-child {
    width: 34px;
    margin-right: 0;
}

.push-rate input {
    width: 70px;
    margin-left: 5px;
}

.push-rate select {
    margin-right: 5px;
}

.location-crowd input:first-child {
    margin-left: 0;
    margin-right: 5px;
    width: 155px;
}

:host ::ng-deep.ant-calendar-picker {
    width: 182px!important;
}

.break-line {
    width: 95%;
    margin: 10px 0 15px 3% !important;
    height:2px;
    border:1px solid rgba(136,136,136,.5);
}
