<!--新建-->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #imageExamplePromptDiv id="imageExamplePromptDiv">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">图片示例</span>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <form class="form-horizontal"
                  autocomplete="off">
                <div class="modal-body">
                    <p class="example-title">
                        <img src="../../../../../../assets/images/image-example/icon_tip.png">
                        <span>可以参考以下角度给爱车拍照！上传图片能让您的信息获得更多访问！</span>
                    </p>
                    <ul>
                        <li>
                            <img src="../../../../../../assets/images/image-example/left_front.png">
                        </li>
                        <li>
                            <img src="../../../../../../assets/images/image-example/right_rear.png">
                        </li>
                        <li>
                            <img src="../../../../../../assets/images/image-example/side.png">
                        </li>
                        <li>
                            <img src="../../../../../../assets/images/image-example/instrument_panel.png">
                        </li>
                        <li>
                            <img src="../../../../../../assets/images/image-example/interior.png">
                        </li>
                        <li>
                            <img src="../../../../../../assets/images/image-example/engine_compartment.png">
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">

                </div>
            </form>
        </div>
    </div>
</div>
