.tab-bar {
    padding: 14px 32px 14px 15px;
    height: 62px;
    overflow: hidden;
    display: flex;
}

.tab-bar > ul {
    width: auto;
    height: 62px;
    overflow: hidden;
    border-radius:4px;
}

.tab-bar > ul > li {
    float: left;
    font-size: 14px;
    min-width: 190px;
    height:60px;
    margin: 2px 2px 0 0;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    outline: none;
    box-shadow:2px 0px 2px 0px rgba(137,146,170,0.33);
    border-radius:4px 4px 0px 0px;
}

.width {
    width: 300px;
}

.tab-bar > ul > li:last-child {
    box-shadow:2px 0px 2px 0px rgba(137,146,170,0.33);
    border-radius:4px 4px 0px 0px;
}

.tab-bar > ul > li.active {
    color: #fff;
    background: rgba(62,113,247,1);
}

.operation a:hover {
    color:rgba(62,113,247,1);
}

::ng-deep .cdk-drag-preview {
    display: table;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}
