.operation-title {
  height: 70px;
  position: fixed;
  top: 76px;
  background: #fff;
  width: calc(100% - 235px);
  line-height: 70px;
}

.op-return {
  float: left;
  margin-left: 15px;
}

.op-save {
  float: right;
  margin-right: 15px;
}

.detail_info {
  font-size: 16px;
  font-family: PingFangSC;
  font-weight: 800;
  color: rgba(35, 36, 47, 1);
  margin: 20px 2px 17px;
}