<div class="content-header">
  <app-crumb [level1Name]="'活动管理'" [level2Name]="'活动配置'" [level2RelativePath]="'../'" [level3Name]="title">
  </app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
  <div class="content-container">
    <form autocomplete="off" class="form-horizontal" #editConfigForm="ngForm">

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>活动类型</span>
        </label>
        <div class="control-input">
          <select name="activity_promotion_type" class="form-control" [(ngModel)]="configParams.promotion_type" required>
            <option value="">请选择</option>
            <option value=1>消费赠券</option>
            <option value=2>赠券活动</option>
          </select>
        </div>
      </div>
      <div *ngIf="configParams.promotion_type=='1'">
        <p class="cover-hint" style="margin: -10px 0 15px 120px">现此类型活动仅支持展示检车服务</p>
      </div>

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>活动名称</span>
        </label>
        <div class="control-input">
          <input name="promotion_name" class="form-control" [(ngModel)]="configParams.promotion_name"
            placeholder="输入1-20个字活动名称" minlength="1" maxlength="20" appIgnoreSpace required>
        </div>
      </div>
      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>图片</span>
        </label>
        <div>
          <app-z-photo-select #activityImg [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
            [isCutCoverImg]="true" (selectedImgChange)="onSelectedPicture($event)" file_id="activityImg"
            [imageWidth]="375" [imageHeight]="200" [imageUrls]="activity_url" #coverImg [aspectRatio]="1.875/1"
            [minCropBoxWidth]="375" [minCropBoxHeight]="200" [resizable]="true" [imageShowWidth]="375">
          </app-z-photo-select>
          <div class="row row-message row-mes">
            <span class="err-message">{{activityImgErrMsg}}</span>
          </div>
          <p class="cover-hint">注：尺寸 750*400px，格式PNG或JPG，大小2M以内</p>
        </div>
      </div>

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>活动开始时间</span>
        </label>
        <div class="control-input">
          <nz-date-picker [(ngModel)]="start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartTime"
            name='config_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
        </div>
      </div>

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>活动截止时间</span>
        </label>
        <div class="control-input">
          <nz-date-picker [(ngModel)]="end_time" [nzShowToday]=false [nzDisabledDate]="disabledEndTime"
            name='config_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
        </div>
      </div>

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>领赠设置</span>
        </label>
        <div class="reward-container">
          <div *ngFor="let reward of editRewardList;let i=index;" class="reward-item-new">
            <div class="item-row">
              <label class="row-title">可领取</label>
              <div class="control-input" style="margin-right: 10px;">
                <label class="eight-word-lable">优惠券模板ID</label>
                <input name="reward_id_{{i}}_{{reward.time}}" [(ngModel)]="reward.reward_id" placeholder=""
                  class="form-control" (change)="onChangeRewardID($event,i)" maxlength="32"
                  oninput="value=value.replace(/[^a-zA-Z0-9]/ig,'')" required appIgnoreSpace />
              </div>
              <div class="control-input">
                <label class="four-word-lable">库存</label>
                <input name="reward_num_{{i}}_{{reward.time}}" [(ngModel)]="reward.reward_num"
                  placeholder="可输入0-1000000数值" class="form-control" oninput="value=value.replace(/[^\d]/g,'')"
                  maxlength="7" (keyup)="onNumberKeyUp(i)" required />
              </div>
            </div>
            <div class="item-row">
              <label class="row-title"></label>
              <div class="control-input" style="margin-right: 10px;">
                <label class="eight-word-lable">提示文字</label>
                <input name="reward_text_{{i}}_{{reward.time}}" [(ngModel)]="reward.reward_text" maxlength="15"
                  placeholder="可输入15字以内文字" class="form-control" appIgnoreSpace />
              </div>
              <div class="control-input">
                <label class="four-word-lable">中奖概率</label>
                <input name="reward_probability_{{i}}_{{reward.time}} " [(ngModel)]="reward.reward_probability"
                  placeholder="可输入0.00001-1数值" class="form-control" (change)="onRateChange($event,i)"
                  (keypress)="inputNumberLimit($event)" required maxlength="7" />
              </div>
              <ng-container *ngIf="configParams.promotion_type=='2'">
                <div class="button-group">
                  <button class="close-btn" type="button" nz-button (click)="onAddRewardClick()"
                          *ngIf="editRewardList.length===(i+1)" [disabled]="editRewardList.length>=5">添加</button>
                  <button *ngIf="editRewardList.length>1 || i > 0" class="remove-btn" nz-button type="button"
                          (click)="onDeleteRewardClick(reward,i)">移除</button>
                </div>
              </ng-container>
            </div>
            <div class="item-row" *ngIf="configParams.promotion_type!='2'">
              <label class="row-title">赠品</label>
              <div class="control-input" style="margin-right: 10px;">
                <select name="related_reward_type_{{i}}_{{reward.time}}" class="form-control" style="width: 130px;"
                  [(ngModel)]="reward.related_reward_type" (change)="onRelatedChange($event,i)">
                  <option [value]=1>优惠券模板ID</option>
                  <option [value]=2>优惠券组ID</option>
                </select>
                <input name="related_reward_id_{{i}}_{{reward.time}}" appIgnoreSpace
                  [(ngModel)]="reward.related_reward_id" placeholder="" maxlength="32" class="form-control"
                  oninput="value=value.replace(/[^a-zA-Z0-9]/ig,'')" />
              </div>
              <div class="control-input" style="margin-right: 30px;"></div>
              <div class="button-group">
                <button class="close-btn" type="button" nz-button (click)="onAddRewardClick()"
                  *ngIf="editRewardList.length===(i+1)" [disabled]="editRewardList.length>=5">添加</button>
                <button *ngIf="editRewardList.length>1 || i > 0" class="remove-btn" nz-button type="button"
                  (click)="onDeleteRewardClick(reward,i)">移除</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-message" style="margin: 3px 0 15px 0;">
        <label class="control-label"></label>
        <div class="control-input err-message">
          <span>{{rewardErrMsg}}</span>
        </div>
      </div>

      <div class="row">
        <label class="control-label">
          <b>*</b>
          <span>活动描述</span>
        </label>
        <app-z-text-ckeditor ckEditorId='descriptionEditor' #descriptionEditor></app-z-text-ckeditor>
      </div>

      <div class="row row-message" style="margin: 3px 0 15px 0;">
        <label class="control-label"></label>
        <div class="control-input err-message">
          <span>{{configErrMsg}}</span>
        </div>
      </div>
      <div class="row">
        <button name="sure_btn" type="button" class="sure-btn" nz-button nzType="primary" [disabled]="!editConfigForm.form.valid || !start_time || !end_time || activityImg.imageList.length===0 ||
          !isAlreadyFill()" (appZDebounceClick)="onEditFormSubmit()">
          保存
        </button>
        <button name="close_btn" type="button" class="close-btn" nz-button (click)="onCancelClick()">取消</button>
      </div>
    </form>
  </div>
</div>
