<!-- 选择商城对应类型商品 -->
<div class="modal fade" #chooseGoodModal id="chooseGoodModal" data-backdrop="false" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-common">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">选择{{searchParams.commodity_type|commodityType}}</span>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" class="form-horizontal" #chooseGoodForm="ngForm">
          <div class="form-group">
            <span>商品名称：</span>
            <input class="form-control" (keyup)="nzSearchAssistant.submitSearch(true);"
              [(ngModel)]="searchParams.commodity_name" name="commodity_name" placeholder="请输入商品名称" maxlength="20"
              appIgnoreSpace />
          </div>
          <div class="table-container">
            <nz-table #goodsTable [nzData]="nzSearchAssistant.nzData" [nzNoResult]="nzSearchAssistant.nzNoResultText"
              [nzPageSize]="'5'" (nzPageIndexChange)="onPageSelectd($event)"
              [(nzPageIndex)]="nzSearchAssistant.currentPage">
              <thead>
                <tr>
                  <th></th>
                  <th>序号</th>
                  <th>商品名称</th>
                  <th>售价</th>
                  <th>原价</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let commodity of goodsTable.data; let i=index">
                  <td>
                    <label nz-checkbox
                      [nzChecked]="selectedGood && selectedGood.commodity_id === commodity.commodity_id"
                      (nzCheckedChange)="onItemChecked(commodity, $event)"></label>
                  </td>
                  <td>{{(nzSearchAssistant.currentPage-1)*nzSearchAssistant.pageSize+i+1}}</td>
                  <td>{{commodity.commodity_name||'--'}}</td>
                  <td>{{commodity.unit_sell_price_section ? commodity.unit_sell_price_section : '--'}}</td>
                  <td>{{commodity.unit_original_price_section ? commodity.unit_original_price_section : '--'}}</td>
                </tr>
              </tbody>
            </nz-table>

          </div>

          <div class="modal-footer" style="justify-content: center !important;">
            <button class="close-btn" type="button" nz-button data-dismiss="modal">取消</button>
            <button class="sure-btn" type="button" nz-button nzType="primary" [disabled]="!selectedGood"
              (appZDebounceClick)="onCheckClick()">确认
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>