<div class="content-header">
    <app-crumb [level1Name]="'推送管理'" [level2Name]="'模板消息推送'" [level2RelativePath]="'../'" [level3Name]="levelName">
    </app-crumb>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
    <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
    <div class="content-container">
        <div class="content-flow">
            <!-- 查看明细 -->
            <form autocomplete="off" class="form-horizontal" #editTemplatePushModal="ngForm">
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>模板标题</span>
                    </label>
                    <div class="control-input">
                        <select [(ngModel)]="templatePushDetail.wx_template_id" name="wx_template_id"
                                [disabled]="template_message_id"
                                (change)="onChangeTemplateTitle($event)"
                                class="form-control" required>
                            <option *ngFor="let template of templateList" [value]="template.wx_template_id">
                                {{template.title}}
                            </option>
                        </select>
                        <div class="operation-item"><p class="cover-hint">请选择适用的模板标题</p></div>
                    </div>
                </div>
                <div class="row content-detail-container">
                    <label class="control-label">
                        <b>*</b>
                        <span>详细内容</span>
                    </label>
                    <div class="control-input detail-content">
                        <div class="content-detail-item">
                            <input class="form-control" type="text" [(ngModel)]="templatePushDetail.content.first.value"
                                   style="margin-bottom: 15px"
                                   placeholder="输入1-50个字"
                                   maxlength="50"
                                   appIgnoreSpace
                                   name="first">
                            <label class="remark-red" nz-checkbox [ngModel]="!!templatePushDetail.content.first.color"
                                   name="first_color"
                                   (ngModelChange)="onRemarkRed($event,templatePushDetail.content.first)">标红</label>
                        </div>
                        <div class="content-detail-item"
                             *ngFor="let keywordObj of templatePushDetail.content.keywords;let index=index">
                            <label class="control-label">
                                {{keywordObj.key}}
                            </label>
                            <input class="form-control" type="text" [(ngModel)]="keywordObj.value" maxlength="50"
                                   placeholder="输入1-50个字"
                                   [name]="keywordObj.timestamp+index">
                            <label class="remark-red" nz-checkbox [ngModel]="!!keywordObj.color"
                                   name="{{keywordObj.timestamp+index}}+'_color'"
                                   (ngModelChange)="onRemarkRed($event,keywordObj)">标红</label>
                        </div>
                        <div class="content-detail-item">
                            <input class="form-control" type="text"
                                   [(ngModel)]="templatePushDetail.content.remark.value"
                                   placeholder="输入1-50个字"
                                   maxlength="50"
                                   appIgnoreSpace
                                   name="remark">
                            <label class="remark-red" nz-checkbox [ngModel]="!!templatePushDetail.content.remark.color"
                                   name="remark_color"
                                   (ngModelChange)="onRemarkRed($event,templatePushDetail.content.remark)">标红</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="align-items: flex-start">
                    <label class="control-label">
                        <b>*</b>
                        <span>用户范围</span>
                    </label>
                    <div class="control-input user-range">
                        <div>
                            <select class="form-control" [(ngModel)]="templatePushDetail.user_category"
                                    (change)="templatePushDetail.uu_codes=''"
                                    name="user_category" required>
                                <option [value]="UserCategory.all">全部(沈阳)</option>
                                <option [value]="UserCategory.appoint">指定用户</option>
                            </select>
                            <div class="operation-item" *ngIf="templatePushDetail.user_category===UserCategory.appoint">
                                <button type="button" nz-button nzType="primary">
                                    导入
                                </button>
                                <input type="file"
                                       (change)="onFileChange($event)"
                                       (click)="$event.target.value = ''"
                                       multiple="false"
                                       accept=".xls,.xlsx"/>
                            </div>
                        </div>
                        <textarea *ngIf="templatePushDetail.user_category===UserCategory.appoint" type="text"
                                  class="form-control" rows="3" required
                                  appIgnoreSpace
                                  [(ngModel)]="templatePushDetail.uu_codes" name="uu_codes"
                                  placeholder="输入用户ID，多个用户使用英文逗号分隔"></textarea>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <span>落地页</span>
                    </label>
                    <div class="control-input">
                        <select class="form-control" [(ngModel)]="templatePushDetail.landing_page_type"
                                name="landing_page_type">
                            <option value="">请选择</option>
                            <option [value]="LandingPageType.H5">H5</option>
                            <option [value]="LandingPageType.appletNative">小程序原生页</option>
                        </select>
                        <input class="form-control" placeholder="请输入跳转URL"
                               maxlength="2000" [(ngModel)]="templatePushDetail.landing_page" name="landing_page"
                               appIgnoreSpace
                               style="border-left: none!important;width: 300px">
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>*</b>
                        <span>推送时间</span>
                    </label>
                    <div class="control-input">
                        <nz-radio-group [(ngModel)]="templatePushDetail.send_type" name="send_type"
                                        [nzDisabled]="template_message_id"
                                        (ngModelChange)="onChangeSendType()">
                            <label nz-radio [nzValue]="SendType.pushNow">立即推送</label>
                            <label nz-radio [nzValue]="SendType.timingPush">定时推送</label>
                            <label nz-radio [nzValue]="SendType.periodicPush">周期推送</label>
                        </nz-radio-group>
                    </div>
                </div>
                <div class="row" *ngIf="templatePushDetail.send_type===SendType.timingPush">
                    <label class=" control-label">
                    </label>
                    <div class="control-input">
                        <nz-date-picker [(ngModel)]="templatePushDetail.set_time" [nzShowToday]=false required
                                        [nzDisabled]="template_message_id"
                                        [nzDisabledDate]="disabledSetTime"
                                        name='set_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                        nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                    </div>
                </div>
                <div class="row" *ngIf="templatePushDetail.send_type===SendType.periodicPush">
                    <label class="control-label">
                    </label>
                    <div class="control-input periodic-push-container">
                        <nz-date-picker [(ngModel)]="templatePushDetail.start_date" [nzShowToday]=false
                                        [nzDisabled]="dateUnlimitedChecked||template_message_id"
                                        [nzDisabledDate]="disabledStartDate"
                                        name='start_date'
                                        nzFormat="yyyy-MM-dd"></nz-date-picker>
                        <span class='line'>-</span>
                        <nz-date-picker [(ngModel)]="templatePushDetail.end_date" [nzShowToday]=false
                                        [nzDisabled]="dateUnlimitedChecked||template_message_id"
                                        [nzDisabledDate]="disabledEndDate"
                                        name='end_date'
                                        nzFormat="yyyy-MM-dd"></nz-date-picker>
                        <label nz-checkbox [(ngModel)]="dateUnlimitedChecked" name="dateUnlimitedChecked"
                               [nzDisabled]="template_message_id"
                               (ngModelChange)="onClickDateUnlimited()">
                            不限
                        </label>
                    </div>
                </div>
                <div class="row" *ngIf="templatePushDetail.send_type===SendType.periodicPush">
                    <label class="control-label">
                    </label>
                    <div class="control-input">
                        <nz-checkbox-group [(ngModel)]="checkOptions" name="checkOptions"
                                           [nzDisabled]="template_message_id"></nz-checkbox-group>
                        <div class="week-selected-checkbox">
                            <span [style.cursor]="template_message_id?'not-allowed':'pointer'"
                                  (click)="onClickWeekDay(WeekdayOperationType.all)">全选</span>
                            <span [style.cursor]="template_message_id?'not-allowed':'pointer'"
                                  (click)="onClickWeekDay(WeekdayOperationType.workingDay)">工作日</span>
                            <span [style.cursor]="template_message_id?'not-allowed':'pointer'"
                                  (click)="onClickWeekDay(WeekdayOperationType.weekend)">周末</span>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="templatePushDetail.send_type===SendType.periodicPush">
                    <label class="control-label"></label>
                    <div class="control-input">
                        <app-date-clock [has24]="false" [(hour)]="time.hour" [(minute)]="time.minute"
                                        [readonly]="template_message_id">
                        </app-date-clock>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <span>备注</span>
                    </label>
                    <div class="control-input">
                      <textarea type="text" class="form-control" rows="3" maxlength="100"
                                placeholder="输入描述，100字以内，仅用于后台查看" [(ngModel)]="templatePushDetail.remark" appIgnoreSpace
                                name="remark1"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="sure-btn" type="submit" nz-button nzType="primary"
                            [disabled]="!editTemplatePushModal.form.valid||disabledBtn"
                            (appZDebounceClick)="onEditFormSubmit()">保存
                    </button>
                    <button class="close-btn" type="button" nz-button (click)="goToListPage()">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
