.tab-bar {
  margin: 0 15px;
  height: 30px;
  overflow: hidden;
}

.tab-bar>ul {
  width: auto;
  height: 30px;
  overflow: hidden;
  display: inline-flex;
}

.tab-bar>ul>li {
  font-size: 14px;
  min-width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  outline: none;
  margin-right: 50px;
}

.tab-bar>ul>li.active {
  color: #3E71F7;
  border-bottom: 2px solid #3E71F7;
}

.tab-bar>ul>li:hover {
  color: #3E71F7;
}

.operation a:hover {
  color: #3E71F7;
}

::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

.search-container {
  margin-left: 15px;
  width: calc(100% - 30px);
}

.search-form select {
  width: 120px;
}

.line {
  margin: 0 8px;
}

::ng-deep .ant-input:placeholder-shown {
  height: 34px;
}

.search-btn-group {
  margin-top: -1px !important;
}

.tab-bar-list {
  padding: 14px 15px 0 15px;
}

.tab-bar-list ::ng-deep .ant-radio-group {
  display: inline-flex;
  flex-wrap: nowrap;
}

.tab-bar-list ::ng-deep .ant-radio-button-wrapper {
  width: 100px;
  height: 60px;
  color: #3B3B3B;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  border-bottom: none;
  /* border-color: #888; */
  padding: 0 5px;
  box-shadow: 2px 0px 2px 0px rgba(137, 146, 170, 0.33);
}

.tab-bar-list ::ng-deep .ant-radio-button-wrapper-checked {
  color: #fff;
}

.tab-bar-list ::ng-deep .ant-radio-button-wrapper:first-child {
  border-radius: 4px 0 0 0;
}

.tab-bar-list ::ng-deep .ant-radio-button-wrapper:last-child {
  border-radius: 0 4px 0 0;
}

.image-url {
  height: 30px;
  width: 30px;
}

.pic {
  margin-right: 5px;
  cursor: pointer;
}

.top-img {
  width: 32px;
}