.search-container {
  margin-left: 15px;
  width: calc(100% - 30px);
  padding: 0;
}

.search-btn-group {
  margin-top: -1px !important;
}

.control-input ul {
  margin-bottom: 0;
}

.control-input li {
  float: left;
  width: 200px;
  color: #888888;
  display: flex;
  align-items: center;
}

.control-input .checkbox {
  margin-right: 10px;
}

.row label {
  line-height: 30px;
}