<div class="content-header">
    <app-crumb [level1Name]="'积分管理'" [level2Name]="'积分兑换商城'"
               [level3Name]="(sourceType===2?'编辑_':'查看_')+ (commodity_type|commodityType)"
               [level2RelativePath]="commodity_id?'../../../list':'../list'">
    </app-crumb>
    <ul class="header-right">
        <li class="big-bg" *ngIf="commodityInfo && sourceType===3"
            [routerLink]="['../../../edit/'+commodity_id+'/'+commodity_type]">
            <a>编辑</a>
        </li>
    </ul>
</div>
<div class="content-flow" *ngIf="commodityInfo">
    <div class='content-container'>
        <form class="form-horizontal" #commodityForm="ngForm" autocomplete="off">
            <div class="card_content">
                <div class="row">
                    <label class="control-label">
                        <span>业务类型</span>
                    </label>
                    <div class="control-input">
                        <a>商城</a>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <span>商品类型</span>
                    </label>
                    <div class="control-input">
                        <a class="commodity-type-btn commodity-type-active-btn"
                           *ngIf="commodityInfo.commodity_type===1">
                            <span>实物商品</span>
                            <span>物流发货</span>
                        </a>
                        <a class="commodity-type-btn commodity-type-active-btn"
                           *ngIf="commodityInfo.commodity_type===2">
                            <span>虚拟商品</span>
                            <span>无需配送</span>
                        </a>
                        <a class="commodity-type-btn commodity-type-active-btn"
                           *ngIf="commodityInfo.commodity_type===3">
                            <span>优惠券商品</span>
                            <span>无需配送</span>
                        </a>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <span>供货方式</span>
                    </label>
                    <div class="control-input">
                        <a name="shipping_method" class="tab-btn"
                           [class.active-btn]="commodityInfo.shipping_method=='1'">平台自营</a>
                        <a style="margin-right: 5px"
                           name="shipping_method" class="tab-btn"
                           [class.active-btn]="commodityInfo.shipping_method=='2'">第三方供应</a>
                        <select *ngIf="commodityInfo.shipping_method=='2'" class="form-control" name="mall_business_id"
                                disabled style="width: 180px" [(ngModel)]="commodityInfo.business_id">
                            <option *ngFor="let item of businessList" [value]="item.mall_business_id">
                                {{item.mall_business_name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <span>收款方</span>
                    </label>
                    <div class="control-input">
                        <a>{{commodityInfo.collection_type == 1 ? '平台' : '此供应商户'}}</a>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>商品名称</span>
                    </label>
                    <div class="control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.commodity_name"
                               name="commodity_name"
                               placeholder="请输入1-20个字商品名称" maxlength="20" appIgnoreSpace required
                               [disabled]="sourceType===3">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>副标题</span>
                    </label>
                    <div class="control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.subtitle" name="subtitle"
                               placeholder="请输入0-80个字副标题" maxlength="80" appIgnoreSpace [disabled]="sourceType===3">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>封面图片</span>
                    </label>
                    <div *ngIf="sourceType!==3">
                        <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
                                            [isCutCoverImg]="true"
                                            (selectedImgChange)="onSelectedPicture($event,'cover_image')"
                                            file_id="coverImg"
                                            [imgReg]="imgReg" [imageWidth]="97*aspectRatio" [imageHeight]="97"
                                            [imageUrls]="coverImgList" #coverImg
                                            [aspectRatio]="aspectRatio" [minCropBoxWidth]="345" [minCropBoxHeight]="194"
                                            [resizable]="true"
                                            [imageShowWidth]="194*aspectRatio">
                        </app-z-photo-select>
                        <p class="cover-hint">注：尺寸750 × 388px，格式PNG或JPG，大小2M以内，最多上传1张</p>
                    </div>
                    <div *ngIf="sourceType===3">
                        <app-z-photo-select *ngIf='coverImgList.length!==0' [hasAddPicture]="false"
                                            [hasDeletePicture]="false"
                                            [maxLength]="6" [imageUrls]="coverImgList" [imageWidth]="97*aspectRatio"
                                            [imageHeight]="97" #coverImg>
                        </app-z-photo-select>
                        <img *ngIf='coverImgList.length ===0' src="/assets/images/image_space_3_2.png"/>
                    </div>
                </div>
                <div class="err-message" style="margin-top: -10px">
                    <span>{{ this.errMessageGroup?.errJson?.cover_image.errMes }}</span>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>商品图片</span>
                    </label>
                    <div *ngIf="sourceType!==3">
                        <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
                                            [maxLength]="6"
                                            [imgReg]="imgReg" [isCutCoverImg]="true" [imageWidth]="100"
                                            [imageHeight]="100"
                                            [imageUrls]="commodityInfo.commodity_images" [imageShowWidth]="100"
                                            [resizable]="true"
                                            (selectedImgChange)="onSelectedPicture($event,'commodity_images')"
                                            file_id="commodityImg" #commodityImg>
                        </app-z-photo-select>
                        <p class="cover-hint">注：尺寸800 × 800px，格式PNG或JPG，大小2M以内，最多上传6张</p>
                    </div>
                    <div *ngIf="sourceType===3">
                        <app-z-photo-select *ngIf='commodityInfo.commodity_images.length!==0' [hasAddPicture]="false"
                                            [hasDeletePicture]="false" [maxLength]="6"
                                            [imageUrls]="commodityInfo.commodity_images" #commodityImg>
                        </app-z-photo-select>
                        <img *ngIf='commodityInfo.commodity_images.length ===0' src="/assets/images/icon_no_img.png"/>
                    </div>
                </div>
                <div class="err-message" style="margin-top: -10px;margin-bottom: 10px;">
                    <span>{{ this.errMessageGroup?.errJson?.commodity_images.errMes }}</span>
                </div>
                <div class="row control-row" *ngIf="specificationList.length">
                    <label class="control-label">
                        <b>*</b>
                        <span>产品规格</span>
                    </label>
                    <div class="control-input table-container" id='table-container'
                         style="padding-top: 10px;width: 1150px;max-width: 1150px">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width: 160px;">规格名称</th>
                                <th *ngIf="commodityInfo.commodity_type===3" style="width: 160px;">优惠券模板ID</th>
                                <th *ngIf="commodityInfo.commodity_type===3" style="width: 160px;">券组ID</th>
                                <th style="width: 125px;">兑换积分</th>
                                <th style="width: 125px;">价格</th>
                                <th style="width: 100px;">
                                    兑换库存
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id='table-tbody'>
                            <tr *ngFor="let specification of specificationList;">
                                <td style="width: 160px;">
                                    <div class="td-content">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="specification.specification_name" appIgnoreSpace required
                                               [name]="specification.specification_name+specification.specification_id"
                                               placeholder="输入1-100字规格名称" minlength="1" maxlength="100">
                                    </div>
                                </td>
                                <td style="width: 160px;" *ngIf="commodityInfo.commodity_type===3">
                                    <div class="td-content name-content">
                                        <input type="text" class="form-control"
                                               [value]="specification.template_coupon_ids" readonly>
                                    </div>
                                </td>
                                <td style="width: 160px;" *ngIf="commodityInfo.commodity_type===3">
                                    <div class="td-content name-content">
                                        <input type="text" class="form-control" [value]="specification.coupon_group_ids"
                                               readonly>
                                    </div>
                                </td>
                                <td style="width: 125px;">
                                    <div class="td-content special-td-content">
                                        <input type="text" class="form-control" [(ngModel)]="specification.integral"
                                               appIntNumber="true" maxlength="9"
                                               appIgnoreSpace required
                                               [name]="'integral_'+specification.specification_id">
                                    </div>
                                </td>
                                <td style="width: 125px;">
                                    <div class="td-content special-td-content">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="specification.unit_sell_price"
                                               appIgnoreSpace required appFloatNumber maxlength="9"
                                               [name]="'unit_sell_price_'+specification.specification_id">
                                        <label class="one-word-lable">元</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-content stock-content">
                                        <input type="text" class="form-control"
                                               [(ngModel)]="specification.stock"
                                               appIntNumber="true"
                                               appIgnoreSpace required maxlength="5"
                                               [name]="'stock_'+specification.specification_id">
                                    </div>
                                    <!--                                    <div class="td-content stock-content" *ngIf="commodityInfo.validity_type===2">-->
                                    <!--                                        <button name="close_btn" type="button" class="price-setting-btn" nz-button-->
                                    <!--                                                (click)="onSettingPriceClick(formatCommoditySpecification.specification_params, specificationIndex)">-->
                                    <!--                                            <img src="/assets/images/icon_calendar.png">设置-->
                                    <!--                                        </button>-->
                                    <!--                                    </div>-->
                                </td>
                                <td>
                                    <div class="td-content sold-amount-container">
                                        <span>已售：{{specification.sold_amount}}</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row control-row" *ngIf="commodityInfo.commodity_type===1">
                    <label class="control-label">
                        <b>*</b>
                        <span>邮费</span>
                    </label>
                    <div class="control-input" style="width: 233px">
                        <input type="text" class="form-control"
                               [(ngModel)]="commodityInfo.freight_fee" name="freight_fee" placeholder="输入0即为包邮"
                               maxlength="3"
                               appIntNumber appIgnoreSpace required>
                        <label class="one-word-lable">元</label>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>限购</span>
                    </label>
                    <div class="control-input purchase-limits">
                        <div>
                            <span>每人限购</span>
                            <input type="text" class="form-control no-focus-border"
                                   style="width: 160px;margin-left: 10px"
                                   [(ngModel)]="commodityInfo.buy_max_num" name="buy_max_num" placeholder="不输则为不限制"
                                   maxlength="8"
                                   appMinNumber="1" appIntNumber="true" [disabled]="sourceType===3">
                            <label class="one-word-lable">件</label>
                        </div>
                        <div style="margin: 0 20px">
                            <span>每人每日限购</span>
                            <input type="text" class="form-control no-focus-border"
                                   style="width: 160px;margin-left: 10px"
                                   [(ngModel)]="commodityInfo.people_buy_max_num" name="people_buy_max_num"
                                   placeholder="不输则为不限制"
                                   maxlength="8"
                                   appMinNumber="1" appIntNumber="true" [disabled]="sourceType===3">
                            <label class="one-word-lable">件</label>
                        </div>
                        <div>
                            <span>商品每日限购</span>
                            <input type="text" class="form-control no-focus-border"
                                   style="width: 160px;margin-left: 10px"
                                   [(ngModel)]="commodityInfo.day_buy_max_num" name="day_buy_max_num"
                                   placeholder="不输则为不限制"
                                   maxlength="8"
                                   appMinNumber="1" appIntNumber="true" [disabled]="sourceType===3">
                            <label class="one-word-lable">件</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>限购描述</span>
                    </label>
                    <div class="control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.buy_remark" name="buy_remark"
                               placeholder="请输入0-200字限购描述" maxlength="200" [disabled]="sourceType===3"/>
                    </div>
                </div>

                <div class="row" *ngIf="commodityInfo.commodity_type!==1">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>核销描述</span>
                    </label>
                    <div class="control-input">
            <textarea type="text" class="form-control" [(ngModel)]="commodityInfo.remark" name="remark" rows="3"
                      placeholder="请输入0-200字核销描述" maxlength="200" [disabled]="sourceType===3"></textarea>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>商户联系电话</span>
                    </label>
                    <div class="control-input">
                        <input type="text" class="form-control" [(ngModel)]="commodityInfo.business_telephone"
                               name="business_telephone" placeholder="输入商户联系电话" maxlength="12" appIgnoreSpace/>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>订单说明</span>
                    </label>
                    <div class="control-input">
                        <textarea type="text" class="form-control" [(ngModel)]="commodityInfo.order_description"
                                  rows="3"
                                  name="order_description"
                                  placeholder="输入0-200字订单说明" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="row control-row">
                    <label class="control-label">
                        <b>&nbsp;</b>
                        <span>按钮描述</span>
                    </label>
                    <div class="control-input button-config">
                        <input class="form-control" [(ngModel)]="commodityInfo.button_config.button_remark"
                               maxlength="20" placeholder="输入0-20字按钮上描述"
                               name="button_remark"
                               appIgnoreSpace>
                        <div class="jump-content">
                            <span>跳转：</span>
                            <select class="form-control" [(ngModel)]="commodityInfo.button_config.button_type"
                                    (change)="commodityInfo.button_config.button_url=''"
                                    name="button_type">
                                <option value=''>请选择</option>
                                <option [value]="1">小程序原生页</option>
                                <option [value]="2">H5链接</option>
                            </select>
                            <input class="form-control" [(ngModel)]="commodityInfo.button_config.button_url"
                                   name="button_url"
                                   placeholder="请输入小程序链接" appIgnoreSpace
                                   maxlength="2000" [required]="!!commodityInfo.button_config.button_type">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>商品描述</span>
                    </label>
                    <div class="control-input description-input">
                        <app-z-text-ckeditor ckEditorId="commodityEditor" #commodityEditor></app-z-text-ckeditor>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;" *ngIf="sourceType!==3">
                    <button name="sure_btn" type="button" class="sure-btn" nz-button nzType="primary"
                            (appZDebounceClick)="onAddOrEditCommoditySubmit()"
                            [disabled]="!commodityForm.form.valid || !CheckImgValid ||  !CheckEditorValid">
                        保存
                    </button>
                    <button name="close_btn" type="button" class="close-btn" nz-button (click)="onCancelClick()">
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
