<!--添加/编辑奖品-->
<div class="modal fade" id="editPrizeModal" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #prizePromptDiv>
    <div class="modal-dialog modal-dialog-common" role="document">
        <div class="modal-content modal-content-common">
            <div class="modal-header">
                <span class="modal-title">{{prizeParams&&prizeParams.prize_id ? '编辑奖品' : '添加奖品'}}</span>
                <button type="button" class="close" data-dismiss="modal">&times;
                </button>
            </div>
            <form *ngIf="prizeParams" autocomplete="off" class="form-horizontal" #editPrizeForm="ngForm">
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>名称</span>
                    </label>
                    <div class="control-input">
                        <input class="form-control" placeholder="请输入1-6字" [(ngModel)]="prizeParams.prize_name" name="prize_name"
                               maxlength="6" autocomplete="off" required appIgnoreSpace (input)="errPositionItem.prize_name.isError=false">
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.prize_name?.isError">{{errPositionItem?.prize_name?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>*</b>
                        <span>图片</span>
                    </label>
                    <div class="control-input">
                        <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
                                            [isCutCoverImg]="true" (selectedImgChange)="onSelectedPicture($event)" file_id="coverImg0"
                                            [imageWidth]="100" [imageHeight]="100" [imageUrls]="cover_url" #coverImg [aspectRatio]="1/1"
                                            [minCropBoxWidth]="160" [minCropBoxHeight]="160" [resizable]="true" [imageShowWidth]="100">
                        </app-z-photo-select>
                        <div class="message">
                            <span *ngIf="errPositionItem?.icon?.isError">{{errPositionItem?.icon?.errMes}}</span>
                            <span class="cover-hint">注:尺寸160×160px，格式PNG或JPG，大小2M以内</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>*</b>
                        <span>奖品</span>
                    </label>
                    <div class="control-input">
                        <nz-radio-group [(ngModel)]="prizeParams.prize_type" name="prize_type" required [nzDisabled]="prizeParams.prize_id"
                        (ngModelChange)="errPositionItem.prize_info.isError=false;errPositionItem.prize_num.isError=false">
                            <label nz-radio [nzValue]=1>商城商品</label>
                            <label nz-radio [nzValue]=2>平台优惠券</label>
                            <label nz-radio [nzValue]=3 [nzDisabled]="prize_type_disabled">再参与1次</label>
                        </nz-radio-group>
                    </div>
                </div>
                <div class="row" *ngIf="prizeParams.prize_type===1">
                    <label class=" control-label"></label>
                    <div class="control-input unit">
                        <input class="form-control" style="width: 360px" [(ngModel)]="prizeParams.prize_info.name"
                               name="name" autocomplete="off" readonly required appIgnoreSpace>
                        <label *ngIf="prizeParams.prize_id" style="width: 66px;cursor: not-allowed">选择</label>
                        <label *ngIf="!prizeParams.prize_id" style="width: 66px;cursor: pointer"
                               (click)="onAddCommodityClick(prizeParams.prize_info)">选择</label>
                    </div>
                </div>
                <div class="row" *ngIf="prizeParams.prize_type===2">
                    <label class=" control-label"></label>
                    <div class="control-input">
                        <select class="form-control" [(ngModel)]="prizeParams.prize_info.coupon_type" name="coupon_type"
                                required (change)="errPositionItem.prize_info.isError=false" [disabled]="prizeParams.prize_id">
                            <option [value]=1>优惠券模板</option>
                            <option [value]=2>优惠券组</option>
                        </select>
                        <input class="form-control" placeholder="请输入ID" [(ngModel)]="prizeParams.prize_info.coupon_id"
                               name="coupon_id" oninput="value=value.replace(/[\u4e00-\u9fa5-\u0020]/ig,'')"
                               (input)="errPositionItem.prize_info.isError=false" [disabled]="prizeParams.prize_id"
                               maxlength="32" autocomplete="off" required appIgnoreSpace style="border-left: none!important;">
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.prize_info?.isError">{{errPositionItem?.prize_info?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>*</b>
                        <span>数量</span>
                    </label>
                    <div class="control-input unit">
                        <input class="form-control" placeholder="0-999999" [(ngModel)]="prizeParams.prize_num" name="prize_num"
                               maxlength="6" autocomplete="off" required appIntNumber="true" appIgnoreSpace
                                (input)="errPositionItem.prize_num.isError=false">
                        <label>件</label>
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.prize_num?.isError">{{errPositionItem?.prize_num?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>中奖概率</span>
                    </label>
                    <div class="control-input unit">
                        <input class="form-control" placeholder="0.001-100" [(ngModel)]="prizeParams.win_probability"
                               name="win_probability" appFloatNumber="3" maxlength="5" autocomplete="off" required appIgnoreSpace
                               oninput="if(value>100){value=100}" onChange="if(value<0.001){value=0.001}"
                               (input)="errPositionItem.win_probability.isError=false">
                        <label>%</label>
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.win_probability?.isError">{{errPositionItem?.win_probability?.errMes}}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="close-btn" type="button" nz-button data-dismiss="modal">取消</button>
                    <button class="sure-btn" type="button" nz-button nzType="primary"
                            [disabled]="!editPrizeForm.form.valid||coverImg.imageList.length===0"
                            (appZDebounceClick)="onEditFormSubmit()">保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--选择商品-->
<app-choose-commodity></app-choose-commodity>
