<div class="content-header">
    <app-crumb [level1Name]="'积分管理'" [level2Name]="'积分订单管理'"></app-crumb>
    <ul class="header-right">
        <li class="big-bg">
            <a (click)='onExportOrderList()'>导出Excel</a>
        </li>
    </ul>
</div>
<div class="content-flow">

    <div class="tab-bar-list" style="padding-top:0">
        <nz-radio-group [nzButtonStyle]="'solid'" [(ngModel)]="activeTabIndex" (ngModelChange)="onTabChange($event)">
            <label *ngFor='let tab of tabList;' nz-radio-button [nzValue]='tab.key'>{{tab.label}}</label>
        </nz-radio-group>
    </div>
    <div class="search-container" style="padding:0">
        <form class="search-form" autocomplete="off">
            <!-- <div class="form-group">
              <span>商品类型：</span>
              <select class="form-control" style="width: 120px;" name="commodity_type"
                [(ngModel)]="searchParams.commodity_type">
                <option value=0>全部</option>
                <option value=1>实物商品</option>
                <option value=2>虚拟商品</option>
                <option value=3>优惠券商品</option>
              </select>
            </div> -->

            <div class="form-group">
                <span>购买手机号：</span>
                <input class="form-control" [(ngModel)]="searchParams.telephone" placeholder="请输入购买手机号" appIntNumber
                       name="telephone" maxlength="20"/>
            </div>
            <div class="form-group">
                <span>联系人：</span>
                <input class="form-control" [(ngModel)]="searchParams.name" placeholder="请输入联系人" name="name"
                       maxlength="20"
                       appIgnoreSpace/>
            </div>
            <div class="form-group">
                <span>产品名称：</span>
                <input class="form-control" [(ngModel)]="searchParams.commodity_name" placeholder="请输入产品名称"
                       name="commodity_name" maxlength="20" appIgnoreSpace/>
            </div>
            <div class="form-group">
                <span>订单编号：</span>
                <input class="form-control" [(ngModel)]="searchParams.integral_order_id" placeholder="请输入订单编号"
                       name="integral_order_id" maxlength="32" appIgnoreSpace/>
            </div>
            <div class="form-group">
                <span>下单时间：</span>
                <nz-date-picker [(ngModel)]="order_start_time" [nzShowToday]=false
                                [nzDisabledDate]="disabledOrderStartTime"
                                name='order_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <span class='line'>-</span>
                <nz-date-picker [(ngModel)]="order_end_time" [nzShowToday]=false [nzDisabledDate]="disabledOrderEndTime"
                                name='order_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
            </div>
            <div class="form-group">
                <span>支付时间：</span>
                <nz-date-picker [(ngModel)]="pay_start_time" [nzShowToday]=false [nzDisabledDate]="disabledStartPayTime"
                                name='pay_start_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <span class='line'>-</span>
                <nz-date-picker [(ngModel)]="pay_end_time" [nzShowToday]=false [nzDisabledDate]="disabledEndPayTime"
                                name='pay_end_time' [nzShowTime]="{'nzFormat':'HH:mm'}"
                                nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                <div class="search-btn-group">
                    <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(true)">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">

        <div class="zmy-table goods-order">
            <nz-table #integralOrderTable [nzData]="nzSearchAssistant.nzData"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText"
                      [nzPageSize]="'15'" (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)"
                      [(nzPageIndex)]="nzSearchAssistant.currentPage">
                <thead>
                <tr>
                    <th>序号</th>
                    <th nzAlign="left" nzWidth="50%">商品/单价/数量</th>
                    <th>兑换积分</th>
                    <th>买家/收货人</th>
                    <th style="min-width: 150px;">订单状态</th>
                    <!-- <th nzWidth="165px">操作</th> -->
                </tr>
                </thead>
                <tbody>
                <ng-template ngFor let-order let-i=index [ngForOf]="integralOrderTable.data">
                    <tr>
                        <td>{{(nzSearchAssistant.currentPage - 1) * nzSearchAssistant.pageSize + i + 1}}</td>
                        <td colspan="3" nzAlign="left">
                            订单号：{{order.integral_order_id}} /
                            下单时间：{{order.created_time ? (order.created_time * 1000 | date:"y-MM-dd HH:mm:ss") : '--'}}
                        </td>
                        <td>
                            <a style="margin-right: 10px;" title="查看详情"
                               [routerLink]="['../detail', order.integral_order_id,order.detail[0]?.commodity_type]">
                                <button class='goods-btn' nz-button nzType="primary">查看详情</button>
                            </a>
                            <a title="备注" (click)="onUpdateRemarkClick('备注',order)">
                                <button class='remark-btn' nz-button nzType="default">备注</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <ng-container *ngIf="order.detail&&order.detail.length>0">
                            <td class="img-item" *ngFor="let commodity of order.detail">
                                <img *ngIf="!commodity.commodity_images||commodity.commodity_images.length===0"
                                     src="/assets/images/icon_no_img.png"/>
                                <img *ngIf="commodity.commodity_images&&commodity.commodity_images.length>0"
                                     src={{commodity.commodity_images[0]}}/>
                                <div style="display: grid;text-align: left;">
                                    <a style="word-break: keep-all;text-align: left;white-space: nowrap;"
                                       [routerLink]="['/main/operation/integral-management/integral-mall/detail', commodity.commodity_id,commodity.commodity_type]">
                                        {{commodity.commodity_name || '--'}}</a>
                                </div>
                                <div class="fee">
                                    <span>{{commodity.integral_amount || 0}}</span>
                                    <span>x {{commodity.amount || 0}}</span>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="!order.detail||order.detail.length===0">
                            <td>
                                <img src="/assets/images/icon_no_img.png"/>
                            </td>
                        </ng-container>

                        <td>{{order.cost_integral || 0}} </td>

                        <td>
                            <div *ngIf="order.contact">{{order.contact}}</div>
                            <div *ngIf="order.telephone">{{order.telephone}}</div>
                        </td>

                        <td>
                            {{order | orderStatus}}
                            <ng-container *ngIf="order.detail[0]?.commodity_type===3&&order.delivery_status===4">
                                (发货失败)
                            </ng-container>
                        </td>
                        <!-- <td class="operation"></td> -->
                    </tr>
                </ng-template>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<app-order-remark #orderRemark></app-order-remark>
