<div class="content-header">
  <app-crumb [level1Name]="'产品管理'" [level1RelativePath]="'../'" [level2Name]="'编辑产品'"></app-crumb>
</div>
<div class='operation-title'>
  <div class='op-return' [routerLink]="['../list']">
    返回</div>
  <div class='op-save'>保存 </div>
</div>
<div class="content-flow" style="margin-top: 100px;">
  <!-- 产品信息 -->
  <div class='detail_info'>产品信息</div>
  <div>
    <nz-table #basicTable [nzNoResult]="'暂无数据'">
      <thead>
        <tr>
          <th>产品主图</th>
          <th>产品名称</th>
          <th>地址</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="/assets/images/owner.png"></td>
          <td>沈阳清河半岛温泉门票</td>
          <td>xx省沈阳xx区xx街道xxxx号</td>
          <td>在售</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- 产品运营信息 -->
  <div class='detail_info'>产品运营信息</div>
  <div>
    <form nz-form class="content-layout" #registerForm="ngForm">
      <div class="card_content">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">产品标题</nz-form-label>
          <nz-form-control>
            <input class="main-title" placeholder="输入1-20字产品标题用于前端显示" nz-input autocomplete="off" name="main-title"
              required maxlength='20' />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label class="mr_10">副标题</nz-form-label>
          <nz-form-control>
            <input class="subheading" placeholder=" 输入0-80字副标题，在标题下显示" nz-input autocomplete="off" name="Subheading"
              required maxlength='80' />
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>

  <!-- 产品门票信息 -->
  <div class='detail_info'>产品门票信息</div>
  <div>
    <nz-table #basicTable [nzNoResult]="'暂无数据'" [nzData]="productTicketList" [nzShowPagination]="false"
      [nzFrontPagination]='false'>
      <thead>
        <tr>
          <th>门票名称</th>
          <th>市场价</th>
          <th>建议零售价</th>
          <th>结算价</th>
          <th>售价</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i=index">
          <td>
            <nz-collapse nzAccordion>
              <nz-collapse-panel [nzHeader]="data.name">
                <p>预订时间:{{ data.time }}</p>
                <p>费用包含:{{ data.costIncludes }}</p>
                <p>使用须知:{{ data.useInstructions }}</p>
                <p>退改须知:{{ data.withdrawalNotice }}</p>
              </nz-collapse-panel>
            </nz-collapse>
          </td>
          <td>{{data.marketPrice}}</td>
          <td>{{data.proposalPrice}}</td>
          <td>{{data.settlementPrice}}</td>
          <td>{{data.price}}</td>
          <td class="operation">
            <a>置顶</a>
            <a>取消置顶</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- 票务详情 -->
  <div class='detail_info'>票务详情</div>
  <div>
    <form nz-form class="content-layout" #registerForm="ngForm">
      <div class="card_content">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">产品图片</nz-form-label>
          <!-- <nz-form-control class="ml_10">
            <img *ngIf='price_image_url.length<=0&&editSwitch' src="/assets/images/default_pic.png">
            <app-z-photo-select *ngIf='editSwitch' [hasAddPicture]="false" [hasDeletePicture]="false" [maxLength]="6"
              [class.hide]="price_image_url.length<=0" [imageUrls]="price_image_url" #parkingImg>
            </app-z-photo-select>
            <app-z-photo-select *ngIf='!editSwitch' [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="3"
              [maxLength]="6" [isCutCoverImg]="true" (selectedImgChange)="onSelectedPicture($event)" file_id="coverImg"
              [imageHeight]="100" [imageUrls]="price_image_url" #coverImg [imageWidth]="100" [dragCrop]='true'>
            </app-z-photo-select>
            <div *ngIf="errPositionItem?.icon?.isError" class="text-danger" style='margin-top: -14px;'>
              <span class="input-error input_time_valid">{{ errPositionItem?.icon?.errMes}}</span>
            </div>
          </nz-form-control> -->
          <div>注：图片比例为n：n，格式PNG或JPG，大小2M以内，图片名称只支持中文或数字，最多上传6张</div>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">营业时间</nz-form-label>
          <nz-form-control>
            <input class="subheading" nz-input autocomplete="off" name="Subheading" required maxlength='20' />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">联系电话</nz-form-label>
          <nz-form-control>
            <input class="subheading" nz-input autocomplete="off" name="Subheading" required maxlength='20' />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">地址</nz-form-label>
          <nz-form-control>
            <app-pro-city-dist-select [isEdit]="true" #applicationPro (regionIdChanged)="onRegionIdChanged($event)">
            </app-pro-city-dist-select>
            <input class="form-control" style="margin-left: 10px" placeholder="详细地址" name="address">
            <button type="button" class="btn btn-success" (click)="openMapModal()">
              选择位置
            </button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">交通指南</nz-form-label>
          <nz-form-control>
            <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">预订须知</nz-form-label>
          <nz-form-control>
            <textarea name="editor2" id="editor2" rows="10" cols="80"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nzFlex>
          <nz-form-label nzRequired class="mr_10">景区介绍</nz-form-label>
          <nz-form-control>
            <textarea name="editor3" id="editor3" rows="10" cols="80"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</div>

<!-- 地图组件 -->
<app-z-map-select-point (selectedMarkerInfo)="getSelectedMarker($event)" [mapObj]="mapObj"></app-z-map-select-point>