<div class="content-header">
  <div class="header-left">
    <i></i>
    <a [routerLink]="['../']">产品管理</a>
    <span> >><span class='second-crumb'>编辑产品</span></span>
  </div>
  <ul class="header-right">
    <li class="big-bg big-white-btn">
      <a [routerLink]="['../']">返回</a>
    </li>
    <li class="big-bg">
      <a (click)='onSaveFormData()'>保存</a>
    </li>
  </ul>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" [hidden]="loading">
  <div class='des_card'>
    <div class='card-title wh_100'>产品信息</div>
    <div>
      <nz-table #productInfoTable [nzData]="productInfoList" [nzShowPagination]="false" [nzNoResult]="noResultInfoText"
        nzBordered>
        <thead>
          <tr>
            <th>产品主图</th>
            <th>产品名称</th>
            <th>地址</th>
            <th>状态</th>
            <th>产品ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productInfoTable.data; let i=index">
            <td>
              <img *ngIf='!data.product_image' src="/assets/images/pro_default.png">
              <img *ngIf='data.product_image' class='pro-img' [src]="data.product_image">
            </td>
            <td>{{data.product_name}}</td>
            <td>{{data.address}}</td>
            <td>{{data.status| thirdSaleStatus}}</td>
            <td>{{data.product_id}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- 产品运营信息 -->
  <div class='des_card'>
    <div class='card-title wh_140'>产品运营信息</div>
    <div>
      <form nz-form class="content-layout" #productInfoForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品名称</nz-form-label>
            <nz-form-control>
              <input class="main-title" [(ngModel)]="productData.product_name" placeholder="输入1-20字产品名称" nz-input
                autocomplete="off" name="main-title" required maxlength='20' />
              <div *ngIf="productNameErrors" class="text-danger">
                <span class="input-error">{{productNameErrors}}</span>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>副标题</nz-form-label>
            <nz-form-control class="ml_-10">
              <input class="subheading" [(ngModel)]="productData.product_subtitle" placeholder=" 输入0-80字副标题" nz-input
                autocomplete="off" name="subheading" maxlength='80' />
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>


  <!-- 产品门票信息 -->
  <div class='des_card'>
    <div>
      <span class='card-title wh_140'>产品门票信息</span><a class='import-btn' (click)='onUpdateData()'>更新数据</a>
    </div>
    <div class='ticket-table'>
      <nz-table #productTicketTable [nzData]="productTicketList" [nzShowPagination]="false"
        [nzNoResult]="noResultTicketText" [nzFrontPagination]='false' nzBordered>
        <thead>
          <tr>
            <th>门票名称</th>
            <th>购票须知</th>
            <th>门票描述</th>
            <th>实时价格与库存</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productTicketTable.data; let i=index">
            <td class="name_td">
              <div style="margin-top: 20px;">
                <div class='top-img'>
                  <img *ngIf='data.is_top===1' src="/assets/images/top_icon.png">
                </div>
                <span class='ticket-title' [title]='data.ticket_name'>{{data.ticket_name}}</span>
              </div>
            </td>
            <td nzAlign="left" class='ticket-info'>
              <div class='ticket-btn'>
                <button *ngIf="!data.isEditTicketInsutruction" nz-button nzType="primary"
                  (click)="onEditTicketInsutruction(data)">编辑</button>
                <div *ngIf="data.isEditTicketInsutruction">
                  <button nz-button nzType="primary" style="margin-right:10px" (click)="onSaveTicketInsutruction(data)"
                    [disabled]='!(data.preset_time&&data.preset_time!==0)||!(data.fee_contain&&data.fee_contain!==0)||!(data.use_notice&&data.use_notice!==0)||!(data.rc_notice&&data.rc_notice!==0)'>保存</button>
                  <button nz-button nzType="default" (click)="onCancelTicketInsutruction(data,i)">取消</button>
                </div>
              </div>
              <div style="clear: both;"></div>
              <ul *ngIf="!data.isEditTicketInsutruction" class='info-ul'>
                <li class='des-item'>
                  <span class='des-title'>预定时间</span>
                  <span class='info'>{{data.preset_time||'--'}}</span>
                </li>
                <li class='des-item'>
                  <span class='des-title'>费用包含</span>
                  <span class='info'>{{data.fee_contain||'--'}}</span>
                </li>
                <li class='des-item'>
                  <span class='des-title'>使用须知</span>
                  <span class='info'>{{data.use_notice||'--'}}</span>
                </li>
                <li class='des-item'>
                  <span class='des-title'>退改须知</span>
                  <span class='info'>{{data.rc_notice||'--'}}</span>
                </li>
              </ul>
              <ul *ngIf="data.isEditTicketInsutruction" class='info-ul'>
                <li class='info-item'>
                  <span class='des-title info-title'>
                    <span style="color: red;">*</span>预定时间</span>
                  <div class='info-text'>
                    <textarea [(ngModel)]="data.preset_time" placeholder="200字以内..." maxlength="200"
                      name="order_time"></textarea>
                  </div>
                </li>
                <li class='info-item'>
                  <span class='des-title info-title'><span style="color: red;">*</span>费用包含</span>
                  <div class='info-text'>
                    <textarea class="price" [(ngModel)]="data.fee_contain" placeholder="200字以内..." maxlength="200"
                      name="price"></textarea>
                  </div>
                </li>
                <li class='info-item'>
                  <span class='des-title info-title'><span style="color: red;">*</span>使用须知</span>
                  <div class='info-text'>
                    <textarea [(ngModel)]="data.use_notice" placeholder="200字以内..." maxlength="200"
                      name="remark"></textarea>
                  </div>
                </li>
                <li class='info-item'>
                  <span class='des-title info-title'><span style="color: red;">*</span>退改须知</span>
                  <div class='info-text'>
                    <textarea [(ngModel)]="data.rc_notice" placeholder="200字以内..." maxlength="200"
                      name="notice"></textarea>
                  </div>
                </li>
              </ul>
            </td>
            <td nzAlign="left" class='des_td'>
              <ul class='m_20'>
                <li class='des-item'>
                  <span class='des-title'>产品说明</span>
                  <span class='des-content'>{{data.notes||'--'}}</span>
                </li>
                <li class='des-item'>
                  <span class='des-title'>有效期</span>
                  <span class='des-content'>{{data.delay_type|delayType}}</span>
                </li>
                <li class='des-item'>
                  <span class='des-title'>可验证时间</span>
                  <span class='des-content'>{{data.validate_time_limit|validateTimeLimit}}</span>
                </li>
                <li class='des-item'>
                  <span class='des-title'>退票规则</span>
                  <span class='des-content'>{{data.refund_rule|refundRule}}</span>
                </li>
                <li class='des-item'>
                  <span class='des-title'>取票信息</span>
                  <span class='des-content'>{{data.getaddr||'--'}}</span>
                </li>
              </ul>
            </td>
            <td nzAlign="left" class='price_td'>
              <ul class='m_20 price_ml'>
                <li class='price-item'>
                  <span class='price-title'>库存</span>
                  <span
                    class='price-content'>{{(data.price_calendar&&data.price_calendar.remain|maxNumberDealPipe:999)||'--'}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>市场价</span>
                  <span class='price-content'><span *ngIf='data.market_price'>¥</span>
                    {{data.market_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>建议售价</span>
                  <span class='price-content'><span
                      *ngIf='data.price_calendar&&data.price_calendar.retail_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.retail_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>结算价</span>
                  <span class='price-content'><span *ngIf='data.price_calendar&&data.price_calendar.buy_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.buy_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>平台售价</span>
                  <span class='price-content'><span
                      *ngIf='data.price_calendar&&data.price_calendar.platform_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.platform_price|centPriceChange}}</span>
                </li>
              </ul>
            </td>

            <td>
              <div class='opera m_20'>
                <div>
                  <a (click)='onOpenPriceCalendar(data.ticket_id)'>价格日历</a>
                </div>
                <div>
                  <a *ngIf='data.is_top===2' (click)='onIsTopProduct(data.product.product_id,data.ticket_id,1)'>置顶</a>
                  <a *ngIf='data.is_top===1' (click)='onIsTopProduct(data.product.product_id,data.ticket_id,2)'>取消置顶</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <!-- 票务详情 -->
  <div class='des_card'>
    <div>
      <span class='card-title wh_100'>票务详情</span><a class='import-btn' (click)='onReImportData()'>重新导入</a>
    </div>
    <div>
      <form nz-form class="content-layout" #ticketDetailForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品图片</nz-form-label>
            <nz-form-control>
              <app-z-photo-select #productImg [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="2"
                [isCutCoverImg]="true" [aspectRatio]='4/3' [maxLength]="6"
                (selectedImgChange)="onSelectedPicture($event)" file_id="productImg" [imageWidth]='120'
                [imageHeight]='90' [imageUrls]="imgUrls" [imageAddHeight]="90" [minCropBoxWidth]="400"
                [minCropBoxHeight]="400">
              </app-z-photo-select>
              <div *ngIf="errPositionItem?.icon?.isError" class="text-danger" style='margin-top: -14px;'>
                <span class="input-error input_time_valid">{{ errPositionItem?.icon?.errMes}}</span>
              </div>
              <div>注：图片比例为4:3，格式PNG或JPG或JPEG，大小2M以内，图片名称只支持中文或数字，最多上传6张</div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>营业时间</nz-form-label>
            <nz-form-control class="ml_-10">
              <input class="detail-input" [ngModel]="productData.run_time|nullDataFilter" nz-input autocomplete="off"
                name="run_time" required maxlength='20' disabled />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>联系电话</nz-form-label>
            <nz-form-control class="ml_-10">
              <input class="detail-input" [ngModel]="productData.telephone|nullDataFilter" nz-input autocomplete="off"
                name="telephone" required maxlength='12' disabled />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>地址</nz-form-label>
            <nz-form-control class="ml_-10">
              <input class="detail-input" [ngModel]="productData.address|nullDataFilter" nz-input autocomplete="off"
                name="address" maxlength='100' disabled />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex style="margin-bottom: 10px;">
            <nz-form-label nzRequired [nzNoColon]='true'>交通指南</nz-form-label>
            <nz-form-control>
              <app-product-editor1 #editor1></app-product-editor1>
              <div *ngIf="trafficGuideErrors" class="text-danger">
                <span class="input-error">{{trafficGuideErrors}}</span>
              </div>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nzFlex style="margin-bottom: 10px;">
            <nz-form-label nzRequired [nzNoColon]='true'>预订须知</nz-form-label>
            <nz-form-control>
              <app-product-editor2 #editor2></app-product-editor2>
              <div *ngIf="noticeErrors" class="text-danger">
                <span class="input-error">{{noticeErrors}}</span>
              </div>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>景区介绍</nz-form-label>
            <nz-form-control>
              <app-product-editor3 #editor3></app-product-editor3>
              <div *ngIf="productIntroduceErrors" class="text-danger">
                <span class="input-error">{{productIntroduceErrors}}</span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
</div>
<app-product-calendar #productPriceCalendar></app-product-calendar>