<div class="content-header">
    <app-crumb [level1Name]="'洗车订单'" [level2Name]="'统计数据'" [level1RelativePath]="'../'"></app-crumb>
    <ul class="header-right">
        <li class="big-bg">
            <a (click)='onExportRecords()'>导出数据</a>
        </li>
    </ul>
</div>
<div class="content-flow">
    <div class="table-container">
        <div class="search-container">
            <form class="search-form" autocomplete="off">
                <div class="form-group">
                    <span>统计范围：</span>
                    <nz-date-picker [(ngModel)]="order_start_time" [nzShowToday]=false [nzDisabledDate]="disabledOrderStartTime"
                                    name='order_start_time' nzFormat="yyyy-MM-dd"></nz-date-picker>
                    <span class='partition'>-</span>
                    <nz-date-picker [(ngModel)]="order_end_time" [nzShowToday]=false [nzDisabledDate]="disabledOrderEndTime"
                                    name='order_end_time' nzFormat="yyyy-MM-dd"></nz-date-picker>
                    <button nz-button nzType="primary" (click)="nzSearchAssistant.submitSearch(false)">查询</button>
                </div>
            </form>
        </div>
        <div class="zmy-table">
            <nz-table #statisticTable [nzData]="nzSearchAssistant.nzData" [nzShowPagination]="true"
                      [nzNoResult]="nzSearchAssistant.nzNoResultText" [nzPageSize]="'15'"
                      (nzPageIndexChange)="nzSearchAssistant.pageSelected($event)" [(nzPageIndex)]="nzSearchAssistant.currentPage">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>支付订单</th>
                    <th>流水</th>
                    <th style="width: 20%;padding: 0 !important;">
                        <div class="row-group" style="line-height: 40px;">
                            <div class="column-box">规格</div>
                            <div>购买量</div>
                        </div>
                    </th>
                    <th>券数量</th>
                    <th>小车券数</th>
                    <th>大车券数</th>
                    <th>核销数量</th>
                    <th>退款数量</th>
                    <th>退款金额</th>
                    <th>取消订单</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let record of statisticTable.data; let i = index">
                    <td>
                        <span>{{record.statistic_date * 1000 | date: "y-MM-dd"}}</span>
                    </td>

                    <td>{{record.pay_order_num || 0}}</td>
                    <td>{{(record.running_money || 0) | centPriceChange:'元'}}</td>
                    <td style="padding: 0!important;">
                        <ng-container *ngFor="let item of record.specification_infos">
                            <div class="row-group">
                                <div class="column-box">
                                    <span [title]="item.specification_name || ''">{{(item.specification_name | zMaxLength:12)}}</span>
                                    <span>{{'('+(item.car_type|washCarType)+')'}}</span>
                                </div>
                                <div>{{record.specification_num || 0}}</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!record.specification_infos||record.specification_infos.length===0">--</ng-container>
                    </td>
                    <td>{{record.code_num || 0}}</td>
                    <td>{{record.small_code_num || 0}}</td>
                    <td>{{record.large_code_num || 0}}</td>
                    <td>{{record.verify_num || 0}}</td>
                    <td>{{record.refund_order_num || 0}}</td>

                    <td>{{(record.refund_fee || 0) | centPriceChange:'元'}}</td>
                    <td>
                        {{record.cancel_order_num || 0}}
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
