<div class="content-header" *ngIf='type==="1"'>
  <app-crumb [level1Name]="'产品管理'" [level2Name]="'第三方产品列表'" [level3Name]="'详情'" [level1RelativePath]="'../../../../../'"
    [level2RelativePath]="'../../../../third-product'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg big-white-btn">
      <a [routerLink]="['../../../../third-product']">返回</a>
    </li>
    <li class="big-bg" *ngIf='add_status==="2"'>
      <a (click)='onChooseTicket()'>选用</a>
    </li>
  </ul>
</div>
<div class="content-header" *ngIf='type==="2"'>
  <div class="header-left">
    <i></i>
    <a (click)='onBackNoticeList()'>通知中心</a>
    <span> >><span class='second-crumb'>通知详情</span></span>
  </div>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" *ngIf="!loading">
  <div class='des_card'>
    <div class='card-title'>产品信息</div>
    <div>
      <nz-table #thirdProductInfoTable [nzData]="thirdProductInfoList" [nzShowPagination]="false"
        [nzNoResult]="noResultInfoText" nzBordered>
        <thead>
          <tr>
            <th>产品主图</th>
            <th>产品名称</th>
            <th>地址</th>
            <th>状态</th>
            <th>产品ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thirdProductInfoTable.data; let i=index">
            <td>
              <img *ngIf='!data.third_product_image' src="/assets/images/pro_default.png">
              <img *ngIf='data.third_product_image' class='pro-img' [src]="data.third_product_image">
            </td>
            <td>{{data.third_product_name}}</td>
            <td>{{data.third_address}}</td>
            <td>{{data.sale_status| thirdSaleStatus}}</td>
            <td>{{data.third_product_id}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <!-- 产品门票信息 -->
    <div class='card-title mt_50'>产品门票信息</div>
    <div>
      <nz-table #thirdProductTicketTable [nzData]="productTicketList" [nzShowPagination]="false"
        [nzNoResult]="noResultTicketText" [nzFrontPagination]='false' nzBordered>
        <thead>
          <tr>
            <th>门票名称</th>
            <th>购票须知</th>
            <th>市场价</th>
            <th>建议零售价</th>
            <th>结算价</th>
            <th>售价</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thirdProductTicketTable.data; let i=index">
            <td>
              <div class='top-img'>
                <img *ngIf='data.is_top===1' src="/assets/images/top_icon.png">
              </div>
              <span [title]='data.ticket_name'>{{data.ticket_name |zMaxLength:15}}</span>
            </td>
            <td class='insutructions'>
              <div class='text' *ngIf='!data.isShowInsutructions'>
                <p>{{data.notes|nullDataFilter|zMaxLength:18}}</p>
                <span *ngIf='data.notes.length>18||(data.getaddr&&data.getaddr!=="0")'
                  (click)='onShowInsutructions(i)'>展开</span>
              </div>
              <div class='text' *ngIf='data.isShowInsutructions'>
                <p>{{data.notes}}<br>{{data.getaddr}}</p>
                <span (click)='onHideInsutructions(i)'>收起</span>
              </div>
            </td>
            <td><span *ngIf='data.market_price||data.market_price===0'>¥</span> {{data.market_price|centPriceChange}}
            </td>
            <td><span *ngIf='data.price_calendar&&data.price_calendar.retail_price'>¥</span>
              {{data.price_calendar&&data.price_calendar.retail_price|centPriceChange}}</td>
            <td><span *ngIf='data.price_calendar&&data.price_calendar.buy_price'>¥</span>
              {{data.price_calendar&&data.price_calendar.buy_price|centPriceChange}}</td>
            <td><span *ngIf='data.price_calendar&&data.price_calendar.retail_price'>¥</span>
              {{data.price_calendar&&data.price_calendar.retail_price|centPriceChange}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <!-- 票务详情 -->
    <div class='mt_50'><span class='card-title'>票务详情</span></div>
    <div style="margin-bottom: 20px;">
      <form nz-form class="content-layout" #registerForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品图片</nz-form-label>
            <nz-form-control>
              <img *ngIf='imgUrls.length===0' src="/assets/images/pro_default.png">
              <app-z-photo-select *ngIf='imgUrls.length!==0' [hasAddPicture]="false" [hasDeletePicture]="false"
                [maxLength]="6" [imageWidth]='120' [imageHeight]='90' [imageUrls]="imgUrls" #parkingImg>
              </app-z-photo-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>营业时间</nz-form-label>
            <nz-form-control class="ml_-10">
              {{thirdProductData.run_time|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>联系电话</nz-form-label>
            <nz-form-control class="ml_-10">
              {{thirdProductData.telephone|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>地址</nz-form-label>
            <nz-form-control class="ml_-10">
              {{thirdProductData.address|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>交通指南</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='thirdProductData.traffic_guide'>
                <div class="artcontent" [innerHTML]="thirdProductData.traffic_guide | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>预订须知</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='thirdProductData.notice'>
                <div class="artcontent" [innerHTML]="thirdProductData.notice | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>景区介绍</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='thirdProductData.introduce'>
                <div class="artcontent" [innerHTML]="thirdProductData.introduce | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
</div>