<div class="content-header" *ngIf='type==="1"'>
  <app-crumb [level1Name]="'产品管理'" [level2Name]="'第三方产品列表'" [level3Name]="'详情'" [level1RelativePath]="'../../../../../'"
    [level2RelativePath]="'../../../../third-product'"></app-crumb>
  <ul class="header-right">
    <li class="big-bg big-white-btn">
      <a [routerLink]="['../../../../third-product']">返回</a>
    </li>
    <li class="big-bg" *ngIf='add_status==="2"'>
      <a (click)='onChooseTicket()'>选用</a>
    </li>
  </ul>
</div>
<div class="content-header" *ngIf='type==="2"'>
  <div class="header-left">
    <i></i>
    <a (click)='onBackNoticeList()'>通知中心</a>
    <span> >><span class='second-crumb'>通知详情</span></span>
  </div>
</div>
<div *ngIf="loading" style='text-align: center;margin: 150px 0;'>
  <nz-spin nzSimple></nz-spin>
</div>
<div class="content-flow" *ngIf="!loading">
  <div class='des_card'>
    <div class='card-title wh_100'>产品信息</div>
    <div>
      <nz-table #thirdProductInfoTable [nzData]="thirdProductInfoList" [nzShowPagination]="false"
        [nzNoResult]="noResultInfoText" nzBordered>
        <thead>
          <tr>
            <th>产品主图</th>
            <th>产品名称</th>
            <th>地址</th>
            <th>状态</th>
            <th>产品ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thirdProductInfoTable.data; let i=index">
            <td>
              <img *ngIf='!data.third_product_image' src="/assets/images/pro_default.png">
              <img *ngIf='data.third_product_image' class='pro-img' [src]="data.third_product_image">
            </td>
            <td>{{data.third_product_name}}</td>
            <td>{{data.third_address}}</td>
            <td>{{data.sale_status| thirdSaleStatus}}</td>
            <td>{{data.tp_id}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- 产品门票信息 -->
  <div class='des_card'>
    <div>
      <span class='card-title wh_140'>产品门票信息</span><a class='import-btn' (click)='onUpdateData()'>更新数据</a>
    </div>
    <div>
      <nz-table class="ticket-table" #thirdProductTicketTable [nzData]="productTicketList" [nzShowPagination]="false"
        [nzNoResult]="noResultTicketText" [nzFrontPagination]='false' nzBordered>
        <thead>
          <tr>
            <th>门票名称</th>
            <th>门票描述</th>
            <th>实时价格与库存</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thirdProductTicketTable.data; let i=index">
            <td class="name_td">
              <div style="margin-top: 20px;">
                <div class='top-img'>
                  <img *ngIf='data.is_top===1' src="/assets/images/top_icon.png">
                </div>
                <span class="ticket-name" [title]='data.ticket_name'>{{data.ticket_name}}</span>
              </div>
            </td>
            <td nzAlign="left" class="des_td">
              <ul class='m_20'>
                <li class='des-item'>
                  <span class='des-title'>产品说明</span>
                  <span class='des-content' *ngIf='!data.isShowDescriptions'>{{(data.notes|zMaxLength:80)||'--'}}</span>
                  <span class='des-content' *ngIf='data.isShowDescriptions'>{{data.notes||'--'}}</span>
                </li>
                <li class='des-item' *ngIf='!data.notes||(data.notes&&data.notes.length<80)||data.isShowDescriptions'>
                  <span class='des-title'>有效期</span>
                  <span class='des-content'>{{data.delay_type|delayType}}</span>
                </li>
                <li class='text' *ngIf='!data.isShowDescriptions'>
                  <span (click)='onShowDescriptions(i)'>展开</span>
                </li>
                <li class='des-item' *ngIf='data.isShowDescriptions'>
                  <span class='des-title'>可验证时间</span>
                  <span class='des-content'>{{data.validate_time_limit|validateTimeLimit}}</span>
                </li>
                <li class='des-item' *ngIf='data.isShowDescriptions'>
                  <span class='des-title'>退票规则</span>
                  <span class='des-content'>{{data.refund_rule|refundRule}}</span>
                </li>
                <li class='des-item' *ngIf='data.isShowDescriptions'>
                  <span class='des-title'>取票信息</span>
                  <span class='des-content'>{{data.getaddr||'--'}}</span>
                </li>
                <li class='text' *ngIf='data.isShowDescriptions'>
                  <span (click)='onHideDescriptions(i)'>收起</span>
                </li>
              </ul>
            </td>
            <td nzAlign="left">
              <ul class='m_20'>
                <li class='price-item'>
                  <span class='price-title'>库存</span>
                  <span
                    class='price-content'>{{(data.price_calendar&&data.price_calendar.remain|maxNumberDealPipe:999)||'--'}}</span>
                </li>
                <li class='price-item' *ngIf='type==="1"'>
                  <span class='price-title'>市场价</span>
                  <span class='price-content'><span *ngIf='data.market_price'>¥</span>
                    {{data.market_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>建议售价</span>
                  <span class='price-content'><span
                      *ngIf='data.price_calendar&&data.price_calendar.retail_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.retail_price|centPriceChange}}</span>
                </li>
                <li class='price-item'>
                  <span class='price-title'>结算价</span>
                  <span class='price-content'><span *ngIf='data.price_calendar&&data.price_calendar.buy_price'>¥</span>
                    {{data.price_calendar&&data.price_calendar.buy_price|centPriceChange}}</span>
                </li>
              </ul>
            </td>
            <td>
              <div class='opera m_20'>
                <div>
                  <a (click)='onOpenPriceCalendar(data.ticket_id)'>价格日历</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <!-- 票务详情 -->
  <div class='des_card'>
    <div><span class='card-title wh_140'>票务详情</span></div>
    <div style="margin-bottom: 20px;">
      <form nz-form class="content-layout" #registerForm="ngForm">
        <div class="card_content">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>产品图片</nz-form-label>
            <nz-form-control>
              <img *ngIf='imgUrls.length===0' src="/assets/images/pro_default.png">
              <app-z-photo-select *ngIf='imgUrls.length!==0' [hasAddPicture]="false" [hasDeletePicture]="false"
                [maxLength]="6" [imageWidth]='120' [imageHeight]='90' [imageUrls]="imgUrls" #parkingImg>
              </app-z-photo-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>营业时间</nz-form-label>
            <nz-form-control class="ml_-10">
              {{thirdProductData.run_time|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>联系电话</nz-form-label>
            <nz-form-control class="ml_-10">
              {{thirdProductData.telephone|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label class="ml_10" [nzNoColon]='true'>地址</nz-form-label>
            <nz-form-control class="ml_-10">
              {{thirdProductData.address|nullDataFilter}}
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>交通指南</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='thirdProductData.traffic_guide'>
                <div class="artcontent" [innerHTML]="thirdProductData.traffic_guide | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>预订须知</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='thirdProductData.notice'>
                <div class="artcontent" [innerHTML]="thirdProductData.notice | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzFlex>
            <nz-form-label nzRequired [nzNoColon]='true'>景区介绍</nz-form-label>
            <nz-form-control>
              <div class='temp-content' *ngIf='thirdProductData.introduce'>
                <div class="artcontent" [innerHTML]="thirdProductData.introduce | htmlPipe"></div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
</div>
<app-calendar-detail #priceCalendarDetail></app-calendar-detail>