<!--选择所属项目-->
<div class="modal fade" id="selectBrandFirmModal" data-backdrop="false" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #projectPromptDiv>
  <div class="modal-dialog modal-dialog-common" role="document">
    <div class="modal-content modal-content-common">
      <div class="content-box">
        <div class="content-left">
          <div class="content-title">品牌</div>
          <div class="content-list">
            <div class="leter-list">
              <ul>
                <li *ngFor="let leter of letter_list">
                  <nz-anchor [nzAffix]="false" [nzTarget]="anchorContainer">
                    <nz-link nzHref="#{{leter}}" nzTitle="{{leter}}"></nz-link>
                  </nz-anchor>
                </li>
              </ul>
            </div>
            <div class="brand-list">
              <ul #anchorContainer>
                <li *ngFor="let leter of letter_list">
                  <div *ngIf="mapOfBrand[leter] && mapOfBrand[leter].length>0">
                    <p id="{{leter}}" class="leter-title">{{leter}}</p>
                    <div class="leter-box" *ngFor="let vehicleBrand of mapOfBrand[leter]"
                         (click)="onBrandClick(vehicleBrand)"
                         [class.active]="vehicleBrand.vehicle_brand_id === currentBrand.vehicle_brand_id">
                      <img class="brand-img" [src]="vehicleBrand.vehicle_brand_image">
                      {{vehicleBrand.vehicle_brand_name}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content-left">
          <div class="content-title">车系</div>
          <div class="content-list">
            <ng-container *ngIf="vehicleSeriesItem && vehicleSeriesItem.length > 0">
              <ul>
                <li *ngFor="let vehicleFirm of vehicleFirmItem" style="width: 230px">
                  <label>{{vehicleFirm.source.vehicle_firm_name}}</label>
                  <div *ngFor="let vehicleSeries of vehicleSeriesItem" style="width: 230px">
                    <div *ngIf="vehicleFirm.source.vehicle_firm_id===vehicleSeries.source.vehicle_firm.vehicle_firm_id"
                         (click)="onChangeSeriesCheck(vehicleSeries.source)" [class.active]="vehicleSeries.source.vehicle_series_id === currentSeries.vehicle_series_id">
                      <span>{{vehicleSeries.source.vehicle_series_name}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </ng-container>
            <ng-container *ngIf="!vehicleSeriesItem || vehicleSeriesItem.length === 0">
              <div class="no-data">暂无数据</div>
            </ng-container>
          </div>
        </div>
        <div class="content-right">
          <div class="content-title">车型名称</div>
          <div class="content-list">
            <ng-container *ngIf="vehicleTypeItem && vehicleTypeItem.length > 0">
              <ul>
                <li *ngFor="let vehicleYear of vehicleYearList">
                  <label style="text-indent: 0">{{vehicleYear}}</label>
                  <div *ngFor="let vehicleType of vehicleTypeItem">
                    <div *ngIf="vehicleType.source.vehicle_year_model===vehicleYear"
                         (click)="onChangeTypeCheck(vehicleType)"
                         [class.active]="vehicleType.source.vehicle_type_id === currentType.vehicle_type_id && !vehicleType.disable">
                      <span style="padding-left: 20px" [class.disabled-color]="vehicleType.disable">{{vehicleType.source.vehicle_type_name}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </ng-container>
            <ng-container *ngIf="!vehicleTypeItem || vehicleTypeItem.length === 0">
              <div class="no-data">暂无数据</div>
            </ng-container>
          </div>
        </div>
      </div>
      <p class="tip-msg">{{tipMsg}}</p>
      <div class="modal-footer">
        <button class="sure-btn" nz-button nzType="primary" (appZDebounceClick)="onSelectEmit()" [disabled]="!this.currentType.vehicle_type_id">
          下一步，编辑产品
        </button>
        <button class="close-btn" nz-button data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
