<!--编辑首页图标配置-->
<div class="modal fade" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" #pagePromptDiv>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">{{isCreatePage ? '新建' : '编辑'}}</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onClose()">&times;
                </button>
            </div>
            <form *ngIf="currentPage" class="form-horizontal" #editForm="ngForm">
                <div class="row" style="height: 160px">
                    <label class=" control-label">
                        <b>*</b>
                        <span>ICON图片</span>
                    </label>
                    <div class="control-input">
                        <app-z-photo-select [hasAddPicture]="true" [hasDeletePicture]="true" [limitImgSize]="1"
                                            [isCutCoverImg]="true" (selectedImgChange)="onSelectedPicture($event)"
                                            file_id="coverImg"
                                            [imageHeight]="152" [imageUrls]="cover_url" #coverImg [imageWidth]="152">
                        </app-z-photo-select>
                        <div>
                            <div class="row row-message"
                                 style="width: 230px;margin-left:20px!important;padding-top: 105px">
                                <label class="control-label"></label>
                                <div class="control-input err-message">
                                    <span *ngIf="errPositionItem?.icon?.isError">{{errPositionItem?.icon?.errMes}}</span>
                                </div>
                            </div>
                            <p class="cover-hint">注：尺寸150*150，格式PNG或JPG，大小1M以内</p>
                        </div>
                    </div>
                </div>
                <div class="row row-message"></div>
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>标题</span>
                    </label>
                    <div class="control-input">
                        <input class="form-control" placeholder="请输入1-5字标题" [(ngModel)]="currentPage.title" name="title"
                               maxlength="5" autocomplete="off" style="width: 448px!important;" required
                               (change)="errPositionItem.title.isError=false">
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.title?.isError">{{errPositionItem?.title?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label">
                        <b>*</b>
                        <span>业务</span>
                    </label>
                    <div class="control-input">
                        <input class="form-control" placeholder="请输入1-5字标题" [(ngModel)]="currentPage.menu_business_name"
                               name="menu_business_name"
                               maxlength="5" autocomplete="off" style="width: 448px!important;" required
                               (change)="errPositionItem.menu_business_name.isError=false">
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.menu_business_name?.isError">{{errPositionItem?.menu_business_name?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>*</b>
                        <span>显示版本</span>
                    </label>
                    <div class=" control-input">
                        <select class="form-control" [(ngModel)]="currentPage.system" name="system" disabled>
                            <option value=1>IOS</option>
                            <option value=2>Android</option>
                        </select>
                        <select class="form-control" [(ngModel)]="currentPage.version" name="version" required
                                style="border-left: none!important;">
                            <option value="">请选择</option>
                            <option *ngFor="let item of versionList" [value]="item.version">{{item.version}}</option>
                        </select>
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.system?.isError">{{errPositionItem?.system?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>*</b>
                        <span>落地页</span>
                    </label>
                    <div class=" control-input">
                        <select class="form-control" [(ngModel)]="currentPage.belong_to" name="belong_to" required>
                            <option value=''>请选择</option>
                            <option value=2>H5</option>
                        </select>
                        <input class="form-control" placeholder="请输入跳转URL" [(ngModel)]="currentPage.jump_link"
                               name="jump_link"
                               maxlength="100" autocomplete="off" required
                               (change)="errPositionItem.jump_link.isError=false"
                               style="border-left: none!important;">
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.jump_link?.isError">{{errPositionItem?.jump_link?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>&nbsp;</b>
                        <span>角标</span>
                    </label>
                    <div class="control-input">
                        <select class="form-control" [(ngModel)]="currentPage.corner_display" name="is_display">
                            <option value=false>显示</option>
                            <option value=true>不显示</option>
                        </select>
                        <div class="control-input" style="width:342px!important"
                             *ngIf="currentPage.corner_display==='false' || !currentPage.corner_display">
                            <input class="form-control" style="border-left: none!important;"
                                   [(ngModel)]="currentPage.corner"
                                   name="content" placeholder="请输入显示内容，限4字以内" maxlength="4" autocomplete="off"
                                   (change)="errPositionItem.corner.isError=false">
                            <input type="text" [(ngModel)]="currentPage.background_color" name="color"
                                   class="form-control"
                                   placeholder="输入背景色号,如#ffffff" style="width: 107px!important;margin-left: 10px"
                                   (change)="errPositionItem.corner.isError=false"/>
                            <input [(colorPicker)]="currentPage.background_color"
                                   [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
                                   readonly
                                   class="choose-color" (change)="errPositionItem.corner.isError=false"/>
                        </div>
                        <div class="control-input" style="width:342px!important"
                             *ngIf="currentPage.corner_display==='true' && currentPage.corner_display">
                        </div>
                    </div>
                </div>
                <div class="row row-message">
                    <label class="control-label"></label>
                    <div class="control-input err-message">
                        <span *ngIf="errPositionItem?.corner?.isError">{{errPositionItem?.corner?.errMes}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class=" control-label">
                        <b>&nbsp;</b>
                        <span>描述</span>
                    </label>
                    <div class=" control-input">
                        <input class="form-control" placeholder="请输入描述，100字以内" [(ngModel)]="currentPage.menu_describe"
                               name="menu_describe" maxlength="100" style="width: 448px!important;">
                    </div>
                </div>
                <div class="row row-message"></div>
                <div class="modal-footer">
                    <button class="close-btn" type="button" nz-button (click)="onClose()">取消</button>
                    <button class="sure-btn" type="submit" nz-button nzType="primary"
                            [disabled]="!editForm.form.valid || coverImg.imageList.length===0"
                            (appZDebounceClick)="onEditFormSubmit()">
                        保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
