<div class="content-header">
  <app-crumb [level1Name]="'保养项目管理'" [level2Name]=""></app-crumb>
  <ul class="header-right">
    <li class="big-bg big-white-btn">
      <a (click)="onImportProject()">导入</a>
    </li>
    <li class="big-bg">
      <a href="/assets/download/spot_info.xlsx" download="spot_info.xlsx" style="color: #fff">下载模板</a>
    </li>
    <li class="big-bg">
      <a (click)="onShowModal()" data-toggle="modal" data-target="#editProjectModal">新建</a>
    </li>
  </ul>
</div>
<div class="content-flow">
  <div class="table-container">
    <div class="zmy-table">
      <nz-table [nzData]="projectList" [nzShowPagination]="false" [nzNoResult]="noResultText" #projectTable>
        <thead>
          <tr>
            <th>序号</th>
            <th>类别</th>
            <th>项目名称</th>
            <th>项目ID</th>
            <th>项目类型</th>
            <th>配套项目</th>
            <th>描述</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let category of projectCategories">
            <tr *ngFor="let data of mapOfCategory[category]; let i=index">
              <td *ngIf="category===1">{{i + 1}}</td>
              <td *ngIf="category===2">{{rowspan_category_1 + i + 1}}</td>
              <td *ngIf="category===3">{{rowspan_category_1 + rowspan_category_2 + i + 1}}</td>
              <td [attr.rowspan]="mapOfCategory[category].length" *ngIf="i === 0">
                {{data.upkeep_item_category | projectCategory}}
              </td>
              <td [title]="data.upkeep_item_name">
                {{data.upkeep_item_name ? (data.upkeep_item_name | zMaxLength:20) : '--'}}</td>
              <td>{{data.upkeep_item_num ? data.upkeep_item_num : '--'}}</td>
              <td>{{data.upkeep_item_type | projectType}}</td>
              <td *ngIf="data.upkeep_item_relation" [title]="data.upkeep_item_relation.upkeep_item_name">
                {{data.upkeep_item_relation.upkeep_item_name| zMaxLength:20}}</td>
              <td *ngIf="!data.upkeep_item_relation">无</td>
              <td *ngIf="data.upkeep_item_content" [title]="data.upkeep_item_content">
                {{data.upkeep_item_content|zMaxLength:20}}</td>
              <td *ngIf="!data.upkeep_item_content">--</td>
              <td class="operation">
                <a [title]="'编辑'" (click)="onShowModal(data)" data-toggle="modal" data-target="#editProjectModal">编辑</a>
                <!-- <a [title]="'删除'" (click)="onDeleteProgect(data)">删除</a> -->
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!--新增/编辑保养项目-->
<div class="modal fade" id="editProjectModal" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" #pagePromptDiv>
  <div class="modal-dialog modal-dialog-common" role="document">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">{{isCreateProject ? '新建' : '编辑'}}</span>
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
      </div>
      <form *ngIf="projectParams" autocomplete="off" (keydown)="onKeydownEvent($event)" class="form-horizontal"
        #editForm="ngForm">
        <div class="row">
          <label class="control-label">
            <b>*</b>
            <span>项目类别</span>
          </label>
          <div class="control-input">
            <select class="form-control" [(ngModel)]="project_category" (change)="onChangeCategory($event)"
              name="project_category" required>
              <option value="">请选择</option>
              <option *ngFor="let projectCategory of projectCategories" [value]="projectCategory">
                {{projectCategory | projectCategory}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>*</b>
            <span>项目类型</span>
          </label>
          <div class="control-input">
            <select class="form-control" [(ngModel)]="project_type" (change)="onChangeType($event)" name="project_type"
              required>
              <option value="">请选择</option>
              <option *ngFor="let projectType of projectTypes" [value]="projectType">{{projectType | projectType}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>*</b>
            <span>名称</span>
          </label>
          <div class="control-input">
            <input class="form-control" placeholder="输入1-50字项目名称" [(ngModel)]="projectParams.upkeep_item_name"
              (focus)="onClearErrMsg()" maxlength="50" name="upkeep_item_name" appIgnoreSpace required>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>*</b>
            <span>项目ID</span>
          </label>
          <div class="control-input">
            <input class="form-control" placeholder="以项目类别的ID开头，不可重复" [(ngModel)]="projectParams.upkeep_item_num"
              (focus)="onClearErrMsg()" minlength="2" maxlength="6" oninput="value=value.replace(/[^\d]/g,'')"
              appIgnoreSpace name="upkeep_item_num" required>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>&nbsp;&nbsp;</b>
            <span>配套项目</span>
          </label>
          <div class="control-input">
            <select class="form-control" [(ngModel)]="relation_id" (change)="onChangeRelation($event)"
              name="upkeep_item_relation">
              <option value="">无</option>
              <option *ngFor="let item of toRelationList" [value]="item.upkeep_item_id">{{item.upkeep_item_name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <label class="control-label">
            <b>&nbsp;&nbsp;</b>
            <span>描述</span>
          </label>
          <div class="control-input">
            <textarea class="form-control" rows="4" placeholder="输入0-100字描述"
              [(ngModel)]="projectParams.upkeep_item_content" (focus)="onClearErrMsg()" name="upkeep_item_content"
              maxlength="100">
            </textarea>
          </div>
        </div>
        <div class="row row-message" style="margin-top:-20px">
          <label class="control-label"></label>
          <div class="control-input err-message">
            <span>{{projectErrMsg}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button class="close-btn" nz-button data-dismiss="modal">取消</button>
          <button class="sure-btn" nz-button nzType="primary" [disabled]="!editForm.form.valid"
            (appZDebounceClick)="onEditFormSubmit()">
            保存
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--上传-->
<div class="modal fade" id="importProjectPromptDiv" data-backdrop="false" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-common" role="document">
    <div class="modal-content modal-content-common">
      <div class="modal-header">
        <span class="modal-title">导入数据</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onCancelData()">&times;
        </button>
      </div>
      <form class="form-horizontal import-form">
        <div class="form-group">
          <span>使用Excel编辑批量操作文件模板时，请确认输入的内容为文本格式，保存的内容和输入的内容保持一致</span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="importViewModel.address" name="address"
            placeholder="请选择文件" disabled>
          <div class="select-file">
            <a class="choose-file">
              <span class="download">选择文件</span>
              <input #projectFileImportInput type="file"
                (change)="importViewModel.selectedFile($event,projectFileImportInput)" title="" />
            </a>
          </div>
        </div>
        <div class="form-group import-tip">
          <span>每次只能上传200条数据</span>
        </div>
        <div class="modal-footer">
          <button class="close-btn" nz-button (click)="onCancelData()">取消</button>
          <button class="sure-btn" nz-button nzType="primary" (click)="onSubmitImportProject()">上传</button>
        </div>
      </form>
    </div>
  </div>
  <!--进度条-->
  <app-progress-modal #progressModal (closeChange)="onCloseUnsubscribe()"></app-progress-modal>
</div>
