<div class="content-header">
    <app-crumb [level1Name]="'商家管理'" [level2Name]="'商家运营配置管理'" [level3Name]="'查看产品'" [level2RelativePath]="'../'"></app-crumb>
</div>
<div class="content-flow">
    <div class="content-main">
        <img src="/assets/images/manual/icon_vehicle.png">
        <div class="vehicle-space">
            <label>宝马</label>
            <label>宝马</label>
            <label>宝马</label>
            <label>宝马</label>
            <label>宝马</label>
        </div>
        <img src="/assets/images/manual/icon_category1.png">
        <div class="maintenance-space">
            <span class="maintenance-title">配件</span>
            <span style="margin-left: 10px">机油</span>
            <div class="maintenance-price">
                <label>工时费原价 <span>150</span> 元</label>
                <label>工时费售价 <span>150</span> 元</label>
            </div>
        </div>
        <div class="maintenance-space space-width">
            <img [src]="'/assets/images/image_space.png'">
            <div class="maintenance-content">
                <label>配件名称</label>
                <label>配件原价</label>
                <label>所需数量</label>
                <label>是否原厂</label>
                <label>零件编号</label>
                <label>规格</label>
                <label>销售单价</label>
                <label>已售数量</label>
                <label>所属厂商</label>
                <label>ID</label>
            </div>
        </div>
        <div class="maintenance-space">
            <span class="serve-title">服务</span>
            <span style="margin-left: 10px">机油滤芯清洗</span>
        </div>
        <div class="maintenance-space space-width">
            <img [src]="'/assets/images/image_space.png'">
            <div class="maintenance-content">
                <label>服务名称</label>
                <label>服务原价</label>
                <label>ID</label>
                <div></div>
                <label>已售数量</label>
                <label>销售单价</label>
            </div>
        </div>
    </div>
</div>
