<div class="content-header">
  <app-crumb [level1Name]="'商家管理'" [level2Name]="'商家运营配置管理'" [level3Name]="'查看产品'" [level1RelativePath]="'../../'" [level2RelativePath]="'../'">
  </app-crumb>
</div>
<div class="content-flow">
  <div class="content-main">
    <div *ngIf="isLoading" style="text-align: center;margin: 150px 0 0 -80px">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <nz-empty style="margin-top: 10%" *ngIf="(!projectList || projectList.length===0) && !isLoading"></nz-empty>
    <!--所属车型-->
    <div>
      <img *ngIf="projectItemList && projectItemList.length>0" src="/assets/images/manual/icon_vehicle.png">
      <div class="vehicle-space" *ngIf="projectItemList.length>0">
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_brand.vehicle_brand_name}}</span>
        </div>
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_firm.vehicle_firm_name}}</span>
        </div>
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_series.vehicle_series_name}}</span>
        </div>
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_year_model}}款</span>
        </div>
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_type_name}}</span>
        </div>
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_engine?projectItemList[0].source.vehicle_type.vehicle_engine:'--'}}</span>
        </div>
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_gearbox?projectItemList[0].source.vehicle_type.vehicle_gearbox:'--'}}</span>
        </div>
        <div>
          <span>{{projectItemList[0].source.vehicle_type.vehicle_structure?projectItemList[0].source.vehicle_type.vehicle_structure:'--'}}</span>
        </div>
      </div>
    </div>
    <!--保养项目-->
    <div *ngIf="projectList_maintain && projectList_maintain.length>0">
      <img style="margin-top: 20px" src="/assets/images/manual/icon_category1.png">
      <div *ngFor="let data of projectList_maintain;let i=index">
        <div>
          <div class="maintenance-space" *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===1">
            <span class="maintenance-title">配件</span>
            <span style="margin-left: 10px"><b style="color: #23242F">{{data.source.upkeep_handbook_item.item_name}}</b></span>
            <div class="maintenance-price maintenance-space-float">
              <label>工时费原价 <span>{{data.source.work_original_amount}}</span> 元</label>
              <label>工时费售价 <span>{{data.source.work_sale_amount}}</span> 元</label>
              <img *ngIf="!data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_down.png" (click)="onShowAccessory(data.source.upkeep_merchant_project_id);data.is_show_accessory=true;">
              <img *ngIf="data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_up.png" (click)="data.is_show_accessory = false">
            </div>
            <label class="maintenance-space-float">已选择<span style="color: #3E71F7"> {{data.source.accessory_count}}
              </span>件</label>
          </div>
          <div class="maintenance-space" *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===2">
            <span class="serve-title">服务</span>
            <span style="margin-left: 10px"><b style="color: #23242F">{{data.source.upkeep_handbook_item.item_name}}</b></span>
            <div class="maintenance-price">
              <img *ngIf="!data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_down.png" (click)="onShowAccessory(data.source.upkeep_merchant_project_id);data.is_show_accessory=true;">
              <img *ngIf="data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_up.png" (click)="data.is_show_accessory = false">
            </div>
            <label class="maintenance-space-float">已选择<span style="color: #3E71F7"> {{data.source.accessory_count}}
              </span>件</label>
          </div>
          <div *ngIf="data.source.upkeep_merchant_project_id===currentProjectId && data.is_show_accessory">
            <li class="space-width" *ngFor="let item of accessoryItemList;let i=index;">
              <img src="{{item.source.upkeep_accessory.image_url?item.source.upkeep_accessory.image_url:image_space}}"
                [class.img-height]="data.source.upkeep_handbook_item.upkeep_item_type===2">
              <ng-container *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===1">
                <div style="margin-top: 20px;width: calc(95% - 100px);">
                  <div class="maintenance-content">
                    <label>配件名称:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_name}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>配件原价:</label>
                    <label>{{item.source.original_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>所需数量:</label>
                    <label>{{item.source.number}} 件</label>
                  </div>
                  <div class="maintenance-content">
                    <label>是否原厂:</label>
                    <label>{{item.source.upkeep_accessory.is_original?'是':'否'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>零件编号:</label>
                    <label>{{item.source.upkeep_accessory.serial_number ? item.source.upkeep_accessory.serial_number : '--'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>规格:</label>
                    <label>{{item.source.upkeep_accessory.specification ? item.source.upkeep_accessory.specification : '--'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>销售单价:</label>
                    <label>{{item.source.sale_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>所属品牌:</label>
                    <label>
                      {{item.source.upkeep_merchant_project.vehicle_type.vehicle_brand.vehicle_brand_name}}
                      · {{item.source.upkeep_merchant_project.vehicle_type.vehicle_firm.vehicle_firm_name}}
                    </label>
                  </div>
                  <div class="maintenance-content">
                    <label>ID:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_id}}</label>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===2">
                <div style="margin-top: 20px;width: calc(95% - 100px);">
                  <div class="maintenance-content">
                    <label>服务名称:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_name}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>服务原价:</label>
                    <label>{{item.source.original_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>销售单价:</label>
                    <label>{{item.source.sale_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>ID:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_id}}</label>
                  </div>
                </div>
              </ng-container>
            </li>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <!--清洗项目-->
    <div *ngIf="projectList_clear && projectList_clear.length>0">
      <img style="margin-top: 20px" src="/assets/images/manual/icon_category2.png">
      <div *ngFor="let data of projectList_clear;let i=index">
        <div>
          <div class="maintenance-space" *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===1">
            <span class="maintenance-title">配件</span>
            <span style="margin-left: 10px"><b style="color: #23242F">{{data.source.upkeep_handbook_item.item_name}}</b></span>
            <div class="maintenance-price maintenance-space-float">
              <label>工时费原价 <span>{{data.source.work_original_amount}}</span> 元</label>
              <label>工时费售价 <span>{{data.source.work_sale_amount}}</span> 元</label>
              <img *ngIf="!data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_down.png" (click)="onShowAccessory(data.source.upkeep_merchant_project_id);data.is_show_accessory=true;">
              <img *ngIf="data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_up.png" (click)="data.is_show_accessory = false">
            </div>
            <label class="maintenance-space-float">已选择<span style="color: #3E71F7"> {{data.source.accessory_count}}
              </span>件</label>
          </div>
          <div class="maintenance-space" *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===2">
            <span class="serve-title">服务</span>
            <span style="margin-left: 10px"><b style="color: #23242F">{{data.source.upkeep_handbook_item.item_name}}</b></span>
            <div class="maintenance-price">
              <img *ngIf="!data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_down.png" (click)="onShowAccessory(data.source.upkeep_merchant_project_id);data.is_show_accessory=true;">
              <img *ngIf="data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_up.png" (click)="data.is_show_accessory = false">
            </div>
            <label class="maintenance-space-float">已选择<span style="color: #3E71F7"> {{data.source.accessory_count}}
              </span>件</label>

          </div>
          <div *ngIf="data.source.upkeep_merchant_project_id===currentProjectId && data.is_show_accessory">
            <li class="space-width" *ngFor="let item of accessoryItemList;let i=index;">
              <img src="{{item.source.upkeep_accessory.image_url?item.source.upkeep_accessory.image_url:image_space}}"
                [class.img-height]="data.source.upkeep_handbook_item.upkeep_item_type===2">
              <ng-container *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===1">
                <div style="margin-top: 20px;width: calc(95% - 100px);">
                  <div class="maintenance-content">
                    <label>配件名称:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_name}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>配件原价:</label>
                    <label>{{item.source.original_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>所需数量:</label>
                    <label>{{item.source.number}} 件</label>
                  </div>
                  <div class="maintenance-content">
                    <label>是否原厂:</label>
                    <label>{{item.source.upkeep_accessory.is_original?'是':'否'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>零件编号:</label>
                    <label>{{item.source.upkeep_accessory.serial_number ? item.source.upkeep_accessory.serial_number : '--'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>规格:</label>
                    <label>{{item.source.upkeep_accessory.specification ? item.source.upkeep_accessory.specification : '--'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>销售单价:</label>
                    <label>{{item.source.sale_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>所属品牌:</label>
                    <label>
                      {{item.source.upkeep_merchant_project.vehicle_type.vehicle_brand.vehicle_brand_name}}
                      · {{item.source.upkeep_merchant_project.vehicle_type.vehicle_firm.vehicle_firm_name}}
                    </label>
                  </div>
                  <div class="maintenance-content">
                    <label>ID:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_id}}</label>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===2">
                <div style="margin-top: 20px;width: calc(95% - 100px);padding-left: 10px;">
                  <div class="maintenance-content">
                    <label>服务名称:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_name}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>服务原价:</label>
                    <label>{{item.source.original_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>销售单价:</label>
                    <label>{{item.source.sale_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>ID:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_id}}</label>
                  </div>
                </div>
              </ng-container>
            </li>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <!--维修项目-->
    <div>
      <img *ngIf="projectList_fix && projectList_fix.length>0" style="margin-top: 20px"
        src="/assets/images/manual/icon_category3.png">
      <div *ngFor="let data of projectList_fix;let i=index">
        <div>
          <div class="maintenance-space" *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===1">
            <span class="maintenance-title">配件</span>
            <span style="margin-left: 10px"><b style="color: #23242F">{{data.source.upkeep_handbook_item.item_name}}</b></span>
            <div class="maintenance-price maintenance-space-float">
              <label>工时费原价 <span>{{data.source.work_original_amount}}</span> 元</label>
              <label>工时费售价 <span>{{data.source.work_sale_amount}}</span> 元</label>
              <img *ngIf="!data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_down.png" (click)="onShowAccessory(data.source.upkeep_merchant_project_id);data.is_show_accessory=true;">
              <img *ngIf="data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_up.png" (click)="data.is_show_accessory = false">
            </div>
            <label class="maintenance-space-float">已选择<span style="color: #3E71F7"> {{data.source.accessory_count}}
              </span>件</label>
          </div>
          <div class="maintenance-space" *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===2">
            <span class="serve-title">服务</span>
            <span style="margin-left: 10px"><b style="color: #23242F">{{data.source.upkeep_handbook_item.item_name}}</b></span>
            <div class="maintenance-price">
              <img *ngIf="!data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_down.png" (click)="onShowAccessory(data.source.upkeep_merchant_project_id);data.is_show_accessory=true;">
              <img *ngIf="data.is_show_accessory && data.source.accessory_count>0" src="/assets/images/icon_up.png" (click)="data.is_show_accessory = false">
            </div>
            <label class="maintenance-space-float">已选择<span style="color: #3E71F7"> {{data.source.accessory_count}}
              </span>件</label>

          </div>
          <div *ngIf="data.source.upkeep_merchant_project_id===currentProjectId && data.is_show_accessory">
            <li class="space-width" *ngFor="let item of accessoryItemList;let i=index;">
              <img src="{{item.source.upkeep_accessory.image_url?item.source.upkeep_accessory.image_url:image_space}}"
                [class.img-height]="data.source.upkeep_handbook_item.upkeep_item_type===2">
              <ng-container *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===1">
                <div style="margin-top: 20px;width: calc(95% - 100px);">
                  <div class="maintenance-content">
                    <label>配件名称:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_name}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>配件原价:</label>
                    <label>{{item.source.original_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>所需数量:</label>
                    <label>{{item.source.number}} 件</label>
                  </div>
                  <div class="maintenance-content">
                    <label>是否原厂:</label>
                    <label>{{item.source.upkeep_accessory.is_original?'是':'否'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>零件编号:</label>
                    <label>{{item.source.upkeep_accessory.serial_number ? item.source.upkeep_accessory.serial_number : '--'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>规格:</label>
                    <label>{{item.source.upkeep_accessory.specification ? item.source.upkeep_accessory.specification : '--'}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>销售单价:</label>
                    <label>{{item.source.sale_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>所属品牌:</label>
                    <label>
                      {{item.source.upkeep_merchant_project.vehicle_type.vehicle_brand.vehicle_brand_name}}
                      · {{item.source.upkeep_merchant_project.vehicle_type.vehicle_firm.vehicle_firm_name}}
                    </label>
                  </div>
                  <div class="maintenance-content">
                    <label>ID:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_id}}</label>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="data.source.upkeep_handbook_item.upkeep_item_type===2">
                <div style="margin-top: 20px;width: calc(95% - 100px);">
                  <div class="maintenance-content">
                    <label>服务名称:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_name}}</label>
                  </div>
                  <div class="maintenance-content">
                    <label>服务原价:</label>
                    <label>{{item.source.original_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>销售单价:</label>
                    <label>{{item.source.sale_amount}} 元</label>
                  </div>
                  <div class="maintenance-content">
                    <label>ID:</label>
                    <label>{{item.source.upkeep_accessory.upkeep_accessory_id}}</label>
                  </div>
                </div>
              </ng-container>
            </li>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>
</div>
